@import '../../../../../variables';

:host p {
  text-align: center;
}

:host {
  ::ng-deep {
    mat-pseudo-checkbox {
      display: none !important;
    }

    .mat-button-toggle-checked
      .mat-button-toggle-button:has(.mat-button-toggle-checkbox-wrapper) {
      padding-left: 0;
    }
  }
}

.time {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: $s * 2;
}

.track-to-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: $s * 2;
  padding-bottom: $s;
  border-top: 1px solid $light-theme-extra-border-color;

  @include darkTheme() {
    border-color: $dark-theme-extra-border-color;
  }

  &:first-of-type {
    border-top: none !important;
  }

  // TODO mobile styles => not needed now
  .first-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  select-task {
    margin: 0 $s * 2;
    width: 220px;

    &.isDisabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

.simple-counter-section {
  text-align: center;
}

.simple-counter {
  margin: 0 $s * 0.5;
  box-shadow: none !important;
}
