.isHighlight {
  font-weight: 600;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

table + table {
  margin-top: 20px;
}

td,
th {
  padding: 2px 8px;
  text-align: center;

  &:first-child {
    text-align: left;
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

:host ::ng-deep .collapsible-title {
  font-weight: bold;
}
