<div [class.hasReminder]="note.reminderId"
     [class.isFocused]="isFocus"
     class="note">
  <div class="content">
    <inline-markdown #markdownEl
                     (blur)="isFocus=false"
                     (changed)="updateContent($event)"
                     (focus)="isFocus=true"
                     [isLock]="note.isLock"
                     [model]="note.content"></inline-markdown>
  </div>

  <div class="controls handle-drag">
    <button [matMenuTriggerFor]="menu"
            class="handle-drag"
            color="lighter"
            mat-mini-fab="">
      <mat-icon *ngIf="!note.reminderId"
                class="handle-drag">more_vert
      </mat-icon>
      <mat-icon *ngIf="note.reminderId"
                class="handle-drag">alarm
      </mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="editReminder()"
              mat-menu-item>
        <ng-container *ngIf="!note.reminderId">
          <mat-icon>alarm_add</mat-icon>
          Add reminder
        </ng-container>
        <ng-container *ngIf="note.reminderId">
          <mat-icon>alarm</mat-icon>
          Edit reminder
        </ng-container>

      </button>
      <button (click)="removeReminder()"
              *ngIf="note.reminderId"
              mat-menu-item>
        <mat-icon style="color:#e15d63;">alarm_off</mat-icon>
        Remove reminder
      </button>
      <button (click)="toggleLock()"
              mat-menu-item>
        <mat-icon *ngIf="note.isLock">lock</mat-icon>
        <mat-icon *ngIf="!note.isLock">lock_open</mat-icon>
        {{note.isLock ? 'Enable markdown parse ' : 'Disable markdown parsing'}}
      </button>
      <button (click)="removeNote()"
              mat-menu-item>
        <mat-icon style="color:#e15d63;">delete_forever</mat-icon>
        Delete
      </button>
    </mat-menu>
  </div>
</div>
