@use '../../../../styles/_globals.scss' as *;

:host {
  mat-dialog-content {
    max-height: 75vh;
    min-width: calc(100vw - 16px);

    @include mq(xxxs) {
      min-width: calc(100vw - 32px);
    }
    @include mq(xs) {
      min-width: 500px;
      max-height: 85vh;
    }
    @include mq(sm) {
      min-width: 800px;
    }
  }
}
