.notes {
  .markdown-wrapper {
    div,
    textarea {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  textarea {
    position: absolute;
    width: 100%;
    height: 100% !important;
    border: none;
    padding: 10px;
  }
  .md-resize-wrapper,
  md-input-container {
    height: 100% !important;
    margin: 0 !important;
  }
}

