@use '../../../../styles/_globals.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  max-width: 600px;

  @include mq(xs) {
    width: 70vw;
  }

  :host-context([dir='rtl']) {
    direction: rtl;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
