@import './../../../../_variables';
@import '~angular-material-css-vars/public-util';

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  min-height: 100%;
  flex: 1;
  padding-top: $s*5;

  @include darkTheme {
    background: $dark-theme-bg-slightly-lighter;
  }
  @include lightTheme {
    background: $light-theme-bg-darker;
    //background: linear-gradient(180deg, $c-primary-100 0, $c-primary-50 90%, $light-theme-bg 100%);
  }
}
