md-toast .md-toast-content {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 38px;

  .icon-wrapper {
    margin: 0 10px 0 0;
  }

  .toast-text {
    flex: 1;
    min-width: 50%;
  }

  .md-button:last-child {
    margin-left: 10px;
  }

  .md-button {
    text-overflow: ellipsis;
    min-width: 88px;
    margin-top: 0;
    margin-bottom: 0;
  }
}