:root {
  //--mdc-fab-small-container-elevation-shadow: $whiteframe-shadow-4dp;
  --mat-dialog-container-small-max-width: 92vw;
}

// DIALOGS
// ----------
body .mat-mdc-dialog-content {
  overflow: auto;

  mat-form-field {
    display: block;
  }
}

body .mat-mdc-dialog-surface {
  overflow: visible;
}

.mat-mdc-dialog-panel {
  @include mq(xs) {
    //--mat-dialog-container-min-width: 350px;
  }
}

.mat-mdc-dialog-title {
  vertical-align: middle;

  > * {
    vertical-align: middle;
  }

  > mat-icon:first-child {
    margin-right: 8px;
  }
}

.big {
  height: auto;
  max-height: 100vh !important;
  // mobile viewport bug fix
  max-height: -webkit-fill-available;
  width: 100% !important;
  max-width: none !important;
  @include mq(xs) {
    margin: $s * 2;
    max-height: 95vh !important;
  }
}

// FORMS
// --------
.mat-mdc-form-field {
  margin-bottom: $s * 2;
}

// BUTTONS
// -----------
.mat-mdc-menu-item-text {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 100%;
  white-space: nowrap;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
}

//.mat-mdc-mini-fab.mat-mdc-mini-fab.mat-mdc-mini-fab,
.mat-mdc-icon-button.mat-mdc-icon-button.mat-mdc-icon-button {
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .mat-mdc-button-touch-target {
    width: 40px;
    height: 40px;
  }
}

// ICONS
// -----
mat-icon,
.mat-icon {
  vertical-align: middle;
}
