body .mat-dialog-content {
  @include scroll;
}

.mat-snack-bar-container.mat-snack-bar-container.mat-snack-bar-container {
  padding: 0 16px !important;
  pointer-events: all;
  min-height: 48px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

body .mat-snack-bar-handset {
  pointer-events: none;
}

body .mat-form-field {
  display: block;
}


.big {
  height: auto;
  max-height: 100vh !important;
  width: 100% !important;
  max-width: none !important;
  @include mq(xs) {
    margin: $s*2;
    max-height: 95vh !important;
  }

  .dialog-content,
  .mat-dialog-content {
    max-height: 100%;
  }
}

.mat-form-field {
  font-size: 16px;
}

// overwrite mat typography
.mat-dialog-title.mat-dialog-title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button,
.mat-button {
  text-transform: uppercase;
}
