body .mat-dialog-content {
  @include scroll;
}

.mat-snack-bar-container.mat-snack-bar-container.mat-snack-bar-container {
  padding: 0 16px !important;
  pointer-events: all;
  min-height: 48px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

body .mat-snack-bar-handset {
  pointer-events: none;
}

body .mat-form-field {
  display: block;
}


.fullscreen {
  height: 100vh;
  width: 100vw !important;
  max-width: none !important;

  .dialog-content,
  .mat-dialog-content {
    max-height: 100%;
  }
}
