:root {
  //--mdc-fab-small-container-elevation-shadow: $whiteframe-shadow-4dp;
  --mat-dialog-container-small-max-width: 94vw;
  --mat-dialog-container-max-width: 85vw;
}

// DIALOGS
// ----------
.cdk-overlay-pane.mat-mdc-dialog-panel {
  @include mq(xs, max) {
    max-width: 96vw !important;
  }
}

body .mat-mdc-dialog-content {
  overflow: auto;

  mat-form-field {
    display: block;
  }
}

body .mat-mdc-dialog-surface {
  overflow: visible;
}

.mat-mdc-dialog-panel {
  @include mq(xs) {
    //--mat-dialog-container-min-width: 350px;
  }
}

.mat-mdc-dialog-title {
  vertical-align: middle;

  > * {
    vertical-align: middle;
  }

  > mat-icon:first-child {
    margin-right: 8px;
  }
}

.big {
  height: auto;
  max-height: 100vh !important;
  // mobile viewport bug fix
  max-height: -webkit-fill-available;
  width: 100% !important;
  max-width: none !important;
  @include mq(xs) {
    margin: $s * 2;
    max-height: 95vh !important;
  }
}

// FORMS
// --------
.mat-mdc-form-field {
  margin-bottom: $s * 2;
}

// BUTTONS
// -----------
.mat-mdc-menu-item-text {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 100%;
  white-space: nowrap;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
}

//.mat-mdc-mini-fab.mat-mdc-mini-fab.mat-mdc-mini-fab,
.mat-mdc-icon-button.mat-mdc-icon-button.mat-mdc-icon-button {
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .mat-mdc-button-touch-target {
    width: 40px;
    height: 40px;
  }
}

.mat-mdc-menu-item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ICONS
// -----
mat-icon,
.mat-icon {
  vertical-align: middle;
}

// AUTOCOMPLETE
// -----------------
.mdc-list-item__primary-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

// CDK DRAG
/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  background: #fff !important;
  box-shadow: $whiteframe-shadow-6dp;
  cursor: grab;
  cursor: grabbing;
  //min-width: 200px;

  @include darkTheme(true) {
    background: $dark3 !important;
  }
}

.cdk-drag-placeholder {
  background: rgba(0, 0, 0, 0.05);

  @include darkTheme(true) {
    background: rgba(255, 255, 255, 0.05) !important;
  }
}
