.ui-view-container {
  position: relative;
}

$this-transition-duration: $page-transition-duration;
[ui-view] {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all $this-transition-duration $ani-standard-timing;
  transition-properties: scale, opacity;
  transform-origin: center top;
}

[ui-view] {
  // disable all other animations for performance gains
  &.ng-enter,
  &.ng-leave {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
}

[ui-view].ng-enter {
  opacity: 0;
  transform: scale(1.1);
}

[ui-view].ng-enter-active {
  opacity: 1;
  transform: scale(1);
}

[ui-view].ng-leave {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  transform: scale(1);
}

[ui-view].ng-leave-active {
  opacity: 0;
  transform: scale(1.1);
}