@import '../../variables';

// to share between planner-task and planner-calendar-event
.planner-time-remaining-shared {
  min-width: 40px;
  text-align: right;
  //white-space: nowrap;
  padding-left: 4px;
  padding-right: 8px;
  font-style: italic;
  font-weight: 300;
  line-height: 1;
  opacity: 0.6;
  margin-left: auto;
  font-size: $planner-font-size-mobile;

  @include mq(xs) {
    font-size: $planner-font-size;
  }
}
