table {
  @include mq(xs) {
    th,
    td {
      padding: 0 $s;
    }

    th,
    td {
      &:first-child {
        padding-left: 0;
      }
    }
    th,
    td {
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.table-wrapper {
  overflow: auto;
}

$this-table-min-height: $s*2;
div.material-table {
  box-shadow: $whiteframe-shadow-3dp;

  table {
    width: 100%;
    box-shadow: none;
  }
}

table.material-table,
div.material-table {
  box-shadow: $whiteframe-shadow-3dp;
  font-size: 13px;
  white-space: nowrap;
  background-color: #FFF;

  &,
  table {
    border-collapse: collapse;
  }

  .isDarkTheme & {
    background: $dark-theme-bg-lighter;
  }

  tr {
    min-height: $this-table-min-height;
  }

  th,
  td {
    vertical-align: middle;
    min-height: $this-table-min-height;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: $s $s*2.25;
    box-sizing: border-box;
    text-align: left;

    &:first-of-type {
      padding-left: $s*3;
    }


    &:last-of-type {
      padding-right: $s*3;
    }
  }
}
