@import '../../../_variables.scss';

$this-button-size: 34px;

:host {
  display: block;

  .collapsible-extra-icon {

  }

  .collapsible-title {
    cursor: pointer;
    user-select: none;

    > * {
      vertical-align: middle;
    }

    &:focus {
      outline: none;
    }

    .collapsible-expand-icon {
      margin-right: $s;
      transition: all $transition-standard;
    }

    button {
      margin-left: auto;
      padding: 0;
      height: $this-button-size;
      width: $this-button-size;
      min-width: $this-button-size;
      min-height: $this-button-size;

      // this fixes the original link button icon for some reason
      line-height: $this-button-size + -1;
    }
  }

  &.isExpanded {
    .collapsible-expand-icon {
      transform: rotate(-180deg);
    }
  }

  .collapsible-panel {
    height: auto;
    display: block;

    // make sure we don't produce clunky animations
    padding: 0 !important;
    margin: 0 !important;
  }
}
