<div class="dialog-help-wrapper">
  <h1 mat-dialog-title>Time spent / Estimates</h1>

  <form (submit)="submit()"
        class="mat-body"
        name="time-estimate-form">

    <mat-dialog-content>
      <help-section>
        <div class="side-info">
          Examples:<br>
          30m => 30 minutes<br>
          2h => 2 hours<br>
          2h 30m => 2 hours and 30 minutes
        </div>
      </help-section>


      <div class="wrap-time">
        <input-duration-slider [(model)]="timeSpentOnDayCopy[todayStr]"
                               label="Time Spent">
        </input-duration-slider>
        <input-duration-slider [(model)]="taskCopy.timeEstimate"
                               label="Estimate">
        </input-duration-slider>
      </div>

      <div class="other-days">
        <div *ngFor="let strDate of timeSpentOnDayCopy|keys:'reverse':todayStr"
             class="other-day">
          <mat-form-field class="mat-icon-float mat-block">
            <input [(ngModel)]="timeSpentOnDayCopy[strDate]"
                   aria-label="Time Spent"
                   inputDuration="optional"
                   matInput
                   name="timeSpentOnDay{{strDate}}"
                   placeholder="{{strDate}} Time Spent"
                   type="text">

            <mat-icon matPrefix>timer</mat-icon>
          </mat-form-field>
          <button (click)="deleteValue(strDate)"
                  color=""
                  mat-icon-button
                  title="Delete entry for day"
                  type="button">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>

        <button (click)="showAddForAnotherDayForm()"
                aria-label="add for another day"
                color="primary"
                mat-button=""
                type="button">
          <mat-icon>add</mat-icon>
          Add time spent for other day
        </button>
      </div>


    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <!-- Can optionally provide a result for the closing dialog. -->
      <button [mat-dialog-close]="true"
              color="primary"
              type="button"
              mat-button>Cancel
      </button>

      <button (click)="submit()"
              type="submit"
              color="primary"
              mat-stroked-button>
        <mat-icon>save</mat-icon>
        Save
      </button>
    </mat-dialog-actions>

  </form>

</div>
