<div class="dialog-help-wrapper">
  <h1 mat-dialog-title>Time spent / Estimates</h1>

  <mat-dialog-content>
    <help-section>
      <div class="side-info">
        Examples:<br>
        30m => 30 minutes<br>
        2h => 2 hours<br>
        2h 30m => 2 hours and 30 minutes
      </div>
    </help-section>

    <form (submit)="submit()"
          class="mat-body"
          name="time-estimate-form">

      <div class="wrap-time">
        <input-duration-slider label="Time Spent"
                               [(model)]="timeSpentOnDayCopy[todayStr]">
        </input-duration-slider>
        <input-duration-slider label="Estimate"
                               [(model)]="taskCopy.timeEstimate">
        </input-duration-slider>
      </div>

      <!--<mat-form-field>-->
      <!--<input matInput-->
      <!--placeholder="Estimated Duration"-->
      <!--inputDuration-->
      <!--name="estimate"-->
      <!--[(ngModel)]="taskCopy.timeEstimate">-->
      <!--<mat-icon matPrefix>timer</mat-icon>-->
      <!--</mat-form-field>-->
      <!--<h3 class="mat-caption">Time Spent</h3>-->

      <!--<mat-form-field>-->
      <!--<input matInput-->
      <!--placeholder="Time Spent Today"-->
      <!--type="text"-->
      <!--inputDuration="optional"-->
      <!--name="timeSpendToday"-->
      <!--[(ngModel)]="timeSpentOnDayCopy[todayStr]">-->
      <!--<mat-icon matPrefix>timer</mat-icon>-->
      <!--</mat-form-field>-->

      <div class="other-days">
        <div *ngFor="let strDate of timeSpentOnDayCopy|keys:'reverse':todayStr"
             class="other-day">
          <mat-form-field class="mat-icon-float mat-block">
            <input matInput
                   placeholder="{{strDate}} Time Spent"
                   inputDuration="optional"
                   type="text"
                   name="timeSpentOnDay{{strDate}}"
                   [(ngModel)]="timeSpentOnDayCopy[strDate]"
                   aria-label="Time Spent">

            <mat-icon matPrefix>timer</mat-icon>
          </mat-form-field>
          <button mat-icon-button
                  color=""
                  type="button"
                  title="Delete entry for day"
                  (click)="deleteValue(strDate)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>

        <button type="button"
                mat-button=""
                color="primary"
                aria-label="add for another day"
                [hidden]="isAddForAnotherDayFormVisible"
                (click)="showAddForAnotherDayForm()">
          <mat-icon>add</mat-icon>
          Add time spent for other day
        </button>
        <button type="submit"
                style="width: 0;height: 0; font-size: 0;border: 0;background: transparent;"
                tabindex="-1"></button>
      </div>
    </form>


    <!--TODO move to other dialog -->
    <form name="addForAnotherDayForm"
          *ngIf="isAddForAnotherDayFormVisible"
          (submit)="addNewEntry()">
      <h3 class="mat-caption">Add new entry for <span [innerHtml]="newEntry.date|date:'dd-MM-yyyy'"></span></h3>
      <mat-form-field>
        <input [matDatepicker]="myDatepicker"
               matInput
               placeholder="Date for new entry"
               type="text"
               [(ngModel)]="newEntry.date"
               required
               name="date">
        <mat-error>The entered value is not a date!</mat-error>
        <mat-datepicker-toggle matPrefix
                               [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>


      <mat-form-field>
        <input matInput
               placeholder="Time Spent on {{newEntry.date|date:'dd-MM-yyyy'}}"
               type="text"
               name="timeSpentNew"
               required
               inputDuration
               [(ngModel)]="newEntry.timeSpent"
               aria-label="Time Spent for new entry">
        <mat-icon matPrefix>timer</mat-icon>
      </mat-form-field>

      <button mat-stroked-button
              type="submit">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </form>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-button
            color="primary"
            [mat-dialog-close]="true">Cancel
    </button>

    <button mat-stroked-button
            color="primary"
            (click)="submit()">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </mat-dialog-actions>
</div>
