<div class="wrapper">

  <div *ngIf="issueData.wasUpdated"
       [@expand]
       class="updates">
    <div>
      <button (click)="hideUpdates()"
              color="accent"
              mat-raised-button>
        {{T.F.JIRA.ISSUE_CONTENT.MARK_AS_CHECKED|translate}}
      </button>
    </div>

    <h3 class="mat-h3">{{T.F.JIRA.ISSUE_CONTENT.LIST_OF_CHANGES|translate}}</h3>
    <ul class="changelog">
      <li *ngFor="let entry of issueData.changelog">
        <em *ngIf="entry.author">{{entry.author.displayName}}</em>
        {{T.F.JIRA.ISSUE_CONTENT.CHANGED|translate}}
        <strong>{{entry.field}}</strong>
        {{T.F.JIRA.ISSUE_CONTENT.ON|translate}}
        {{entry.created|date:'short'}}
      </li>
    </ul>
  </div>

  <table [class.isFocusDescription]="isFocusDescription"
         class="issue-table">
    <tr>
      <th>{{T.F.JIRA.ISSUE_CONTENT.SUMMARY|translate}}</th>
      <td class="summary"><strong><a [href]="issueData.url"
                                     target="_blank">{{issueData.key}} {{issueData.summary}}</a></strong></td>
    </tr>
    <tr>
      <th>{{T.F.JIRA.ISSUE_CONTENT.STATUS|translate}}</th>
      <td>
        <!--<img [src]="issueData?.status?.iconUrl"-->
        <!--*ngIf="issueData?.status?.iconUrl">-->
        {{issueData.status?.name}}</td>
    </tr>
    <tr *ngIf="issueData.storyPoints">
      <th>{{T.F.JIRA.ISSUE_CONTENT.STORY_POINTS|translate}}</th>
      <td>{{issueData.storyPoints}}</td>
    </tr>
    <tr>
      <th>{{T.F.JIRA.ISSUE_CONTENT.ASSIGNEE|translate}}</th>
      <td>{{issueData.assignee?.displayName || '–'}}</td>
    </tr>
    <tr *ngIf="issueData.timespent || issueData.timeestimate">
      <th>{{T.F.JIRA.ISSUE_CONTENT.WORKLOG|translate}}</th>
      <td>{{(issueData.timespent * 1000)|msToString}} / {{(issueData.timeestimate * 1000)|msToString}}</td>
    </tr>
    <tr *ngIf="issueData.components?.length">
      <th>{{T.F.JIRA.ISSUE_CONTENT.COMPONENTS|translate}}</th>
      <td>
        <mat-chip-list>
          <mat-chip *ngFor="let component of issueData.components"
                    [title]="component.description">{{component.name}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </tr>
    <tr *ngIf="issueData?.description"
        class="description-row">
      <th (click)="isFocusDescription=!isFocusDescription">{{T.F.JIRA.ISSUE_CONTENT.DESCRIPTION|translate}}</th>
      <td>
        <div *ngIf="issueData.description"
             [data]="issueData?.description"
             class="description markdown"
             markdown></div>
      </td>
    </tr>
    <tr *ngIf="attachments?.length">
      <th>{{T.F.JIRA.ISSUE_CONTENT.ATTACHMENTS|translate}}</th>
      <td>
        <div [class.hasAttachments]="attachments?.length"
             class="attachments">
          <attachment-list [attachments]="attachments"
                           [isDisableControls]="true"></attachment-list>
        </div>
      </td>
    </tr>
    <tr *ngIf="issueData.comments">
      <th>{{T.F.JIRA.ISSUE_CONTENT.COMMENTS|translate}}</th>
      <td>
        <div *ngFor="let comment of issueData.comments"
             class="comment">

          <img [src]="comment.author.avatarUrl"
               class="author-avatar">
          <div class="name-and-comment-content">
            <div><span class="author-name">{{comment.author.displayName}}</span>
              <span class="when">{{T.F.JIRA.ISSUE_CONTENT.AT|translate}}
                {{comment.created|date:'short'}}</span>
            </div>
            <div *ngIf="comment.body"
                 [innerHTML]="comment.body|markdown"></div>
          </div>
        </div>

        <a [href]="issueData.url"
           mat-stroked-button
           target="_blank">
          <mat-icon>textsms</mat-icon>
          {{T.F.JIRA.ISSUE_CONTENT.WRITE_A_COMMENT|translate}}</a>
      </td>
    </tr>
  </table>
</div>
