@use '../../../../../../styles/_globals.scss' as *;

// table styled by ./src/styles/components/issue-table.scss

.table-wrapper {
  margin: var(--s2);
  margin-bottom: var(--s);

  .upload-btn {
    margin-bottom: 5px;
  }

  .attachment-dl-list {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.issue-description {
  flex-grow: 1;
  width: 100%;
}

.comment {
  display: flex;
  margin-bottom: var(--s);
  padding-top: var(--s);
  border-top: 1px dashed var(--extra-border-color);

  border-color: var(--extra-border-color);

  .author-avatar {
    margin-right: var(--s);
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 50%;
  }

  .author-name {
    font-weight: bold;
  }

  .when {
    margin-left: var(--s);
    opacity: 0.6;
  }

  .name-and-comment-content {
    max-width: 100%;
  }

  pre {
    overflow: auto;
    border: 1px dashed var(--extra-border-color);
    padding: var(--s);
  }
}

.write-a-comment {
  // needed for the box-shadow inside scrollable container
  margin-bottom: var(--s);
}
