* {
  // global reset and border-box
  &,
  &:after,
  &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

body,
html {
  // prevent overflow
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: $light-theme-bg;
  &.dark-theme {
    background: $dark-theme-bg;
  }
}

main {
  padding: 20px 20px 50px;

  @media(max-width: $layout-xs) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

global-link-list + .ui-view-container > main {
  padding-top: 0;
}

article {

}

md-content {
  background: rgb(244, 244, 244) !important;
  overflow-y: scroll !important;

  @include dark-theme {
    background: rgb(48, 48, 48) !important;
  }
}

html {
  overflow: hidden;
}

body {
  animation: 0.3s ani-app-enter $ease-in-out-quint;
  backface-visibility: hidden;
}

body.is-project-changing {
  display: none;

  &,
  * {
    transition: none !important;
    animation: none !important;
  }
}

// fix contenteditable for safari :/
[contenteditable] {
  -webkit-user-select: text !important;
  -webkit-user-modify: read-write !important;;
  user-select: text !important;;
}

@keyframes ani-app-enter {
  0% {
    opacity: 0;
    transform: scale(1.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
