<h4>Plan Task for Day</h4>
<mat-calendar
  [(selected)]="selectedDate"
  [minDate]="minDate"
  (selectedChange)="dateSelected($event)"
  #calendar
></mat-calendar>

<div
  class="msg"
  *ngIf="data.task.reminderId"
>
  This will remove the reminder from the task.<br />
  Press Escape to cancel.
</div>

<!--<mat-dialog-actions align="end">-->
<!--  <button-->
<!--    color="primary"-->
<!--    mat-button-->
<!--    type="button"-->
<!--    (click)="close()"-->
<!--  >-->
<!--    {{ T.G.CANCEL|translate }}-->
<!--  </button>-->

<!--  <button-->
<!--    color="primary"-->
<!--    mat-stroked-button-->
<!--  >-->
<!--    Plan for day-->
<!--  </button>-->
<!--</mat-dialog-actions>-->
