@import "../../../variables";

:host {
  text-align: center;
}

.total-time {
  margin-top: $s*4;
}

.year {
  &-title {
    margin-top: 3*$s;
  }

  &-time-spent {
    font-size: 20px;
    line-height: 26px;
  }
}

.month {
  margin-top: 3*$s;
  margin-bottom: 0;

  &-title {
    margin-bottom: $s;

    button {
      margin-left: $s;
    }
  }

  &-time-spent {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: $s*3;
  }
}

.weeks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

$this-week-margin-left-right: $s*3;
$this-table-width: 300px;
$this-task-table-width: $this-table-width + $this-week-margin-left-right*2;
.week {
  margin: 0 $this-week-margin-left-right $s*4;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-header {
    display: flex;
    margin-bottom: $s*2;
    align-self: center;

    button {
      margin-left: $s;
    }
  }

  &-title {
    white-space: nowrap;
    margin-bottom: 0;
  }

  table.week-table {
    width: $this-table-width;
    border-collapse: collapse;

    > tbody {
      > tr.week-row:hover {
        cursor: pointer;
        outline: 1px solid $c-accent;

        &:first-child {
          cursor: auto;
          outline: none;
        }

        > td {
          background: #fff;
          @include darkTheme {
            background-color: $dark-theme-bg-darker;
          }
        }
      }

      > tr.week-row > td {
        padding: $s/2 $s;
        white-space: nowrap;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          padding: 0;

          button {
            margin-top: -0.75* $s;
            margin-bottom: -0.75* $s;
          }
        }
      }

      > tr.isExpanded > td {
        font-weight: bold;
      }
    }
  }
}

.day-date {
  position: relative;

  span {
    &:first-child {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      visibility: visible;

      tr:hover & {
        visibility: hidden;
      }
    }

    &:last-child {
      visibility: hidden;

      tr:hover & {
        visibility: visible;
      }
    }
  }
}

.summary-table-wrapper {
  margin: 0 -1*($this-week-margin-left-right);
  display: inline-block;

  > table {
    width: 100%;
    text-align: left;

    td:first-of-type {
      padding-right: $s;
    }
  }

  caption {
    font-weight: bold;
  }

  td {
    text-align: left;
    white-space: normal;
    line-height: 16px;
    padding: $s $s*1.5;

    &.title {
      padding-left: $s*2;
      padding-right: 0;
    }

    &.worked {
      white-space: nowrap;
      text-align: center;
    }

    &.actions {
      padding: 0 0 0 0;
    }

    &.isSubTask {
      .task-title {
        font-style: italic;
        padding-left: $s*2;
        position: relative;
        display: inline-block;

        &:before {
          content: '•';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}
