<h1 class="mat-headline total-time">Total time spent on project
  <br><strong>{{totalTimeSpent|msToString}}</strong></h1>

<div *ngFor="let year of worklog|keyvalue:sortWorklogItems"
     class="year">
  <h1 class="year-title mat-headline"
      [innerHtml]="year.key"></h1>
  <div class="year-time-spent">Month worked:
    <strong>{{year.value.monthWorked}}</strong><br>
    Days worked:
    <strong>{{year.value.daysWorked}}</strong><br>
    Time spent total: <strong [innerHtml]="year.value.timeSpent|msToString"></strong></div>

  <div *ngFor="let month of year.value.ent|keyvalue:sortWorklogItems"
       class="month">
    <h2 class="month-title mat-headline">
      <span [innerHtml]="month.key|numberToMonth"></span>

      <button mat-mini-fab=""
              color="primary"
              aria-label="export data"
              (click)="exportData(month.value,year.key, month.key)">
        <mat-icon>call_made</mat-icon>
      </button>
    </h2>

    <div class="month-time-spent">Days worked:
      <strong>{{month.value.daysWorked}}</strong><br>
      Time spent total:
      <strong [innerHtml]="month.value.timeSpent|msToString"></strong>
    </div>

    <div class="weeks">
      <div *ngFor="let week of month.value.weeks"
           class="week">

        <div class="week-header">
          <div class="wrap">
            <h3 class="week-title mat-h4">Week {{week.weekNr}}</h3>
            <div> {{(week.timeSpent|msToString)}}</div>
          </div>
          <button [matTooltip]="week.start+'.-'+week.end+'. Days: '+ week.daysWorked+', Time: '+(week.timeSpent|msToString)"
                  mat-mini-fab=""
                  color=""
                  aria-label="export data"
                  (click)="exportData(month.value,year.key, month.key, week)">
            <mat-icon>call_made</mat-icon>
          </button>
        </div>

        <table>
          <tr>
            <th></th>
            <td>Tasks</td>
            <td>Worked</td>
            <th></th>
          </tr>
          <tr *ngFor="let worklogForDay of week.ent|keyvalue:sortWorklogItemsReverse"
              class="day"
          (click)="openTaskSummaryForDay(worklogForDay)">
            <td>
              <div class="day-date"><span>{{worklogForDay.key}}.</span><span>{{worklogForDay.value.dayStr}}</span></div>
            </td>
            <td>{{worklogForDay.value.logEntries.length}}</td>
            <td>{{worklogForDay.value.timeSpent|msToClockString}}</td>
            <td>
              <button mat-icon-button>
                <mat-icon>list</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>



