@import "../../../variables";

:host {
  text-align: center;
}

.total-time {
  margin-top: $s*4;
}

.year {
  &-title {
    margin-top: 3*$s;
  }

  &-time-spent {
    font-size: 20px;
    line-height: 26px;
  }
}

.month {
  margin-top: 3*$s;
  margin-bottom: 0;

  &-title {
    margin-bottom: $s;

    button {
      margin-left: $s;
    }
  }

  &-time-spent {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: $s*3;
  }
}

.weeks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

$this-table-outer-padding-left-right: $s*6;
$this-table-width: 300px;
.week {
  margin: $s*4 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-header {
    display: flex;
    margin-bottom: $s*2;
    align-self: center;

    button {
      margin-left: $s;
    }
  }

  &-title {
    white-space: nowrap;
    margin-bottom: 0;
  }

  table.week-table {
    width: $this-table-width;
    border-collapse: collapse;

    > tbody {
      > tr.week-row > {
        th,
        td {
          padding: $s/2 $s;
          white-space: nowrap;

          &:first-child {
            padding-left: $this-table-outer-padding-left-right;
            text-align: left;
          }

          &:last-child {
            padding: 0;
            padding-right: $this-table-outer-padding-left-right;

            button {
              margin-top: -0.75* $s;
              margin-bottom: -0.75* $s;
            }
          }
        }
      }

      > tr.week-row {
        &:hover,
        &.isExpanded {
          cursor: pointer;

          > td {
            // bold without respacing
            text-shadow: .05px 0 .05px, -.05px 0 .05px;
            background: #fff;
            box-shadow: $whiteframe-shadow-2dp;

            @include darkTheme {
              background-color: $dark-theme-bg-darker;
            }
          }
        }
      }
    }
  }
}

.day-date {
  position: relative;

  span {
    &:first-child {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      visibility: visible;

      tr:hover & {
        visibility: hidden;
      }
    }

    &:last-child {
      visibility: hidden;

      tr:hover & {
        visibility: visible;
      }
    }
  }
}

.summary-table-wrapper {
  display: inline-block;
  width: 100%;
  margin-bottom: $s;
  border: none;

  > table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }

  caption {
    font-weight: bold;
  }

  td {
    text-align: left;
    white-space: normal;
    line-height: 16px;
    padding: $s $s*1.5;

    &.title {
      padding-left: $s*2;
      padding-right: 0;
    }

    &.worked {
      white-space: nowrap;
      text-align: center;
    }

    &.actions {
      padding: 0 0 0 0;
    }

    &.isSubTask {
      .task-title {
        font-style: italic;
        padding-left: $s*2;
        position: relative;
        display: inline-block;

        &:before {
          content: '•';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}
