@import '../../../../variables';
@import '../../tasks/task/task.component.mixins';

:host {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: $s*.5;
  padding-bottom: $s*.5;
  padding-left: $s;
  border: 1px solid $dark-theme-separator-color;
  border-radius: $task-border-radius;

  @include lightTheme {
    border-color: $light-theme-separator-color;
  }
  @include darkTheme {
    border-color: $dark-theme-separator-color;
  }

  mat-icon {
    margin-left: $s;
    margin-right: $s*1.5;
  }
}

.custom-event-title {
}
