:host {
  display: block;
}

.tree {
  display: block;
  position: relative;
}

.item {
  position: relative;

  &.is-dragging {
    opacity: 0.4;
  }

  &.is-over-inside {
    background: greenyellow;
  }
}

.row {
  min-height: 28px;
  user-select: none;
  -webkit-user-select: none;
  cursor: grab;

  &.is-over {
    background: greenyellow !important;
  }
}

.item.just-dropped > .row {
  background: gold;
}

.expander {
  width: 16px;
  text-align: center;
  user-select: none;
}

.drop {
  height: 12px;
  pointer-events: none;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 1;

  .is-dragging & {
    pointer-events: all;
    background: rgba(0, 123, 255, 0.1);
  }

  &:hover {
    background: rgba(0, 123, 255, 0.15);
  }

  .item:not(.is-folder) & {
    height: 16px;
  }
}

.drop--before,
.drop--after {
  border-top: 2px solid transparent;

  &.is-over {
    border-top-color: #007bff;
    background: rgba(0, 123, 255, 0.2);
  }
}

.drop--before {
  top: 0;
  margin-top: -6px;
}

.drop--after {
  bottom: 0;
  margin-bottom: -6px;
}

.group {
  margin-left: 0;
}

.root-drop {
  height: 10px;
  border-top: 2px dashed transparent;

  &.is-over {
    border-top-color: purple;
  }
}

/* indicator */
.indicator {
  position: absolute;
  height: 0;
  pointer-events: none;
}

.indicator-dot {
  position: absolute;
  top: -5px;
  left: -7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  box-shadow: 0 0 0 2px white;
}

.indicator-line {
  display: block;
  height: 2px;
  background: red;
  width: 100%;
  position: absolute;
  top: -1px;
  left: 0;
}
