@import '../../../../variables';

h1,
mat-dialog-actions,
help-section {
  :host-context([dir='rtl']) & {
    direction: rtl;
  }
}

.form-wrapper {
  min-width: 280px;
  max-width: 500px;
}

:host::ng-deep mat-form-field .mat-form-field {
  &-underline {
    position: relative;
    bottom: auto;
  }

  &-subscript-wrapper {
    position: static;
  }
}

:host::ng-deep .weekdays {
  display: flex;
  flex-wrap: wrap;

  .mat-form-field-infix {
    width: auto;
    min-width: 100px;
    margin-right: $s * 2;
    border-top: 0;
  }
}
:host::ng-deep .repeat-cycle {
  display: flex;

  > * {
    width: 100%;
    margin-left: $s * 2;

    &:first-child {
      margin-left: 0;
      width: auto;

      .mat-form-field-infix {
        width: 90px;

        @include mq(xs) {
          width: 120px;
        }
      }
    }
  }
}
