<form (submit)="save()">
  <h1 mat-dialog-title>{{(isEdit$|async) ? 'Edit Repeat Task Config' : 'Add Repeat Task Config'}}</h1>

  <mat-dialog-content>
    <!--    <h3 class="mat-h3">{{task.title}}</h3>-->

    <div class="form-wrapper">
      <p style="margin-bottom: 0;"><strong>Repeat task on</strong></p>
      <formly-form [model]="taskRepeatCfg"
                   (modelChange)="taskRepeatCfg=$event"
                   [fields]="fields"
                   [options]="options"
                   [form]="form">
      </formly-form>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="wrap-buttons">
      <button mat-button
              type="submit">
        <mat-icon>save</mat-icon>
        Save
      </button>

      <button (click)="remove()"
              *ngIf="(isEdit$|async)"
              color="warn"
              mat-button
              type="button">
        <mat-icon>trash</mat-icon>
        Remove
      </button>

      <button (click)="close()"
              mat-button
              type="button">
        <mat-icon>close</mat-icon>
        Cancel
      </button>
    </div>
  </mat-dialog-actions>
</form>
