@import '../../../../variables';

h1,
mat-dialog-actions,
help-section {
  :host-context([dir='rtl']) & {
    direction: rtl;
  }
}

.form-wrapper {
  min-width: 280px;
  max-width: 500px;
}

:host::ng-deep mat-form-field .mat-mdc-form-field {
  &-underline {
    position: relative;
    bottom: auto;
  }

  &-subscript-wrapper {
    position: static;
  }
}

:host collapsible {
  margin-top: $s * 2;
  margin-bottom: $s * 2;
}

:host ::ng-deep .collapsible-title {
  flex-grow: 0 !important;
  font-weight: bold;
  font-size: 17px;
}

:host::ng-deep .weekdays {
  display: flex;
  flex-wrap: wrap;
  gap: 0 $s;
}
:host::ng-deep .repeat-cycle {
  display: flex;

  > * {
    width: 100%;
    margin-left: $s * 2;

    &:first-child {
      margin-left: 0;
      width: auto;
    }
  }
}
