/*
IMPORTANT NOTE:
 This file SHOULD NOT BE EDITED MANUALLY, as its purpose
 is to be the point where all your stylesheet-files will
 be imported
*/



// inject:sass

@import '_functions/_some-function.scss';

@import '_mixins/_some-mixin.scss';

@import '_placeholders/_some-placeholder.scss';

@import '_variables.scss';

@import 'base/_buttons.scss';

@import 'base/_fonts.scss';

@import 'base/_forms.scss';

@import 'base/_icons.scss';

@import 'base/_lists.scss';

@import 'base/_page.scss';

@import 'base/_tables.scss';

@import 'base/_typography.scss';

@import 'components/_additions-for-forms.scss';

@import 'components/_additions-for-icons.scss';

@import 'components/_fix-md-toast.scss';

@import 'components/_resytle-autocomplete.scss';

@import 'components/_side-info.scss';

@import '../scripts/daily-planner/_daily-planner-d.scss';

@import '../scripts/daily-summary/_daily-summary-d.scss';

@import '../scripts/dialogs/add-task/_add-task-c.scss';

@import '../scripts/dialogs/create-project/_create-project-c.scss';

@import '../scripts/dialogs/jira-set-in-progress/_jira-set-in-progress-c.scss';

@import '../scripts/dialogs/task-selection/_task-selection-c.scss';

@import '../scripts/dialogs/time-estimate/_time-estimate-c.scss';

@import '../scripts/dialogs/was-idle/_was-idle-c.scss';

@import '../scripts/distraction-panel/_distraction-panel-d.scss';

@import '../scripts/done-tasks-backlog/_done-tasks-backlog-d.scss';

@import '../scripts/edit-on-click/_edit-on-click-d.scss';

@import '../scripts/external-link/_external-link.scss';

@import '../scripts/hint/_hint-d.scss';

@import '../scripts/main-header/_main-header-d.scss';

@import '../scripts/routes/settings/_settings-c.scss';

@import '../scripts/sub-task-list/_sub-task-list-d.scss';

@import '../scripts/task-list/_task-list-d.scss';

@import '../scripts/work-view/_work-view-d.scss';

// endinject
