@import '../../../../variables';

.help-collapsible {
  ::ng-deep.collapsible-title {
    font-size: 20px;
  }
}

.options-collapsible {
  ::ng-deep .collapsible-title {
    font-size: 20px;
    margin-top: 0;
  }
}

.dialog-content {
  width: 700px;
  max-width: 100%;
}

.export-input-table {
  th {
    font-weight: bold;
  }

  input {
    width: 100%;
    min-width: 40px;
  }
}

.possible-properties {
  dt {
    margin-bottom: 4px;
  }
  dd {
    margin-bottom: 10px;
  }
}

.loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);

  mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%, 0);
  }
}

.help-and-opts {
  margin-top: 2*$s;
  mat-slide-toggle {
    width: 50%;
  }

  mat-form-field {
    margin: $s;
  }
}
