@import '../../../../variables';

:host {
  .chart-wrapper {
    @include mq(xs) {
      min-width: 500px;
    }
    @include mq(sm) {
      min-width: 740px;
    }
  }

  .inner-chart-wrapper {
    min-height: 170px;
  }
}

:host-context([dir='rtl']) {
  direction: rtl;
}
