:host {
  display: block;
  position: sticky;
  top: 16px;
  background: var(--bg);
  z-index: 200;
  margin: 8px;
  border: 2px solid var(--separator-color);
  border-radius: var(--card-border-radius);

  .help-box {
    position: relative;
    padding: var(--s);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background-color: var(--color-bg-info);
  }

  .close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  //.help-box-content {}

  :host-context([dir='rtl']) {
    .close-btn {
      right: unset;
      left: 4px;
    }
  }
}
