main-header {

  nav > .md-button {
    // only use background color to speed up animation
    transition-property: background-color !important;

    &.md-icon-button {
      margin: 0 3px;

      @media(max-width: $layout-xs) {
        margin: 0 1px;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-switcher-btn {
    margin-left: 0;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media(max-width: $layout-xs) {
    md-menu,
    .sp-title {
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sp-icon {
      display: none;
    }

    md-menu {
      .md-button,
      button {
        margin: 0;
        min-width: 20px;
      }
    }

    $this-height: 48px;
    md-toolbar {
      min-height: $this-height;
    }

    .md-toolbar-tools {
      padding: 0 0 0 8px;
      height: $this-height;
      max-height: $this-height;
    }
  }
}