<md-toolbar md-whiteframe="3">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button"
               aria-label="Home"
               ui-sref="daily-planner">
      <md-icon md-svg-src="img/ico.svg"
               aria-label="logo"></md-icon>
    </md-button>

    <md-menu ng-if="r.currentProject">
      <md-button aria-label="Switch project"
                 ng-click="vm.openMenu($mdOpenMenu, $event)">
        <md-tooltip md-direction="bottom">
          Switch project
        </md-tooltip>
        {{ r.currentProject.title }}
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="project in vm.allProjects">
          <md-button ng-click="vm.changeProject(project)">
            {{project.title}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <h2 ng-if="!r.currentProject">
      <a ui-sref="daily-planner">SuperProductivity</a>
    </h2>

    <span flex></span>

    <nav class="nav">
      <md-button class="md-icon-button"
                 aria-label="Add Task"
                 ng-click="vm.openAddTask()">
        <md-tooltip md-direction="bottom">
          Add Task
        </md-tooltip>
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Daily Planner"
                 ui-sref-active="md-raised"
                 ui-sref="daily-planner">
        <md-tooltip md-direction="bottom">
          Go to daily planer
        </md-tooltip>
        <ng-md-icon icon="border_color"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Work View"
                 ui-sref-active="md-raised"
                 ng-if="$state.current.name!=='daily-summary'"
                 ui-sref="work-view">
        <md-tooltip md-direction="bottom">
          Go to work view
        </md-tooltip>
        <ng-md-icon icon="playlist_play"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Daily Summary"
                 ng-if="$state.current.name==='daily-summary'"
                 ui-sref-active="md-raised"
                 ui-sref="daily-summary">
        <md-tooltip md-direction="bottom">
          Finish your day / Go to summary
        </md-tooltip>
        <ng-md-icon icon="done_all"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Daily Agenda / Tracking History"
                 ui-sref-active="md-raised"
                 ui-sref="daily-agenda">
        <md-tooltip md-direction="bottom">
          Go to daily agenda / Tracking history
        </md-tooltip>
        <ng-md-icon icon="today"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Settings"
                 ui-sref-active="md-raised"
                 ui-sref="settings">
        <md-tooltip md-direction="bottom">
          Go to settings
        </md-tooltip>
        <ng-md-icon icon="settings"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Help"
                 ng-click="vm.openHelp();">
        <md-tooltip md-direction="bottom">
          Open help for current view
        </md-tooltip>
        <ng-md-icon icon="help"></ng-md-icon>
      </md-button>
    </nav>
  </div>
</md-toolbar>
