<md-toolbar md-whiteframe="3">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button sp-icon"
               aria-label="Home"
               ui-sref="daily-planner">
      <md-icon md-svg-src="img/ico.svg"
               aria-label="logo"></md-icon>
    </md-button>

    <md-menu ng-if="r.currentProject"
             md-offset="0 42">
      <md-button aria-label="Switch project"
                 title="Switch project"
                 ng-bind="r.currentProject.title"
                 class="project-switcher-btn"
                 ng-click="vm.openMenu($mdMenu.open, $event)">
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="project in vm.allProjects">
          <md-button ng-click="vm.changeProject(project)"
                     aria-label="Change project"
                     ng-bind="project.title">
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <span flex></span>

    <nav class="nav">
      <md-button class="md-icon-button"
                 aria-label="Add Task"
                 title="Add task"
                 ng-click="vm.openAddTask()">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Daily Planner"
                 ui-sref-active="md-raised"
                 ui-sref="daily-planner"
                 title="Go to daily planer">
        <ng-md-icon icon="border_color"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Work View"
                 ui-sref-active="md-raised"
                 ng-if="$state.current.name!=='daily-summary'"
                 ui-sref="work-view"
                 title="Go to work view">
        <ng-md-icon icon="playlist_play"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Daily Summary"
                 ng-if="$state.current.name==='daily-summary'"
                 ui-sref-active="md-raised"
                 ui-sref="daily-summary"
                 title="Finish your day / Go to summary">
        <ng-md-icon icon="done_all"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Daily Agenda / Tracking History"
                 ui-sref-active="md-raised"
                 ui-sref="daily-agenda"
                 title="Go to daily agenda / Tracking history">
        <ng-md-icon icon="today"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Settings"
                 ui-sref-active="md-raised"
                 ui-sref="settings"
                 title="Go to settings">
        <ng-md-icon icon="settings"></ng-md-icon>
      </md-button>

      <md-button class="md-icon-button"
                 aria-label="Help"
                 ng-click="vm.openHelp();"
                 title="Open help for current view">
        <ng-md-icon icon="help_outline"></ng-md-icon>
      </md-button>

      <pomodoro-button ng-if="r.config.pomodoro.isEnabled"></pomodoro-button>
    </nav>
  </div>
</md-toolbar>
