@import '../../../../variables';

:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 100%;
  // space for outline
  padding: 1px;

  planner-task {
    margin-bottom: 8px;
    margin-right: 4px;
  }

  add-task-inline {
    display: block;
  }
}

.task-items {
  overflow: auto;
  padding: 0 8px;
  border-radius: 8px;
  min-height: 100px;
  flex-grow: 1;
  //border-color: $light-theme-extra-border-color;
}

.empty {
  text-align: center;
  font-style: italic;
  line-height: $planner-item-height;
}
