@import '../../../../variables';

$splitLineHeight: 4px;

:host {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  //cursor: row-resize;


  .handle {
    position: absolute;
    width: 100%;
    height: $splitLineHeight;
    top: -0.5 * $splitLineHeight;
    display: block;
    z-index: 2;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, .5);


    button mat-icon {
      transition: $transition-standard;
    }

    &.isAtBottom {
      button {
        mat-icon {
          transform: translateY(0);
        }

        &:hover mat-icon {
          transform: translateY(-$s);
        }
      }
    }
  }

  button {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    cursor: grab;
    transform-origin: left center;

    &:active {
      cursor: grabbing;
    }

    &.isAnimate {
      animation: $transition-duration-m splitWiggleAni $ani-standard-timing;
    }
  }

  .counter {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes splitWiggleAni {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
