@import '../../../variables';

:host {
  better-drawer-container {
    @include mq(xs, max) {
      flex-direction: column;
    }
  }

  ::ng-deep better-drawer-container > .side {
    z-index: $z-side-panel-planner;
    width: 220px;
    min-width: 220px;
    max-width: 220px;

    @include mq(sm) {
      width: 250px;
      min-width: 250px;
      max-width: 250px;
    }
    @include mq(lg) {
      width: 320px;
      min-width: 320px;
      max-width: 320px;
    }
    box-shadow: $whiteframe-shadow-6dp !important;
  }

  @include mq(xs, max) {
    ::ng-deep better-drawer-container > .content {
      min-height: 100%;
      height: 100%;
    }
    ::ng-deep better-drawer-container.isOpen > .content {
      min-height: 60%;
      height: 60%;
    }
  }
  @include mq(xs, max) {
    ::ng-deep better-drawer-container > .side {
      min-height: 100%;
      height: 100%;
      display: none;
    }
    ::ng-deep better-drawer-container.isOpen > .side {
      display: block;
      width: 100%;
      min-width: 100%;
      box-shadow: $whiteframe-shadow-8dp !important;
      height: 40%;
      max-height: 40%;
    }
  }

  ::ng-deep better-drawer-container > .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > * {
      flex-grow: 1;
    }
  }

  ::ng-deep .side-inner {
    display: flex;

    @include darkTheme() {
      background: $dark-theme-bg-lighter;
    }
    @include lightTheme() {
      background: $light-theme-bg-darker;
    }
  }
}

.controls {
  flex-grow: 0 !important;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  //gap: 16px;

  //border-top: 1px solid;
  //border-bottom: 1px solid;

  @include darkTheme() {
    //border-color: $dark-theme-separator-color;
    //background: $dark-theme-bg-lighter;
  }
  @include lightTheme() {
    //border-color: $light-theme-separator-color;
    //background: $light-theme-bg-darker;
  }
}

.start-date {
  font-size: 20px;
}

.day-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-add-task-panel-btn {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 333;

  @include mq(xs, max) {
    right: 50%;
    transform: translateX(50%);
    bottom: 16px;
  }
}
