<section class="main">
  <button mat-menu-item
          routerLink="work-view"
          routerLinkActive="isActive">
    <mat-icon>wb_sunny</mat-icon>
    My Day
    <!--    {{T.MH.MANAGE_PROJECTS|translate}}-->
  </button>
  <button mat-menu-item
          routerLink="projects">
    <mat-icon>access_alarms</mat-icon>
    Scheduled
    <!--    {{T.MH.MANAGE_PROJECTS|translate}}-->
  </button>
</section>

<section class="projects">
  <button (click)="switchProject(project.id)"
          *ngFor="let project of (projectService.list$|async); trackBy: trackById;"
          mat-menu-item>
    <mat-icon *ngIf="project.id===(projectService.currentId$|async)">radio_button_checked</mat-icon>
    <mat-icon *ngIf="project.id!==(projectService.currentId$|async)">radio_button_unchecked</mat-icon>
    {{project.title}}
  </button>
  <button mat-menu-item
          routerLink="projects">
    <mat-icon>list</mat-icon>
    {{T.MH.MANAGE_PROJECTS|translate}}
  </button>
  <button (click)="addProject()"
          mat-menu-item>
    <mat-icon>add</mat-icon>
    {{T.MH.CREATE_PROJECT|translate}}
  </button>
</section>


<section class="app">
  <button mat-menu-item
          routerLink="worklog-and-calendar"
          routerLinkActive="isActive">
    <mat-icon>date_range</mat-icon>
    <span class="text">{{T.MH.WORKLOG|translate}}</span>
  </button>

  <button mat-menu-item
          routerLink="metrics"
          routerLinkActive="isActive">
    <mat-icon>donut_large</mat-icon>
    <span class="text">{{T.MH.METRICS|translate}}</span>
  </button>

  <button mat-menu-item
          routerLink="config"
          routerLinkActive="isActive">
    <mat-icon>settings_applications</mat-icon>
    <span class="text">{{T.MH.SETTINGS|translate}}</span>
  </button>
</section>
