<md-dialog aria-label="Submit worklog to jira"
           md-theme="vm.theme">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Assign task "<span ng-bind="vm.task.originalKey"></span>"</h2>
      <span flex></span>
      <md-button class="md-icon-button"
                 aria-label="Cancel"
                 ng-click="vm.cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form ng-submit="vm.assignTicket()"
        novalidate
        name="worklogForm">

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>The ticket is currently <strong ng-if="!vm.task.originalAssigneeKey">unassigned</strong>
          <span ng-if="vm.task.originalAssigneeKey"> assigned to
          <strong ng-bind="vm.task.originalAssigneeKey"></strong></span>. Do you want to assign it to yourself?</p>
      </div>
    </md-dialog-content>


    <md-dialog-actions>
      <md-button type="submit"
                 aria-label="Submit"
                 class="md-raised md-primary">
        Assign to myself
      </md-button>

      <md-button ng-click="vm.cancel()"
                 type="button"
                 aria-label="Camcel"
                 class="md-raised">
        Don't start ticket
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>