:host {
  position: relative;
}

.summary-table {
  width: 100%;

  tr {
    height: 36px !important;
  }

  th {
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }

  th,
  td {
    min-width: 50px;
  }

  td {
    text-align: right;
    font-size: 16px;
  }

  td:first-child {
    text-align: start;
    min-width: 220px;
    font-size: 14px;
  }

  td:last-child {
    font-weight: bold;
  }

  .cdk-column-timeSpentToday ::ng-deep .inline-input-wrapper {
    padding: var(--s);

    input {
      width: 100px;
    }
  }
}

.total-msg {
  text-align: center;
  font-size: 18px;
  margin: var(--s) 0;
  margin-top: var(--s4);
  width: 740px;
  max-width: 100%;

  em {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
  }
}

.loading-wrapper {
  position: absolute;
  top: -24px;
  right: -24px;
  bottom: 0;
  left: -24px;
  background: var(--c-dark-50);
  z-index: 10;

  mat-progress-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.past-info-ico {
  position: absolute;
  right: 0;
}
