@import '../../../../variables';

:host {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: $s * 2;
  padding-bottom: $s * 2;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task-title {
  text-align: center;
  font-size: 30px;
  line-height: 1.1;
  margin: $s;
  margin-top: $s * 3;
  margin-bottom: $s * 3;
  border-radius: 4px;
  //padding: 4px;

  ::ng-deep textarea {
    text-align: center;
  }

  &.is-focused {
    // add extra outline on focus
    outline: 1px solid $c-accent;
  }

  @media (max-width: 499px) {
    font-size: 24px;
    margin-bottom: $s * 2;
  }

  @media (max-height: 250px) {
    font-size: 18px;
    margin-bottom: $s;
  }

  @media (max-width: 333px) {
    font-size: 18px;
  }
}

.progress-wrapper {
  position: relative;
}

progress-circle {
  width: 150px;
  height: 150px;
  @media (min-height: 800px) and (min-width: 500px) {
    width: 180px;
    height: 180px;
  }
  @media (min-height: 900px) and (min-width: 600px) {
    width: 220px;
    height: 220px;
  }

  @media (max-height: 500px) {
    width: 90px;
    height: 90px;
  }
}

.progress-label-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .focus-time {
    font-size: 24px;
    font-weight: bold;
  }

  .task-times {
    font-size: 12px;
  }
}

.simple-counter-buttons {
  display: flex;
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  // needs to be higher than task title
  z-index: 4;

  simple-counter-button.isHiddenWithoutFocus {
    @include mousePrimaryDevice {
      transition: all $transition-leave;
      //visibility: hidden;
      opacity: 0;
      transform: translateY(-10px);
    }

    :host:hover & {
      transition: all $transition-enter;
      //visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.controls {
  margin-top: $s * 2;
  // to fix weird a + mat-icon behavior
  display: flex;
  justify-content: center;
  align-items: center;

  @include mousePrimaryDevice {
    transition: all $transition-leave;
    //visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
  }

  :host:hover & {
    transition: all $transition-enter;
    //visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  // to fix weird a + mat-icon behavior
  a {
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }

  a,
  button {
    width: 56px !important;
    height: 56px !important;

    mat-icon {
      font-size: 32px !important; //make it bigger, the default being 24px.
      width: 32px !important;
      height: 32px !important;
    }
  }
}

.notes-and-attachments {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.notes-panel {
  border-radius: 4px;
  margin: auto;
  padding: $s * 2;
  width: 100%;
  flex-grow: 1;
  max-width: $component-max-width;
  min-height: 60px;
  max-height: 50vh;
  display: flex;

  inline-markdown {
    max-height: 100%;
    width: 100%;
    @include noteStyle;
    display: flex;

    ::ng-deep .markdown-wrapper {
      width: 100%;
      overflow: auto;
      height: auto !important;
    }

    ::ng-deep .markdown-parsed,
    ::ng-deep textarea {
      min-height: 60px;
    }

    ::ng-deep textarea {
      width: 100%;
      background: inherit;
      color: inherit;
      border: none;
      box-sizing: border-box;
      word-wrap: break-word;
      display: block;
      resize: none;
      min-height: 60px;
      overflow: auto;
      padding: $s $s * 2;

      &:focus {
        outline: none;
      }
    }
  }
}

.attachment-list-wrapper {
  margin-top: $s;
  max-width: 100vw;
  padding: 0 $s;
  overflow-x: auto;
  min-height: 111px;

  @include mousePrimaryDevice {
    visibility: hidden;
  }

  :host:hover & {
    visibility: visible;
  }

  ::ng-deep ul {
    display: block;
    white-space: nowrap;
    text-align: center;
    margin: 0;

    li {
      display: inline-block;
    }
  }
}

.drag-over-msg {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
  z-index: 31;
}

.hide-notes-btn {
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
