pomodoro-button {
  align-items: center;
  display: inline-block;
  max-height: 40px;

  @include ng-pop-in-popout;

  .timer-btn {
    text-align: center !important;
    padding-left: 5px !important;
    font-weight: bold;

    ng-md-icon {
      opacity: 0.5;
    }
  }

  .timer-btn-text {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 1px #000000;
  }

  .timer-btn-cycle {
    font-size: 15px;
    margin-bottom: -5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-shadow: 0 0 1px #000000;
  }

  md-fab-actions {

    .md-fab-action-item {
      margin-top: 5px;
    }
  }
}