<md-fab-speed-dial md-direction="down"
                   md-open="$ctrl.isOpen"
                   class="md-scale"
                   ng-mouseenter="$ctrl.isOpen=true"
                   ng-mouseleave="$ctrl.isOpen=false">
  <md-fab-trigger>
    <md-button class="md-icon-button md-accent md-raised timer-btn">
      {{ $ctrl.svc.data.currentSessionTime | date:'mm:ss' }}
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button class="md-fab md-raised md-mini"
               ng-click="$ctrl.play()"
               ng-if="$ctrl.svc.data.status!=='PLAY'">
      <ng-md-icon icon="play_arrow"></ng-md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini"
               ng-click="$ctrl.pause()"
               ng-if="$ctrl.svc.data.status==='PLAY'">
      <ng-md-icon icon="pause"></ng-md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini"
               ng-click="$ctrl.stop()"
               ng-if="$ctrl.svc.data.status==='PLAY'">
      <ng-md-icon icon="stop"></ng-md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>

