<md-fab-speed-dial md-direction="down"
                   md-open="$ctrl.isOpen"
                   class="md-scale"
                   ng-class="$ctrl.svc.data.status"
                   ng-click="$ctrl.toggle($event)"
                   ng-mouseenter="$ctrl.isOpen=true"
                   ng-mouseleave="$ctrl.isOpen=false">
  <md-fab-trigger>
    <md-button class="md-icon-button md-raised timer-btn"
               md-no-ink
               ng-class="{'md-accent':$ctrl.svc.data.status=='PLAY'}"
               aria-label="Open Pomodoro Actions">
      <ng-md-icon icon="pause"
                  ng-if="!$ctrl.svc.data.isOnBreak && $ctrl.svc.data.status==='PLAY'"></ng-md-icon>
      <ng-md-icon icon="play_arrow"
                  ng-if="$ctrl.svc.data.status==='MANUAL_PAUSE'"></ng-md-icon>
      <ng-md-icon icon="free_breakfast"
                  ng-if="$ctrl.svc.data.isOnBreak && $ctrl.svc.data.status!=='MANUAL_PAUSE'"></ng-md-icon>
      <span class="timer-btn-text"
            md-whiteframe="2"
            ng-bind="($ctrl.svc.data.currentSessionTime | date:'mm:ss')"></span>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button class="md-fab md-raised md-mini"
               ng-click="$ctrl.play($event)"
               aria-label="Play Pomodoro Session"
               ng-if="$ctrl.svc.data.status!=='PLAY'">
      <ng-md-icon icon="play_arrow"></ng-md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini"
               ng-click="$ctrl.pause($event)"
               aria-label="Pause Pomodoro Session"
               ng-if="$ctrl.svc.data.status==='PLAY'">
      <ng-md-icon icon="pause"></ng-md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini"
               ng-click="$ctrl.stop($event)"
               aria-label="Stop Pomodoro Session">
      <ng-md-icon icon="stop"></ng-md-icon>
    </md-button>
    <md-button ng-if="$ctrl.svc.data.isOnBreak"
               class="md-fab md-raised md-mini"
               ng-click="$ctrl.skipBreak($event)"
               aria-label="Stop Pomodoro Session">
      <ng-md-icon icon="skip_next"></ng-md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini"
               ng-click="$ctrl.focusMode($event)"
               aria-label="Stop Pomodoro Session">
      <ng-md-icon icon="my_location"></ng-md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>

