<form
  (submit)="$event.preventDefault(); onSubmit($event)"
  novalidate
>
  <h1>{{ T.F.FOCUS_MODE.SELECT_TASK | translate }}</h1>

  <select-task
    (taskChange)="onTaskChange($event)"
    [initialTask]="initialTask()"
    [isIncludeDoneTasks]="false"
  >
  </select-task>
  <br />
  <br />

  @if (isFocusSessionRunning()) {
    <div style="display: flex; gap: 16px">
      <button
        type="button"
        mat-stroked-button
        (click)="completeSession()"
      >
        <mat-icon>done_all</mat-icon>
        Complete Session
      </button>

      <button
        type="submit"
        color="primary"
        mat-raised-button
      >
        <mat-icon>arrow_forward</mat-icon>
        Continue Session
      </button>
    </div>
  } @else {
    <button
      type="submit"
      color="primary"
      mat-raised-button
    >
      <mat-icon>arrow_forward</mat-icon>
      {{ T.F.FOCUS_MODE.NEXT | translate }}
    </button>
  }
</form>
