@import '../../../variables';

.wrapper {
  width: $s*36;
  display: block;
  text-align: center;
  min-height: 100%;
  padding: 0 $s*1.5;
  box-sizing: border-box;
  overflow: hidden;

  :host-context(.isLightTheme) & {
    background: #eeeeee !important;
  }

  header {
    display: block;
  }
}

note {
  display: block;
  margin-bottom: $s*1.5;
}