<div class="wrapper">
  <header>
    <button (click)="addNote()"
            autofocus="autofocus"
            #buttonEl
            tabindex="1"
            mat-button="">
      <mat-icon>add</mat-icon>
      Add new Note
    </button>
    <!--<button mat-icon-button="">-->
    <!--<mat-icon>search</mat-icon>-->
    <!--</button>-->
  </header>
  <div class="notes"
       [dragulaModel]="noteService.notes$|async"
       dragula="NOTES">
    <note *ngFor="let note of (noteService.notes$|async); let i = index;"
          [isFocus]="isElementWasAdded && i==0"
          [note]="note"></note>
  </div>
</div>
