node_modules
www
app
platforms
release
.tmp
app-src/styles/**/*.css
app-src/styles/**/*.css.map
app-src/scripts/tmp.templates.js
.sass-cache
bower_components
app/bower_components
dist
release-builds
*.log
deploy.sh
yarn.lock
build/hub
