<?xml version='1.1' encoding='utf-8'?>
<widget id="org.superproductvity" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Super productvity</name>
    <description>
        Super productvity is fabulous
    </description>
    <author email="your@email.com" href="http://your-domain.de">
        Your Name
    </author>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
