@import './../../../_variables';

:host {
  overflow: hidden !important;
}

add-task-bar {
  margin: 0 auto $s*2;
  max-width: 628px;

  ::ng-deep input {
    box-shadow: none !important;
  }
}

h1 {
  margin: $s*2 0;
  text-align: center;
}

h2 {
  text-align: center;
}

.wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.work-view-header,
.backlog-header {
  box-shadow: $header-inset-shadow;
  color: #ffffff;
  padding: 0.5*$s;

  @media(min-width: $layout-xs) {
    padding: 0.5*$s;
  }
}

.backlog-header {
  padding-top: 2*$s;
}

.work-view-header {
  margin-bottom: $s;

  @media(max-width: $layout-xs) {
    .label {
      display: none;
    }
    p {
      margin: 0;
    }
  }
}

.completed-tasks-heading {
  margin-top: $s;
}

.status-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0;
  user-select: none;
  min-height: 4*$s;

  .item {
    margin: 0 1.5*$s;
    text-align: center;
  }
  .controls {
    text-align: center;
    margin: $s 0;
    white-space: nowrap;

    button {
      margin: 0 $s/2;
    }
  }

  .label {
    margin-right: $s;
  }

  .no-wrap {
    display: inline-block;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.hide-controls-icon {
  transform: rotate(90deg);
}

.finish-day-button-wrapper {
  text-align: center;
  margin: $s 0;
  white-space: nowrap;
}

.backlog,
.today {
  position: absolute;
  left: 0;
  //transition: max-height, min-height 500ms ease-in-out;
  //transition: all 500ms linear;
  width: 100%;

  &.isAnimatable {
    transition: $transition-standard;
  }

  task-list ::ng-deep > .task-list-inner {
    min-height: 50px;
  }
}

.today,
.backlog .inner-wrapper {
  overflow-y: scroll !important;
  //-webkit-overflow-scrolling: touch;
  //&::-webkit-scrollbar {
  //  width: 0 !important
  //}
}

.today {
  top: 0;
}

.backlog {
  bottom: 0;
  .inner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

