@import './../../../_variables';

add-task-bar {
  margin: 0 auto $s*2;
  max-width: 628px;

  ::ng-deep input {
    box-shadow: none !important;
  }
}

h1 {
  margin: $s*2 0;
  text-align: center;
}

h2 {
  text-align: center;
}

.work-view-header {
  color: #ffffff;
  margin-bottom: $s;
  box-shadow: $header-inset-shadow;

  @media(max-width: $layout-xs) {
    .label {
      display: none;
    }
    p {
      margin: 0;
    }
  }
}

.status-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0;
  user-select: none;
  min-height: 4*$s;

  .item {
    margin: 0 12px;
  }

  .label {
    margin-right: $s;
  }

  .no-wrap {
    display: inline-block;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.hide-controls-icon {
  transform: rotate(90deg);
}

.button-controls {
  text-align: center;
  margin: $s 0;
}

.backlog,
.today {
  position: absolute;
  left: 0;
  //transition: max-height, min-height 500ms ease-in-out;
  //transition: all 500ms linear;
  width: 100%;

  &.isAnimatable {
    transition: $transition-standard;
  }
}

.today,
.backlog .inner-wrapper {
  overflow-y: scroll !important;
}

.today {
  top: 0;
}

.backlog {
  bottom: 0;
  .inner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

