<div class="wrapper"
     #containerEl>
  <div class="today"
       #splitTopEl>

    <header class="work-view-header bg-800 color-contrast">
      <div class="status-bar">

        <div class="item">
          <span class="label">Estimate remaining:</span>
          <span class="no-wrap">
      ~<strong>{{taskService.estimateRemainingToday$|async|msToString}}</strong>
      <mat-icon>timer</mat-icon>
      </span>
        </div>

        <div class="item"><span class="label">Working today:</span>
          <span class="no-wrap">
      <strong>{{taskService.workingToday$|async|msToString}}</strong>
      <mat-icon aria-label="timer icon">timer</mat-icon>
      </span>
        </div>

        <div class="item"
             *ngIf="isShowTimeWorkedWithoutBreak">
          <span class="label">Without break: </span>
          <span class="no-wrap">
        <strong>{{takeABreakService.timeWorkingWithoutABreak$|async|msToString}}</strong><mat-icon>timer</mat-icon>
      </span>
        </div>
        <div class="controls">
          <button mat-mini-fab
                  color="primary"
                  (click)="showAddTaskBar()">
            <mat-icon class="hide-controls-icon">add</mat-icon>
          </button>
          <button routerLink="/daily-summary"
                  mat-mini-fab=""
                  color="primary">
            <mat-icon>done_all</mat-icon>
          </button>
        </div>
        <!--<button mat-mini-fab-->
        <!--color="primary"-->
        <!--(click)="isHideControls = !(isHideControls);"-->
        <!--aria-label="collapse sub tasks and notes">-->
        <!--<mat-icon class="hide-controls-icon">vertical_align_center</mat-icon>-->
        <!--</button>-->
        <!--<button mat-mini-fab-->
        <!--color="primary"-->
        <!--(click)="collapseAllNotesAndSubTasks()"-->
        <!--aria-label="collapse sub tasks and notes">-->
        <!--<mat-icon>vertical_align_center</mat-icon>-->
        <!--</button>-->
      </div>
    </header>

    <div class="component-wrapper page-wrapper">
      <task-list [tasks]="taskService.undoneTasks$|async"
                 listId="PARENT"
                 listModelId="UNDONE"
                 [focusIdList]="taskService.focusIdsForWorkView$|async"
                 [filterArgs]="{'isDone':false}"></task-list>

      <h2 class="mat-h2 completed-tasks-heading">Completed Tasks</h2>
      <task-list [tasks]="taskService.doneTasks$|async"
                 listId="PARENT"
                 listModelId="DONE"
                 [focusIdList]="taskService.focusIdsForWorkView$|async"
                 [filterArgs]="{'isDone':true}"></task-list>
      <div class="finish-day-button-wrapper">
        <button routerLink="/daily-summary"
                mat-raised-button=""
                color="primary">
          <mat-icon>done_all</mat-icon>
          Finish working
        </button>
      </div>
    </div>
  </div>

  <div class="backlog"
       #splitBottomEl>
    <split [containerEl]="containerEl"
           [splitPos]="splitInputPos"
           [isAnimateBtn]="isTriggerSwitchListAni"
           [counter]="(taskService.backlogTasks$|async).length"
           [splitTopEl]="splitTopEl"
           [splitBottomEl]="splitBottomEl"
           (posChanged)="splitInputPos=$event"></split>
    <div class="inner-wrapper"
         *ngIf="splitInputPos!==100">
      <header class="backlog-header bg-400 color-contrast">
        <div class="status-bar">
          <div class="item">
            <span class="label">Estimate:</span>
            <span class="no-wrap">
      ~<strong>{{taskService.estimateRemainingBacklog$|async|msToString}}</strong>
      <mat-icon>timer</mat-icon>
      </span>
          </div>
          <button mat-mini-fab
                  color="primary"
                  (click)="showAddTaskBar()">
            <mat-icon class="hide-controls-icon">add</mat-icon>
          </button>
        </div>
      </header>

      <div class="component-wrapper page-wrapper">
        <h2 class="mat-h2">Backlog {{isTriggerSwitchListAni}}</h2>
        <task-list [tasks]="backlogTasks"
                   listId="PARENT"
                   listModelId="BACKLOG"
                   [focusIdList]="taskService.focusIdsForBacklog$|async"
                   [filterArgs]="{'isDone':true}"></task-list>
      </div>
    </div>
  </div>
</div>


