focus-view {
  text-align: center;
  max-width: $component-max-width;
  margin: auto;
  display: block;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0 0;

    .md-icon-button {
      width: 45px;
      height: 45px;

      // needs manual adjustment to stay centered :(
      &.btn-link {
        ng-md-icon {
          margin-top: 2px;
        }
      }
    }
  }

  .timer {
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin: 0 34px;
    &.is-pause {
      color: #bcbcbc;
    }
  }

  .task {
    border: none;
    background: transparent;

    // overwrite green background color
    &.is-current {
      background: transparent;

      md-progress-linear {
        border-color: $light-green;
      }
    }

    .parent-title {
      color: #4a4a4a;
      margin-bottom: -14px;
      font-size: 14px;
      margin-top: 17px;
    }

    .title {
      &,
      input {
        text-align: center;
      }

      &.is-done {
        text-decoration: line-through;
        color: #aaaaaa;
      }
    }

    md-progress-linear {
      // needed to overwrite ng-materials default styles
      margin-bottom: 10px !important;
      border-bottom: 2px dashed #bcbcbc;

      .md-bar,
      .md-container {
        height: 8px;
      }
    }

    .time {
      text-align: center;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .notes {
      margin-top: 15px;
      inline-markdown {
        text-align: left;
      }
    }

    task-local-links {
      li {
        display: inline-block;
        a {
          display: inline-block;
          white-space: nowrap;
        }

        .trash-button {
          margin-left: 5px;
        }
      }
    }
  }
}
