<div class="inner-wrapper bg-standard"
     [class.bg-600]="isCurrent"
     [class.color-contrast]="isCurrent"
     [class.isNotesOpen]="task.isNotesOpen">

  <div class="first-line">
    <mat-icon class="material-icons drag-handle"
              [class.handle-par]="!task.parentId"
              [class.handle-sub]="task.parentId">drag_handle
    </mat-icon>


    <button mat-icon-button
            color=""
            class="play-btn ico-btn"
            (click)="startTask()"
            aria-label="mark as current"
            tabindex="2"
            *ngIf="!task.isDone && !isCurrent && !task.subTasks">
      <mat-icon class="material-icons">play_circle_outline</mat-icon>
    </button>

    <button mat-icon-button
            color=""
            class="play-btn ico-btn"
            (click)="pauseTask()"
            tabindex="2"
            *ngIf="!task.isDone && isCurrent && !task.subTasks">
      <mat-icon class="material-icons">pause</mat-icon>
    </button>


    <button mat-icon-button
            aria-label="is updated"
            tabindex="2"
            color="primary"
            (click)="handleUpdateBtnClick()"
            class="ico-btn"
            *ngIf="task.issueData?.wasUpdated">
      <mat-icon class="material-icons update update-icon">update</mat-icon>
    </button>

    <a mat-icon-button
       color=""
       class="ico-btn original-link-btn"
       aria-label="link"
       tabindex="2"
       target="_blank"
       external-link
       *ngIf="task.issueData?.url"
       [href]="task.issueData?.url">

      <mat-icon *ngIf="task.issueType ==='JIRA'"
                aria-label="explore">explore
      </mat-icon>
      <mat-icon *ngIf="task.issueType ==='GITHUB'"
                aria-label="github">github_circle
      </mat-icon>
    </a>

    <div editOnClick
         #editOnClickEl
         contenteditable="true"
         class="title task-title"
         [value]="task.title"
         (editFinished)="updateTaskTitleIfChanged($event.isChanged, $event.newVal)"
         tabindex="2"></div>

    <div class="time">
      <span *ngIf="task.subTasks && task.subTasks.length>0">∑</span>
      <span [innerHtml]="(task.timeSpent|msToString) +' / ' + (task.timeEstimate|msToString)"></span>
    </div>

    <div class="controls">
      <button *ngIf="!task.subTasks || !task.subTasks.length"
              mat-icon-button
              color=""
              tabindex="2"
              class="ico-btn time-btn"
              [disabled]="task.subTasks && task.subTasks.length>0"
              aria-label="time estimation"
              (click)="estimateTime()">
        <mat-icon aria-label="time estimation">access_time</mat-icon>
        <!--<div class="svg-wrapper">-->
          <!--<svg focusable="false"-->
               <!--viewPort="0 0 50 50"-->
               <!--width="44"-->
               <!--height="44">-->
            <!--<circle cx="50%"-->
                    <!--class="color-primary"-->
                    <!--cy="50%"-->
                    <!--r="19"-->
                    <!--stroke-dasharray="565.48"-->
                    <!--stroke-dashoffset="0"-->
                    <!--fill="transparent"-->
                    <!--stroke-width="3"-->
                    <!--stroke="black"></circle>-->
          <!--</svg>-->
        <!--</div>-->
      </button>
      <!--<button mat-icon-button-->
      <!--color=""-->
      <!--class="ico-btn"-->
      <!--aria-label="add sub task"-->
      <!--*ngIf="!task.parentId&&!task.isDone"-->
      <!--tabindex="2"-->
      <!--(click)="addSubTask($event);">-->

      <!--<mat-icon aria-label="add sub task">playlist_add</mat-icon>-->
      <!--</button>-->
      <button mat-icon-button
              color=""
              class="ico-btn show-notes-btn"
              aria-label="notes"
              tabindex="2"
              [class.isActive]="task.isNotesOpen"
              (click)="toggleShowNotes()">

        <mat-icon *ngIf="task.notes||task.issueData"
                  aria-label="notes">chat
        </mat-icon>
        <mat-icon *ngIf="!task.notes&&!task.issueData">chat_bubble_outline</mat-icon>
      </button>
      <!--<button mat-icon-button-->
      <!--color=""-->
      <!--tabindex="2"-->
      <!--aria-label="delete"-->
      <!--class="ico-btn delete-btn"-->
      <!--(click)="deleteTask()">-->

      <!--<mat-icon class="material-icons delete-icon"-->
      <!--aria-label="delete">delete_forever-->
      <!--</mat-icon>-->
      <!--</button>-->
      <!--<button mat-icon-button-->
      <!--color=""-->
      <!--(click)="toggleTaskDone()"-->
      <!--class="ico-btn mark-as-done-btn"-->
      <!--tabindex="2"-->
      <!--aria-label="un-/mark as done">-->
      <!--<mat-icon class="material-icons delete-icon"-->
      <!--*ngIf="task.isDone"-->
      <!--aria-label="Mark as undone">undo-->
      <!--</mat-icon>-->
      <!--<mat-icon class="material-icons delete-icon"-->
      <!--*ngIf="!task.isDone"-->
      <!--aria-label="Mark as done">check-->
      <!--</mat-icon>-->
      <!--</button>-->
      <button mat-icon-button
              class="ico-btn"
              color=""
              [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item=""
                aria-label="add sub task"
                *ngIf="!task.parentId&&!task.isDone"
                tabindex="2"
                (click)="addSubTask($event);">
          <mat-icon aria-label="add sub task">playlist_add</mat-icon>
          Add sub task
        </button>
        <button mat-menu-item=""
                tabindex="2"
                aria-label="delete"
                (click)="deleteTask()">

          <mat-icon class="material-icons delete-icon"
                    style="color:#e15d63;"
                    aria-label="delete">delete_forever
          </mat-icon>
          Delete Task
        </button>
        <button mat-menu-item=""
                (click)="toggleTaskDone()"
                tabindex="2"
                aria-label="un-/mark as done">
          <ng-container *ngIf="task.isDone">
            <mat-icon class="material-icons delete-icon"
                      aria-label="Mark as undone">undo
            </mat-icon>
            Mark as undone
          </ng-container>
          <ng-container *ngIf="!task.isDone">
            <mat-icon class="material-icons delete-icon"
                      aria-label="Mark as done">check
            </mat-icon>
            Mark as done
          </ng-container>
        </button>
      </mat-menu>
    </div>
  </div>

  <progress-bar [progress]="progress"
                *ngIf="isCurrent"
                [cssClass]="isCurrent?'bg-100':'bg-primary'"></progress-bar>

  <task-additional-info class="notes mat-elevation-z3"
                        [selectedIndex]="additionalTabsIndex"
                        *ngIf="task.isNotesOpen"
                        (onTaskNotesChanged)="onTaskNotesChanged($event)"
                        [@expand]
                        [task]="task"></task-additional-info>

  <div class="sub-tasks"
       *ngIf="task.subTasks && task.subTasks.length">
    <button (click)="toggleHideSubTasks()"
            mat-mini-fab=""
            color=""
            tabindex="2"
            class="toggle-sub-tasks-btn ico-btn">
      <mat-icon *ngIf="task.isHideSubTasks">add</mat-icon>
      <mat-icon *ngIf="!task.isHideSubTasks">remove</mat-icon>
    </button>
    <task-list [tasks]="task.subTasks"
               listId="SUB"
               [listModelId]="task.id"
               [parentId]="task.id"
               [@expand]
               *ngIf="!task.isHideSubTasks"
               [focusIdList]="focusIdList"></task-list>
  </div>

  <div class="bg-accent color-contrast drag-over-msg"
       *ngIf="isDragOver">
    <mat-icon>add</mat-icon>
    Drop here to attach to "{{task.title}}"
  </div>
</div>
