<!--<div class="first-line"-->
<!--layout="row"-->
<!--as-sortable-item-handle-->
<!--layout-align="space-between center"> -->
<div class="inner-wrapper">
  <div class="first-line">
    <button mat-icon-button
            aria-label="is updated"
            tabindex="2"
            (click)="isShowNotes = !isShowNotes;"
            *ngIf="task.isUpdated">
      <!--<mat-tooltip>-->
      <!--Click to show updates-->
      <!--</mat-tooltip>-->
      <i class="material-icons update update-icon">update</i>
    </button>


    <i class="material-icons handle"
       [class.handle-par]="!task.parentId"
       [class.handle-sub]="task.parentId">drag_handle</i>


    <button mat-icon-button
            class="play-btn ico-btn"
            (click)="startTask(task.id)"
            aria-label="mark as current"
            tabindex="2"
            *ngIf="!isDone && !isCurrent && !task.subTasks">
      <i class="material-icons">play_circle_filled</i>
    </button>

    <button mat-icon-button
            class="play-btn ico-btn"
            (click)="pauseTask(task.id)"
            tabindex="2"
            *ngIf="!isDone && isCurrent && !task.subTasks">
      <i class="material-icons">pause_circle_filled</i>
    </button>


    <!--<button mat-button-->
    <!--class="mat-icon-button original-link-btn"-->
    <!--aria-label="link"-->
    <!--tabindex="2"-->
    <!--target="_blank"-->
    <!--external-link-->
    <!--*ngIf="task.originalLink"-->
    <!--ng-href="{{ task.originalLink }}">-->

    <!--<i icon="link"-->
    <!--*ngIf="task.originalType !=='GITHUB'"-->
    <!--aria-label="link"></i>-->
    <!--<i icon="github-circle"-->
    <!--*ngIf="task.originalType ==='GITHUB'"-->
    <!--aria-label="link"></i>-->
    <!--</button>-->

    <div supEditOnClick
         contenteditable="true"
         class="title task-title"
         [value]="task.title"
         (editFinished)="updateTaskIfChanged($event.isChanged, task.id, $event.newVal)"
         tabindex="2"></div>

    <div class="time">
      <span *ngIf="task.subTasks && task.subTasks.length>0">∑</span>
      <span [innerHtml]="(task.timeSpent||'-') +' / ' + (task.timeEstimate||'-')"></span>
    </div>

    <div class="controls">
      <button mat-icon-button
              tabindex="2"
              class="ico-btn"
              [disabled]="task.subTasks && task.subTasks.length>0"
              aria-label="time estimation"
              (click)="estimateTime(task)">

        <i class="material-icons"
           aria-label="time estimation">access_time</i>
      </button>
      <button mat-icon-button
              class="ico-btn"
              aria-label="add sub task"
              *ngIf="!task.parentId&&!isDone"
              tabindex="2"
              (click)="addSubTask(task, $event);">

        <i class="material-icons"
           aria-label="add sub task">playlist_add</i>
      </button>
      <button mat-icon-button
              class="ico-btn"
              aria-label="notes"
              tabindex="2"
              [class.is-active]="isShowNotes"
              (click)="isShowNotes=!isShowNotes">

        <i class="material-icons"
           *ngIf="task.notes||task.originalKey"
           aria-label="notes">insert_comment</i>
        <i class="material-icons"
           *ngIf="!task.notes&&!task.originalKey">mode_comment</i>
      </button>
      <button mat-icon-button
              tabindex="2"
              aria-label="delete"
              class="ico-btn"
              (click)="deleteTask(task.id)">

        <i class="material-icons delete-icon"
           aria-label="delete">delete_forever</i>
      </button>
      <button mat-icon-button
              (click)="toggleTaskDone(task.id, isDone)"
              class="ico-btn mark-as-done-btn"
              tabindex="2"
              aria-label="un-/mark as done">
        <i class="material-icons delete-icon"
           *ngIf="task.isDone"
           aria-label="Mark as undone">undo</i>
        <i class="material-icons delete-icon"
           *ngIf="!task.isDone"
           aria-label="Mark as done">check</i>
      </button>
    </div>
  </div>

  <mat-progress-bar mode="determinate"
                    [value]="task.progress"></mat-progress-bar>


  <div class="notes"
       [@expand]="isShowNotes">
    <!--<section *ngIf="task.isUpdated;">-->
    <!--<div class="mat-caption">-->
    <!--Changes since last update-->
    <!--</div>-->

    <!--&lt;!&ndash;<ul class="changelog">&ndash;&gt;-->
    <!--&lt;!&ndash;<li *ngFor="let changelogEntry of task.originalChangelog">&ndash;&gt;-->
    <!--&lt;!&ndash;<div *ngIf="changelogEntry.author">&ndash;&gt;-->
    <!--&lt;!&ndash;<em>[<span [innerHtml]="changelogEntry.author"></span>]&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<span [innerHtml]="changelogEntry.created| amDateFormat:'Y.MM.DD HH:mm'"></span></em>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div *ngFor="let change of changelogEntry.items">&ndash;&gt;-->
    <!--&lt;!&ndash;<strong [innerHtml]="change.field"></strong>&ndash;&gt;-->
    <!--&lt;!&ndash;<span *ngIf="change.toString.length"><em>changed to:</em> <span [innerHtml]="change.toString"></span></span></span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--<button mat-raised-button-->
    <!--(click)="task.isUpdated=false;task.originalChangelog=undefined;isShowNotes=false">-->
    <!--<i class="material-icons">delete</i>-->
    <!--Hide changes-->
    <!--</button>-->
    <!--</section>-->

    <section>
      <div class="mat-caption"
           [innerHtml]="task.originalId ? 'Description': 'Notes'"></div>
      <div class="mat-elevation-z4">
        <inline-markdown [model]="task.notes"
                         (onChanged)="onTaskNotesChanged(task.id,$event)"></inline-markdown>
      </div>
    </section>

    <!--<section *ngIf="task.status.length > 0 || task.originalStatus.length > 0"-->
    <!--class="status">-->
    <!--<div class="mat-caption">Status: <span [innerHtml]="task.originalStatus.name || task.originalStatus"></span>-->
    <!--<i icon="arrow_forward"-->
    <!--*ngIf="task.status.length > 0"-->
    <!--aria-label="arrow forward"></i>-->
    <!--<span [innerHtml]="task.status"></span>-->
    <!--</div>-->
    <!--</section>-->

    <!--<section *ngIf="task.originalAssigneeKey"-->
    <!--class="assignee">-->
    <!--<div class="mat-caption">Assignee: <span [innerHtml]="task.originalAssigneeKey"></span></div>-->
    <!--</section>-->

    <!--<section *ngIf="task.originalAttachment.length > 0">-->
    <!--<collapsible title="Attachments ({{ task.originalAttachment.length }})">-->
    <!--<ul class="attachments">-->
    <!--<li ng-repeat="attachment in task.originalAttachment">-->
    <!--<a href="{{ attachment}}"-->
    <!--external-link-->
    <!--target="_blank"-->
    <!--class="mat-accent">{{ attachment}}</a>-->
    <!--<a href="{{ attachment}}"-->
    <!--download="{{ attachment}}"-->
    <!--class="mat-accent">-->
    <!--<i icon="file_download"-->
    <!--aria-label="download file directly"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</collapsible>-->
    <!--</section>-->

    <!--<section *ngIf="task.originalComments.length > 0">-->
    <!--<collapsible title="Comments ({{ task.originalComments.length }})">-->
    <!--<mat-divider></mat-divider>-->
    <!--<ul class="comments">-->
    <!--<li ng-repeat="comment in task.originalComments"-->
    <!--class="comment">-->
    <!--<strong class="author">[<span [innerHtml]="comment.author"></span>]: </strong>-->
    <!--<span marked="comment.body"></span>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</collapsible>-->
    <!--</section>-->

  </div>


  <div class="sub-tasks"
       *ngIf="task.subTasks"
       [dragula]="subTaskListId"
       [dragulaModel]="task.subTasks">
    <task *ngFor="let task of task.subTasks; let i = index;"
          [task]="task">
    </task>
  </div>
</div>
