<div class="inner-wrapper color-primary-after"
     [class.isNotesOpen]="task.isNotesOpen">
  <div class="first-line">
    <mat-icon class="material-icons handle"
              [class.handle-par]="!task.parentId"
              [class.handle-sub]="task.parentId">drag_handle
    </mat-icon>


    <button mat-icon-button
            class="play-btn ico-btn"
            (click)="startTask()"
            aria-label="mark as current"
            tabindex="2"
            *ngIf="!isDone && !isCurrent && !task.subTasks">
      <mat-icon class="material-icons">play_circle_filled</mat-icon>
    </button>

    <button mat-icon-button
            class="play-btn ico-btn"
            (click)="pauseTask()"
            tabindex="2"
            *ngIf="!isDone && isCurrent && !task.subTasks">
      <mat-icon class="material-icons">pause_circle_filled</mat-icon>
    </button>


    <button mat-icon-button
            aria-label="is updated"
            tabindex="2"
            color="primary"
            (click)="handleUpdateBtnClick()"
            class="ico-btn"
            *ngIf="task.issueData?.wasUpdated">
      <mat-icon class="material-icons update update-icon">update</mat-icon>
    </button>

    <a mat-icon-button
       class="ico-btn original-link-btn"
       aria-label="link"
       tabindex="2"
       target="_blank"
       external-link
       *ngIf="task.issueData?.url"
       [href]="task.issueData?.url">

      <mat-icon *ngIf="task.issueType ==='JIRA'"
                aria-label="explore">explore
      </mat-icon>
      <mat-icon *ngIf="task.issueType ==='GITHUB'"
                aria-label="github">github_circle
      </mat-icon>
    </a>

    <div editOnClick
         #editOnClickEl
         contenteditable="true"
         class="title task-title"
         [value]="task.title"
         (editFinished)="updateTaskTitleIfChanged($event.isChanged, $event.newVal)"
         tabindex="2"></div>

    <div class="time">
      <span *ngIf="task.subTasks && task.subTasks.length>0">∑</span>
      <span [innerHtml]="(task.timeSpent|msToString) +' / ' + (task.timeEstimate|msToString)"></span>
    </div>

    <div class="controls">
      <button mat-icon-button
              tabindex="2"
              class="ico-btn"
              [disabled]="task.subTasks && task.subTasks.length>0"
              aria-label="time estimation"
              (click)="estimateTime()">

        <mat-icon aria-label="time estimation">access_time</mat-icon>
      </button>
      <button mat-icon-button
              class="ico-btn"
              aria-label="add sub task"
              *ngIf="!task.parentId&&!isDone"
              tabindex="2"
              (click)="addSubTask($event);">

        <mat-icon aria-label="add sub task">playlist_add</mat-icon>
      </button>
      <button mat-icon-button
              class="ico-btn"
              aria-label="notes"
              tabindex="2"
              [class.is-active]="task.isNotesOpen"
              (click)="toggleShowNotes()">

        <mat-icon *ngIf="task.notes||task.issueData"
                  aria-label="notes">insert_comment
        </mat-icon>
        <mat-icon *ngIf="!task.notes&&!task.issueData">mode_comment</mat-icon>
      </button>
      <button mat-icon-button
              tabindex="2"
              aria-label="delete"
              class="ico-btn"
              (click)="deleteTask()">

        <mat-icon class="material-icons delete-icon"
                  aria-label="delete">delete_forever
        </mat-icon>
      </button>
      <button mat-icon-button
              (click)="toggleTaskDone()"
              class="ico-btn mark-as-done-btn"
              tabindex="2"
              aria-label="un-/mark as done">
        <mat-icon class="material-icons delete-icon"
                  *ngIf="task.isDone"
                  aria-label="Mark as undone">undo
        </mat-icon>
        <mat-icon class="material-icons delete-icon"
                  *ngIf="!task.isDone"
                  aria-label="Mark as done">check
        </mat-icon>
      </button>
    </div>
  </div>

  <progress-bar [progress]="progress"></progress-bar>

  <task-additional-info class="notes mat-elevation-z3"
                        [selectedIndex]="additionalTabsIndex"
                        *ngIf="task.isNotesOpen"
                        (onTaskNotesChanged)="onTaskNotesChanged($event)"
                        [@expand]
                        [task]="task"></task-additional-info>

  <div class="sub-tasks"
       *ngIf="task.subTasks">
    <button (click)="toggleHideSubTasks()"
            mat-icon-button
            tabindex="2"
            class="toggle-sub-tasks-btn ico-btn">
      <mat-icon *ngIf="task.isHideSubTasks">add</mat-icon>
      <mat-icon *ngIf="!task.isHideSubTasks">remove</mat-icon>
    </button>
    <task-list [tasks]="task.subTasks"
               listId="SUB"
               [parentId]="task.id"
               [@expand]
               *ngIf="!task.isHideSubTasks"
               [focusIdList]="focusIdList"></task-list>
  </div>
</div>
