@import '../../../_variables.scss';

@mixin dark-theme {
  body.dark-theme & {
    @content;
  }
}

$this-task-text-color: #333333;
$this-task-text-color-dark: #dddddd;
$this-task-text-color-done: #aaaaaa;
$task-inner-padding-left-right: 6px;
$this-active-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
0 8px 10px 1px rgba(0, 0, 0, 0.14),
0 3px 14px 2px rgba(0, 0, 0, 0.12);

:host {
  display: block;

  > .inner-wrapper {
    padding: 2px 0;
    margin-bottom: 7px;
    background-color: #ffffff;
    color: $this-task-text-color;
    position: relative;
    box-shadow: $shadow-card-shadow;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1), background-color 50ms cubic-bezier(0, 0, 0.2, 1);

    //box-shadow: $shadow-bottom-boxed;

    .title-bar-wrapper,
    .first-line {
      background: inherit;
    }

    @include dark-theme {
      border-color: rgb(60, 60, 60);
      background-color: $dark-theme-bg-lighter;
      color: $this-task-text-color-dark;
      box-shadow: $whiteframe-shadow-6dp;
    }
  }

  &:last-child > .inner-wrapper {
    margin-bottom: 0;
  }
  .sub-tasks {
    margin: 0 $s;
  }

  &:focus {
    outline: none;
    z-index: 2;
  }
  &.as-sortable-dragging,
  &:focus > .inner-wrapper {
    color: #000000;

    // outline
    outline: 1px solid #000000;
    box-shadow: $this-active-shadow;
  }

  @include dark-theme {
    &:focus > .inner-wrapper {
      background-color: $dark-theme-bg-darker;
      color: #dddddd;

      // outline
      outline: 1px solid #ffffff;
    }
  }

  &.is-current > .inner-wrapper {
    background: $light-green;
    color: #000000;
  }
  @include dark-theme {
    &.is-current > .inner-wrapper {
      background-color: $dark-green;
      color: #ffffff;
    }
  }

  @include dark-theme {
    &.is-done {
      .time,
      .task-title {
        color: $dark-theme-text-color;
      }
      mat-icon {
        color: $dark-theme-text-color;
      }
    }
  }

  &.is-done {
    //opacity: 0.8;

    mat-icon {
      color: $this-task-text-color-done !important;
    }

    .time,
    .task-title {
      color: $this-task-text-color-done;
    }

    .task-title {
      text-decoration: line-through;
    }

    .play-btn {
      display: none;
    }
  }

  .title-bar-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    flex-grow: 1;
    flex-basis: 70%;
    @media(max-width: $layout-xs) {
      margin-bottom: 5px;
      flex-shrink: 0;
      flex-basis: 100%;
    }
  }

  .isNotesOpen > .first-line {
    //padding: 5px 0;
    .title {
      font-weight: bold;
    }
  }

  $this-button-spacer: 1px;
  $this-button-spacer-mobile: 1px;
  $this-button-size: 34px;
  $this-button-size-mobile: 34px;
  $this-icon-color: #545454;
  .toggle-sub-tasks-btn,
  .first-line .ico-btn {
    margin: $this-button-spacer;
    height: $this-button-size;
    width: $this-button-size;
    min-width: $this-button-size;
    min-height: $this-button-size;
    // this fixes the original link button icon for some reason
    line-height: $this-button-size + -1;
    padding: 0;
    box-shadow: $shadow-icon-button;
    border-radius: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 4;

    // theming
    border: 1px solid #dddddd;
    background: #ffffff !important;

    transition: transform $transition-standard;
    &:hover {
      z-index: 5;
      transform: scale(1.15);
    }
    &:focus {
      outline: none;
    }
  }

  .first-line {
    display: flex;
    flex-wrap: nowrap;
    user-select: none;
    justify-content: space-between;
    align-items: center;

    @media(max-width: $layout-xs) {
      flex-wrap: wrap;
    }

    .ico-btn {
      &.update-indicator-btn {
        margin-left: 12px;

        // TODO make it work
        .task-list .task-list & {
          margin: $this-button-spacer;
          margin-right: -2px;
        }
      }

      @include dark-theme {
        background: $dark-theme-bg-darker !important;
        border: 1px solid $dark-theme-bg;
      }

      @at-root {
        .task {
          .ico-btn:hover,
          .ico-btn.is-active,
          &.is-current .ico-btn.play-btn {
            background: #000000 !important;
            background: $this-icon-color !important;
            border-color: transparent;

            @include dark-theme {
              background: #ffffff !important;
            }

            > mat-icon {
              color: #ffffff !important;
              @include dark-theme {
                color: #000000 !important;
              }
            }
          }
        }
      }

      mat-icon {
        color: $this-icon-color;
        margin: 0;
        padding: 0;
        line-height: 1;
        @include dark-theme {
          color: $dark-theme-text-color-lighter;
        }
      }

      &.delete-btn {
        mat-icon.delete-icon {
          color: $red !important;
          @include dark-theme {
            color: $red !important;
          }
        }

        &:hover {
          background: $red-danger !important;
          mat-icon.delete-icon {
            color: #ffffff !important;
            @include dark-theme {
              color: #ffffff !important;
            }
          }
        }
      }

      @media(max-width: $layout-xs) {
        margin: $this-button-spacer-mobile;
        height: $this-button-size-mobile;
        width: $this-button-size-mobile;
        min-width: $this-button-size-mobile;
        min-height: $this-button-size-mobile;
        line-height: $this-button-size-mobile + -1;
      }
    }

    // Button Stuff
    mat-icon {
      color: #545454;
    }

    .play-btn {
      padding-left: 0;
      margin-left: -2px;
      margin-right: 3px;
      // move over original link btn
      position: relative;
      z-index: 1;
    }

    .show-notes-btn {
      mat-icon {
        transition: $transition-standard;
        backface-visibility: hidden;
      }

      &.is-active mat-icon {
        transform: rotate(45deg);
      }
    }
  }

  .controls {
    white-space: nowrap;
    text-align: right;
    margin-right: 2px;

    @media(max-width: $layout-xs) {
      white-space: normal;
      margin-left: 5px;
    }
  }

  .handle {
    margin: 0 4px 0 9px;
  }

  .task-title {
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex: 1 1 auto;
    flex-grow: 1;
    text-align: left;
    outline: none;
    margin-left: 4px;
    padding: 4px 0 4px 6px;
    line-height: 1.5;
    display: block;
    min-height: 20px;
    text-overflow: ellipsis;
    cursor: text;
    transition: $transition-leave;
    transition-property: opacity, transform;
    display: block;
    background: inherit;
    position: relative;
    overflow: visible;
    user-select: none;
    caret-color: #000000;
    z-index: 4;

    @include dark-theme() {
      caret-color: #ffffff;
    }

    &:after {
      background: #ffffff;
      transition: $transition-leave;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      box-shadow: $shadow-edit-on-click;
      opacity: 0;
      z-index: -1;
      border: 1px solid black;
      pointer-events: none;

      @include dark-theme() {
        background: $dark-theme-bg-darker;
        border: 1px solid #ffffff;
        box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.8), $whiteframe-shadow-13dp;
      }
    }

    &:focus {
      z-index: 5;
      user-select: all;
      // thee magic number is 16/14 so we scale to whole pixels
      transform: scale(1.142857143);
      transition: $transition-standard;

      .is-hide-controls & {
        transform-origin: center center;
        transform: scale(1.142857143) translateX(20px);
      }

      &:after {
        opacity: 1;
        transition: $transition-standard;
      }
      @media(max-width: $layout-xs) {
        transform: scale(1);
      }
    }
  }

  input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 30px;
    padding: 4px 10px;
    border: none;
  }

  .time {
    font-style: italic;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    @media(max-width: $layout-xs) {
      margin-left: 8px;
      font-size: 13px;
    }
  }

  .notes {
    display: block;
    overflow: hidden;
  }
}

.toggle-sub-tasks-btn {
  position: absolute !important;
  transform: scale(0.8);
  left: -23px;
  top: 1px;
  z-index: 2;
  min-width: 0;
  min-height: 0;

  // overwrite ripple transparency
}
