@import '../../../_variables.scss';

//$this-task-text-color: #333333;
//$this-task-text-color-dark: #dddddd;
$this-task-text-color-done: #aaaaaa;
$task-inner-padding-left-right: 6px;
$this-active-shadow: $whiteframe-shadow-6dp;

:host {
  display: block;
  position: relative;

  > .inner-wrapper {
    padding: 2px 0;
    margin-bottom: 7px;
    //color: $this-task-text-color;
    position: relative;
    box-shadow: $shadow-card-shadow;
    //box-shadow: $shadow-bottom-boxed;
    border-radius: $card-border-radius;
    .title-bar-wrapper,
    .first-line {
      background: inherit;
    }
  }

  &:last-child > .inner-wrapper {
    margin-bottom: 0;
  }
  .sub-tasks {
    margin: 0 $s;
  }

  //> .inner-wrapper:after {
  //content: '';
  //border-width: 2px;
  //position: absolute;
  //top: 0;
  //width: 100%;
  //height: 100%;
  //box-sizing: border-box;
  ////transition:  $transition-standard;
  //transition-property: opacity;
  //opacity: 0;
  //border-style: solid;
  //box-shadow: $this-active-shadow;
  ////box-shadow: $whiteframe-shadow-24dp;
  //}
  &:focus {
    z-index: 4;
    > .inner-wrapper {
      outline: 2px dashed $c-accent;
      outline-style: dashed !important;
    }
  }

  &.isCurrent > .inner-wrapper {
    background: $c-accent;
    box-shadow: $this-active-shadow;

    .first-line {
      color: #ffffff;
    }
  }

  &.is-done {
    //opacity: 0.8;
    .time,
    .task-title {
      color: $this-task-text-color-done;
    }

    .task-title {
      text-decoration: line-through;
    }

    .play-btn {
      display: none;
    }
  }

  .title-bar-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    flex-grow: 1;
    flex-basis: 70%;
    @media(max-width: $layout-xs) {
      margin-bottom: 5px;
      flex-shrink: 0;
      flex-basis: 100%;
    }
  }

  .isNotesOpen > .first-line {
    .title {
      font-weight: bold;
    }
  }

  $this-button-spacer: 1px;
  $this-button-spacer-mobile: 1px;
  $this-button-size: 34px;
  $this-button-size-mobile: 34px;
  $this-icon-color: #545454;
  .toggle-sub-tasks-btn,
  .first-line .ico-btn {
    margin: 0 $this-button-spacer;
    padding: 0;
    z-index: 4;
    transition: transform $transition-standard;
    &:hover {
      z-index: 5;
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }

    //&:after {
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //  bottom: 0;
    //  left: 0;
    //  content: '';
    //  border: 1px solid #dddddd;
    //  border-radius: 100%;
    //}
  }

  .first-line {
    display: flex;
    flex-wrap: nowrap;
    user-select: none;
    justify-content: space-between;
    align-items: center;

    @media(max-width: $layout-xs) {
      flex-wrap: wrap;
    }
  }

  .ico-btn {
    &.delete-btn {
      mat-icon.delete-icon {
        color: $red !important;
        @include dark-theme {
          color: $red !important;
        }
      }

      &:hover {
        background: $red-danger !important;
        mat-icon.delete-icon {
          color: #ffffff !important;
          @include dark-theme {
            color: #ffffff !important;
          }
        }
      }
    }
  }

  // Button Stuff
  .play-btn {
    padding-left: 0;
    margin-left: -2px;
    margin-right: 3px;
    // move over original link btn
    position: relative;
    z-index: 1;
  }

  .show-notes-btn {
    mat-icon {
      transition: $transition-standard;
      backface-visibility: hidden;
    }

    &.isActive mat-icon {
      transform: rotate(45deg);
    }
  }

  .controls {
    white-space: nowrap;
    text-align: right;
    margin-right: 2px;

    @media(max-width: $layout-xs) {
      white-space: normal;
      margin-left: 5px;
    }
  }

  .handle {
    margin: 0 4px 0 9px;
    position: relative;
    z-index: 3;
    cursor: grab;

    &:after {
      content: '';
      top: -$s;
      bottom: -$s;
      left: -$s;
      right: 0;
      position: absolute;
    }
  }

  .task-title {
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex: 1 1 auto;
    flex-grow: 1;
    text-align: left;
    outline: none;
    margin-left: 4px;
    padding: 4px 0 4px 6px;
    line-height: 1.5;
    min-height: 20px;
    text-overflow: ellipsis;
    cursor: text;
    transition: $transition-leave;
    transition-property: opacity, transform;
    display: block;
    background: inherit;
    position: relative;
    overflow: visible;
    user-select: none;
    caret-color: #000000;
    z-index: 4;

    @include dark-theme() {
      caret-color: #ffffff;
    }

    &:after {
      background: #ffffff;
      transition: $transition-leave;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      box-shadow: $shadow-edit-on-click;
      opacity: 0;
      z-index: -1;
      border: 1px solid black;
      pointer-events: none;

      @include dark-theme() {
        background: $dark-theme-bg-darker;
        border: 1px solid #ffffff;
        box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.8), $whiteframe-shadow-13dp;
      }
    }

    &:focus {
      z-index: 5;
      user-select: all;
      // thee magic number is 16/14 so we scale to whole pixels
      transform: scale(1.142857143);
      transition: $transition-standard;

      .is-hide-controls & {
        transform-origin: center center;
        transform: scale(1.142857143) translateX(20px);
      }

      &:after {
        opacity: 1;
        transition: $transition-standard;
      }
      @media(max-width: $layout-xs) {
        transform: scale(1);
      }
    }
  }

  input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 30px;
    padding: 4px 10px;
    border: none;
  }

  .time {
    font-style: italic;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    @media(max-width: $layout-xs) {
      margin-left: 8px;
      font-size: 13px;
    }
  }

  .notes {
    display: block;
    overflow: hidden;
  }
}

.toggle-sub-tasks-btn {
  position: absolute !important;
  transform: scale(0.8);
  left: -23px;
  top: 1px;
  z-index: 2;
  min-width: 0;
  min-height: 0;

  // overwrite ripple transparency
}
