$this-size: 120px;
$this-extra-touch-space: 14px;
$this-border-width: 2px;
$this-margin: $this-extra-touch-space;
$this-handle-size: 20px;

duration-input-slider {
  overflow: hidden;
  display: block;
  user-select: none;
  width: $this-size+$this-margin*2;

  .circle {
    margin: $this-margin;
    width: $this-size;
    height: $this-size;
    border-radius: 100%;
    border: $this-border-width solid #333333;
    position: relative;
    box-shadow: $whiteframe-shadow-2dp;
    background: #fff;
    @include dark-theme(){
      background: $dark-theme-bg-darker;
      border-color: transparent;
    }

    cursor: grab;
    &:after {
      content: '';
      position: absolute;
      top: -$this-extra-touch-space;
      right: -$this-extra-touch-space;
      left: -$this-extra-touch-space;
      bottom: -$this-extra-touch-space;
    }
  }

  &.is-dragging .circle {
    cursor: grabbing;
  }

  $this-handle-border-width: 4px;
  .handle-wrapper {
    cursor: grab;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;
    &:before {
      border-radius: 100%;
      content: '';
      border-top: $this-handle-border-width solid #333333;
      // get rid of whitespace
      top: -1px;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }
    &:after {
      content: '';
      position: absolute;
      top: -$this-extra-touch-space;
      right: -$this-extra-touch-space;
      left: -$this-extra-touch-space;
      bottom: -$this-extra-touch-space;
    }
  }

  .handle {
    background: $c-accent;
    left: calc(50% - #{$this-handle-size/2});
    position: absolute;
    top: -$this-handle-size/2;
    transform-origin: 50% 100%;
    height: $this-handle-size;
    width: $this-handle-size;
    border-radius: 100%;
    cursor: grabbing;
  }

  .value-wrapper {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 82%;
    transform: translate3d(-50%, -50%, 0);
    overflow: visible;
  }

  &.is-dragging {
    .value-wrapper {
      z-index: 1;
      pointer-events: none;
    }
  }

  .value {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    font-size: 17px;
    cursor: text;
    transition: all .20s $ease-in-out-quint;
    transition-property: opacity, transform;
    display: block;
    position: relative;
    overflow: visible;
    user-select: none;
    caret-color: #000000;
    backface-visibility: hidden;
    transform: translateZ(0);
    z-index: 4;
    background: #ffffff;
    border: 1px solid #333333;

    @include dark-theme() {
      color: #ffffff;
      background: $dark-theme-bg-darker;
      border: 1px solid #ffffff;
    }

    @include dark-theme() {
      caret-color: #ffffff;
    }

    &:focus {
      z-index: 5;
      background: #ffffff;
      user-select: all;
      transform: scale(1.1);
      &:after {
        opacity: 1;
      }

      @media(max-width: $layout-xs) {
        transform: scale(1.05);
      }
    }

    &:focus {
      + label {
      }
    }
  }

  label {
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: $transition-duration-xs ease-out;
    backface-visibility: hidden;
  }

}