@import '../../../../variables';

.row {
  display: flex;
  margin-bottom: $s * 3;
  border: 4px solid $light-theme-extra-border-color;
  padding: $s * 2;
  box-shadow: $whiteframe-shadow-2dp;
  border-radius: 4px;
  position: relative;

  @include darkTheme() {
    background: $dark-theme-bg-slightly-lighter;
    border-color: $dark-theme-extra-border-color;
  }
}

.field {
  flex-grow: 1;
}

.remove-btn {
  position: absolute;
  right: $s;
  top: $s;
}
