<div class="list-wrapper"
     [@standardList]="field.fieldGroup?.length">
  <div *ngFor="let innerField of field.fieldGroup; let i = index; trackBy: trackByFn;"
       class="row">
    <formly-field class="field"
                  [field]="innerField"></formly-field>

    <button mat-mini-fab
            type="button"
            color="warn"
            (click)="removeItem(i)">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>

<div class="footer">
  <button mat-button
          type="button"
          (click)="addItem()">
    <mat-icon>add</mat-icon>
    {{ to.addText | translate}}</button>
</div>
