@import '../../../../variables';

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: stretch;
  flex-flow: row;
}

mat-icon {
  margin-right: $s;
  color: $red;
}

.message {
  flex: 1;
}

.button-wrapper{
  margin-left: auto;
}

button {
  margin: 0;
  margin-left: 1.5* $s;
}
