@switch (icoType) {
<!-- -->
@case ('REPEAT') {
<mat-icon
  svgIcon="repeat"
  class="ico"
  inline="true"
></mat-icon>
} @case ('PLANNED_FOR_DAY') {
<mat-icon
  class="ico"
  inline="true"
  >calendar_today
</mat-icon>
} @case ('SCHEDULED_TASK') {
<mat-icon
  class="ico"
  inline="true"
  >alarm
</mat-icon>
} @case ('FLOW') {
<!--<div class="fake-ico">~</div>-->
<mat-icon
  class="ico"
  inline="true"
  >wb_sunny
</mat-icon>
} @case ('LUNCH_BREAK') {
<mat-icon
  class="ico"
  inline="true"
  >restaurant
</mat-icon>
}
<!--- --->
@default {
<div class="fake-ico"></div>
}
<!--- --->

}
<!--- -->

@if (se.type === SVEType.ScheduledTask) {
<button
  mat-mini-fab
  color="primary"
>
  <mat-icon>alarm</mat-icon>
</button>
}

<div class="title">
  <!--  {{ startClockString }}-->
  <!--  {{se.id}} __ {{se.data?.id}} __-->
  <!-- -->
  @if (se.type === SVEType.SplitTaskContinuedLast || se.type ===
  SVEType.SplitTaskContinued || se.type === SVEType.RepeatProjectionSplitContinued ||
  se.type === SVEType.RepeatProjectionSplitContinuedLast) { ...
  <!-- -->
  } @else { {{ se.title }} }
</div>
