@import '../../../../variables.scss';

$split-extra-border-radius: 20px;

:host {
  border-radius: 8px;
  margin-right: 10px;

  line-height: 1;
  min-height: 20px;
  display: flex;
  align-items: flex-start;
  // TODO evaluate
  margin-bottom: 3px;
  border: 1px solid $light-theme-separator-color;
  border-color: transparent;
  background: #fff;
  color: $light-theme-text-color;
  overflow: hidden;
  position: relative;

  &:hover {
    z-index: 3;
    overflow: visible;
  }

  @include darkTheme() {
    border-color: $dark-theme-separator-color;
    background: $dark-theme-bg-slightly-lighter;
    color: $dark-theme-text-color;
  }

  &.split-start {
    border-radius: $split-extra-border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: dashed;
  }

  &.split-continued {
    border-radius: $split-extra-border-radius;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: dashed;
    border-top-style: dashed;
  }

  &.split-continued-last {
    border-radius: $split-extra-border-radius;
    border-top-style: dashed;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.fake-ico,
.ico {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  min-width: 14px;
  margin-left: 4px;
  margin-top: 5px;
}

.fake-ico {
  text-align: center;
  font-weight: bold;
}

.title {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 4px;

  &:hover {
    box-shadow: $whiteframe-shadow-3dp;
    background: inherit;
    //border: 1px solid $light-theme-separator-color;
    border-radius: 4px;
  }
}
