.project-section {
  margin-top: var(--s);
  margin-bottom: var(--s3);
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 2px solid;

  border-color: var(--extra-border-color);

  mat-icon {
    margin: 0 var(--s-half);
  }

  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
}
