@import "../../../../variables";

.project-section {
  margin-top: $s*2;
  margin-bottom: $s*3;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 2px solid #000000;

  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
}
