<help-section>
  <p>The pomodoro timer can be configured via a couple of settings. The duration of every work session, the duration of normal breaks, the number of work sessions to run before a longer break is started and the duration of this longer break.</p>
  <p>You can also set if you want to display your distractions during your pomodoro breaks.</p>
  <p>Setting "Pause time tracking on pomodoro break" will also track your breaks as work time spent on a task. Setting "Pause time tracking on
    <strong>longer</strong> pomodoro break" will do the same for the longer breaks.</p>
  <p>Enabling "Pause pomodoro session when no active task" will also pause the pomodoro session, when you pause a task.</p>
</help-section>

<div>
  <md-switch ng-model="vm.settings.isEnabled"
             ng-change="vm.onIsEnabledChange(vm.settings.isEnabled)"
             aria-label="Enable Pomodoro Timer">
    Enable Pomodoro Timer
  </md-switch>
</div>

<div ng-show="vm.settings.isEnabled">
  <md-input-container class="md-block md-icon-float">
    <label>Work Session Duration</label>
    <ng-md-icon icon="timer"
                aria-label="timer"></ng-md-icon>
    <input type="text"
           input-duration
           ng-model="vm.settings.duration">
  </md-input-container>

  <md-input-container class="md-block md-icon-float">
    <label>Break Duration</label>
    <ng-md-icon icon="timer"
                aria-label="timer"></ng-md-icon>
    <input type="text"
           input-duration
           ng-model="vm.settings.breakDuration">
  </md-input-container>

  <md-input-container class="md-block md-icon-float">
    <label>Longer Break Duration</label>
    <ng-md-icon icon="timer"
                aria-label="timer"></ng-md-icon>
    <input type="text"
           input-duration
           ng-model="vm.settings.longerBreakDuration">
  </md-input-container>

  <md-input-container class="md-block">
    <label>Cycles for longer break</label>
    <input type="text"
           ng-model="vm.settings.cyclesBeforeLongerBreak">
  </md-input-container>

  <div>
    <md-switch ng-model="vm.settings.isGoToWorkView"
               aria-label="Go to work view when starting a session">
      Go to work view when starting a session
    </md-switch>
  </div>
  <div>
    <md-switch ng-model="vm.settings.isManualContinue"
               aria-label="Manually confirm continuing session after break ">
      Manually confirm continuing session after break
    </md-switch>
  </div>
  <div>
    <md-switch ng-model="vm.settings.isStopTrackingOnBreak"
               aria-label="Pause time tracking on pomodoro break">
      Pause time tracking on pomodoro break
    </md-switch>
  </div>

  <div>
    <md-switch ng-model="vm.settings.isStopTrackingOnLongBreak"
               aria-label="Pause time tracking on longer pomodoro break">
      Pause time tracking on <strong>longer</strong> pomodoro break
    </md-switch>
  </div>

  <div>
    <md-switch ng-model="vm.settings.isPlaySound"
               aria-label="Play sound when session done">
      Play sound when session done
    </md-switch>
  </div>

  <div>
    <md-switch ng-model="vm.settings.isShowDistractionsOnBreak"
               aria-label="Show distractions on break">
      Show distractions on break
    </md-switch>
  </div>
</div>
