daily-summary {

}

.task-summary-table {
  background: #fff;
  border-collapse: collapse;
  body.dark-theme & {
    background: $dark-theme-bg-lighter;
    color: #fff;
  }
  tr {
    &.is-done {
      text-decoration: line-through;
    }
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 4px 8px;
  }

  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5) {
    text-align: right;
  }
}