daily-summary {
  @extend %centered-component;
}

md-input-container {
  text-align: left;
}

.task-summary-table {
  width: 100%;
  background: #ffffff;
  margin: auto;
  border-collapse: collapse;
  body.dark-theme & {
    background: $dark-theme-bg-lighter;
    color: #ffffff;
  }
  tr {
    &.is-done {
      text-decoration: line-through;
    }

    &:first-child {
      td,
      th {
        border-top: 0;
      }
    }
    &:last-child {
      td,
      th {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    border: 1px solid #dddddd;
    padding: 4px 8px;

    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }

  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5) {
    text-align: right;
  }
}