daily-summary {
  @extend %centered-component;
}

md-input-container {
  text-align: left;
}

.task-summary-table {
  width: 100%;
  background: #ffffff;
  margin: auto;
  border-collapse: collapse;
  body.dark-theme & {
    background: $dark-theme-bg-lighter;
    color: #ffffff;
  }
  tr {
    &.is-done {
      text-decoration: line-through;
    }

    &:first-child {
      td,
      th {
        border-top: 0;
      }
    }
    &:last-child {
      td,
      th {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    border: 1px solid #dddddd;
    padding: 4px 8px;

    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }

  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5) {
    text-align: right;
  }
}

.success-animation-wrapper {
  $this-ico-size: 64px;
  clear: both;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: $this-ico-size/-2;
  margin-top: $this-ico-size/2;
  animation: success-animation 0.6s ease-out infinite;
  transform: scale(20);

  ng-md-icon {
    width: $this-ico-size;
    height: $this-ico-size;
    display: block;
    fill: $yellow !important;
    font-size: 30px;
    svg {
      width: $this-ico-size;
      height: $this-ico-size;
    }
  }
}

@keyframes success-animation {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}