<div layout="row"
     layout-sm="column"
     layout-align="center center">
  <md-button class="md-raised md-primary"
             aria-label="Work View"
             ui-sref="work-view">
    <md-tooltip md-direction="bottom">
      Go back to work view
    </md-tooltip>
    <ng-md-icon icon="playlist_play"></ng-md-icon>
    Wait I forgot something!
  </md-button>
</div>
<h1 class="md-headline">You're done for today! Take a moment to celebrate!</h1>

<p>
  <ng-md-icon icon="check"></ng-md-icon>
  Tasks completed: <strong><span ng-bind="vm.doneTasks.length"></span>/<span ng-bind="r.tasks.length"></span></strong>
</p>
<p>
  <ng-md-icon icon="timer"></ng-md-icon>
  Total time spent on today's task: <strong ng-bind="vm.totalTimeSpentTasks|duration"></strong></p>
<p>
  <ng-md-icon icon="timer"></ng-md-icon>
  Total time spent today: <strong ng-bind="vm.totalTimeSpentToday|duration"></strong></p>

<h2 class="md-title">These are the tasks you worked on today</h2>

<table class="task-summary-table">
  <tr>
    <th>Title</th>
    <th>Sub-Tasks</th>
    <th>Time spent today</th>
    <th>Time spent total</th>
    <th>Time esti.</th>
    <th></th>
  </tr>

  <tr ng-repeat="task in r.tasks"
      ng-class="{'is-done': task.isDone}">
    <td ng-bind="task.title"></td>
    <td>
      <span ng-repeat="task in task.subTasks"><span ng-bind="task.title"></span>: <span ng-bind="task.timeSpentOnDay[vm.todayStr]|duration"></span><br></span>
    </td>
    <td ng-bind="task.timeSpentOnDay[vm.todayStr] |duration"></td>
    <td ng-bind="task.timeSpent |duration"></td>
    <td ng-bind="task.timeEstimate |duration"></td>
    <td>
      <ng-md-icon icon="check"
                  ng-show="task.isDone"
                  style="fill:green;"
                  aria-label="checkmark"></ng-md-icon>
    </td>
  </tr>
</table>
<md-button class="md-raised md-primary"
           style="margin-top: 15px;"
           ng-click="vm.showExportModal()">
  <ng-md-icon icon="call_made"></ng-md-icon>
  Export Task List for Today
</md-button>


<section class="distractions"
         ng-if="r.distractions.length > 0">
  <distraction-list></distraction-list>
</section>


<section class="commits"
         ng-if="vm.commitLog">
  <h2 class="md-title">Todays commits</h2>
  <pre><code ng-bind="::vm.commitLog"></code></pre>
</section>

<h2 class="md-title">
  <ng-md-icon icon="speaker_notes"></ng-md-icon>
  Make a note for your tomorrow's self
</h2>
<p>This is meant to be a takeaway to be even more productive and happy tomorrow. E.g.: What did you learn today? What do you want to do better/smarter tomorrow? What do you want to achieve and why?</p>
<p>Think a second and reflect on the day.</p>

<md-input-container class="md-block"
                    flex-gt-sm>
  <label>Your personal tomorrow's note</label>
  <textarea ng-model="vm.tomorrowsNote"
            md-auto-focus
            rows="4"></textarea>
</md-input-container>

<div layout-wrap
     layout-gt-sm="row">
  <div flex-gt-sm="50">
    <md-checkbox ng-init="vm.clearDoneTasks = true;"
                 ng-model="vm.clearDoneTasks"
                 aria-label="Clear done tasks">
      Clear done tasks (Move to Done-Backlog)
    </md-checkbox>
  </div>
  <div flex-gt-sm="50">
    <md-checkbox ng-model="vm.moveUnfinishedToBacklog"
                 aria-label="Move unfinished tasks to backlog">
      Move unfinished tasks back to backlog
    </md-checkbox>
  </div>
</div>


<div layout="row"
     layout-sm="column"
     layout-align="center center">
  <md-button class="md-raised md-primary"
             ng-click="vm.finishDay()">
    <ng-md-icon icon="wb_sunny"></ng-md-icon>
    <span ng-show="vm.clearDoneTasks">Clear done tasks, save and go home</span>
    <span ng-show="!vm.clearDoneTasks">Save and go home</span>
  </md-button>
</div>

<div class="success-animation-wrapper"
     ng-show="vm.showSuccessAnimation">
  <ng-md-icon icon="wb_sunny"></ng-md-icon>
</div>
