@import '../../../../variables.scss';

:host,
:host * {
  -webkit-tap-highlight-color: transparent;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  user-select: none;

  :host-context([dir='rtl']) {
    direction: rtl;
  }

  mat-form-field {
    width: 100%;
  }
}

:host {
  min-width: 320px;
  max-width: 320px;
  display: block;

  @media (min-width: 370px) {
    min-width: 360px;
    max-width: 360px;
  }

  @media (min-width: 390px) {
    min-width: 380px;
    max-width: 380px;
  }

  ::ng-deep .mat-calendar-header {
    padding-top: 0;
  }

  ::ng-deep .mat-calendar-body-selected {
    //background: transparent;
    //background: rgba(0,0,0,.1);
  }

  ::ng-deep .mat-calendar-body-cell:focus .mat-calendar-body-cell-content {
    outline: 2px solid $c-accent;
    background: $c-primary;
  }
}

:host h4 {
  text-align: center;
  padding-top: 16px;
  font-size: 14px;
  font-weight: bold;
}

.form-ctrl-wrapper {
  margin: 0 16px;
  margin-top: 16px;
  //border-top: 1px solid $light-theme-separator-color;

  @include darkTheme() {
    border-color: $dark-theme-separator-color;
  }
}

.msg {
  text-align: center;
  font-weight: bold;
  padding: 16px 0;
}

:host ::ng-deep .mat-calendar-body-today {
  &:before {
    @include materialIcon('wb_sunny');
    top: 14px;
  }
}

.quick-access {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid $light-theme-extra-border-color;
  height: 48px;
  @include darkTheme() {
    border-color: $dark-theme-extra-border-color;
  }

  > button {
    height: 48px;
    flex-grow: 1;
    border-radius: 4px !important;

    ::ng-deep .mat-mdc-button-persistent-ripple {
      border-radius: 4px !important;
    }
  }

  button + button {
    border-left: 1px solid $light-theme-extra-border-color;
    @include darkTheme() {
      border-color: $dark-theme-extra-border-color;
    }
  }
}
