<!--<h4>{{ T.F.PLANNER.D.PLAN_FOR_DAY.TITLE|translate }}</h4>-->
<!--<h4 class="hide-xs">Schedule Task {{ selectedTime ? 'with Time' : 'for Day' }}</h4>-->

<div class="quick-access">
  <!--  <button-->
  <!--    mat-icon-button-->
  <!--    (click)="quickAccessBtnClick(0)"-->
  <!--    [matTooltip]="'Schedule Today'"-->
  <!--  >-->
  <!--    <mat-icon>history</mat-icon>-->
  <!--  </button>-->
  <button
    mat-icon-button
    (click)="quickAccessBtnClick(0)"
    [matTooltip]="'Schedule Today'"
  >
    <mat-icon>wb_sunny</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="quickAccessBtnClick(1)"
    [matTooltip]="'Schedule Tomorrow'"
  >
    <mat-icon svgIcon="tomorrow"></mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="quickAccessBtnClick(2)"
    [matTooltip]="'Schedule Next Week'"
  >
    <mat-icon svgIcon="next_week"></mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="quickAccessBtnClick(3)"
    [matTooltip]="'Schedule Next Month'"
  >
    <mat-icon>bedtime</mat-icon>
  </button>
</div>

<mat-calendar
  (keydown)="onKeyDownOnCalendar($event)"
  [selected]="selectedDate"
  [minDate]="minDate"
  (selectedChange)="dateSelected($event)"
  #calendar
></mat-calendar>

<div class="form-ctrl-wrapper">
  <mat-form-field class="example-full-width">
    <mat-label>Time</mat-label>
    <mat-icon matPrefix>schedule</mat-icon>
    <input
      type="time"
      (focus)="onTimeFocus()"
      [(ngModel)]="selectedTime"
      step="60"
      matInput
      (keydown)="onTimeKeyDown($event)"
    />
    <mat-icon
      style="cursor: pointer"
      *ngIf="selectedTime"
      matSuffix
      (click)="onTimeClear($event)"
      >close
    </mat-icon>
  </mat-form-field>

  <mat-form-field
    [@expandFade]
    *ngIf="selectedTime"
  >
    <mat-icon matPrefix>alarm</mat-icon>

    <mat-label>{{ (T.F.TASK.D_REMINDER_ADD.REMIND_AT|translate) }}</mat-label>
    <mat-select
      [(ngModel)]="selectedReminderCfgId"
      name="type"
      required="true"
    >
      @for (remindOption of remindAvailableOptions; track remindOption.value) {
      <mat-option [value]="remindOption.value">
        {{ (remindOption.label|translate) }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<mat-dialog-actions align="end">
  <button
    color="primary"
    mat-button
    type="button"
    (click)="close()"
  >
    {{ T.G.CANCEL|translate }}
  </button>
  @if (data.task.plannedAt || (plannedDayForTask && plannedDayForTask !== todayStr)) {
  <button
    (click)="remove()"
    color="warn"
    mat-stroked-button
  >
    <mat-icon>delete_forever</mat-icon>
    Remove
    <!--    {{ T.F.PLANNER.D.PLAN_FOR_DAY.REMOVE_PLAN_DATE|translate }}-->
  </button>
  }

  <button
    color="primary"
    mat-stroked-button
    (click)="submit()"
  >
    @if (selectedTime) {
    <mat-icon>alarm</mat-icon>
    } @else {
    <mat-icon>today</mat-icon>
    } Schedule
    <!--    {{ selectedTime ? T.F.PLANNER.D.PLAN_FOR_DAY.SCHEDULE_WITH_TIME|translate :-->
    <!--    T.F.PLANNER.D.PLAN_FOR_DAY.SCHEDULE_FOR_DAY|translate }}-->
  </button>
</mat-dialog-actions>
