@import '../../../../variables';

:host {
  //text-align: center;
}

.note-wrapper {
  margin-bottom: 0;
}

.note {
  text-align: left;
  position: relative;
  z-index: 1;
  margin-bottom: $s;
  display: block;
}

.mat-dialog-content {
}
