<h1 mat-dialog-title>
  <mat-icon class="dialog-header-icon">alarm</mat-icon>
  <span>Note</span>
</h1>

<mat-dialog-content>
  <div class="note"
       *ngIf="isForCurrentProject">
    {{(note$|async)?.content }}
  </div>

  <ng-container *ngIf="!isForCurrentProject">
    <p>From Project</p>
    <h3>{{(targetProject$|async)?.title}}</h3>
    <div class="note">
      {{reminder.title }}
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="wrap-buttons">
    <button color="primary"
            (click)="snooze()"
            type="button"
            mat-stroked-button>
      <mat-icon>snooze</mat-icon>
      Snooze for 10m
    </button>

    <button color="primary"
            (click)="dismiss()"
            type="button"
            mat-stroked-button>
      <mat-icon>clear</mat-icon>
      Dismiss
    </button>
  </div>
</mat-dialog-actions>
