<h1 mat-dialog-title>
  <mat-icon class="dialog-header-icon">alarm</mat-icon>
  <span>{{T.F.NOTE.D_VIEW_REMINDER.TITLE|translate}}</span>
</h1>

<mat-dialog-content>
  <div *ngIf="isForCurrentProject"
       class="note">
    {{(note$|async)?.content }}
  </div>

  <ng-container *ngIf="!isForCurrentProject">
    <p>From Project</p>
    <h3>{{(targetProject$|async)?.title}}</h3>
    <div class="note">
      {{reminder.title }}
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="wrap-buttons">
    <button (click)="snooze()"
            color="primary"
            mat-stroked-button
            type="button">
      <mat-icon>snooze</mat-icon>
      {{T.F.NOTE.D_VIEW_REMINDER.SNOOZE|translate:{time: '10m'} }}
    </button>

    <button (click)="dismiss()"
            color="primary"
            mat-stroked-button
            type="button">
      <mat-icon>clear</mat-icon>
      {{T.G.DISMISS|translate}}
    </button>
  </div>
</mat-dialog-actions>
