<!--<h2 mat-dialog-title>You have </h2>-->


<form (submit)="track()">
  <div class="dialog-content"
       mat-dialog-content>
    <p>You have been idle for <strong>{{data.idleTime$|async|msToString:true}}</strong>.</p>

    <p>Track to: <strong>{{(lastCurrentTask$|async)?.title}} {{!(lastCurrentTask$|async)&&'No task selected'}}</strong>
    </p>
    <!--<p>Select the task you want to track the time for, or just press cancel if you don't want to track the time.</p>-->
  </div>


  <div mat-dialog-actions
       align="end">
    <button mat-raised-button
            type="submit"
            color="primary">
      <mat-icon>timer</mat-icon>
      Track time
    </button>

    <!--<button mat-raised-button-->
    <!--type="button"-->
    <!--(click)="trackButResetBreakTimer()"-->
    <!--color="primary">-->
    <!--<mat-icon>timer</mat-icon>-->
    <!--Track but reset break timer-->
    <!--</button>-->

    <button mat-raised-button
            (click)="close()"
            type="button">
      <mat-icon>close</mat-icon>
      Don't track
    </button>
  </div>
</form>
