@use '../../../../styles/_globals.scss' as *;

:host {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-auto-rows: 1fr;
  gap: 16px;
  padding: 16px;
  max-height: 100%;
  min-height: 100%;
  position: relative;
  overflow: auto;

  @include mq(xs, max) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.empty-board-msg,
.missing-tags-msg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .msg {
    margin-bottom: 16px;
  }
}
