@if (missingTagIds().length) {
  <div class="missing-tags-msg-wrapper">
    <div class="msg">
      {{ T.F.BOARDS.V.MISSING_TAGS_MSG | translate: { nr: missingTagIds().length } }}
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="createTags()"
    >
      {{ T.F.BOARDS.V.MISSING_TAGS_BTN | translate }}
    </button>
  </div>
} @else {
  @if (boardCfg().panels.length === 0) {
    <div class="empty-board-msg">
      <div class="msg">{{ T.F.BOARDS.V.NO_PANELS_MSG | translate }}</div>
      <button
        color="primary"
        mat-raised-button
        (click)="editBoard()"
      >
        <mat-icon>edit</mat-icon>
        {{ T.F.BOARDS.V.NO_PANELS_BTN | translate }}
      </button>
    </div>
  }

  @for (panel of boardCfg().panels; track panel.id) {
    <div class="panel">
      <header>
        <div class="title">{{ panel.title | translate }}</div>
        <button
          mat-icon-button
          (click)="editBoard()"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <!--        <button mat-icon-button>-->
        <!--          <mat-icon>more_vert</mat-icon>-->
        <!--        </button>-->
      </header>
      <board-task-list [panelCfg]="panel"></board-task-list>
    </div>
  }
}
