<mat-dialog-content>
  <div class="mat-dialog-content">
    <h2 class="mat-title"
        style="margin-top: 0">Overwrite unsaved data on Google Drive?</h2>
    <p>There seem to be some changes on Google Drive, that you don't have locally. Do you want to overwrite them anyway?</p>
    <table>
      <tr>
        <td>Last modification of remote data:</td>
        <td>{{data.remoteModified}}</td>
      </tr>
      <tr>
        <td>Last modification of local data:</td>
        <td>{{data.lastActiveLocal}}</td>
      </tr>
      <tr>
        <td>Last sync to remote from this app instance:</td>
        <td>{{data.lastSyncToRemote}}</td>
      </tr>
    </table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button=""
          (click)="data.saveToRemote();close()"
          color="primary">
    <mat-icon>file_upload</mat-icon>
    Overwrite remote data
  </button>
  <button mat-raised-button=""
          (click)="data.loadFromRemote();close()">
    <mat-icon>file_download</mat-icon>
    Overwrite local data
  </button>
  <button mat-raised-button=""
          (click)="data.cancel();close()"
          color="warn">
    Cancel
  </button>
</mat-dialog-actions>
