@import '../../../../variables';

.add-task-bar-wrapper {
  margin: $s*1.5 auto $s*1.5;
  max-width: 628px;
}

:host::ng-deep .hover-controls {
  .task-done-btn,
  .start-task-btn {
    display: none !important;
  }
}
