@import '../../../../variables';

:host ::ng-deep .wrap-add-planned {
  margin-top: 2 * $s;
}

.add-task-bar-wrapper {
  margin: $s * 1.5 auto $s * 1.5;
  max-width: 628px;
}

:host::ng-deep .hover-controls {
  .task-done-btn,
  .start-task-btn {
    display: none !important;
  }
}

.estimate-total {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  vertical-align: middle;

  .label {
    margin-right: $s;
  }

  .no-wrap {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
