<ng-container *ngIf="timelineDays$|async as timelineDays else loading">
  <div
    class="days-grid"
    *ngIf="timelineDays.length"
  >
    @for (day of timelineDays; track day.dayDate) {
    <timeline-day [timelineDay]="day"></timeline-day>
    }
  </div>
  <div
    *ngIf="timelineDays.length === 0"
    class="no-tasks-msg"
  >
    {{ T.F.TIMELINE.NO_TASKS|translate }}
  </div>

  <div class="fab-wrapper show-xs-only">
    <button
      mat-fab
      color="primary"
      (click)="layoutService.showAddTaskBar()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-container>

<ng-template #loading>
  <mat-spinner style="margin: auto"></mat-spinner>
</ng-template>
