@import '../../../../variables.scss';

:host {
  overflow: auto;
  display: flex;
  flex-grow: 1;
  padding: 4px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 100%;
  // make room for fab-wrapper
}

.days-grid {
  flex-grow: 1;

  > timeline-day {
    display: block;
    @include mq(xs) {
      min-width: 480px;
    }
  }

  @include mq(xs) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 16px;
    box-sizing: border-box;
    padding-right: 20px;
    overflow: auto;
    gap: 32px;
  }
}

.no-tasks-msg {
  margin-top: $s * 3;
  padding: 0 $s * 2;
  text-align: center;
  width: 100%;
}
