<div class="focus-btn-wrapper">
  @if (isSessionRunning()) {
    <progress-circle
      [progress]="
        mode() === FocusModeMode.Countdown || mode() === FocusModeMode.Pomodoro
          ? progress()
          : null
      "
      [isPulsing]="mode() === FocusModeMode.Flowtime"
    ></progress-circle>
  }

  <button
    mat-icon-button
    matTooltip="{{ T.MH.ENTER_FOCUS_MODE | translate }} {{
      kb().goToFocusMode ? '[' + kb().goToFocusMode + ']' : ''
    }}"
    [color]="isSessionRunning() ? 'accent' : ''"
    (click)="enableFocusMode()"
  >
    <mat-icon>center_focus_strong</mat-icon>
  </button>

  @if (focusSummaryToday()?.total) {
    <div class="focus-label">
      {{ focusSummaryToday()?.total | msToMinuteClockString }}
    </div>
  }
</div>
