<help-section>
  <p>Select the theme you want to use. Themes are always saved on project level, which means that you can use different themes for different projects.</p>
</help-section>

<h2 class="md-caption">
  <ng-md-icon icon="color_lens"></ng-md-icon>
  Select Theme
</h2>

<md-select ng-model="vm.selectedTheme"
           placeholder="Select a theme">
  <md-option ng-repeat="themeName in vm.themes"
             ng-value="themeName"
             ng-bind="themeName">
  </md-option>
</md-select>
<div>
  <md-switch ng-model="vm.isDarkTheme"
             aria-label="Use dark theme">
    Use dark theme
  </md-switch>
</div>
