.content {
  margin-bottom: 16px;
  width: 20em;
}

.content h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

/* Specific styling for the color preview input */
input[name='color'] {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); /* Makes hex code readable on light colors */
}

.wrap-buttons {
  display: flex;
  gap: 8px;
}

.submit-button {
  min-width: 80px;
}
