<mat-form-field>
  <input matInput
         required
         placeholder="Select or create task"
         aria-label="Select or create task"
         [matAutocomplete]="auto"
         [formControl]="taskSelectCtrl">
  <mat-icon matSuffix=""
            *ngIf="!isCreate">track_changes
  </mat-icon>
  <mat-icon matSuffix=""
            *ngIf="isCreate">add
  </mat-icon>

  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="displayWith"
                    [autoActiveFirstOption]="true">
    <mat-option *ngFor="let task of filteredTasks"
                [value]="task">
      <span>{{ task?.title}}</span>
    </mat-option>

  </mat-autocomplete>
</mat-form-field>

