<help-section>
  <p>Here you can configure SuperProductivity to list open GithHub issues for a specific repository in the task creation panel in the daily planning view. They will be listed as suggestions and will provide a link to the issue as well as more information about it.</p>
  <p>In addition you can automatically add and sync all open issues to your task backlog.</p>
  <p>Pull requests will also be treated as a task, you can add a custom prefix to easily distinguish them from other issues.</p>
  <p></p>
  <p ng-if="vm.IS_ELECTRON">You can also configure the path to your project's .git directory to show you a summary of commits at the end of the day.</p>
</help-section>

<section>
  <md-input-container class="md-block">
    <label>Git repository to track for importing tasks (e.g.: johannesjo/super-productivity)</label>
    <input type="text"
           ng-model="vm.settings.repo">
  </md-input-container>
</section>

<md-input-container class="md-block">
  <div>
    <md-switch ng-model="vm.settings.isShowIssuesFromGit"
               aria-label="Enable showing Git tasks when adding tasks">
      Show open Git issues when adding tasks
    </md-switch>
  </div>
</md-input-container>

<md-input-container class="md-block">
  <div>
    <md-switch ng-model="vm.settings.isAutoImportToBacklog"
               aria-label="Auto-import all issues to backlog">
      Auto-import all issues to backlog
    </md-switch>
  </div>
</md-input-container>

<section>
  <md-input-container class="md-block">
    <label>Prefix for pull request issues</label>
    <input type="text"
           ng-model="vm.settings.prPrefix">
  </md-input-container>
</section>

<section ng-if="vm.IS_ELECTRON">
  <p>Set project directory to show the day's commits at summary.</p>
  <md-input-container class="md-block">
    <label>Project path (where .git resides)</label>
    <input type="text"
           ng-model="vm.settings.projectDir">
  </md-input-container>
</section>
