<md-dialog aria-label="Jira Set In Progress Dialog">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Update Jira status for {{ vm.task.originalKey }}</h2>
      <span flex></span>
      <md-button class="md-icon-button"
                 aria-label="Cancel"
                 ng-click="vm.cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form ng-submit="vm.updateTask(vm.chosenTransitionIndex)">
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
          <span ng-if="vm.localType==='OPEN'">
            <strong>Open</strong>: You stopped working on a task.
          </span>
          <span ng-if="vm.localType==='IN_PROGRESS'">
            <strong>In progress</strong>: You started to work on a task.
          </span>
          <span ng-if="vm.localType==='DONE'">
            <strong>Done</strong>: You completed a task.
          </span>
        </p>
        <p>
          Do you want to update the task '<strong>{{ vm.task.title }}</strong>' on jira?
        </p>

        <p>Move to:</p>
        <md-radio-group ng-model="vm.chosenTransitionIndex">
          <md-radio-button ng-repeat="transition in vm.transitions"
                           value="{{$index}}"
                           class="md-primary">{{ transition.name }}
          </md-radio-button>
        </md-radio-group>

        <md-checkbox md-no-ink
                     ng-model="vm.saveAsDefaultAction"
                     aria-label="save as default action">
          Mark this as a default action for setting a task to
          <strong ng-if="vm.localType==='OPEN'">open</strong>
          <strong ng-if="vm.localType==='IN_PROGRESS'">in progress</strong>
          <strong ng-if="vm.localType==='DONE'">done</strong>.
          This will be set then always, when a task is changed to
          <strong ng-if="vm.localType==='OPEN'">open</strong>
          <strong ng-if="vm.localType==='IN_PROGRESS'">in progress</strong>
          <strong ng-if="vm.localType==='DONE'">done</strong>. You can change that later in the project settings.
        </md-checkbox>
      </div>
    </md-dialog-content>


    <md-dialog-actions>
      <md-button type="submit"
                 class="md-raised md-primary">
        Update Task on Jira
      </md-button>
      <md-button ng-click="vm.cancel()"
                 type="button"
                 class="md-raised">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>