@import '../../../../variables';
@import '../../tasks/task/task.component.mixins';

$sb-radius-continued: 28px;
$sb-radius-small: 4px;
$icon-wrapper-size: 38px;

:host {
  position: relative;
  padding-top: $s;
  padding-bottom: $s;
  border-radius: $sb-radius-small $sb-radius-continued $sb-radius-small
    $sb-radius-continued;
  border: 1px solid $dark-theme-separator-color;
  //opacity: 0.9;
  font-size: $planner-font-size-mobile;

  @include mq(xs) {
    font-size: $planner-font-size;
  }

  @include lightTheme {
    color: $light-theme-text-color;
    border-color: $light-theme-extra-border-color;
  }
  @include darkTheme {
    color: $dark-theme-text-color;
    border-color: $dark-theme-extra-border-color;
  }
  //@include lightTheme {
  //  background: $task-c-bg-light;
  //}
  //@include darkTheme {
  //  background: $task-c-bg-dark;
  //}

  &.last {
    border-radius: $sb-radius-small $sb-radius-small $sb-radius-continued
      $sb-radius-continued;
  }

  //&:after {
  //  content: '...';
  //  position: absolute;
  //  top: 50%;
  //  left: 0;
  //  margin-top: -0.5 * $s;
  //  transform: translateY(-50%);
  //  text-align: center;
  //  width: $icon-wrapper-size;
  //  font-size: 20px;
  //}

  .wrap {
    display: flex;
    align-items: center;
    padding-left: $icon-wrapper-size;
  }

  .title {
    flex-grow: 1;
  }

  .continued,
  .time-to-go {
    opacity: 0.5;
    font-weight: 300;
    font-style: italic;
  }

  .continued {
    padding-bottom: 8px;
    text-align: center;
  }

  .time-to-go {
    text-align: right;
    margin-left: auto;
    padding-left: $s;
    padding-right: $s;
  }
}
