sub-task-list task-list {
  overflow: hidden;

  @include ng-slide-down-up;
}

.md-button.collapse-sub-tasks-btn {
  position: absolute;
  left: -23px;
  top: 6px;
  z-index: 2;
  padding: 0;
  width: 28px;
  height: 28px;
  min-width: 0;
  min-height: 0;

  // overwrite ripple transparency
  background: #ffffff !important;
  body.dark-theme & {
    background-color: $dark-theme-bg-lighter !important;
    color: #dddddd;
  }
}