@use '../../../../styles/_globals.scss' as *;

.dialog-content {
  // 600px
  @include mq(xs) {
    min-width: 500px;
  }

  p,
  .track-to-label,
  .time {
    text-align: center;
  }
}

.time {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: var(--s);
}

.track-to-label {
  margin-bottom: var(--s);
  font-size: var(--s2);
  font-weight: bold;
}
