@use '../dialog-encryption-common' as *;

@include dialog-encryption-common-classes;

.callout {
  margin-bottom: var(--s3);
}

.password-fields {
  margin-bottom: var(--s2);

  mat-form-field {
    width: 100%;
  }
}

.password-error {
  display: flex;
  align-items: center;
  gap: var(--s);
  color: var(--c-warn);
  font-size: 13px;
  margin-top: -4px;
  margin-bottom: var(--s);
}
