<div class="g-multi-btn-wrapper">
  <button
    class="nav-link expand-btn"
    [class.expanded]="isExpanded()"
    [class.isExpanded]="isExpanded()"
    [attr.title]="!showLabels() ? item().label : null"
    (click)="onHeaderClick()"
    [attr.aria-expanded]="isExpanded()"
    [attr.aria-controls]="'group-' + item().id"
  >
    <nav-row
      [icon]="item().icon"
      [svgIcon]="item().svgIcon"
      [label]="item().label"
      [badge]="item().badge"
      [showLabels]="showLabels()"
      [showChevron]="item().children && item().children.length > 0 && showLabels()"
      labelClass="title"
    ></nav-row>
  </button>

  @if (showLabels()) {
    @for (btn of item().additionalButtons; track btn.id) {
      @if (!btn.hidden) {
        <button
          class="additional-btn"
          mat-icon-button
          [matTooltip]="btn.tooltip | translate"
          (click)="btn.action?.()"
        >
          <mat-icon>{{ btn.icon }}</mat-icon>
        </button>
      }
    }
  }
</div>

@if (item().children && item().children.length > 0) {
  <ul
    class="nav-children"
    [class.expanded]="isExpanded()"
    [class.visible]="isExpanded()"
    [attr.id]="'group-' + item().id"
    role="list"
  >
    @for (child of item().children; track child.id) {
      <li
        class="nav-child-item"
        role="listitem"
      >
        <sp-nav-item
          [item]="child"
          [showLabels]="true"
          [isChild]="true"
          [activeWorkContextId]="activeWorkContextId()"
          (itemClick)="itemClick.emit(child)"
        ></sp-nav-item>
      </li>
    }
  </ul>
}
