<div class="wrapper">
  <mat-tab-group dynamicHeight
                 [selectedIndex]="selectedIndex"
                 color="primary"
                 style="">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-header-icon">notes</mat-icon>
        <span class="tab-label-text">Notes</span>
      </ng-template>

      <div class="mat-elevation-z4"
           style="margin:10px;">
        <inline-markdown [model]="task.notes"
                         (onChanged)="changeTaskNotes($event)"></inline-markdown>
      </div>
    </mat-tab>

    <mat-tab *ngIf="task.issueData">
      <ng-template mat-tab-label>
        <div #issueHeader></div>
      </ng-template>
      <div #issueContent></div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-header-icon">attachment</mat-icon>
        <span class="tab-label-text">Attachments</span>
      </ng-template>

      <h3 class="mat-h3">Jira Attachments</h3>
      <h3 class="mat-h3">Local Attachments</h3>

    </mat-tab>

  </mat-tab-group>
</div>
