<div class="wrapper">
  <mat-tab-group dynamicHeight
                 color="primary"
                 style="">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-header-icon">notes</mat-icon>
        <span class="tab-label-text">Notes</span>
      </ng-template>

      <div class="mat-elevation-z4"
           style="margin:10px;">
        <inline-markdown [model]="task.notes"
                         (onChanged)="changeTaskNotes($event)"></inline-markdown>
      </div>
    </mat-tab>

    <mat-tab *ngIf="task.issueData">
      <ng-template mat-tab-label>
        <!--<mat-icon class=tab-header-icon>explore</mat-icon>-->
        <mat-icon style="margin-right: 8px; transform: scale(1.2)"
                  color="accent">update
        </mat-icon>
        <span class="tab-label-text">Jira</span>
      </ng-template>

      <pre><code>
        {{task.issueData|json}}
      </code></pre>

      <h3 class="mat-h3">Status</h3>
      <h3 class="mat-h3">Summary</h3>
      <h3 class="mat-h3">Description</h3>
      <h3 class="mat-h3">Comments</h3>
      <h3 class="mat-h3">Later Write Comment</h3>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-header-icon">attachment</mat-icon>
        <span class="tab-label-text">Attachments</span>
      </ng-template>

      <h3 class="mat-h3">Jira Attachments</h3>
      <h3 class="mat-h3">Local Attachments</h3>

    </mat-tab>

  </mat-tab-group>

  <!--<section *ngIf="task.isUpdated;">-->
  <!--<div class="mat-caption">-->
  <!--Changes since last update-->
  <!--</div>-->

  <!--&lt;!&ndash;<ul class="changelog">&ndash;&gt;-->
  <!--&lt;!&ndash;<li *ngFor="let changelogEntry of task.originalChangelog">&ndash;&gt;-->
  <!--&lt;!&ndash;<div *ngIf="changelogEntry.author">&ndash;&gt;-->
  <!--&lt;!&ndash;<em>[<span [innerHtml]="changelogEntry.author"></span>]&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;<span [innerHtml]="changelogEntry.created| amDateFormat:'Y.MM.DD HH:mm'"></span></em>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div *ngFor="let change of changelogEntry.items">&ndash;&gt;-->
  <!--&lt;!&ndash;<strong [innerHtml]="change.field"></strong>&ndash;&gt;-->
  <!--&lt;!&ndash;<span *ngIf="change.toString.length"><em>changed to:</em> <span [innerHtml]="change.toString"></span></span></span>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--<button mat-raised-button-->
  <!--(click)="task.isUpdated=false;task.originalChangelog=undefined;isShowNotes=false">-->
  <!--<i class="material-icons">delete</i>-->
  <!--Hide changes-->
  <!--</button>-->
  <!--</section>-->

  <!--<section>-->
  <!--<div class="mat-caption"-->
  <!--[innerHtml]="task.originalId ? 'Description': 'Notes'"></div>-->
  <!--<div class="mat-elevation-z4">-->
  <!--<inline-markdown [model]="task.notes"-->
  <!--(onChanged)="onTaskNotesChanged(task.id,$event)"></inline-markdown>-->
  <!--</div>-->
  <!--</section>-->

  <!--<section *ngIf="task.status.length > 0 || task.originalStatus.length > 0"-->
  <!--class="status">-->
  <!--<div class="mat-caption">Status: <span [innerHtml]="task.originalStatus.name || task.originalStatus"></span>-->
  <!--<i icon="arrow_forward"-->
  <!--*ngIf="task.status.length > 0"-->
  <!--aria-label="arrow forward"></i>-->
  <!--<span [innerHtml]="task.status"></span>-->
  <!--</div>-->
  <!--</section>-->

  <!--<section *ngIf="task.originalAssigneeKey"-->
  <!--class="assignee">-->
  <!--<div class="mat-caption">Assignee: <span [innerHtml]="task.originalAssigneeKey"></span></div>-->
  <!--</section>-->

  <!--<section *ngIf="task.originalAttachment.length > 0">-->
  <!--<collapsible title="Attachments ({{ task.originalAttachment.length }})">-->
  <!--<ul class="attachments">-->
  <!--<li ng-repeat="attachment in task.originalAttachment">-->
  <!--<a href="{{ attachment}}"-->
  <!--external-link-->
  <!--target="_blank"-->
  <!--class="mat-accent">{{ attachment}}</a>-->
  <!--<a href="{{ attachment}}"-->
  <!--download="{{ attachment}}"-->
  <!--class="mat-accent">-->
  <!--<i icon="file_download"-->
  <!--aria-label="download file directly"></i>-->
  <!--</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</collapsible>-->
  <!--</section>-->

  <!--<section *ngIf="task.originalComments.length > 0">-->
  <!--<collapsible title="Comments ({{ task.originalComments.length }})">-->
  <!--<mat-divider></mat-divider>-->
  <!--<ul class="comments">-->
  <!--<li ng-repeat="comment in task.originalComments"-->
  <!--class="comment">-->
  <!--<strong class="author">[<span [innerHtml]="comment.author"></span>]: </strong>-->
  <!--<span marked="comment.body"></span>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</collapsible>-->
  <!--</section>-->

</div>