@import '../../../_variables.scss';

:host {
}

.wrapper {
  margin: $s;
  border-radius: $card-border-radius;
  border: 1px solid #dddddd;

  @include dark-theme {
    border-color: #333333;
  }

  @media (max-width: $layout-xs) {
    margin: $s/2;
  }
}

.tab-header-icon {
  &,
  ::ng-deep & {
    margin-right: $s;
  }
}

::ng-deep .mat-tab-labels {
  justify-content: stretch;
}

::ng-deep .mat-tab-label {
  flex-grow: 1;
  height: 30px;
}

.tab-label-text {
  &,
  ::ng-deep & {
    @media (max-width: $layout-xs) {
      display: none;
    }
  }
}

::ng-deep .issue-tab-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.tab-content {
  padding: $s;

  h3 {
    margin-bottom: $s;
  }
}

.notes {
  margin: $s;

  ::ng-deep {
    .markdown-wrapper {
      min-height: 60px;
      max-height: 600px;
    }

    .markdown-unparsed,
    .markdown-parsed {
      background: $standardNoteBgLight;
      color: $standardNoteFgLight;
      box-sizing: border-box;

      @include dark-theme {
        background: $standardNoteBgLight;
        color: $standardNoteFgLight;
        border-color: #333333;
      }
    }
  }
}