@import '../../../_variables.scss';

:host {
}

.wrapper {
  margin: $s;
  box-shadow: $shadow-card-shadow;
  @media (max-width: $layout-xs) {
    margin: $s/2;
  }
}

.tab-header-icon {
  &,
  ::ng-deep & {
    margin-right: $s;
  }
}

::ng-deep .mat-tab-labels {
  justify-content: stretch;
}

::ng-deep .mat-tab-label {
  flex-grow: 1;
  height: 30px;
}

.tab-label-text {
  &,
  ::ng-deep & {
    @media (max-width: $layout-xs) {
      display: none;
    }
  }
}

::ng-deep .issue-tab-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
