<div class="wrapper mat-elevation-z5 bg-standard">
  <mat-tab-group dynamicHeight
                 [selectedIndex]="selectedIndex"
                 color="accent">
    <mat-tab *ngIf="taskData.issueData">
      <ng-template mat-tab-label>
        <div #issueHeader></div>
      </ng-template>
      <div #issueContent></div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-header-icon">notes</mat-icon>
        <span class="tab-label-text">Notes</span>
      </ng-template>

      <div class="mat-elevation-z4 notes">
        <inline-markdown [model]="taskData.notes"
                         (changed)="changeTaskNotes($event)"></inline-markdown>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-header-icon">attachment</mat-icon>
        <span class="tab-label-text">Attachments({{issueAttachments?.length+(localAttachments$|async)?.length}})</span>
      </ng-template>

      <div class="tab-content">
        <ng-container *ngIf="taskData.issueType">
          <h3 class="mat-h3"
              style="margin-bottom: 0;">{{taskData.issueType}} Attachments</h3>
          <attachment-list [isDisableControls]="true"
                           [attachments]="issueAttachments"></attachment-list>
        </ng-container>
        <h3 class="mat-h3"
            style="margin-bottom: 0;">Local Attachments</h3>
        <attachment-list [attachments]="localAttachments$|async"></attachment-list>
      </div>

    </mat-tab>

  </mat-tab-group>
</div>
