<div class="mode">
  <div style="display: flex; align-items: center; justify-content: center">
    <mat-button-toggle-group>
      <mat-button-toggle
        value="SPLIT"
        class="hide-xs"
      >
        <mat-icon>vertical_split</mat-icon>
        Plan
      </mat-button-toggle>
      <mat-button-toggle value="PARSED">
        <mat-icon>photo</mat-icon>
        Flow
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-icon-button>
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div>27.3</div>
    <button mat-icon-button>
      <mat-icon>chevron_right</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>

<week-planner-plan-view></week-planner-plan-view>
