@import '../../../variables';

:host ::ng-deep better-drawer-container > .side {
  width: 220px;
  min-width: 220px;
  max-width: 220px;

  @include mq(sm) {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
  }
  @include mq(lg) {
    width: 320px;
    min-width: 320px;
    max-width: 320px;
  }
}

:host ::ng-deep better-drawer-container > .content {
  display: flex;
  flex-direction: column;
  overflow: auto;

  > * {
    flex-grow: 1;
  }
}

:host ::ng-deep .side-inner {
  @include darkTheme() {
    background: $dark-theme-bg-lighter;
  }
  @include lightTheme() {
    background: $light-theme-bg-darker;
  }
}

.controls {
  flex-grow: 0 !important;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  //gap: 16px;

  //border-top: 1px solid;
  //border-bottom: 1px solid;

  @include darkTheme() {
    //border-color: $dark-theme-separator-color;
    //background: $dark-theme-bg-lighter;
  }
  @include lightTheme() {
    //border-color: $light-theme-separator-color;
    //background: $light-theme-bg-darker;
  }
}

.start-date {
  font-size: 20px;
}

.day-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-add-task-panel-btn {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 333;
}

// to share between week-planner-task and week-planner-calendar-event
:host ::ng-deep .time-remaining-shared {
  min-width: 40px;
  text-align: right;
  //white-space: nowrap;
  padding-left: 4px;
  padding-right: 8px;
  font-style: italic;
  font-weight: 300;
  font-size: 13px;
  line-height: 1;
  opacity: 0.6;
  margin-left: auto;
}
