@import '../../../../../common';

.add-mode-container {
  width: 100%;
  position: relative;
  border-radius: var(--card-border-radius);
  background-color: var(--bg-lighter);
  color: var(--text-color-most-intense);

  &.isElevated {
    background-color: var(--bg-lightest);
  }
}

.input-section {
  position: relative;
  display: flex;
  color: var(--text-color-most-intense);

  .task-input {
    flex: 1;
    display: block;
    width: 100%;
    height: 42px;
    font-size: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    outline: 0;
    padding-right: 4px;
    padding-left: var(--s2);
    line-height: 42px;
    background: transparent;
    color: inherit;
    font-family: inherit;
  }

  .button-controls {
    margin-left: auto;
    z-index: 2;
    display: flex;
  }

  .separator-box {
    border-right: 1px dashed var(--extra-border-color);
    border-left: 1px dashed var(--extra-border-color);
    border-color: var(--extra-border-color);
  }

  .switch-add-to-btn,
  .switch-add-to-bot-btn {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  .search-toggle-btn {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }
}

.action-buttons {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px dashed var(--extra-border-color);

  @include mq(xs) {
    gap: var(--s);
  }

  .action-btn {
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    align-items: center;

    &.has-value {
      background-color: var(--bg-lightest);
      opacity: 1;
    }

    // Project button is always active since we always have a project selected
    &.project-btn {
      background-color: var(--bg-lightest);
      opacity: 1;
    }

    .clear-icon {
      margin-left: auto;
      margin-right: 0;
      font-size: 18px;

      min-width: 32px;
      min-height: 32px;
      line-height: 32px;
      text-align: center;
      cursor: pointer;
      opacity: 0.7;
      order: 999; // Ensure it's always at the end

      &:hover {
        opacity: 1;
      }
    }
  }
}
