<div
  class="days"
  cdkDropListGroup
>
  @for (day of days$|async; track day.dayDate) {
  <div class="day">
    <div class="day-title">
      {{ day.dayDate|date:'EEE' }} {{ day.dayDate|date:'d.M.' }}
    </div>
    <div class="day-estimate">{{ day.timeEstimate }}h/{{ day.timeLimit }}h</div>

    <div class="normal-tasks">
      <!--      <div class="section-title">-->
      <!--        <div>regular</div>-->
      <!--        &lt;!&ndash;        <div class="estimate">3h</div>&ndash;&gt;-->
      <!--      </div>-->

      <div style="text-align: center">
        <button mat-button>
          <mat-icon>add</mat-icon>
          Add
        </button>
      </div>

      <div
        class="normal-tasks-items"
        cdkDropList
        [cdkDropListData]="day.taskIds"
        (cdkDropListDropped)="drop($event)"
      >
        @for (tId of day.taskIds; track $index) {
        <div
          class="task"
          cdkDrag
        >
          aa{{ tId }}
        </div>
        }
      </div>
    </div>

    <div class="scheduled">
      <div class="section-title">
        <div>scheduled</div>
        <!--        <div class="estimate">3h</div>-->
      </div>
      <!--      <button mat-button>-->
      <!--        <mat-icon>add</mat-icon>-->
      <!--        Add-->
      <!--      </button>-->
      <div
        class="scheduled-items"
        cdkDropList
        [cdkDropListData]="day.scheduledIItems"
        (cdkDropListDropped)="drop($event)"
      >
        @for (scheduledItem of day.scheduledIItems; track scheduledItem.id) {
        <div class="scheduled-item">
          @switch (scheduledItem.type) { @case ('TASK') {
          <div
            class="task"
            cdkDrag
          >
            {{ scheduledItem.id }}
          </div>
          } @case ('event') {
          <div
            class="event"
            cdkDrag
          >
            {{ scheduledItem.id }}
          </div>
          } @default {
          <div
            class="default"
            cdkDrag
          >
            {{ scheduledItem.id }}
          </div>
          } }
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
