<div class="days">
  @for (day of days$|async; track day.dayDate) {
  <div class="day">
    <div class="day-title">
      @if (day.isToday) {
      <mat-icon>wb_sunny</mat-icon>
      } {{ day.dayDate|date:'EEE' }}
      <span class="date">{{ day.dayDate|date:'d.M.' }}</span>
    </div>
    <div class="day-estimate">
      {{ day.timeEstimate |roundDuration|msToString }}
      <!--      <mat-icon svgIcon="estimate_remaining"></mat-icon>-->
      <!--      / {{ day.timeLimit }}h-->
    </div>

    <div class="normal-tasks">
      <!--      <div class="section-title">-->
      <!--        <div>regular</div>-->
      <!--        &lt;!&ndash;        <div class="estimate">3h</div>&ndash;&gt;-->
      <!--      </div>-->

      <div
        class="normal-tasks-items"
        cdkDropList
        [cdkDropListData]="day.dayDate"
        (cdkDropListDropped)="drop('TODO', $event)"
      >
        @for (task of day.tasks; track task.id) {
        <week-planner-task
          cdkDrag
          [cdkDragData]="task"
          [task]="task"
        ></week-planner-task>
        }
      </div>

      <!--      <div style="text-align: center">-->
      <!--        <button mat-button>-->
      <!--          <mat-icon>add</mat-icon>-->
      <!--          Add new-->
      <!--        </button>-->
      <!--      </div>-->
    </div>

    <div class="scheduled">
      <div class="section-title">
        <mat-icon>alarm</mat-icon>
      </div>

      <div
        class="scheduled-items"
        cdkDropList
        cdkDropListSortingDisabled
        [cdkDropListData]="day.dayDate"
        (cdkDropListDropped)="drop('SCHEDULED', $event)"
      >
        @for (scheduledItem of day.scheduledIItems; track scheduledItem.id) {
        <div
          class="scheduled-item"
          [ngClass]="scheduledItem.type"
        >
          <div class="time">{{ (scheduledItem.start|roundDuration|date:'HH:mm') }}</div>
          @switch (scheduledItem.type) { @case (SCHEDULE_ITEM_TYPE.Task) {
          <week-planner-task
            cdkDrag
            [task]="scheduledItem.task"
            [cdkDragData]="scheduledItem.task"
          ></week-planner-task>
          } @case (SCHEDULE_ITEM_TYPE.CalEvent) {
          <week-planner-calendar-event
            cdkDrag
            cdkDragDisabled
            [calendarEvent]="scheduledItem.calendarEvent"
          ></week-planner-calendar-event>
          } @case (SCHEDULE_ITEM_TYPE.RepeatProjection) {
          <week-planner-repeat-projection
            cdkDrag
            cdkDragDisabled
            [repeatCfg]="scheduledItem.repeatCfg"
          ></week-planner-repeat-projection>
          } }
        </div>
        }
      </div>
    </div>
  </div>
  }
</div>
