@import '../../../../variables';
@import '../../tasks/task/task.component.mixins';

.days {
  display: grid;
  gap: 8px;
  padding: 4px;
  grid-template-columns: repeat(5, 1fr);

  @include mq(xs) {
    padding: 12px;
  }
  @include mq(sm) {
    padding: 24px;
    gap: 16px;
  }

  //grid-template-columns: repeat(1, 1fr);

  //@include mq(xs) {
  //  grid-template-columns: repeat(2, 1fr);
  //
  //  .day:nth-child(1n + 3) {
  //    display: none;
  //  }
  //}
  //
  //@include mq(sm) {
  //  grid-template-columns: repeat(3, 1fr);
  //
  //  .day:nth-child(3) {
  //    display: flex;
  //  }
  //}
  //
  //@media (min-width: 1160px) {
  //  grid-template-columns: repeat(4, 1fr);
  //
  //  .day:nth-child(4) {
  //    display: flex;
  //  }
  //}
  //
  //@include mq(lg) {
  //  grid-template-columns: repeat(5, 1fr);
  //
  //  .day:nth-child(5) {
  //    display: flex;
  //  }
  //}
  //@include mq(lg) {
  //  grid-template-columns: repeat(5, 1fr);
  //
  //  .day:nth-child(5) {
  //    display: flex;
  //  }
  //}
}

.day {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.day-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;

  .date {
    font-size: 12px;
  }
}

.day-estimate {
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
}

.section-title {
  display: flex;
  justify-content: center;
  margin: 12px 0 8px;
}

.normal-tasks,
.scheduled {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.scheduled {
  flex-grow: 1;
}

.normal-tasks-items,
.scheduled-items {
  min-height: 80px;
  flex-grow: 1;
}

.normal-tasks-items > week-planner-task {
  margin-bottom: 4px;
}

.scheduled {
  /* Additional styles if needed */
  margin-top: 16px;
}

.scheduled-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .time {
    text-align: center;
    border-radius: 50%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    width: 40px;
    line-height: 40px;
    min-width: 40px;
    margin-right: 4px;
    cursor: pointer;
    font-size: 11px;
    flex-grow: 0;
  }

  > :nth-child(2) {
    flex-grow: 1;
  }
}
