@import '../../../../variables';
@import '../../tasks/task/task.component.mixins';

.days {
  margin: 24px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);

  @include mq(xs) {
    grid-template-columns: repeat(2, 1fr);

    .day:nth-child(1n + 3) {
      display: none;
    }
  }

  @include mq(sm) {
    grid-template-columns: repeat(3, 1fr);

    .day:nth-child(3) {
      display: flex;
    }
  }

  @media (min-width: 1160px) {
    grid-template-columns: repeat(4, 1fr);

    .day:nth-child(4) {
      display: flex;
    }
  }

  @include mq(md) {
    grid-template-columns: repeat(5, 1fr);

    .day:nth-child(5) {
      display: flex;
    }
  }
  @include mq(lg) {
    grid-template-columns: repeat(5, 1fr);

    .day:nth-child(5) {
      display: flex;
    }
  }
}

.day {
  //display: grid;
  //grid-template-rows: auto 1fr; /* Adjusted: Explicitly define rows for title, tasks, and scheduled items */
  //gap: 10px; /* Adjust as needed */
  //padding: 10px; /* Optional: for spacing within each day */
  //align-items: stretch; /* Adjusted: Ensure items stretch to fill the container */
  //border: 1px solid blue;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.day-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.day-estimate {
  margin-top: 8px;
  font-size: 16px;
  text-align: center;
}

.section-title {
  display: flex;
  justify-content: center;
  margin: 12px 0 8px;

  //> div:last-child {
  //  margin-left: 8px;
  //}
}

.normal-tasks,
.scheduled {
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.scheduled {
  flex-grow: 1;
}

.normal-tasks-items,
.scheduled-items {
  min-height: 80px;
  flex-grow: 1;
}

.scheduled {
  /* Additional styles if needed */
  margin-top: 16px;
}

.task {
  border-radius: 6px;
  margin-bottom: 4px;
  min-height: 40px;
  line-height: 40px;
  padding: 0 10px;
  cursor: grab;

  background: $task-c-bg-light;

  @include darkTheme() {
    color: $task-text-c-dark;
    background: $task-c-bg-dark;
  }

  &:active {
    cursor: grabbing;
  }
}
