<div class="page-wrapper">
  <div *ngIf="isForToday"
       style="text-align: center;">
    <a aria-label="Work View"
       class="back-btn"
       mat-button=""
       routerLink="/work-view">
      <mat-icon>chevron_left</mat-icon>
      Wait I forgot something!
      <!--<mat-icon>playlist_play</mat-icon>-->
    </a>
  </div>

  <h1 class="done-headline mat-headline">
    <span *ngIf="isForToday">Take a moment to <i class="TODO-animate">celebrate!</i></span>
    <span *ngIf="!isForToday">Daily Summary for {{dayStr}}</span>
  </h1>
  <div class="daily-summary-summary">
    <div class="summary-point">
      <mat-icon>schedule</mat-icon>
      <div class="summary-text">Start – End
        <div class="summary-val">
          <inline-input [value]="started$|async|momentFormat:'HH:mm'"
                        [type]="'time'"
                        (changed)="updateWorkStart($event)">
          </inline-input>
          –
          <inline-input [value]="end$|async|momentFormat:'HH:mm'"
                        [type]="'time'"
                        (changed)="updateWorkEnd($event)">
          </inline-input>
        </div>
      </div>
    </div>
    <div class="summary-point">
      <mat-icon>check</mat-icon>
      <div class="summary-text">Tasks Completed
        <div class="summary-val">

          <span [innerHtml]="(nrOfDoneTasks$|async)"></span> / <span
          [innerHtml]="(totalNrOfTasks$|async)"></span>
        </div>
      </div>
    </div>
    <div class="summary-point"
         title="Time Spent: Total time spent today. Archived tasks not included. – Time Estimated: Time estimated for tasks worked on today minus the time already spent with them on other days.">
      <mat-icon>timer</mat-icon>
      <div class="summary-text">Time Spent / Estimated
        <div class="summary-val">{{timeWorked$|async|msToClockString}}
          / {{estimatedOnTasksWorkedOn$|async|msToClockString}}</div>
      </div>
    </div>

    <div class="summary-point"
         *ngIf="(isBreakSupport$|async)">
      <mat-icon>free_breakfast</mat-icon>
      <div class="summary-text">Breaks (nr / time)
        <div class="summary-val">{{breakNr$|async}} / {{breakTime$|async|msToClockString}}</div>
      </div>
    </div>
  </div>

  <mat-tab-group (selectedIndexChange)="onTabIndexChange($event)"
                 [selectedIndex]="selectedTabIndex"
                 dynamicHeight>
    <mat-tab label="Evaluation">
      <section class="tab-inner">
        <evaluation-sheet (save)="onEvaluationSave()"
                          [day]="(dayStr$|async)"></evaluation-sheet>
      </section>
    </mat-tab>

    <mat-tab label="Today">
      <section class="tab-inner">
        <div class="table-wrapper mat-elevation-z3">
          <table mat-table
                 [dataSource]="tasksWorkedOnOrDoneFlat$|async"
                 class="mat-elevation-z2 summary-table">
            <ng-container matColumnDef="title">
              <th mat-header-cell
                  *matHeaderCellDef> Task
              </th>
              <td mat-cell
                  *matCellDef="let task">
                <div class="task-title"
                     [class.isSubTask]="task.parentId"
                     [class.isDone]="task.isDone">
                  <span *ngIf="task.parentId">–</span> {{task.title}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="timeSpentToday">
              <th mat-header-cell
                  *matHeaderCellDef> Spent Today
              </th>
              <td mat-cell
                  *matCellDef="let task">
                <inline-input *ngIf="!task.subTaskIds?.length"
                              [value]="task.timeSpentOnDay[dayStr]"
                              [displayValue]="task.timeSpentOnDay[dayStr]|msToClockString"
                              [type]="'duration'"
                              (changed)="updateTimeSpentTodayForTask(task, $event)">
                </inline-input>
                <span *ngIf="task.subTaskIds?.length">{{task.timeSpentOnDay[dayStr]|msToClockString}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="timeSpentTotal">
              <th mat-header-cell
                  *matHeaderCellDef> Spent Total
              </th>
              <td mat-cell
                  *matCellDef="let task">
                {{task.timeSpent|msToClockString}}
              </td>
            </ng-container>

            <ng-container matColumnDef="timeEstimate">
              <th mat-header-cell
                  *matHeaderCellDef> Estimate
              </th>
              <td mat-cell
                  *matCellDef="let task">
                {{task.timeEstimate|msToClockString}}
              </td>
            </ng-container>

            <ng-container matColumnDef="done">
              <th mat-header-cell
                  *matHeaderCellDef>
              </th>
              <td mat-cell
                  *matCellDef="let task">
                <mat-icon *ngIf="task.isDone">check
                </mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="['title','timeSpentToday', 'timeSpentTotal', 'timeEstimate', 'done']"></tr>
            <tr mat-row
                *matRowDef="let row; columns: ['title','timeSpentToday', 'timeSpentTotal','timeEstimate', 'done']"></tr>
          </table>
        </div>
        <div style="text-align: center; margin-top: 8px; margin-bottom: 16px;">
          <button [matMenuTriggerFor]="roundTimeActions"
                  title="Round time spent on all tasks. Be careful! You cannot undo this!"
                  mat-button="">
            <mat-icon>restore</mat-icon>
            Round Time Spent
          </button>
          <button (click)="showExportModal()"
                  mat-button="">
            <mat-icon>call_made</mat-icon>
            Export Task List
          </button>

          <mat-menu #roundTimeActions="matMenu">
            <button mat-menu-item
                    style="color: red;">
              !!! Be careful this cannot be undone !!!
            </button>
            <button mat-menu-item
                    (click)="roundTimeForTasks('5M')">
              Round all tasks to 5 minutes
            </button>
            <button mat-menu-item
                    (click)="roundTimeForTasks('5M', true)">
              Round UP all tasks to 5 minutes
            </button>
            <button mat-menu-item
                    (click)="roundTimeForTasks('QUARTER')">
              Round all tasks to 15 minutes
            </button>
            <button mat-menu-item
                    (click)="roundTimeForTasks('QUARTER', true)">
              Round UP all tasks to 15 minutes
            </button>
            <button mat-menu-item
                    (click)="roundTimeForTasks('HALF')">
              Round all tasks to 30 minutes
            </button>
            <button mat-menu-item
                    (click)="roundTimeForTasks('HALF', true)">
              Round UP all tasks to 30 minutes
            </button>
          </mat-menu>
        </div>
      </section>
    </mat-tab>
    <mat-tab *ngIf="isForToday"
             label="Week">
      <section class="tab-inner full-width">
        <worklog-week></worklog-week>
      </section>
    </mat-tab>
    <mat-tab label="Google Sheet">
      <section class="tab-inner">
        <google-export-time></google-export-time>
      </section>
    </mat-tab>
  </mat-tab-group>


  <section class="daily-summary-actions">
    <div class="bottom-buttons">
      <button *ngIf="isForToday"
              (click)="finishDay()"
              [disabled]="cfg.isBlockFinishDayUntilTimeTimeTracked && !isTimeSheetExported"
              color="primary"
              mat-raised-button="">
        <mat-icon>wb_sunny</mat-icon>
        Save and go home
      </button>
      <button *ngIf="!isForToday"
              (click)="finishDay()"
              [disabled]="cfg.isBlockFinishDayUntilTimeTimeTracked && !isTimeSheetExported"
              color="primary"
              mat-raised-button="">
        <mat-icon>wb_sunny</mat-icon>
        Clear all done and continue
      </button>
    </div>
  </section>
</div>


<div class="success-animation-wrapper"
     *ngIf="showSuccessAnimation">
  <mat-icon>wb_sunny</mat-icon>
  <div class="unicorn-wrapper">
    <img src="assets/unicorn.png"
         class="unicorn">
  </div>
</div>
