@import '../../../../variables';
@import '../task/task.component.mixins';

:host {
  position: relative;
  z-index: 1;
  display: block;
  padding-bottom: $s;

  task-list {
    padding: 0;
    margin-bottom: 0;
  }
}

::ng-deep task .box {
  @include darkTheme() {
  }
}

progress-bar {
  position: absolute !important;
  bottom: 0;
}

.wrapper {
  transition: $transition-standard;

  @media (max-width: $layout-xs) {
    margin: $s/2;
    margin-bottom: $s;
  }
}


.task-title-wrapper {
  min-height: $bar-height;
  display: flex;
  align-items: center;
  position: sticky;
  background: inherit;
  top: 0;
  padding: 0 $s;
  z-index: 44;

  @include lightTheme() {
    background: #fff;
    //border-bottom: 1px solid $c-primary;
  }
  @include darkTheme() {
    background: $dark-theme-bg-slightly-lighter;
    //border-bottom: 1px solid $c-primary;
  }
}

.task-title {
  @include taskTitle;
  font-weight: bold;
  transform-origin: top center;
  padding-top: $s;
  padding-bottom: $s;
  padding: $s;
  font-size: 17px;
  margin: 0;
  flex-grow: 1;
  margin-top: 4px;
  line-height: 1.4;


  &:focus {
    transform: scale(1);
  }
}


.drag-over-msg {
  pointer-events: none;
  position: absolute;
  top: -$s;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
  z-index: 2;
}
