@import '../../../../variables';
@import '../task/task.component.mixins';

:host {
  position: relative;
  z-index: 1;
  display: block;
  padding-bottom: $s;

  task-list {
    padding: 0;
    margin-bottom: 0;
  }
}

::ng-deep task .box {
  @include darkTheme() {
  }
}

progress-bar {
  position: absolute !important;
  bottom: 0;
}

.wrapper {
  // 1px for the border
  //margin: 0 1px 0;
  transition: $transition-standard;

  @media (max-width: $layout-xs) {
    margin: $s/2;
    margin-bottom: $s;
  }
}


.task-title-wrapper {
  min-height: $bar-height;
  display: flex;
  align-items: center;
  position: sticky;
  background: inherit;
  top: 0;
  //margin-top: -4px;
  //margin-right: -4px;
  //margin-left: -4px;
  //margin-bottom: $s+4;
  //margin-bottom: $s;
  padding: 0 $s;
  z-index: 44;

  @include lightTheme() {
    background: #fff;
    //box-shadow: $whiteframe-shadow-1dp;
    //border-bottom: 0px solid $light-theme-extra-border-color;
  }
  //@include darkTheme() {
  //  //background: $dark-theme-bg-lighter;
  //  //border-bottom: 1px solid $dark-theme-extra-border-color;
  //}
}

.task-title {
  @include taskTitle;
  font-weight: bold;
  transform-origin: top center;
  padding-top: $s;
  padding-bottom: $s;
  padding: $s;
  font-size: 17px;
  margin: 0;
  flex-grow: 1;
  margin-top: 4px;
  line-height: 1.4;


  &:focus {
    transform: scale(1);
  }

  &:after {
    //display: none !important;

  }
}

