@import '../../../../variables';

:host {
  //margin-bottom: -2px;
  position: relative;
  z-index: 1;
  display: contents;

  task-list {
    padding: 0;
  }
}

.mat-expansion-panel {
  box-shadow: none;

  @include darkTheme {
    background: $dark-theme-bg-lighter;
  }
}

.task-title-wrapper {
  min-height: $bar-height;
  display: flex;
  align-items: center;
  position: sticky;
  background: inherit;
  top: 0;
  margin-top: -1px;
  z-index: 44;

  @include lightTheme() {
    background: #fff;
    box-shadow: $whiteframe-shadow-1dp;
  }
  @include darkTheme() {
    background: $dark-theme-bg-lighter;
  }
}

.task-title {
  //padding: 0 10px;
  padding: 8px 0;
  font-size: 15px;
  margin: 0;
  flex-grow: 1;
  line-height: 1.4;
}

.wrapper {
  // 1px for the border
  //margin: 0 1px 0;
  transition: $transition-standard;

  @media (max-width: $layout-xs) {
    margin: $s/2;
    margin-bottom: $s;
  }

  border-top: 1px solid transparent;

  @include lightTheme {
    border-top-color: #ddd;
  }

  @include darkTheme {
    border-top-color: $dark-theme-extra-border-color;
  }
}

.tab-header-icon {
  &,
  ::ng-deep & {
    margin-right: $s;
  }
}

:host::ng-deep .mat-expansion-panel-body {
  padding: $s/2;
}

:host::ng-deep .mat-tab-labels {
  justify-content: stretch;
  user-select: none;
}

:host::ng-deep .mat-tab-labels .mat-tab-label {
  flex-grow: 1;
  height: $bar-height-small;
  width: 40px;
  min-width: 40px;
}

:host ::ng-deep .mat-expansion-panel-header-title {
  flex-grow: 0;
  width: 30px;
}

:host .mat-expansion-panel-header {
  position: sticky;
  top: 0;
}


.tab-label-text {
  &,
  ::ng-deep & {
    @media (max-width: $layout-sm) {
      display: none;
    }
  }
}

:host::ng-deep issue-header > * {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}


.attachment-list-tab-wrapper,
.mat-tab-body {
  // needed to overstyle current task
}


.tab-wrapper {
  //border-radius: $card-border-radius;
  margin: $s $s;
  display: block;
  //box-shadow: $whiteframe-shadow-1dp;

  @include layerTextAndBgHigher();

  @include darkTheme() {
    //border: 1px solid $dark-theme-extra-border-color;
  }

  @include lightTheme {
    //border: 1px solid $light-theme-extra-border-color;
    //background: $light-theme-bg-darker;
  }


  &.issue-content-wrapper {
    // required for inner paddings to be there
    overflow: hidden;
  }

  &.attachment-list-tab-wrapper {
    padding: $s $s*2;

    h3 {
      margin-bottom: $s;
    }
  }

  &.note-wrapper {
    margin: $s $s;
    display: block;
    overflow: hidden;
  }

  ::ng-deep {
    .markdown-wrapper {
      min-height: 60px;

      @include mq(xs) {
        //max-height: 40vh;
      }
    }

    .markdown-unparsed,
    .markdown-parsed {
      color: inherit;
      background-color: inherit;

      @include lightTheme {
        background: $light-theme-bg-darker;
      }
    }
  }
}


.toggle-sub-tasks-btn.toggle-sub-tasks-btn {
  position: absolute !important;
  transform: translateY(-50%);
  left: -24px;
  top: 50%;
  //z-index: $z-toggle-sub-task-btn !important;
  min-width: 0;
  min-height: 0;
  width: 32px;
  height: 32px;
  margin-top: -1px !important;
  transform-origin: left top;
  transition-property: all;

  :host-context(.isNoTouchDevice) & {
    opacity: 0;
  }

  :host:hover & {
    opacity: 1;
  }

  mat-icon {
    transition: $transition-standard;
    margin-top: -8px;
    //opacity: $task-icon-default-opacity;

    &.isHideDoneTasks {
      transform: rotate(-45deg);
    }
  }
}
