<div class="wrapper">
  <!--  <mat-expansion-panel>-->
  <!--    <mat-expansion-panel-header>-->
  <!--      <mat-panel-title>-->
  <!--        This is the expansion title-->
  <!--      </mat-panel-title>-->
  <!--      <mat-panel-description>-->
  <!--        This is a summary of the content-->
  <!--      </mat-panel-description>-->
  <!--    </mat-expansion-panel-header>-->

  <!--    <p>This is the primary content of the panel.</p>-->
  <!--  </mat-expansion-panel>-->


  <div class="task-title-wrapper">
    <button mat-icon-button
            (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class="task-title"
        (editFinished)="updateTaskTitleIfChanged($event.isChanged, $event.newVal)"
        [value]="taskData.title"
        [isResetAfterEdit]="true"
        contenteditable="true"
        contentEditableOnClick
        tabindex="2">{{taskData.title}}</h2>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <!--  <mat-expansion-panel *ngIf="taskData.subTasks?.length">-->
  <!--    <mat-expansion-panel-header>-->
  <!--      <mat-panel-title>-->
  <!--        <mat-icon>list</mat-icon>-->
  <!--      </mat-panel-title>-->
  <!--      <mat-panel-description>-->
  <!--        Sub Tasks ({{taskData.subTasks?.length}})-->
  <!--      </mat-panel-description>-->
  <!--    </mat-expansion-panel-header>-->
  <div class="panel-content-wrapper">
    <div *ngIf="taskData.subTasks && taskData.subTasks.length"
         class="sub-tasks">
      <!--      <button (click)="toggleSubTaskMode()"-->
      <!--              *ngIf="taskData.subTasks && taskData.subTasks.length"-->
      <!--              class="toggle-sub-tasks-btn ico-btn mat-elevation-z2"-->
      <!--              color=""-->
      <!--              mat-mini-fab-->
      <!--              tabindex="2"-->
      <!--              [title]="T.F.TASK.CMP.TOGGLE_SUB_TASK_VISIBILITY|translate">-->
      <!--        <mat-icon *ngIf="(taskData._showSubTasksMode===ShowSubTasksMode.HideAll)">add-->
      <!--        </mat-icon>-->
      <!--        <mat-icon *ngIf="(taskData._showSubTasksMode!==ShowSubTasksMode.HideAll)"-->
      <!--                  [class.isHideDoneTasks]="(taskData._showSubTasksMode===ShowSubTasksMode.HideDone)">remove-->
      <!--        </mat-icon>-->
      <!--      </button>-->
      <task-list *ngIf="taskData.subTasks?.length"
                 [@expand]
                 [isHideAll]="(taskData._showSubTasksMode!==ShowSubTasksMode.Show)"
                 [isHideDone]="(taskData._showSubTasksMode===ShowSubTasksMode.HideDone)"
                 [listModelId]="taskData.id"
                 [parentId]="taskData.id"
                 [tasks]="taskData.subTasks"
                 listId="SUB"></task-list>
    </div>
  </div>
  <!--  </mat-expansion-panel>-->

  <mat-expansion-panel *ngIf="taskData.issueData">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <issue-header [task]="taskData"></issue-header>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <issue-content [task]="taskData"
                   class="panel-content-wrapper issue-content-wrapper"></issue-content>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="tab-header-icon">notes</mat-icon>
        {{T.F.TASK.ADDITIONAL_INFO.NOTES|translate}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-content-wrapper note-wrapper">
      <inline-markdown (changed)="changeTaskNotes($event)"
                       [model]="taskData.notes"
                       [isShowControls]="true"></inline-markdown>
    </div>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="tab-header-icon">attachment</mat-icon>
        {{T.F.TASK.ADDITIONAL_INFO.ATTACHMENTS|translate:{nr: issueAttachments?.length + (localAttachments$|async)?.length} }}
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

    <div class="panel-content-wrapper attachment-list-panel-content-wrapper">
      <ng-container *ngIf="taskData.issueType">
        <h3 class="mat-h3"
            style="margin-bottom: 0;">{{T.F.TASK.ADDITIONAL_INFO.ISSUE_TYPE_ATTACHMENTS|translate:{issueType: taskData.issueType} }}</h3>
        <attachment-list [attachments]="issueAttachments"
                         [isDisableControls]="true"></attachment-list>
      </ng-container>
      <h3 class="mat-h3"
          style="margin-bottom: 0;">{{T.F.TASK.ADDITIONAL_INFO.LOCAL_ATTACHMENTS|translate}}</h3>
      <attachment-list [attachments]="localAttachments$|async"></attachment-list>
    </div>
  </mat-expansion-panel>
</div>
