@import '../../../../variables';
@import '../task/task.component.mixins';

:host {
  position: relative;
  z-index: 1;
  display: block;
  padding-bottom: $s;

  task-list {
    padding: 0;
    margin-bottom: 0;
  }
}

::ng-deep task .box {
  @include darkTheme() {
  }
}

progress-bar {
  position: absolute !important;
  bottom: 0;
}

.wrapper {
  // 1px for the border
  //margin: 0 1px 0;
  transition: $transition-standard;

  @media (max-width: $layout-xs) {
    margin: $s/2;
    margin-bottom: $s;
  }
}




.task-title-wrapper {
  min-height: $bar-height;
  display: flex;
  align-items: center;
  position: sticky;
  background: inherit;
  top: 0;
  margin-top: -1px;
  z-index: 44;

  @include lightTheme() {
    background: #fff;
    box-shadow: $whiteframe-shadow-1dp;
  }
  @include darkTheme() {
    background: $dark-theme-bg-slightly-lighter;
    border: 1px solid $dark-theme-extra-border-color;
  }
}

.task-title {
  @include taskTitle;
  transform-origin: top center;
  padding-top: $s;
  padding-bottom: $s;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  flex-grow: 1;
  line-height: 1.4;
}



// OTHER
.toggle-sub-tasks-btn.toggle-sub-tasks-btn {
  position: absolute !important;
  transform: translateY(-50%);
  left: -24px;
  top: 50%;
  //z-index: $z-toggle-sub-task-btn !important;
  min-width: 0;
  min-height: 0;
  width: 32px;
  height: 32px;
  margin-top: -1px !important;
  transform-origin: left top;
  transition-property: all;

  :host-context(.isNoTouchDevice) & {
    opacity: 0;
  }

  :host:hover & {
    opacity: 1;
  }

  mat-icon {
    transition: $transition-standard;
    margin-top: -8px;
    //opacity: $task-icon-default-opacity;

    &.isHideDoneTasks {
      transform: rotate(-45deg);
    }
  }
}
