@import './../../../_variables';
@import './../../features/tasks/task/task.component.mixins';

.scheduled-task {
  margin-bottom: $s;
  padding: $s/2 $s*2;
  @include dividerBorderColor(1px);
  box-shadow: none;
}

.start-task-btn {
  display: none;

  @include mq(xs) {
    background-color: inherit;
    display: block;
    margin-left: -$s;
    margin-right: $s;
    transition: $transition-duration-m;
    opacity: 0;
    .scheduled-task:hover & {
      opacity: 1;
    }
  }

  &:hover {
    box-shadow: $whiteframe-shadow-2dp;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .task-info {
    flex: 1;
    display: flex;
    //flex-direction: column;
    align-items: center;

    @include mq(xs) {
      flex-direction: row;
    }
  }

  .title {
    flex: 1;
    padding-top: $s;
    //padding-bottom: $s;
    display: flex;
    flex-direction: column;

    ::ng-deep .tags-container {
      margin-left: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .due-date {
    border-radius: $card-border-radius;
    display: flex;
    font-style: italic;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-left: $s;
    padding-right: $s;
    min-height: $mat-mini-fab-size;

    .date {
      @include mq(xs) {
        margin-right: $s;
      }
    }

    @include mq(xs) {
      margin: 0 $s*2;
      flex-direction: row;
    }
  }
}

.project {
  margin-top: $s/2;
  // to align with task title
  margin-left: $s;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.no-scheduled-tasks {
  margin: $s;
  margin-top: $s*2;
  text-align: center;
}


.task-title {
  margin-left: -4px;
  @include taskTitle;
  // to account for the task titles inner padding
  margin-top: -8px;
}
