<ng-template #spinner>
  <full-page-spinner></full-page-spinner>
</ng-template>

<div *ngIf="(reminderService.isRemindersLoaded$|async); else spinner"
     class="component-wrapper page-wrapper"
     style="margin-top: 24px;">
  <p *ngIf="!(scheduledTaskService.allScheduledTasks$|async)?.length"
     class="no-scheduled-tasks">
    {{T.SCHEDULE.NO_SCHEDULED|translate}}
  </p>

  <div [@standardList]="(scheduledTaskService.allScheduledTasks$|async)?.length"
       class="tasks">
    <mat-card
      *ngFor="let task of (scheduledTaskService.allScheduledTasks$|async); trackBy: trackByFn;"
      class="scheduled-task">
      <mat-card-content>
        <div class="content">
          <button (click)="startTask(task)"
                  [matTooltip]="T.SCHEDULE.START_TASK|translate"
                  class="mat-elevation-z1 start-task-btn"
                  color=""
                  mat-mini-fab
                  matTooltipPosition="right">
            <mat-icon>play_arrow</mat-icon>
          </button>

          <div class="task-info">
            <div class="title">
              <div (editFinished)="updateTaskTitleIfChanged($event.isChanged, $event.newVal, task)"
                   class="task-title"
                   contentEditableOnClick
                   contenteditable="true">{{task.title}}</div>
              <tag-list [task]="task"
                        [isShowProjectTagAlways]="true"></tag-list>
            </div>

            <div (click)="editReminder(task)"
                 class="due-date"
                 mat-ripple
                 matTooltipPosition="left">
              <div>
                <div class="time-left"
                     style="margin-right: 10px;">{{task.reminderData.remindAt|date:'EE, d MMM, h:mm'}}</div>
                <div class="date" style="text-align: right; opacity: 0.8;">
                  ({{task.reminderData.remindAt|humanizeTimestamp}})
                </div>
              </div>
              <mat-icon>alarm</mat-icon>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
