<ng-template #spinner>
  <full-page-spinner></full-page-spinner>
</ng-template>

<div *ngIf="(reminderService.isRemindersLoaded$|async); else spinner"
     class="component-wrapper page-wrapper"
     style="margin-top: 24px;">
  <p *ngIf="!(scheduledTaskService.allScheduledTasks$|async)?.length"
     class="no-scheduled-tasks">
    {{T.SCHEDULE.NO_SCHEDULED|translate}}
  </p>

  <div [@standardList]="(scheduledTaskService.allScheduledTasks$|async)?.length"
       class="tasks">
    <mat-card
      *ngFor="let task of (scheduledTaskService.allScheduledTasks$|async); trackBy: trackByFn;"
      class="scheduled-task">
      <mat-card-content>
        <div class="content">

          <div class="task-info">
            <div class="title">
              <div (editFinished)="updateTaskTitleIfChanged($event.isChanged, $event.newVal, task)"
                   class="task-title"
                   contentEditableOnClick
                   contenteditable="true">{{task.title}}</div>
              <tag-list [task]="task"
                        [isShowProjectTagAlways]="true"></tag-list>
            </div>

            <div (click)="editReminder(task)"
                 class="due-date"
                 mat-ripple>
              <div class="date-and-time-left">
                <div class="date">{{task.reminderData.remindAt|date:'EE, d MMM, h:mm'}}</div>
                <div class="time-left">
                  ({{task.reminderData.remindAt|humanizeTimestamp}})
                </div>
              </div>
              <mat-icon>alarm</mat-icon>
            </div>

            <button mat-icon-button
                    class="action-btn"
                    (click)="startTask(task)"
                    [matTooltip]="T.SCHEDULE.START_TASK|translate">
              <mat-icon svgIcon="play"></mat-icon>
            </button>
            <button mat-icon-button
                    class="action-btn"
                    (click)="addToToday(task)"
                    [disabled]="task.tagIds.includes(TODAY_TAG.id)"
                    [matTooltip]="T.SCHEDULE.ADD_TO_TODAY|translate">
              <mat-icon>wb_sunny</mat-icon>
            </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
