@import './../../../_variables';

.scheduled-task {
  margin-bottom: $s;
  padding: $s/2 $s*2;
  @include dividerBorderColor(1px);
  box-shadow: none;

  .content {
    .title-and-due-date {
      flex: 1;
      display: flex;
      flex-direction: column;

      @include mq(xs) {
        flex-direction: row;
      }
    }

    .title {
      flex: 1;
    }

    .due-date {
      font-style: italic;
      @include mq(xs) {
        margin: 0 $s*2;
      }
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    .controls {
      align-self: center;
      display: flex;
      justify-content: center;
      flex-direction: row;

      button {
        margin-left: $s/2;
        @include mq(xs) {
          margin-left: $s;
        }
      }
    }
  }
}

.no-scheduled-tasks {
  margin: $s;
  margin-top: $s*2;
  text-align: center;
}
