@import './../../../_variables';

.scheduled-task {
  margin-bottom: $s;
  padding: $s/2 $s*2;
  @include dividerBorderColor(1px);
  box-shadow: none;
}

.start-task-btn {
  margin-right: $s*2;
  transition: $transition-duration-m;
  @include mq(xs) {
    opacity: 0;
    .scheduled-task:hover & {
      opacity: 1;
    }
  }

  &:hover {
    box-shadow: $whiteframe-shadow-3dp;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .task-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(xs) {
      flex-direction: row;
    }
  }

  .title {
    flex: 1;
  }

  .due-date {
    display: flex;
    font-style: italic;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-height: 48px;

    .date {
      @include mq(xs) {
        margin-right: $s;
      }
    }

    @include mq(xs) {
      margin: 0 $s*2;
      flex-direction: row;
    }
  }
}

.project {
  margin-top: $s/2;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.project-color {
  border-radius: 50%;
  height: $s;
  width: $s;
  margin-right: $s;
}

.no-scheduled-tasks {
  margin: $s;
  margin-top: $s*2;
  text-align: center;
}
