<div class="component-wrapper page-wrapper"
     style="margin-top: 24px;">
  <p *ngIf="!(scheduledTaskService.allScheduledTasks$|async)?.length"
     class="no-scheduled-tasks">
    {{T.BL.NO_SCHEDULED|translate}}
  </p>

  <div [@standardList]="(scheduledTaskService.allScheduledTasks$|async)?.length"
       class="tasks">
    <mat-card
      *ngFor="let task of (scheduledTaskService.allScheduledTasks$|async); trackBy: trackByFn;"
      class="scheduled-task">
      <mat-card-content>
        <div class="content">
          <div class="task-info">
            <div class="title">
              <div class="task-title">{{task.projectId}} {{task.title}}</div>
              <div *ngIf="(projectService.getById$(task.reminderData.projectId)|async) as project"
                   class="project">
                <div [ngStyle]="getThemeColor(project.theme?.primary || project.themeColor)"
                     class="project-color"></div>
                <div class="project-title">{{project.title}}</div>
              </div>
            </div>
            <div class="due-date"
                 [title]="task.reminderData.remindAt|date:'short'">{{task.reminderData.remindAt|humanizeTimestamp}}</div>
          </div>
          <div class="controls">
            <button (click)="startTask(task)"
                    color="primary"
                    mat-icon-button>
              <mat-icon>play_arrow</mat-icon>
            </button>
            <button (click)="editReminder(task)"
                    color=""
                    mat-icon-button>
              <mat-icon>alarm</mat-icon>
            </button>
            <button (click)="removeReminder(task)"
                    color="warn"
                    mat-icon-button>
              <mat-icon>alarm_off</mat-icon>
            </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
