<h2 mat-dialog-title>
  {{ T.DIALOG_UNSPLASH_PICKER.TITLE | translate }}
</h2>

<mat-dialog-content>
  <mat-form-field
    appearance="outline"
    style="width: 100%; margin-bottom: 1rem; margin-top: 4px"
  >
    <mat-label>{{ T.DIALOG_UNSPLASH_PICKER.SEARCH_LABEL | translate }}</mat-label>
    <input
      matInput
      [ngModel]="searchQuery()"
      (ngModelChange)="onSearchChange($event)"
      [placeholder]="T.DIALOG_UNSPLASH_PICKER.SEARCH_PLACEHOLDER | translate"
    />
  </mat-form-field>

  <div
    class="loading-container"
    *ngIf="isLoading()"
  >
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div
    class="image-grid"
    *ngIf="!isLoading()"
  >
    <div
      class="image-item"
      *ngFor="let photo of photos()"
      (click)="selectPhoto(photo)"
    >
      <img
        [src]="getPhotoThumb(photo)"
        [alt]="photo.alt_description || photo.description || 'Unsplash photo'"
      />
      <div class="photographer">
        {{ T.DIALOG_UNSPLASH_PICKER.BY | translate }}
        <a
          *ngIf="photo.user.links?.html"
          [href]="getPhotographerUrl(photo)"
          target="_blank"
          (click)="$event.stopPropagation()"
          style="color: inherit"
        >
          {{ photo.user.name }}
        </a>
        <span *ngIf="!photo.user.links?.html">{{ photo.user.name }}</span>
      </div>
    </div>
  </div>

  <div
    class="no-results"
    *ngIf="showNoResults()"
  >
    {{ T.DIALOG_UNSPLASH_PICKER.NO_RESULTS | translate }}
  </div>
</mat-dialog-content>
