.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.image-item {
  position: relative;
  cursor: pointer;
  border-radius: 4px;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    transition: transform 0.2s ease;

    &:hover {
      outline: 2px solid var(--c-primary);
      border-radius: 8px;
    }
  }
}

.photographer {
  font-weight: bold;
  padding-top: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 1;
  line-height: 1;
  font-size: 10px;
  text-align: right;
}

.no-results {
  text-align: center;
  padding: 2rem;
}
