<mat-dialog-content>
  <h2 class="mat-h2">Scheduled Task</h2>
  <div class="content">
    <h3>"{{task?.title || reminder.title}}"</h3>

    <div *ngIf="!isForCurrentProject"
         class="for-project">
      <p>For Project</p>
      <h3>{{(targetProject$|async)?.title}}</h3>
      <p>Task is due. Do you want to start working on it?</p>
    </div>
    <p *ngIf="isForCurrentProject">Task is due. Do you want to start working on it?</p>
  </div>

  <div class="task-for-other-project"

  <div *ngIf="!task && isForCurrentProject"
       style="color: red">
    There was a reminder scheduled for the task <strong>{{reminder.title}}</strong>, but it seems to be lost.
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <div class="wrap-buttons">
    <button color="primary"
            (click)="play()"
            type="button"
            mat-raised-button>
      <mat-icon>play_arrow</mat-icon>
      {{!isForCurrentProject ? 'Switch Project &' : ''}} Start Task
    </button>

    <button color=""
            *ngIf="task || !isForCurrentProject"
            (click)="snooze()"
            type="button"
            mat-raised-button>
      <mat-icon>snooze</mat-icon>
      Snooze 10m
    </button>

    <button color="warn"
            *ngIf="isForCurrentProject"
            (click)="dismiss()"
            type="button"
            mat-raised-button>
      <mat-icon>clear</mat-icon>
      Dismiss
    </button>
  </div>
</mat-dialog-actions>
