<h1 mat-dialog-title>
  <mat-icon class="dialog-header-icon">alarm</mat-icon>
  <span>{{T.F.TASK.D_REMINDER_VIEW.TITLE|translate}}</span>
</h1>

<mat-dialog-content>
  <div *ngIf="!isError"
       class="content">
    <h3>"{{task?.title || reminder.title}}"</h3>

    <p *ngIf="isForCurrentProject">{{T.F.TASK.D_REMINDER_VIEW.FOR_CURRENT|translate}}</p>

    <div *ngIf="!isForCurrentProject"
         class="for-project">
      <p>{{T.F.TASK.D_REMINDER_VIEW.FROM_PROJECT|translate}}</p>
      <h3>{{(targetProject$|async)?.title}}</h3>
      <p>{{T.F.TASK.D_REMINDER_VIEW.FOR_OTHER|translate}}</p>
    </div>
  </div>

  <div *ngIf="isError"
       style="color: red">
    {{T.F.TASK.D_REMINDER_VIEW.ERR_LOST|translate:{title: reminder.title} }}
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="wrap-buttons">
    <button (click)="dismissReminderOnly()"
            *ngIf="isError"
            [disabled]="isDisableControls"
            color="warn"
            mat-stroked-button
            type="button">
      <mat-icon>clear</mat-icon>
      {{T.F.TASK.D_REMINDER_VIEW.DISMISS|translate}}
    </button>

    <ng-container *ngIf="!isError">
      <button (dblclick)="snooze(10)"
              [disabled]="isDisableControls"
              [matMenuTriggerFor]="snoozeMenu"
              color="primary"
              mat-button
              type="button">
        <mat-icon>snooze</mat-icon>
        {{T.F.TASK.D_REMINDER_VIEW.SNOOZE|translate }}
      </button>

      <button (click)="dismiss()"
              *ngIf="isForCurrentProject"
              [disabled]="isDisableControls"
              color="primary"
              mat-stroked-button
              type="button">
        <mat-icon>clear</mat-icon>
        {{T.G.DISMISS|translate}}
      </button>

      <button (click)="play()"
              [disabled]="isDisableControls"
              color="primary"
              mat-stroked-button
              type="button">
        <mat-icon>play_arrow</mat-icon>
        {{!isForCurrentProject
        ? (T.F.TASK.D_REMINDER_VIEW.SWITCH_PROJECT_START|translate)
        : (T.F.TASK.D_REMINDER_VIEW.START|translate)}}
      </button>
    </ng-container>
  </div>
</mat-dialog-actions>

<mat-menu #snoozeMenu="matMenu">
  <button (click)="snooze(10)"
          mat-menu-item>
    <mat-icon>snooze</mat-icon>
    {{T.G.MINUTES|translate:{m: 10} }}
  </button>
  <button (click)="snooze(30)"
          mat-menu-item>
    <mat-icon>snooze</mat-icon>
    {{T.G.MINUTES|translate:{m: 30} }}
  </button>
  <button (click)="snooze(60)"
          mat-menu-item>
    <mat-icon>snooze</mat-icon>
    {{T.G.MINUTES|translate:{m: 60} }}
  </button>
  <button (click)="editReminder()"
          mat-menu-item>
    <mat-icon>edit</mat-icon>
    {{T.G.EDIT|translate}}
  </button>
</mat-menu>
