@import '../../../../variables';

:host {
  text-align: center;
}

.task-wrapper {
  margin-bottom: 0;
}

.task {
  position: relative;
  z-index: 1;
  margin-bottom: $s;
  display: block;
  cursor: auto;
}

.mat-dialog-content {
  overflow: visible !important;
}
