<mat-dialog-content>
  <h2 class="mat-h2">Scheduled Task</h2>

  <div *ngIf="!isError"
       class="content">
    <h3>"{{task?.title || reminder.title}}"</h3>

    <p *ngIf="isForCurrentProject">Task is due. Do you want to start working on it?</p>

    <div *ngIf="!isForCurrentProject"
         class="for-project">
      <p>For Project</p>
      <h3>{{(targetProject$|async)?.title}}</h3>
      <p>Task is due. Do you want to start working on it?</p>
    </div>
  </div>

  <div *ngIf="isError"
       style="color: red">
    There was a reminder scheduled for the task <strong>{{reminder.title}}</strong>, but it seems to be lost.
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <div class="wrap-buttons">
    <ng-container *ngIf="!isError">
      <button color="primary"
              [disabled]="isDisableControls"
              (click)="play()"
              type="button"
              mat-raised-button>
        <mat-icon>play_arrow</mat-icon>
        {{!isForCurrentProject ? 'Switch Project &' : ''}} Start Task
      </button>

      <button color=""
              [disabled]="isDisableControls"
              (click)="snooze()"
              type="button"
              mat-raised-button>
        <mat-icon>snooze</mat-icon>
        Snooze 10m
      </button>

      <button *ngIf="isForCurrentProject"
              color="warn"
              [disabled]="isDisableControls"
              (click)="dismiss()"
              type="button"
              mat-raised-button>
        <mat-icon>clear</mat-icon>
        Dismiss
      </button>
    </ng-container>

    <button color="warn"
            *ngIf="isError"
            [disabled]="isDisableControls"
            (click)="dismissReminderOnly()"
            type="button"
            mat-raised-button>
      <mat-icon>clear</mat-icon>
      Dismiss Reminder
    </button>
  </div>
</mat-dialog-actions>
