@if (isShowIntro()) {
<issue-panel-intro></issue-panel-intro>
}

<mat-tab-group
  mat-align-tabs="start"
  mat-stretch-tabs="false"
>
  @for (issueProvider of issueProviders(); track issueProvider.id) {
  <mat-tab>
    <ng-template mat-tab-label>
      <div
        class="tab-header-item"
        [class.disabled]="!issueProvider.isEnabled"
        (longPressIOS)="openEditIssueProvider(issueProvider)"
        (longPress)="openEditIssueProvider(issueProvider)"
      >
        <mat-icon
          [svgIcon]="issueProvider.issueProviderKey|issueIcon"
          [matTooltip]="getToolTipText(issueProvider)"
          matTooltipPosition="above"
        ></mat-icon>
        <div class="initials">{{ getIssueProviderInitials(issueProvider) }}</div>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <issue-provider-tab [issueProvider]="issueProvider"></issue-provider-tab>
    </ng-template>
  </mat-tab>
  }

  <mat-tab>
    <ng-template mat-tab-label>
      <div class="tab-header-item">
        <mat-icon>add_circle</mat-icon>
      </div>
    </ng-template>

    <ng-template matTabContent>
      <issue-provider-setup-overview></issue-provider-setup-overview>
    </ng-template>
  </mat-tab>
</mat-tab-group>
