[edit-on-click-duration],
[edit-on-click] {
  cursor: pointer;
}

.edit-on-click-text {
  display: inline-block;
}

.edit-on-click-form {
  display: inline-block;

  &.duration-form {
    width: auto;
  }

  input {
    display: inline-block;
  }
  input.edit-on-click-duration-input {
    width: 70px;
    padding-left: 2px;
    padding-right: 2px;
  }

  &.ng-leave {
    transition: none;
  }

  &.ng-enter {
    transition: all 0.15s $ease-in-out-quint;
  }

  &.ng-enter {
    transform: scaleY(0);
  }

  &.ng-enter-active {
    transform: scaleY(1);
  }
}
