.page-settings {
  .config-section {
    padding: 15px;
    margin-bottom: 10px;
    background: #ffffff;
    body.dark-theme & {
      background-color: $dark-theme-bg-lighter;
    }
    .md-title {
      margin-top: 0;
    }
  }
}