.page-settings {
  text-align: left;

  @media(min-width: $layout-gt-sm) {
    column-count: 2;
    section {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      break-inside: avoid-column;
      -webkit-column-break-inside: avoid;
    }
  }

  @media(min-width: $layout-gt-lg) {
    column-count: 3;
  }

  .config-section {
    padding: 15px;
    margin-bottom: 10px;
    background: #ffffff;
    position: relative;

    body.dark-theme & {
      background-color: $dark-theme-bg-lighter;
    }
    .md-title {
      margin-top: 0;
    }
  }
}