@import '../../../../variables';

//$this-task-text-color: #333333;
//$this-task-text-color-dark: #dddddd;
$this-task-text-color-done: #aaaaaa;
$task-inner-padding-left-right: 6px;
$this-active-shadow: $whiteframe-shadow-6dp;
$this-first-line-min-height: 40px;
$this-icon-default-opacity: 0.7;
$this-current-task-zoom: 1.0178571428, 1;

// z-indexes
$z-drag-handle: 1;
$z-task-title: 4;
$z-btn: 4;
$z-time-wrapper: 4;
$z-btn-hover: 5;
$z-hover-controls: 6;
$z-progress-bar: 7;

$z-check-done: 11;
$z-first-line-controls-hover: 12;
$z-swipe-block: 13;
$z-toggle-sub-task-btn: 14;
$z-task-title-focus: 15;

$z-is-current-host: 20;
$z-focus-host: 20;

$z-drag-over-msg: 21;

$z-time-btn-svg-wrapper: 5555;

@import './task.component.mixins';
@import './new';




// REDUCED THEME STYLES
:host-context(.isReducedTheme) {
  > .inner-wrapper:not(.isCurrent) > .box {
    box-shadow: none !important;
    border-color: transparent;
    background: transparent !important;
  }

  &.focus {
    > .inner-wrapper:not(.isCurrent) > .box {
      border-color: $c-accent !important;
    }
  }

  .toggle-sub-tasks-btn {
    background: transparent !important;
    box-shadow: none !important;
  }

  @include mq(xs) {
    .sub-tasks {
      padding-left: $s*2;
    }
  }
}

