.dialog-time-estimate {
  text-align: center;

  .time-estimate-spent-wrapper {
    duration-input-slider {
      display: inline-block;
    }
  }

  .time-spend-on-days-wrapper {
    display: inline-block;
    margin-bottom: 20px;
    margin: 5px;

    .inner-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  duration-input-slider {
  }

  progress-bar {
    z-index: 2;
    height: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
  .progress-bar-wrapper {
    margin-top: 2px;
    position: relative;
    &:after {
      position: absolute;
      border-top: 2px dashed #bcbcbc;
      content: '';
      top: 2px;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}
