<header>
  <banner></banner>
</header>
<main [ngSwitch]="activePage$|async">
  <button
    class="close-btn"
    mat-icon-button
    matTooltip="Cancel focus session"
    (click)="cancelFocusSession()"
  >
    <mat-icon>close</mat-icon>
  </button>

  <focus-mode-task-selection
    *ngSwitchCase="FocusModePage.TaskSelection"
    (taskSelected)="onTaskSelected($event)"
  ></focus-mode-task-selection>

  <focus-mode-duration-selection
    *ngSwitchCase="FocusModePage.DurationSelection"
    [task]="taskService.currentTask$|async"
    [focusModeDuration]="sessionDuration$|async"
    (focusModeDurationSelected)="onFocusModeDurationSelected($event)"
  ></focus-mode-duration-selection>

  <focus-mode-main
    *ngSwitchCase="FocusModePage.Main"
    [focusModeDuration]="sessionDuration$|async"
    [focusModeElapsed]="elapsedTime$|async"
    [sessionProgress]="sessionProgress$|async"
    (taskDone)="onTaskDone()"
  ></focus-mode-main>

  <focus-mode-task-done *ngSwitchCase="FocusModePage.TaskDone"></focus-mode-task-done>
</main>
