md-autocomplete button ng-md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0.9);
  transform: translate3d(-50%, -50%, 0) scale(0.9);
}

md-autocomplete button ng-md-icon path {
  stroke-width: 0;
}

.md-button.ng-md-icon {
  padding: 0;
  background: none;
}

.md-button.md-fab ng-md-icon {
  margin-top: 0;
}

md-checkbox .ng-md-icon {
  transition: 240ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 2px;
}

md-checkbox.md-checked .ng-md-icon {
  border: none;
}

.md-chips .md-chip .md-chip-remove ng-md-icon {
  height: 1.8rem;
  width: 1.8rem;
}

ng-md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  height: 24px;
  width: 24px;
}

ng-md-icon svg {
  pointer-events: none;
}

md-tabs-wrapper md-prev-button ng-md-icon,
md-tabs-wrapper md-next-button ng-md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

md-tabs-wrapper md-next-button ng-md-icon {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(180deg);
  transform: translate3d(-50%, -50%, 0) rotate(180deg);
}

md-input-container {

  > ng-md-icon{
    position: relative;
    top: auto;
    left: auto;
  }

  &.md-default-theme > ng-md-icon {
    fill: #fff;
  }

  $this-float-ml: 32px;
  &.md-icon-float {
    display: block;
    padding-left: $this-float-ml;
    label {
      margin-left: $this-float-ml;
      width: calc(100% - #{$this-float-ml}) !important;
    }
    .hint{
      margin-left: $this-float-ml;
      width: calc(100% - #{$this-float-ml}) !important;
    }
    > ng-md-icon {
      position: absolute;
      top: 5px;
      left: 0;
      vertical-align: middle;
      + input {
        margin-left: 0;
        //width: calc(100% - #{$this-float-ml});
      }
    }
  }


}