<md-dialog aria-label="Submit worklog to jira"
           md-theme="vm.theme">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Submit worklog to jira for "{{ vm.taskCopy.originalKey }}"</h2>
      <span flex></span>
      <md-button class="md-icon-button"
                 aria-label="Cancel"
                 ng-click="vm.cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form ng-submit="vm.addWorklog()"
        novalidate
        name="worklogForm">

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>Submit a worklog for "{{ vm.taskCopy.title }}".</p>
        <p>The current logged work amount on Jira is <strong>{{ vm.taskCopy.originalTimeSpent|duration }}</strong>.</p>


        <!--<md-input-container class="md-block">-->
        <!--<label>Started (date)</label>-->
        <!--<md-datepicker ng-model="vm.taskCopy.started"-->
        <!--required-->
        <!--name="startedDate"-->
        <!--md-placeholder="Enter date"></md-datepicker>-->
        <!--<div class="validation-messages"-->
        <!--ng-messages="worklogForm.startedDate.$error">-->
        <!--<div ng-message="valid">The entered value is not a date!</div>-->
        <!--<div ng-message="required">This date is required!</div>-->
        <!--</div>-->
        <!--</md-input-container>-->


        <md-input-container class="md-block">
          <ng-md-icon icon="event"></ng-md-icon>
          <input type="date"
                 ng-model="vm.taskCopy.started"
                 required
                 name="startedDate"
                 placeholder="Started (date)">
          <div class="validation-messages"
               ng-messages="worklogForm.startedDate.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <ng-md-icon icon="access_time"></ng-md-icon>
          <input type="time"
                 required
                 name="startedTime"
                 ng-model="vm.taskCopy.started"
                 placeholder="Started (time)">
          <div class="validation-messages"
               ng-messages="worklogForm.startedTime.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>


        <md-input-container class="md-block">
          <ng-md-icon icon="timer"></ng-md-icon>
          <input type="text"
                 required
                 name="timeSpent"
                 placeholder="Time spent"
                 input-duration
                 min-duration="1m"
                 ng-model="vm.taskCopy.timeSpent">
          <div class="hint">Current jira values is {{ vm.taskCopy.originalTimeSpent|duration }}</div>
          <div class="validation-messages"
               ng-messages="worklogForm.timeSpent.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Coment</label>
          <textarea ng-model="vm.comment"></textarea>
        </md-input-container>

        <!--<md-switch ng-model="vm.isUpdateLocalTaskSettings"-->
        <!--aria-label="Update local task with values entered here">-->
        <!--Update local task with values entered here-->
        <!--</md-switch>-->
      </div>
    </md-dialog-content>


    <md-dialog-actions>
      <md-button type="submit"
                 aria-label="Submit"
                 class="md-raised md-primary">
        Add worklog on Jira
      </md-button>

      <md-button ng-click="vm.cancel()"
                 type="button"
                 aria-label="Camcel"
                 class="md-raised">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>