@import "../../../../variables";

.summary-table-wrapper {
  display: inline-block;

  > table {
    width: 100%;
    text-align: left;

    td:first-of-type {
      padding-right: $s;
    }
  }

  td.isSubTask {
    .task-title {
      font-style: italic;
      padding-left: $s*2;
      position: relative;
      display: inline-block;

      &:before {
        content: '–';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}

