<h2 mat-dialog-title=""
    style="text-align: center; margin-bottom: 0;">{{worklogForDay.value.dateStr}}</h2>

<div mat-dialog-content>
  <div class="summary-table-wrapper">
    <table mat-table
           [dataSource]="worklogForDay.value.logEntries"
           class="summary-table">
      <ng-container matColumnDef="title">
        <th mat-header-cell
            *matHeaderCellDef> Title
        </th>
        <td mat-cell
            [class.isSubTask]="logEntry.task.parentId"
            *matCellDef="let logEntry">
          <div class="task-title">
            {{logEntry.task.title}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="timeSpent">
        <th mat-header-cell
            *matHeaderCellDef> Time Spent
        </th>
        <td mat-cell
            [class.isSubTask]="logEntry.task.parentId"
            *matCellDef="let logEntry"> {{logEntry.task.timeSpentOnDay[worklogForDay.value.dateStr]|msToString}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef>
        </th>
        <td mat-cell
            *matCellDef="let logEntry">
          <button mat-mini-fab=""
                  *ngIf="!logEntry.task?.parentId && !logEntry.isNoRestore"
                  aria-label="restore"
                  (click)="restoreTask(worklogForDay.key,logEntry.task);">
            <!--<mat-icon>unarchive</mat-icon>-->
            <mat-icon>settings_backup_restore</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="['title','timeSpent', 'actions']"></tr>
      <tr mat-row
          *matRowDef="let row; columns: ['title','timeSpent', 'actions'];"></tr>
    </table>

    <!--<table class="task-summary-table">-->
    <!--<tr *ngFor="let logEntry of worklogForDay.value.logEntries">-->
    <!--<td [innerHtml]="(logEntry.parentTitle ? logEntry.parentTitle +' / ': '') + logEntry.task.title"></td>-->
    <!--<td [innerHtml]="logEntry.task.timeSpentOnDay[worklogForDay.value.dateStr]|msToString"></td>-->
    <!--</tr>-->
    <!--</table>-->
  </div>
</div>


<div mat-dialog-actions=""
     align="center">
  <button mat-raised-button=""
          (click)="close()"
          type="button">
    <mat-icon>close</mat-icon>
    Close
  </button>
</div>
