// Vars
:root {
  --color-background: #282a36;
  --color-current: #44475a;
  --color-foreground: #f8f8f2;
  --color-comment: #6272a4;
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;
  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-red: #f55;
  --color-yellow: #f1fa8c;
}
