<form ng-submit="vm.createProject(vm.project)">
  <md-dialog aria-label="Create a new project"
             class="was-idle-dialog">
    <md-dialog-content layout-padding>
      <h2 class="md-title">Create a new project</h2>

      <md-input-container class="md-block">
        <label>Project Title</label>
        <input type="text"
               ng-model="vm.project.title"
               md-auto-focus
               required
               aria-label="Title">
      </md-input-container>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button type="submit"
                 class="md-primary md-raised">
        Save
      </md-button>

      <md-button ng-click="vm.cancel()"
                 type="button"
                 class="md-primary md-raised">
        Dismiss
      </md-button>
    </md-dialog-actions>
  </md-dialog>
</form>
