<mat-horizontal-stepper [linear]="true"
                        dynamicHeight
                        #stepper>
  <mat-step [stepControl]="credentialsFormGroup">
    <form [formGroup]="credentialsFormGroup">
      <ng-template matStepLabel>Credentials</ng-template>


      <formly-form [model]="cfg"
                   [fields]="credentialsFormConfig"
                   [form]="credentialsFormGroup">
      </formly-form>

      <div class="center-wrapper">
        <button mat-raised-button="">
          <mat-icon>import_export</mat-icon>
          Test Credentials
        </button>
        <button mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="!credentialsFormGroup.valid">
          Next
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Issue Search</ng-template>
      <mat-form-field>
        <input matInput
               placeholder="Address"
               formControlName="secondCtrl"
               required>
      </mat-form-field>
      <div class="center-wrapper">
        <button mat-raised-button=""
                matStepperPrevious>Back
        </button>
        <button mat-raised-button
                color="primary"
                matStepperNext>Next
        </button>
      </div>
    </form>
  </mat-step>

  <!--<mat-step [stepControl]="thirdFormGroup">-->
  <!--<form [formGroup]="thirdFormGroup">-->
  <!--<ng-template matStepLabel>Advanced</ng-template>-->
  <!--<mat-form-field>-->
  <!--&lt;!&ndash;<input matInput&ndash;&gt;-->
  <!--&lt;!&ndash;placeholder="Address"&ndash;&gt;-->
  <!--&lt;!&ndash;formControlName="secondCtrl"&ndash;&gt;-->
  <!--&lt;!&ndash;required>&ndash;&gt;-->
  <!--</mat-form-field>-->
  <!--<div class="center-wrapper">-->
  <!--<button mat-raised-button=""-->
  <!--matStepperPrevious>Back-->
  <!--</button>-->
  <!--<button mat-raised-button=""-->
  <!--matStepperNext>Save-->
  <!--</button>-->
  <!--</div>-->
  <!--</form>-->
  <!--</mat-step>
-->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div class="center-wrapper">
      <button mat-raised-button=""
              matStepperPrevious>Back
      </button>
      <button mat-raised-button=""
              (click)="stepper.reset()">Reset
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>