@import '../../../../variables';

:host {
  display: block;
  pointer-events: none;
}

.tags-container {
  display: inline-block;
  position: relative;
  //margin-left: 50px;
  // Magic number to align icon with task text
  user-select: none;
  -webkit-user-select: none; /* Safari */
  margin: 0 0 ($s * 0.5) 4px;
}

.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
