:host {
  display: block;
  pointer-events: none;
  // needed because we have inline content and otherwise the height expands
  line-height: 0;
}

.tags-container {
  display: inline-block;
  position: relative;
  //margin-left: 50px;
  // Magic number to align icon with task text
  user-select: none;
  -webkit-user-select: none; /* Safari */
}

.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
