.hidden {
  display: none;
}


.tags {
  list-style: none;
}

.tag {
  display: inline-block;
  min-width: 40px;
  background-color: white;
  margin: 1px;
  padding: 2px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10%;
}
