<md-dialog aria-label="Time estimation and time spent dialog"
           class="dialog-time-estimate">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Make an estimate / adjust time spent</h2>
      <span flex></span>
      <md-button class="md-icon-button"
                 aria-label="Cancel"
                 ng-click="vm.cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form ng-submit="vm.submit(vm.timeEstimate, vm.timeSpent)">
    <md-dialog-content>
      <div class="md-dialog-content">

        <md-input-container class="md-icon-float md-block">
          <ng-md-icon icon="timer"
                      aria-label="Estimated Durations"></ng-md-icon>
          <label>Estimated Duration</label>

          <input type="text"
                 md-auto-focus
                 input-duration
                 ng-model="vm.timeEstimate"
                 aria-label="Estimated Durations">
        </md-input-container>
        <h3 class="md-caption">Time Spent</h3>

        <md-input-container class="md-icon-float md-block">
          <ng-md-icon icon="timer"
                      aria-label="Time Spent Today"></ng-md-icon>
          <label>Time Spent Today</label>
          <input type="text"
                 input-duration="optional"
                 ng-model="vm.timeSpentOnDayCopy[vm.todayStr]"
                 aria-label="Time Spent Today">
        </md-input-container>


        <div layout="row"
             ng-repeat="(strDate,timeSpent) in vm.timeSpentOnDayCopy"
             ng-if="vm.todayStr !== strDate">
          <div flex>
            <md-input-container class="md-icon-float md-block">
              <ng-md-icon icon="timer"
                          aria-label="Time Spent"></ng-md-icon>
              <label>Time Spent on {{ strDate }}</label>
              <input type="text"
                     input-duration="optional"
                     ng-model="timeSpent"
                     aria-label="Time Spent">
            </md-input-container>
          </div>
          <div flex="20">
            <md-button class="md-raised md-icon-button md-accent"
                       aria-label="Delete"
                       ng-click="vm.deleteValue(strDate)">
              <ng-md-icon icon="delete_forever"></ng-md-icon>
            </md-button>
          </div>
        </div>


        <div class="side-info">
          Examples:<br>
          30m => 30 minutes<br>
          2h => 2 hours<br>
          2h 30m => 2 hours and 30 minutes
        </div>

      </div>
    </md-dialog-content>


    <md-dialog-actions>
      <md-button type="submit"
                 class="md-primary md-raised">
        Save
      </md-button>
      <md-button ng-click="vm.cancel()"
                 type="button"
                 class="md-raised">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
