:host {
  display: block;

  .help-text {
    margin-bottom: 40px;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    padding: 0 var(--s2);
  }

  .help-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1;
  }

  :host-context([dir='rtl']) {
    .help-btn {
      position: absolute;
      right: unset;
      left: -8px;
    }
  }

  .help-icon-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
  }
}
