<div class="wrapper">
  <ng-container *ngIf="simpleCounter.type===SimpleCounterType.StopWatch">
    <button mat-mini-fab
            class="main-btn stopwatch"
            (click)="toggleStopwatch()"
            [color]="isOn? 'accent': 'primary'">
      <mat-icon *ngIf="isOn">{{simpleCounter.icon}}</mat-icon>
      <mat-icon *ngIf="!isOn">{{simpleCounter.iconOn}}</mat-icon>
    </button>
    <div class="label">{{simpleCounter.count|msToMinuteClockString}}</div>
  </ng-container>

  <ng-container *ngIf="simpleCounter.type===SimpleCounterType.ClickCounter">
    <button mat-mini-fab
            class="main-btn"
            (click)="toggleCounter()"
            color="primary">
      <mat-icon>{{simpleCounter.icon}}</mat-icon>
    </button>
    <div class="label">{{simpleCounter.count}}</div>
  </ng-container>

  <!--  <ng-container *ngIf="true">-->
  <div class="controls">
    <button (click)="edit()"
            class="btn"
            color=""
            title="Edit"
            mat-mini-fab>
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="reset()"
            class="btn"
            color=""
            title="Reset"
            mat-mini-fab>
      <mat-icon>undo</mat-icon>
    </button>
  </div>
  <!--  </ng-container>-->
</div>
