@import './../../../../_variables';


:host,
.bg-wrapper,
::ng-deep .mat-tab-group {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tab-wrapper {
  min-height: 100%;
  flex: 1;
}

::ng-deep {
  .mat-tab-link {
    //justify-content: center;
    //width: 50%;
    //color: #ffffff;
  }

  .mat-tab-label-active {
    opacity: 1 !important;
  }

  .mat-tab-header {
    position: relative;
    z-index: 4;
    box-shadow: $whiteframe-shadow-3dp;

  }

  .mat-tab-labels {
    justify-content: stretch;
    user-select: none;
  }

  .mat-tab-body-wrapper {
    // grow to parent height (at least)
    flex: 1;
  }

  .mat-tab-labels .mat-tab-label {
    flex-grow: 1;

    mat-icon {
      margin-right: $s;
    }
  }

  .mat-tab-body-content {
    @include scrollY;
  }
}

.component-wrapper {
  padding-top: $s*2;
}

.tab-label-text {
  &,
  ::ng-deep & {
    @media (max-width: $layout-xs) {
      display: none;
    }
  }
}

task-list ::ng-deep > .task-list-inner {
  min-height: 50px;
}
