<mat-tab-group (selectedIndexChange)="indexChange($event)"
               [selectedIndex]="selectedIndex"
               class="tab-group"
               color="darker">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="color-contrast">library_books</mat-icon>
      <span class="tab-label-text color-contrast">Backlog
        ({{taskService.estimateRemainingBacklog$|async|msToString}})</span>
    </ng-template>

    <div class="tab-wrapper bg-400">
      <div class="task-list-wrapper">
        <task-list [noTasksMsg]="'There are currently no tasks in your backlog'"
                   [tasks]="taskService.backlogTasks$|async"
                   class="isHidePlayBtn"
                   listId="PARENT"
                   listModelId="BACKLOG"></task-list>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="color-contrast">alarm</mat-icon>
      <span
        class="tab-label-text color-contrast">Scheduled
        ({{(scheduledTaskService.scheduledTasksForCurrentProject$|async)?.length}})</span>
    </ng-template>

    <div class="tab-wrapper bg-400">
      <div class="component-wrapper page-wrapper">
        <p *ngIf="!(scheduledTaskService.scheduledTasksForCurrentProject$|async)?.length"
           class="no-scheduled-tasks">
          There are currently no scheduled tasks. You can schedule a task by choosing "Schedule Task" in the task
          context menu. To open it click on the 3 little dots on the right of a task.
        </p>

        <div [@standardList]="(scheduledTaskService.scheduledTasksForCurrentProject$|async)?.length"
             class="tasks">
          <mat-card
            *ngFor="let task of (scheduledTaskService.scheduledTasksForCurrentProject$|async); trackBy: trackByFn;"
            class="scheduled-task">
            <mat-card-content>
              <div class="content">
                <div class="title-and-due-date">
                  <div class="title">{{task.title}}</div>
                  <div class="due-date">{{task.reminderData.remindAt|humanizeTimestamp}}</div>
                </div>
                <div class="controls">
                  <button (click)="startTask(task)"
                          color="primary"
                          mat-mini-fab>
                    <mat-icon>play_arrow</mat-icon>
                  </button>
                  <button (click)="editReminder(task)"
                          color=""
                          mat-mini-fab>
                    <mat-icon>alarm</mat-icon>
                  </button>
                  <button (click)="removeReminder(task)"
                          color="warn"
                          mat-mini-fab>
                    <mat-icon>alarm_off</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>


        <section *ngIf="(scheduledTaskService.scheduledTasksForOtherProjects$|async)?.length">
          <h2 class="mat-h2"
              style="text-align: center; margin-top: 16px;">From other Projects</h2>
          <div [@standardList]="(scheduledTaskService.scheduledTasksForOtherProjects$|async)?.length"
               class="tasks">
            <mat-card
              *ngFor="let task of (scheduledTaskService.scheduledTasksForOtherProjects$|async); trackBy: trackByFn;"
              class="scheduled-task">

              <!--            <div class="project-color bg-400-el"-->
              <!--                 [ngClass]="project.themeColor">-->
              <!--            </div>-->

              <mat-card-content>
                <div class="content">
                  <div class="title-and-due-date">
                    <div class="title">{{task.title}}</div>
                    <div class="due-date">{{task.reminderData.remindAt|humanizeTimestamp}}</div>
                  </div>
                  <div class="controls">
                    <button (click)="startTaskFromOtherProject(task)"
                            color="primary"
                            mat-mini-fab>
                      <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button (click)="editReminder(task)"
                            color=""
                            mat-mini-fab>
                      <mat-icon>alarm</mat-icon>
                    </button>
                    <button (click)="removeReminder(task)"
                            color="warn"
                            mat-mini-fab>
                      <mat-icon>alarm_off</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </section>

      </div>
    </div>
  </mat-tab>

</mat-tab-group>
