<mat-tab-group (selectedIndexChange)="indexChange($event)"
               [selectedIndex]="selectedIndex"
               class="tab-group">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>library_books</mat-icon>
      <span class="tab-label-text">{{T.BL.TITLE|translate}}
        ({{taskService.estimateRemainingBacklog$|async|msToString}})</span>
    </ng-template>

    <div class="tab-wrapper">
      <div class="task-list-wrapper">
        <task-list [noTasksMsg]="T.BL.NO_TASKS|translate"
                   [tasks]="taskService.backlogTasks$|async"
                   [isBacklog]="true"
                   class="isHidePlayBtn"
                   listId="PARENT"
                   listModelId="BACKLOG"></task-list>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>alarm</mat-icon>
      <span
        class="tab-label-text ">{{T.BL.SCHEDULED|translate}}
        ({{(scheduledTaskService.scheduledTasksForCurrentProject$|async)?.length}})</span>
    </ng-template>

    <div class="tab-wrapper">
        <div class="component-wrapper page-wrapper">
          <p *ngIf="!(scheduledTaskService.scheduledTasksForCurrentProject$|async)?.length"
             class="no-scheduled-tasks">
            {{T.BL.NO_SCHEDULED|translate}}
          </p>

          <div [@standardList]="(scheduledTaskService.scheduledTasksForCurrentProject$|async)?.length"
               class="tasks">
            <mat-card
              *ngFor="let task of (scheduledTaskService.scheduledTasksForCurrentProject$|async); trackBy: trackByFn;"
              class="scheduled-task">
              <mat-card-content>
                <div class="content">
                  <div class="title-and-due-date">
                    <div class="title">{{task.title}}</div>
                    <div class="due-date">{{task.reminderData.remindAt|humanizeTimestamp}}</div>
                  </div>
                  <div class="controls">
                    <button (click)="startTask(task)"
                            color="primary"
                            mat-mini-fab>
                      <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button (click)="editReminder(task)"
                            color=""
                            mat-mini-fab>
                      <mat-icon>alarm</mat-icon>
                    </button>
                    <button (click)="removeReminder(task)"
                            color="warn"
                            mat-mini-fab>
                      <mat-icon>alarm_off</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>


          <ng-container *ngIf="(scheduledTaskService.scheduledTasksForOtherProjects$|async) as scheduledTasksForOtherProjects">
            <section *ngIf="scheduledTasksForOtherProjects?.length">
              <h2 class="mat-h2"
                  style="text-align: center; margin-top: 16px;">{{T.BL.FROM_OTHER_PROJECTS|translate}}</h2>
              <div [@standardList]="scheduledTasksForOtherProjects?.length"
                   class="tasks">
                <mat-card
                  *ngFor="let task of scheduledTasksForOtherProjects; trackBy: trackByFn;"
                  class="scheduled-task">

                  <!--            <div class="project-color bg-400-el"-->
                  <!--                 [ngClass]="project.themeColor">-->
                  <!--            </div>-->

                  <mat-card-content>
                    <div class="content">
                      <div class="title-and-due-date">
                        <div class="title">{{task.title}}</div>
                        <div class="due-date">{{task.reminderData.remindAt|humanizeTimestamp}}</div>
                      </div>
                      <div class="controls">
                        <button (click)="startTaskFromOtherProject(task)"
                                color="primary"
                                mat-mini-fab>
                          <mat-icon>play_arrow</mat-icon>
                        </button>
                        <button (click)="editReminder(task)"
                                color=""
                                mat-mini-fab>
                          <mat-icon>alarm</mat-icon>
                        </button>
                        <button (click)="removeReminder(task)"
                                color="warn"
                                mat-mini-fab>
                          <mat-icon>alarm_off</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </section>
          </ng-container>

        </div>
    </div>
  </mat-tab>

</mat-tab-group>
