<form (submit)="submitWorklog()"
      class="mat-body"
      name="time-estimate-form">

  <mat-dialog-content>
    <h2>
      <mat-icon svgIcon="jira"></mat-icon>
      Jira: Submit Worklog
    </h2>
    <p>Submit a worklog to Jira for <strong>{{issue.key}} {{issue.summary}}</strong>.</p>
    <p>Currently logged time: <strong>{{(issue.timespent*1000)|msToString}}</strong></p>

    <div class="form-wrapper">
      <mat-form-field>
        <input matInput
               placeholder="Time Spent"
               inputDuration="optional"
               type="text"
               name="timeSpent"
               required
               [(ngModel)]="timeSpent"
               aria-label="Time Spent">

        <mat-icon matPrefix>timer</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="Started"
               type="datetime-local"
               [(ngModel)]="started"
               required
               name="date">
        <mat-error>The entered value is not a date!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <textarea [(ngModel)]="comment"
                  name="comment"
                  matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="wrap-buttons">
      <button color="primary"
              type="submit"
              (click)="submitWorklog()"
              class="btn btn-primary submit-button"
              mat-raised-button>Save Worklog
      </button>
      <button type="button"
              (click)="close()"
              class="btn btn-primary submit-button"
              mat-raised-button>Cancel
      </button>
    </div>
  </mat-dialog-actions>
</form>
