<form (submit)="submitWorklog()"
      class="mat-body"
      name="time-estimate-form">

  <h1 mat-dialog-title>
    <mat-icon svgIcon="jira"
              class="dialog-header-icon"></mat-icon>
    <span>Jira: Submit Worklog</span>
  </h1>

  <mat-dialog-content>
    <p>Submit a worklog to Jira for <strong>{{issue.key}} {{issue.summary}}</strong>.</p>
    <p>Currently logged time: <strong>{{(issue.timespent * 1000)|msToString}}</strong></p>

    <div class="form-wrapper">
      <mat-form-field>
        <input [(ngModel)]="timeSpent"
               aria-label="Time Spent"
               inputDuration="optional"
               matInput
               name="timeSpent"
               placeholder="Time Spent"
               required
               type="text">

        <mat-icon matPrefix>timer</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="started"
               matInput
               name="date"
               placeholder="Started"
               required
               type="datetime-local">
        <mat-error>The entered value is not a date!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <textarea [(ngModel)]="comment"
                  cdkAutosizeMaxRows="5"
                  cdkAutosizeMinRows="2"
                  cdkTextareaAutosize
                  matInput
                  name="comment"></textarea>
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="wrap-buttons">
      <button (click)="close()"
              class="btn btn-primary submit-button"
              color="primary"
              mat-button
              type="button">Cancel
      </button>
      <button class="btn btn-primary submit-button"
              color="primary"
              mat-stroked-button
              type="submit">
        <mat-icon>save</mat-icon>
        Save Worklog
      </button>
    </div>
  </mat-dialog-actions>
</form>
