@import '../../../../variables';

:host {
  //text-align: center;
}

.tasks {
  margin-bottom: $s * 2;
}

.task {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $dark-theme-extra-border-color;
  padding: $s;
  padding-left: 0;

  &:last-child {
    border-bottom: 0;
  }

  .title-wrapper {
    flex: 1;
    margin-right: $s;
  }

  .title {
    margin-left: $s;
  }

  tag-list {
    margin-top: $s * 0.5;
  }

  .actions {
    @include mq(sm) {
      margin: $s;
    }

    button {
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
