/* stylelint-disable selector-type-no-unknown, selector-max-class, selector-max-specificity, selector-max-combinators, selector-max-compound-selectors */

body,
body.isDarkTheme,
body.isLightTheme,
body.isDarkTheme.isDisableBackgroundGradient,
body.isLightTheme.isDisableBackgroundGradient,
body.isMac.isEnabledBackgroundGradient,
body.isWeb.isEnabledBackgroundGradient,
body.isEnabledBackgroundGradient,
body.isDisableBackgroundGradient {
  // Body background
  color: var(--color-foreground);
  background-color: var(--color-background-main);

  // Colorable accents
  .mat-drawer-container .mat-drawer-inner-container .route-link.isActiveRoute,
  a[href] {
    color: var(--color-accent);
    text-decoration: none;
  }

  // Accented borders
  &.isNoTouchOnly:focus > .inner-wrapper > .box,
  &.isNoTouchOnly *:focus > .inner-wrapper > .box,
  *:focus > .inner-wrapper > .box,
  *:focus .input-item,
  *:focus .mat-expansion-panel {
    // Override too specific styles
    border-color: var(--color-accent) !important;
  }

  // Background-colorable accent
  .tag.isActiveContext .tag-color,
  .tag.isActiveContext .project-color,
  .tag:hover .tag-color,
  .tag:hover .project-color,
  .project.isActiveContext .tag-color,
  .project.isActiveContext .project-color,
  .project:hover .tag-color,
  .project:hover .project-color,
  .route-link.isActiveContext .tag-color,
  .route-link.isActiveContext .project-color,
  .route-link:hover .tag-color,
  .route-link:hover .project-color,
  .tag .tag-color,
  .tag .project-color,
  .tag.isActiveRoute::before,
  .project .tag-color,
  .project .project-color,
  .project.isActiveRoute::before,
  .route-link .tag-color,
  .route-link .project-color,
  .route-link.isActiveRoute::before {

    // Override inline style if is not styled
    &:not([style]) {
      background-color: var(--color-accent) !important;
    }
  }

  // Element text colors and buttons
  .mat-drawer-container,
  button {
    color: var(--color-foreground);
  }

  // Reset background gradient
  &::before {
    display: none;
  }

  // Top banner
  .mat-drawer-content .content-wrapper {
    background-color: var(--color-background-banner);
    color: var(--color-foreground);
    border-color: var(--color-border-panels);
  }
}
