/* stylelint-disable selector-type-no-unknown, selector-max-class, selector-max-specificity, selector-max-combinators, selector-max-compound-selectors */

body,
body.isDarkTheme,
body.isLightTheme,
body.isDarkTheme.isDisableBackgroundGradient,
body.isLightTheme.isDisableBackgroundGradient,
body.isMac.isEnabledBackgroundGradient,
body.isWeb.isEnabledBackgroundGradient,
body.isEnabledBackgroundGradient,
body.isDisableBackgroundGradient {
  // Body background
  color: var(--color-foreground);
  background: var(--color-background-main);

  // Top panel
  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    background: var(--color-background-setting-buttons);
  }

  // Colorable accents
  .mat-drawer-container .mat-drawer-inner-container .route-link.isActiveRoute,
  .mat-drawer-container .mat-drawer-inner-container .route-link.isActiveRoute mat-icon,
  .mat-drawer-container .mat-drawer-inner-container .tag.isActiveContext mat-icon,
  .mat-drawer-container .mat-drawer-inner-container .tag.isActiveContext button,
  .mat-drawer-container .mat-drawer-inner-container .project.isActiveContext mat-icon,
  .mat-drawer-container .mat-drawer-inner-container .project.isActiveContext button {
    color: var(--color-accent);
  }

  // Backround-colorable accent
  .tag.isActiveContext .tag-color,
  .tag.isActiveContext .project-color,
  .tag:hover .tag-color,
  .tag:hover .project-color,
  .project.isActiveContext .tag-color,
  .project.isActiveContext .project-color,
  .project:hover .tag-color,
  .project:hover .project-color,
  .route-link.isActiveContext .tag-color,
  .route-link.isActiveContext .project-color,
  .route-link:hover .tag-color,
  .route-link:hover .project-color {
    // Override inline style
    background: var(--color-accent) !important;
  }

  // Task
  .task-list-wrapper .box {
    background: var(--color-background-task);

    // Fix offset on dark themes
    top: 0;
  }

  // Task content
  .title-and-tags-wrapper,
  .task-title {
    color: var(--color-foreground);
    caret-color: var(--color-foreground);
  }

  .drag-handle {
    color: var(--color-foreground);
  }

  .drag-handle::after {
    box-shadow: none;
  }

  // Task actions on hover
  .first-line:hover .hover-controls {
    background: var(--color-background-task);

    // We don't need border in dark theme
    &::before {
      display: none;
    }
  }

  // Large panel areas
  .isOpen .side,
  .side,
  .isSelected *,
  .mat-drawer-container .isSelected .box {
    // Override too specific styles
    background: var(--color-large-toggle-panels) !important;
  }

  // Toggle panel inputs
  .input-item,
  .mat-expansion-panel,
  .markdown-wrapper {
    // Override too specific styles
    background: var(--color-large-toggle-panels-inputs) !important;
    border-color: var(--color-large-toggle-panels-inputs) !important;
  }

  // Toggle panel icons
  .mat-expansion-panel-header-title {
    color: var(--color-foreground);
  }

  // Right click menus
  .mat-menu-panel {
    background: var(--color-background-setting-buttons);
  }

  // Inputs, e. g. new task input
  .mat-expansion-panel-header:not(.mat-expanded),
  .input-item {
    background: var(--color-background-banner);
  }

  // Element text colors and buttons
  .mat-drawer-container,
  button {
    color: var(--color-foreground);
  }

  // Reset background gradient
  &::before {
    display: none;
  }

  // Top banner
  .mat-drawer-content .content-wrapper {
    background: var(--color-background-banner);
    color: var(--color-foreground);
    border-color: var(--color-border-panels);
  }

  // Panels on settings
  .page-settings.page-wrapper .section-wrapper .config-section {
    background: var(--color-background-panels);
    border-color: var(--color-border-panels);
  }

  // Accented radio buttons and such
  .mat-slide-toggle-bar {
    background: var(--color-background-slide-toggle-bar-disabled);
  }

  .mat-checkbox-checked .mat-checkbox-background {
    background: var(--color-accent);
  }
}
