/* stylelint-disable selector-type-no-unknown, selector-max-class, selector-max-specificity, selector-max-combinators, selector-max-compound-selectors */

body,
body.isDarkTheme,
body.isLightTheme,
body.isDarkTheme.isDisableBackgroundGradient,
body.isLightTheme.isDisableBackgroundGradient,
body.isMac.isEnabledBackgroundGradient,
body.isWeb.isEnabledBackgroundGradient,
body.isEnabledBackgroundGradient,
body.isDisableBackgroundGradient {
  // Large panel areas
  .content,
  .textarea,
  .isOpen .side,
  .side,
  .mat-drawer-container .isSelected .box,
  .hover-controls {
    // Override too specific styles
    background-color: var(--color-large-toggle-panels) !important;
    color: var(--color-foreground) !important;

    // Remove box-shadow
    box-shadow: none !important;
  }

  // Toggle panel inputs
  mat-expansion-panel .mat-expansion-panel-header:not(.mat-expanded):hover,
  .mat-expansion-panel-header:not(.mat-expanded):focus,
  .input-item:hover,
  .input-item:focus,
  .input-item,
  .mat-expansion-panel,
  .markdown-wrapper {
    // Override too specific styles
    background-color: var(--color-large-toggle-panels-inputs) !important;
    border-color: var(--color-large-toggle-panels-inputs) !important;
    color: var(--color-foreground) !important;
  }

  // Toggle panel icons
  .mat-expansion-panel-header-title {
    color: var(--color-foreground);
  }

  // Right click menus
  .mat-menu-panel {
    background-color: var(--color-background-setting-buttons);
  }

  // Panels on settings
  .page-settings.page-wrapper .section-wrapper .config-section,
  section.config-section {
    background-color: var(--color-background-panels);
    border-color: var(--color-border-panels);
  }

  // Collapsible header borders
  .page-settings .config-section .collapsible-header,
  section.config-section .collapsible-header {
    // Override too specific styles
    border-color: var(--color-border-panels) !important;
  }

  // Selected values in settings
  .mat-select-value,
  .created,
  .time-wrapper,
  .time,
  .mat-form-field-appearance-legacy .mat-hint,
  .mat-hint {
    // Override too specific styles
    color: var(--color-foreground) !important;
  }
}
