/* stylelint-disable selector-type-no-unknown, selector-max-class, selector-max-specificity, selector-max-combinators, selector-max-compound-selectors */

body,
body.isDarkTheme,
body.isLightTheme,
body.isDarkTheme.isDisableBackgroundGradient,
body.isLightTheme.isDisableBackgroundGradient,
body.isMac.isEnabledBackgroundGradient,
body.isWeb.isEnabledBackgroundGradient,
body.isEnabledBackgroundGradient,
body.isDisableBackgroundGradient {
  // Project finished summaries
  .mat-tab-label-content {
    color: var(--color-foreground);
  }

  .mat-table {
    background-color: var(--color-background-task);

    input:hover,
    input:focus {
      background-color: var(--color-background-task);
      border-color: var(--color-accent);
      color: var(--color-foreground);
    }

    td,
    tr,
    * {
      color: var(--color-foreground);
    }
  }
}
