@use '../../../../styles/_globals.scss' as *;

.wrap-time {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: var(--s);

  @include mq(xs, max) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.side-info {
  margin-top: var(--s);
}
