<section class="main">
  <!--  <button class="route-link"-->
  <!--          mat-menu-item-->
  <!--          routerLink="work-view"-->
  <!--  >-->
  <!--    <mat-icon>wb_sunny</mat-icon>-->
  <!--    {{T.MH.TASKS|translate}}-->
  <!--  </button>-->
  <button *ngFor="let context of workContextService.mainWorkContexts$|async"
          class="route-link"
          mat-menu-item
          [routerLink]="['tag', context.id]">
    <mat-icon>{{context.icon}}</mat-icon>
    {{ context.title}}
  </button>
  <button class="route-link"
          mat-menu-item
          routerLink="schedule"
          routerLinkActive="isActiveRoute">
    <mat-icon>access_alarms</mat-icon>
    {{T.MH.SCHEDULED|translate}}
  </button>
</section>

<section class="projects">
  <div [dragulaModel]="projectService.list$|async"
       [dragula]="PROJECTS_SIDE_NAV">
    <div *ngFor="let project of (projectService.list$|async); trackBy: trackById;"
         [class.isCurrentProject]="project.id===(projectService.currentId$|async)"
         class="project">
      <div [ngStyle]="getThemeColor(project.theme?.primary || project.themeColor)"
           class="project-color"></div>
      <button (click)="switchProject(project.id, 'work-view')"
              mat-menu-item>
        <mat-icon class="drag-handle"
                  drag-handle>list
        </mat-icon>
        {{project.title}}
      </button>

      <button
        (click)="switchProject(project.id, 'project-settings')"
        class="project-settings-btn"
        mat-icon-button
        routerLinkActive="isActiveRoute">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <button (click)="addProject()"
          mat-menu-item>
    <mat-icon>add</mat-icon>
    {{T.MH.CREATE_PROJECT|translate}}
  </button>
</section>


<section class="app">
  <button class="route-link"
          mat-menu-item
          routerLink="projects"
          routerLinkActive="isActiveRoute">
    <mat-icon>list</mat-icon>
    {{T.MH.MANAGE_PROJECTS|translate}}
  </button>

  <button class="route-link"
          mat-menu-item
          routerLink="worklog"
          routerLinkActive="isActiveRoute">
    <mat-icon>date_range</mat-icon>
    <span class="text">{{T.MH.WORKLOG|translate}}</span>
  </button>

  <button class="route-link"
          mat-menu-item
          routerLink="metrics"
          routerLinkActive="isActiveRoute"
          *ngIf="!(globalConfigService.evaluation$|async)?.isHideMetricFromMenu">
    <mat-icon>donut_large</mat-icon>
    <span class="text">{{T.MH.METRICS|translate}}</span>
  </button>


  <button class="route-link"
          mat-menu-item
          routerLink="config"
          routerLinkActive="isActiveRoute">
    <mat-icon>settings_applications</mat-icon>
    <span class="text">{{T.MH.SETTINGS|translate}}</span>
  </button>

  <button (click)="onScrollToNotesClick()"
          class="route-link scroll-down-btn"
          mat-menu-item>
    <mat-icon>notes</mat-icon>
    <span class="text">{{T.MH.NOTES|translate}}</span>
    <mat-icon>arrow_downwards</mat-icon>
  </button>
</section>


<!-- NOTE: needs to be here for mat menu styles always to be loaded -->
<mat-menu></mat-menu>
