<section class="main">
  <!--  <button class="route-link"-->
  <!--          mat-menu-item-->
  <!--          routerLink="work-view"-->
  <!--  >-->
  <!--    <mat-icon>wb_sunny</mat-icon>-->
  <!--    {{T.MH.TASKS|translate}}-->
  <!--  </button>-->
  <button *ngFor="let context of workContextService.mainWorkContexts$|async"
          class="route-link"
          mat-menu-item
          routerLinkActive="isActiveRoute"
          [routerLink]="['tag', context.id, 'tasks']">
    <mat-icon>{{context.icon}}</mat-icon>
    {{ context.title}}
  </button>
  <button class="route-link"
          mat-menu-item
          routerLink="schedule"
          routerLinkActive="isActiveRoute">
    <mat-icon>access_alarms</mat-icon>
    {{T.MH.SCHEDULED|translate}}
  </button>
</section>

<section class="projects"
         *ngIf="projectList$|async as projectList">
  <button mat-menu-item
          class="expand-btn"
          [class.isExpanded]="isProjectsExpanded"
          (click)="toggleExpandProjects()">
    <span class="title">{{T.MH.PROJECTS|translate}}</span>
    <mat-icon>expand_more</mat-icon>
  </button>

  <div [dragulaModel]="projectList"
       [@standardList]="projectList?.length"
       [dragula]="PROJECTS_SIDE_NAV">
    <div *ngFor="let project of projectList; trackBy: trackById;"
         [class.isCurrentProject]="project.id===(workContextService.activeWorkContextId$|async)"
         class="project">
      <div [ngStyle]="getThemeColor(project.theme?.primary || project.themeColor)"
           class="project-color"></div>
      <button [routerLink]="['project', project.id, 'tasks']"
              routerLinkActive="isActiveRoute"
              mat-menu-item>
        <mat-icon class="drag-handle"
                  drag-handle>list
        </mat-icon>
        {{project.title}}
      </button>

      <button
        [routerLink]="['project', project.id, 'settings']"
        class="project-settings-btn"
        mat-icon-button
        routerLinkActive="isActiveRoute">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <button (click)="addProject()"
          *ngIf="isProjectsExpanded"
          mat-menu-item>
    <mat-icon>add</mat-icon>
    {{T.MH.CREATE_PROJECT|translate}}
  </button>
</section>

<section class="tags"
         *ngIf="tagList$|async as tagList">
  <button mat-menu-item
          class="expand-btn"
          [class.isExpanded]="isTagsExpanded"
          (click)="toggleExpandTags()">
    <span class="title">{{T.MH.TAGS|translate}}</span>
    <mat-icon>expand_more</mat-icon>
  </button>

  <div [dragulaModel]="tagList"
       [@standardList]="tagList?.length"
       [dragula]="TAG_SIDE_NAV">
    <div *ngFor="let tag of tagList; trackBy: trackById;"
         [class.isCurrentTag]="tag.id===(tagService.currentId$|async)"
         class="tag">
      <div [ngStyle]="getThemeColor(tag.theme?.primary || tag.themeColor)"
           class="tag-color"></div>
      <button [routerLink]="['tag', tag.id, 'tasks']"
              routerLinkActive="isActiveRoute"
              mat-menu-item>
        <mat-icon class="drag-handle"
                  drag-handle>style
        </mat-icon>
        {{tag.title}}
      </button>

      <button
        [routerLink]="['tag', tag.id, 'settings']"
        class="tag-settings-btn"
        mat-icon-button
        routerLinkActive="isActiveRoute">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <button (click)="addTag()"
          *ngIf="isTagsExpanded"
          mat-menu-item>
    <mat-icon>add</mat-icon>
    {{T.MH.CREATE_TAG|translate}}
  </button>
</section>


<section class="app">
  <button class="route-link"
          mat-menu-item
          routerLink="project-overview"
          routerLinkActive="isActiveRoute">
    <mat-icon>list</mat-icon>
    {{T.MH.MANAGE_PROJECTS|translate}}
  </button>

  <button class="route-link"
          mat-menu-item
          routerLink="worklog"
          routerLinkActive="isActiveRoute">
    <mat-icon>date_range</mat-icon>
    <span class="text">{{T.MH.WORKLOG|translate}}</span>
  </button>

  <button class="route-link"
          mat-menu-item
          routerLink="metrics"
          routerLinkActive="isActiveRoute"
          *ngIf="!(globalConfigService.evaluation$|async)?.isHideMetricFromMenu">
    <mat-icon>donut_large</mat-icon>
    <span class="text">{{T.MH.METRICS|translate}}</span>
  </button>


  <button class="route-link"
          mat-menu-item
          routerLink="config"
          routerLinkActive="isActiveRoute">
    <mat-icon>settings_applications</mat-icon>
    <span class="text">{{T.MH.SETTINGS|translate}}</span>
  </button>

  <button (click)="onScrollToNotesClick()"
          class="route-link scroll-down-btn"
          mat-menu-item>
    <mat-icon>notes</mat-icon>
    <span class="text">{{T.MH.NOTES|translate}}</span>
    <mat-icon>arrow_downwards</mat-icon>
  </button>
</section>


<!-- NOTE: needs to be here for mat menu styles always to be loaded -->
<mat-menu></mat-menu>
