@import '../../../variables';

:host {
  flex-grow: 1;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
}


button {
  &.isCurrentProject,
  &.isActiveRoute {
    //position: sticky;
    //top: 0;
    font-weight: bold;
    @include darkTheme {
      background: rgba(255, 255, 255, 0.04);
    }
  }

  .project-color,
  &.isActiveRoute:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $s/2;
    background-color: $c-primary;
  }

  .project-color {
    opacity: 0;
  }

  &.isCurrentProject,
  &:hover {
    .project-color {
      opacity: 1;
    }
  }

}

$spacer: $s;

.main {
  margin-bottom: $spacer;
  padding-bottom: $spacer;

  &:after {
    bottom: 0;
  }
}

.projects {
  margin-bottom: $spacer;
}

.app {
  margin-top: auto;
  padding-top: $spacer;

  &:after {
    top: 0;
  }
}

.main,
.app {
  position: relative;

  &:after {
    @include dividerBorderColor();
    content: '';
    position: absolute;
    left: $s*2;
    right: $s*2;
    height: 0;
  }
}
