<div
  class="search-mode-container"
  [class.isElevated]="isElevated()"
>
  <div class="search-header">
    <div class="search-input-wrapper">
      @if (isLoading()) {
        <div class="spinner">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      }

      <input
        #inputEl
        class="search-input"
        [formControl]="searchControl"
        [tabindex]="tabindex()"
        [matAutocomplete]="autoEl"
        placeholder="Search tasks and issues..."
        matInput
      />

      <div class="button-controls">
        <button
          mat-icon-button
          class="search-toggle-btn"
          (click)="switchToAddMode.emit()"
          [matTooltip]="'Switch to add mode (Ctrl+2)'"
          matTooltipPosition="above"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-autocomplete
    #autoEl="matAutocomplete"
    class="search-autocomplete"
    (optionActivated)="onOptionActivated($event?.option?.value)"
    (optionSelected)="onOptionSelected($event.option.value)"
    [autoActiveFirstOption]="true"
  >
    @for (
      item of suggestions$ | async;
      track item.taskId || (item.issueData && item.issueData.id)
    ) {
      <mat-option
        [value]="item"
        class="search-option"
      >
        <div class="option-content">
          @if (item.issueType) {
            <mat-icon
              class="option-icon"
              [svgIcon]="item.issueType | issueIcon"
            ></mat-icon>
          } @else if (item.taskId && item.isArchivedTask) {
            <mat-icon class="option-icon archived">archive</mat-icon>
          } @else if (item.taskId) {
            <mat-icon class="option-icon">task</mat-icon>
          } @else if (!item.ctx) {
            <mat-icon class="option-icon">library_books</mat-icon>
          }

          @if (item.ctx) {
            <tag
              [tag]="item.ctx"
              [isHideTitle]="false"
            ></tag>
          }

          <span
            class="option-title"
            [innerHTML]="item?.titleHighlighted || item?.title"
          ></span>

          @if (item.issueData?.id) {
            <span class="issue-id">#{{ item.issueData?.id }}</span>
          }
        </div>
      </mat-option>
    }

    @if ((suggestions$ | async)?.length === 0 && searchControl.value && !isLoading()) {
      <mat-option disabled>
        <span class="no-results">No tasks or issues found</span>
      </mat-option>
    }
  </mat-autocomplete>
</div>
