<div style="text-align: center;">
  <button mat-raised-button
          *ngIf="issueData?.wasUpdated"
          color="accent"
          (click)="hideUpdates()">
    Mark updates as checked
  </button>
</div>


<div class="wrapper">
  <table class="issue-table">
    <tr>
      <th>Summary</th>
      <th>{{issueData?.title}} #{{issueData?.number}}</th>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{issueData?.state}}</td>
    </tr>
    <tr>
      <th>Assignee</th>
      <td><a [href]="issueData?.assignee?.html_url">{{issueData?.assignee?.login}}</a></td>
    </tr>
    <tr *ngIf="issueData?.labels?.length">
      <th>Labels</th>
      <td>
        <mat-chip-list>
          <mat-chip *ngFor="let label of issueData?.labels"
                    title="{{label.description}}">{{label.name}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <!--<inline-markdown [model]="issueData?.body"></inline-markdown>-->
        <div [innerHTML]="issueData?.body|markdown"
             *ngIf="issueData.body"></div>
      </td>
    </tr>

    <tr *ngIf="issueData?.comments">
      <th>Comments</th>
      <td>
        <div class="comment"
             *ngFor="let comment of issueData?.comments">
          <!--<img [src]="comment.author.avatarUrl"-->
               <!--class="author-avatar">-->
          <div class="name-and-comment-content">
            <div><span class="author-name">{{comment.user?.login}}</span>
              <span class="when">at {{comment.created_at|date:'short'}}</span>
            </div>
            <div [innerHTML]="comment?.body|markdown"
                 *ngIf="comment.body"></div>
          </div>
        </div>

        <a [href]="issueData?.url"
           mat-raised-button=""
           target="_blank">
          <mat-icon>textsms</mat-icon>
          Write a comment</a>
      </td>
    </tr>
  </table>

  <!--<pre><code>-->
  <!--{{issueData?|json}}-->
  <!--</code></pre>-->

</div>
