<div class="content" [class.split-view]="viewMode==='SPLIT'">
  <textarea
    #textareaEl
    [(ngModel)]="data.content"
    rows="1"
    tabindex="3"
    *ngIf="viewMode==='TEXT_ONLY' || viewMode==='SPLIT'"
  ></textarea>
  <div
    *ngIf="viewMode==='PARSED' || viewMode==='SPLIT'"
    markdown
    [data]="data.content"
    class="markdown-preview"
  ></div>
</div>

<div class="controls">
  <div class="left-buttons">
    <button mat-icon-button (click)="setViewMode('TEXT_ONLY')">
      <mat-icon>notes</mat-icon>
    </button>
    <button mat-icon-button (click)="setViewMode('SPLIT')" class="hide-xs">
      <mat-icon>vertical_split</mat-icon>
    </button>
    <button mat-icon-button (click)="setViewMode('PARSED')">
      <mat-icon>photo</mat-icon>
    </button>

    <button mat-icon-button (click)="setViewMode('PARSED')" class="hide-xs">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <button (click)="close(true)" mat-button>
    <mat-icon>close</mat-icon>
    {{(T.G.CANCEL)|translate}}
  </button>

  <button (click)="close()" color="primary" mat-stroked-button>
    <mat-icon>save</mat-icon>
    {{(T.G.SAVE)|translate}}
  </button>
</div>
