@import '../../../variables';

:host {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  :host-context([dir=rtl]) {
    direction: rtl;
  }
}


.content {
  flex-grow: 1;
  position: relative;
  @include layerTextAndBgHighest;

  textarea {
    background: inherit;
    color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    box-sizing: border-box;
    word-wrap: break-word;
    display: block;
    resize: none;
    min-height: inherit;
    overflow: auto;
    padding: $s $s*2;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }
}

.controls {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  box-shadow: $whiteframe-shadow-2dp;
  padding: 0 $s*2;

  > button {
    margin: $s;
  }
}
