@import '../../../../variables';

:host {
  background-color: inherit;
  display: block;
  text-align: center;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
}

header {
  margin-top: $s;
  margin-bottom: 2 * $s;

  @include mq(xs) {
    margin-bottom: 0;
  }
}

.notes {
  padding: $s * 1.5;
}

note {
  display: block;
  margin-bottom: $s * 1.5;
}

.drag-over-msg {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
  z-index: 2;
}

.drag-handle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
