@import '../../../../variables';

:host {
  background-color: inherit;
  display: block;
  text-align: center;
  min-height: 100%;
  box-sizing: border-box;
  //width: $s*36;
  width: 200px;
  position: relative;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 55;
  background-color: inherit;
  @include extraBorder('-bottom');
  margin-bottom: $s;
  padding-right: 8px;
}

.notes {
  padding: 0 $s;
}

note {
  display: block;
  margin-bottom: $s*1.5;
}

.drag-over-msg {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
  z-index: 2;
}
