@import '../../../../variables';

:host {
  background-color: inherit;
  display: block;
  text-align: center;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
}

footer {
  display: flex;
  background-color: inherit;
  @include extraBorder('-top');
  margin-top: auto;
}

.notes {
  padding: $s * 1.5;
}

note {
  display: block;
  margin-bottom: $s * 1.5;
}

.drag-over-msg {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
  z-index: 2;
}
