@import '../../../../../../variables';

.table-wrapper {
  margin: $s*2;
  margin-bottom: $s;
  @include standardThemeTextColor();
}

.comment {
  display: flex;
  margin-bottom: $s*2;

  .author-avatar {
    margin-right: $s;
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 50%;
  }

  .author-name {
    font-weight: bold;
  }

  .when {
    margin-left: $s;
    opacity: 0.6;
  }

  .name-and-comment-content {
  }

}

.attachment {
  //margin-bottom: $s;
}
