<div *ngIf="issueData?.wasUpdated"
     @expand
     style="text-align: center;">
  <button (click)="hideUpdates()"
          color="accent"
          mat-raised-button>
    Mark updates as checked
  </button>
</div>


<div class="table-wrapper">
  <table class="issue-table">
    <tr>
      <th>Summary</th>
      <td><strong>{{issueData?.title}} #{{issueData?.number}}</strong></td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{issueData?.state}}</td>
    </tr>
    <tr *ngIf="issueData?.assignee?.html_url">
      <th>Assignee</th>
      <td><a [href]="issueData?.assignee?.html_url">{{issueData?.assignee?.login}}</a></td>
    </tr>
    <tr *ngIf="issueData?.labels?.length">
      <th>Labels</th>
      <td>
        <mat-chip-list>
          <mat-chip *ngFor="let label of issueData?.labels"
                    title="{{label.description}}">{{label.name}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </tr>
    <tr *ngIf="issueData.body">
      <th>Description</th>
      <td>
        <div [data]="issueData?.body"
             class="description markdown"
             markdown></div>
      </td>
    </tr>
  </table>

  <div *ngIf="issueData?.comments">
    <div *ngFor="let comment of issueData?.comments"
         class="comment">
      <!--<img [src]="comment.author.avatarUrl"-->
      <!--class="author-avatar">-->
      <div class="name-and-comment-content">
        <div><span class="author-name">{{comment.user?.login}}</span>
          <span class="when">at {{comment.created_at|date:'short'}}</span>
        </div>
        <div *ngIf="comment.body"
             [innerHTML]="comment?.body|markdown"></div>
      </div>
    </div>
  </div>

  <div style="text-align: center">
    <a [href]="issueData?.url"
       class="write-a-comment"
       color="primary"
       mat-stroked-button=""
       target="_blank">
      <mat-icon>textsms</mat-icon>
      Write a comment</a>
  </div>
  <!--<pre><code>-->
  <!--{{issueData?|json}}-->
  <!--</code></pre>-->

</div>
