<!--<div class="confetti">-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--  <div class="confetti-piece"></div>-->
<!--</div>-->
