@import '~angular-material-css-vars/init';

$primary: 'primary';
$default: 'default';
$contrast: 'contrast';
$accent: 'accent';

@function get-mat-color($key, $parKey: null) {
  $key: if($key == $primary, 500, $key);
  $key: if($key == $default, 500, $key);

  $palette: $palette-primary;
  @if ($parKey == $contrast) {
    $palette: map_get($palette-primary, $contrast);
  } @else if ($key == $accent) {
    $palette: $palette-accent;
    $key: 500;
  } @else {
    $palette: $palette-primary;
  }

  $color: map_get($palette, $key);

  //@debug $color;
  //@debug map_get($palette-primary, $key);

  @return rgba($color, 1);
}


.bg-card {
  background: #fff;

  .isDarkTheme & {
    background: $dark-theme-bg-lighter;
  }
}

.bg-primary {
  background-color: get-mat-color($primary);
}

.bg-accent {
  background-color: get-mat-color($primary);
}

.bg-100 {
  background-color: get-mat-color(100);
}

.bg-200 {
  background-color: get-mat-color(200);
}

.bg-400 {
  background-color: get-mat-color(400);
}

.bg-600 {
  background-color: get-mat-color(600);
}

.bg-600i {
  background-color: get-mat-color(600) !important;
}

.bg-800 {
  background-color: get-mat-color(800);
}

// for buttons
.isDarkTheme .mat-lighter,
.mat-lighter {
  color: get-mat-color($default, $contrast);
  background-color: get-mat-color(300);
}

.isDarkTheme .mat-darker,
.mat-darker {
  color: get-mat-color($default, $contrast);
  background-color: get-mat-color(600);
}

.color-contrast {
  color: get-mat-color($default, $contrast);
}

.border-color-primary {
  border-color: get-mat-color($primary) !important;
}
