@import "mixins/media-queries";

.center-wrapper {
  text-align: center;
}

.align-right {
  text-align: right;
}

.mw {
  max-width: $component-max-width;
  margin: auto;
}

[hidden] {
  visibility: hidden;
}

.hide-xs {
  @include mq(xs, max) {
    display: none !important;
  }

}

.show-xs-only {
  @include mq(xs) {
    display: none !important;
  }
}