<div class="dialog-content"
     mat-dialog-content>
  <textarea [(ngModel)]="tasksTxt"
            [hidden]="!options.isShowAsText"
            class="simple-textarea mat-elevation-z2"
            id="task-textarea"
            name="tasksTxt"
            rows="10"
            tabindex="-1"></textarea>

  <div *ngIf="!options.isShowAsText"
       [innerHTML]="tasksHtml"
       class="table-wrapper material-table"></div>

  <section class="options">
    <div class="row">
      <div class="col">
        <div class="md-caption"
             style="margin: 10px 0;">{{T.F.SIMPLE_TASK_EXPORT.OPTIONS|translate}}
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowAsText"
                            name="isShowAsText">
            {{T.F.SIMPLE_TASK_EXPORT.SHOW_AS_TEXT|translate}}
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isListSubTasks"
                            name="isListSubTasks">
            {{T.F.SIMPLE_TASK_EXPORT.LIST_SUB_TASKS|translate}}
          </mat-slide-toggle>
        </div>

        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isWorkedOnTodayOnly"
                            name="isWorkedOnTodayOnly">
            {{T.F.SIMPLE_TASK_EXPORT.LIST_WORKED_ON_TODAY_TASKS_ONLY|translate}}
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isListDoneOnly"
                            name="isListDoneOnly">
            {{T.F.SIMPLE_TASK_EXPORT.LIST_DONE_TASKS_ONLY|translate}}
          </mat-slide-toggle>
        </div>

        <mat-form-field>
          <label>Round time worked to</label>
          <mat-select (selectionChange)="onOptionsChange()"
                      [(ngModel)]="options.roundWorkTimeTo">
            <mat-option><em>don't round</em></mat-option>
            <mat-option *ngFor="let roundOption of roundTimeOptions"
                        [value]="roundOption.id">
              {{roundOption.title|translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <div class="md-caption"
             style="margin: 10px 0;">{{T.F.SIMPLE_TASK_EXPORT.FIELDS_TO_DISPLAY|translate}}
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowDate"
                            name="showDate">
            {{T.F.SIMPLE_TASK_EXPORT.DATE|translate}}
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowTimeSpent"
                            name="showTimeSpent">
            {{T.F.SIMPLE_TASK_EXPORT.TIME_SPENT|translate}}
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowTimeEstimate"
                            name="showTimeSpent">
            {{T.F.SIMPLE_TASK_EXPORT.TIME_ESTIMATE|translate}}
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowTitle"
                            name="showTitle">
            {{T.F.SIMPLE_TASK_EXPORT.TITLE|translate}}
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isTimesAsMilliseconds"
                            [disabled]="!options.isShowTimeSpent"
                            name="isTimeSpentAsMilliseconds">
            {{T.F.SIMPLE_TASK_EXPORT.TIME_AS_MILLISECONDS|translate}}
          </mat-slide-toggle>
        </div>
        <mat-form-field class="md-block">
          <label>{{T.F.SIMPLE_TASK_EXPORT.SEPARATE_FIELDS_BY|translate}}
          </label>
          <input (change)="onOptionsChange()"
                 [(ngModel)]="options.separateFieldsBy"
                 matInput
                 name="separateFieldsBy"
                 type="text">
        </mat-form-field>
      </div>
    </div>
  </section>
</div>


<div align="end"
     mat-dialog-actions>
  <button (click)="onCancelClick()"
          color="primary"
          mat-button
          type="button">
    {{T.F.SIMPLE_TASK_EXPORT.CLOSE|translate}}
  </button>
  <button *ngIf="options.isShowAsText"
          color="primary"
          data-clipboard-action="copy"
          data-clipboard-target="#task-textarea"
          id="clipboard-btn"
          mat-stroked-button>
    <mat-icon>content_paste</mat-icon>
    {{T.F.SIMPLE_TASK_EXPORT.COPY_TO_CLIPBOARD|translate}}
  </button>
  <a [simpleDownloadData]="tasksTxt"
     [simpleDownload]="fileName"
     color="primary"
     mat-stroked-button>
    <mat-icon>file_download</mat-icon>
    {{T.F.SIMPLE_TASK_EXPORT.SAVE_TO_FILE|translate}}
  </a>
</div>
