<div class="dialog-content"
     mat-dialog-content="">

        <textarea [(ngModel)]="tasksTxt"
                  [hidden]="!options.isShowAsText"
                  class="simple-textarea mat-elevation-z2"
                  id="task-textarea"
                  name="tasksTxt"
                  rows="10"
                  tabindex="-1"></textarea>

  <div *ngIf="!options.isShowAsText"
       class="table-wrapper material-table"
       [innerHTML]="tasksHtml"></div>


  <section class="options">
    <div class="row">
      <div class="col">
        <div class="md-caption"
             style="margin: 10px 0;">Options
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowAsText"
                            aria-label="Show as text"
                            name="isShowAsText">
            Show as text
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isListSubTasks"
                            aria-label="List sub tasks"
                            name="isListSubTasks">
            List sub tasks
          </mat-slide-toggle>
        </div>
        <div *ngIf="isWorklogExport">
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isMergeToDays"
                            aria-label="Merge into days"
                            name="isMergeToDays">
            Merge into days
          </mat-slide-toggle>
        </div>
        <div *ngIf="!isWorklogExport">
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isWorkedOnTodayOnly"
                            aria-label="List worked on today tasks only"
                            name="isWorkedOnTodayOnly">
            List worked on today tasks only
          </mat-slide-toggle>
        </div>
        <div *ngIf="!isWorklogExport">
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isListDoneOnly"
                            aria-label="List done tasks only"
                            name="isListDoneOnly">
            List done tasks only
          </mat-slide-toggle>
        </div>
        <mat-form-field *ngIf="(options.isMergeToDays && isWorklogExport)"
                        class="md-block">
          <label>Separate tasks by</label>
          <input (change)="onOptionsChange()"
                 [(ngModel)]="options.separateTasksBy"
                 matInput=""
                 name="separateTasksBy"
                 type="text">
        </mat-form-field>

        <mat-form-field>
          <label>Round time worked to</label>
          <mat-select (selectionChange)="onOptionsChange()"
                      [(ngModel)]="options.roundWorkTimeTo">
            <mat-option><em>don't round</em></mat-option>
            <mat-option *ngFor="let roundOption of roundTimeOptions"
                        [value]="roundOption.id">
              {{roundOption.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <div class="md-caption"
             style="margin: 10px 0;">Fields to display
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowDate"
                            aria-label="Date"
                            name="showDate">
            Date
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowTimeSpent"
                            aria-label="Time Spent"
                            name="showTimeSpent">
            Time Spent
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowTimeEstimate"
                            aria-label="Time Estimate"
                            name="showTimeSpent">
            Time Estimate
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isShowTitle"
                            aria-label="Title"
                            name="showTitle">
            Title
          </mat-slide-toggle>
        </div>
        <div>
          <mat-slide-toggle (change)="onOptionsChange()"
                            [(ngModel)]="options.isTimesAsMilliseconds"
                            [disabled]="!options.isShowTimeSpent"
                            aria-label="Show time as milliseconds"
                            name="isTimeSpentAsMilliseconds">
            Time as milliseconds
          </mat-slide-toggle>
        </div>
        <mat-form-field class="md-block">
          <label>Separate fields by</label>
          <input (change)="onOptionsChange()"
                 [(ngModel)]="options.separateFieldsBy"
                 matInput=""
                 name="separateFieldsBy"
                 type="text">
        </mat-form-field>
      </div>
    </div>
  </section>
</div>


<div mat-dialog-actions=""
     align="center">
  <button mat-raised-button=""
          color="primary"
          id="clipboard-btn"
          data-clipboard-action="copy"
          data-clipboard-target="#task-textarea">
    <mat-icon>content_paste</mat-icon>
    Copy to clipboard
  </button>
  <a mat-raised-button=""
     color="primary"
     [simpleDownload]="fileName"
     [simpleDownloadData]="tasksTxt">
    <mat-icon>file_download</mat-icon>
    Save to file
  </a>
  <button mat-raised-button=""
          *ngIf="isShowClose"
          (click)="onCancelClick()"
          type="button">
    <mat-icon>close</mat-icon>
    Close
  </button>
</div>
