@import '../../../variables';
//@import '../../../tasks/task/task.component.mixins';

:host {
  display: block;
  position: relative;
}

:host > textarea {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

:host > div,
:host > textarea {
  line-height: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: none;
  outline: none;
  color: inherit;
  padding: inherit;
  margin: 0;
  max-width: 100%;
  display: block;
  appearance: none;
  background: transparent;
  resize: none;
  width: 100%;
  overflow: hidden;
  //border: 1px solid red !important;
}

:host > div {
  //border: 2px dashed greenyellow !important;
  visibility: hidden;
  pointer-events: none;
}

:host textarea:focus {
  box-shadow: $whiteframe-shadow-4dp;

  @include darkTheme() {
    //background: $dark12;
  }
}
