@import '../../../variables';
//@import '../../../tasks/task/task.component.mixins';

:host {
  display: block;
}

:host textarea {
  line-height: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: none;
  outline: none;
  color: inherit;
  padding: inherit;
  margin: 0;
  max-width: 100%;
  display: block;
  appearance: none;
  background: transparent;
  resize: none;
  width: 100%;
  overflow: hidden;
}

:host textarea:focus {
  box-shadow: $whiteframe-shadow-4dp;

  @include darkTheme() {
    //background: $dark12;
  }
}
