@import './../../../../_variables';

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  task-list ::ng-deep > .task-list-inner {
    min-height: 50px;
  }

  &:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
  }

  &:after {
    pointer-events: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 44;
    box-shadow:
      inset 0 10px 20px rgba(0, 0, 0, 0.19),
      inset 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  @include darkTheme {
    background: $dark-theme-bg-slightly-lighter;
    background: $c-primary-900;
  }
  @include lightTheme {
    background: $light-theme-bg-darker;
    background: $c-primary-200;

    &:before {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: $s * 5;
  overflow-x: hidden;
  @include scrollYImportant();
}
