work-view {
  display: block;
  max-width: $component-max-width;
  text-align: center;
  margin: auto;

  .hide-controls-icon {
    transform: rotate(90deg);
  }
}

.work-view-header {
  @media(max-width: $layout-xs) {
    .label {
      display: none;
    }
    p {
      margin: 0;
    }
  }
}

.status-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: -4px;
  padding: 10px 0;

  .item {
    margin: 0 12px;
  }
  .no-wrap {
    display: inline-block;
    white-space: nowrap;
  }
}

.done-tasks,
.undone-tasks {
  opacity: 0;
  animation: $transition-duration-s ani-task-list-enter ease-out;
  animation-fill-mode: forwards;
}

@keyframes ani-task-list-enter {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
  }
}