<header class="work-view-header">
  <p>
    <ng-md-icon icon="playlist_play"></ng-md-icon>
    <span class="label">Working today:</span>
    <strong ng-bind="vm.totalTimeWorkedToday|duration"></strong>
    <ng-md-icon icon="timer"></ng-md-icon>
    –
    <span class="label">Estimate remaining:</span> ~<strong ng-bind="vm.totalEstimationRemaining|duration"></strong>
    <ng-md-icon icon="timer"></ng-md-icon>

    <md-button ng-click="vm.collapseAllNotesAndSubTasks()"
               class="md-icon-button md-primary">
      <ng-md-icon icon="vertical_align_center" aria-label="collapse sub tasks and notes"></ng-md-icon>
    </md-button>
  </p>
</header>

<section class="work-view-tasks work-view-tasks--undone">
  <p ng-if="!vm.tasksUndone.length">You currently have no undone tasks.</p>

  <task-list tasks="vm.tasksUndone"
             current-task-id="r.currentTask.id"
             on-task-done-changed="vm.onTaskDoneChangedUndoneList(task)"
             allow-task-selection="true"></task-list>
</section>

<md-button ng-click="vm.openAddTask()"
           class="md-primary md-raised">
  <ng-md-icon icon="add"></ng-md-icon>
  Add new Task
</md-button>


<md-button ui-sref="daily-summary"
           class="md-primary md-raised">
  <ng-md-icon icon="done_all"></ng-md-icon>
  Finish your work day
</md-button>


<h2 class="md-title">
  <ng-md-icon icon="playlist_add_check"></ng-md-icon>
  Done Tasks
</h2>

<section class="work-view-tasks work-view-tasks--done">
  <p ng-if="!vm.tasksDone.length">You currently have no done tasks.</p>

  <task-list tasks="vm.tasksDone"
             on-task-done-changed="vm.onTaskDoneChangedDoneList(task)"
             current-task-id="r.currentTask.id"></task-list>
</section>


