@import '../../../../variables';

$weird-task-list-f: 5px;

:host {
  margin: ($s + $weird-task-list-f) $s*2 $s;
  display: block;

  @include mq(component) {
    margin-top: 2*$s + $weird-task-list-f;
    margin-bottom: 2*$s;
  }
}

mat-chip-list {
  display: block;

}

:host::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}
