@import '../../../../common';

:host {
  display: block;
}

.improvements {
  padding-top: 4px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: -4px;
  white-space: nowrap;
  justify-content: center;

  @include mq(xs) {
    padding-bottom: 30px;
  }
}

.improvement {
  align-items: center;
  border-radius: 16px;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  display: flex;
  font-weight: 500;
  font-size: 14px;
  height: 32px;
  margin: 4px;
  min-height: 32px;
  position: relative;
  padding: 7px 0;
  overflow: hidden;
  transition: var(--transition-fast);
  background: transparent;

  border: 1px solid;
  color: var(--theme-improvement-text);
  border-color: var(--theme-improvement-border);

  &:active {
    box-shadow: var(--whiteframe-shadow-2dp);
  }

  .title {
    transition: inherit;
    max-width: 300px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    transition: inherit;
    opacity: 0;
    transform: scale(0.1);
    position: relative;
    z-index: 1;
    transform-origin: center center;

    color: var(--theme-improvement-button-text);

    &.dismiss {
      transform: translateX(-11px);
      margin-right: -12px;
    }

    &.check {
      transform: translateX(11px);
      margin-left: -12px;
    }

    mat-icon {
      font-size: 22px;
      max-height: 32px;
    }
  }

  &:hover {
    button {
      opacity: 0.4;
      transform: scale(1);

      &:hover {
        opacity: 1;
      }
    }

    .title {
      transform-origin: center center;
      transform: scaleX(0.857142857142857);
    }
  }

  .hover {
    display: none;
    position: absolute;
    right: 100%;
  }
}
