@import '../../../../variables';

$weird-task-list-f: 5px;

:host {
  display: block;
  margin-top: 4px;
  margin-bottom: 30px;
}

mat-chip-list {
  display: block;

}

:host::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}
