<div class="improvements">
  <div class="improvement"
       mat-ripple
       *ngFor="let improvement of (improvementService.lastTrackedImprovementsTomorrow$|async);">
    <button mat-icon-button
            disableRipple
            class="dismiss"
            (click)="dismiss(improvement)">
      <mat-icon>close</mat-icon>
    </button>
    <div class="title">{{improvement?.title}}</div>
    <button mat-icon-button
            disableRipple
            class="check"
            (click)="check(improvement)">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>
