@import '../../../variables';

:host {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  cursor: row-resize;

  .handle {
    position: absolute;
    background: red;
    width: 100%;
    height: 4px;
    top: -2px;
    display: block;
    box-shadow: 0 -3px 12px 1px rgba(0, 0, 0, .3);

  }

  button {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}
