@import "../../../variables";

.page-settings {
  text-align: left;

  collapsible {
    position: relative;
  }

  .config-section {
    margin-bottom: 10px;
    border-radius: $card-border-radius;
    background: #ffffff;
    @include dividerBorderColor(1px);

    @include darkTheme {
      background-color: $dark-theme-bg-lighter;
    }

    .md-title {
      margin-top: 0;
    }

    ::ng-deep .collapsible-title {
      border-bottom: 1px solid transparent;
    }

    ::ng-deep .isExpanded .collapsible-title {
      font-weight: bold;
      border-color: $light-theme-extra-border-color;

      @include darkTheme {
        border-color: $dark-theme-extra-border-color;
      }
    }
  }

  .settings-col {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq(sm) {
    .row {
      display: flex;
      flex-direction: row;
    }
    .settings-col {
      width: 50%;

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        margin-left: 10px;
      }
    }
  }

  @include mq(xs, max) {
    .keyboard-settings {
      display: none;
    }
  }
}

.version-footer {
  margin-top: auto;
  text-align: center;
  font-style: italic;
  padding: $s*3;
}
