<div class="page-settings page-wrapper">

  <div class="row">
    <div class="settings-col">
      <h1 class="md-subhead">Project Specific Settings</h1>

      <div>
        <section class="config-section mat-elevation-z2">
          <config-section [section]="basicProjectSettingsFormCfg"
                          [cfg]="currentProject"
                          (save)="saveProjectBasicCfg($event)"></config-section>
        </section>
      </div>

      <div *ngFor="let section of projectConfigFormCfg">
        <section class="config-section mat-elevation-z2">
          <config-section [section]="section"
                          [cfg]="projectCfg[section.key]"></config-section>
        </section>
      </div>

      <div *ngFor="let section of issueIntegrationFormCfg">
        <section class="config-section mat-elevation-z2">
          <config-section [section]="section"
                          [cfg]="issueIntegrationCfgs[section.key]"></config-section>
        </section>
      </div>

    </div>

    <div class="settings-col"
         *ngIf="globalCfg">
      <h1 class="md-subhead">Global Config</h1>
      <div *ngFor="let section of globalConfigFormCfg">
        <section class="config-section mat-elevation-z2">
          <config-section [section]="section"
                          [cfg]="globalCfg[section.key]"
                          (save)="saveGlobalCfg($event)"></config-section>
        </section>
      </div>
    </div>
  </div>
</div>
