<md-dialog aria-label="Task list export"
           class="dialog-time-sheet-export fullscreen-dialog"
           md-theme="vm.theme">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Time Sheet Export</h2>
      <span flex></span>
      <md-button class="md-icon-button"
                 aria-label="Cancel"
                 ng-click="vm.cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form ng-submit="vm.export()">
    <md-dialog-content>
      <div class="md-dialog-content">
        <collapsible collapsible-title="What is this and how does it work?"
                     is-initially-expanded="{{!(vm.opts.spreadsheetId)}}">
          <div class="info">
            Take care!
          </div>

          <dl class="possible properties">
            <dt>{startTime}</dt>
            <dd>AAa</dd>

            <dt>{startTime|rounded}</dt>
            <dd>AAa</dd>

            <dt>{currentTime}</dt>
            <dd>AAa</dd>

            <dt>{currentTime|rounded}</dt>
            <dd>AAa</dd>

            <dt>{date}</dt>
            <dd>AAa</dd>

            <dt>{taskTitles}</dt>
            <dd>AAa</dd>

            <dt>{subTaskTitles}</dt>
            <dd>AAa</dd>

            <dt>{totalTimeWorkedToday}</dt>
            <dd>AAa</dd>
          </dl>
        </collapsible>

        <div>
          <md-button class="md-raised md-primary"
                     ng-show="!vm.isLoggedIn">Login
          </md-button>
          <md-button class="md-raised md-primary"
                     ng-show="vm.isLoggedIn">Logout
          </md-button>
          <md-button class="md-raised md-primary">Read headings</md-button>
          <md-button class="md-raised md-primary">Revoke permissions</md-button>
          <md-button class="md-raised md-primary"
                     ng-show="vm.isLoggedIn && vm.opts.spreadsheetId">Edit spreadsheet
          </md-button>
        </div>

        <section ng-show="vm.isLoggedIn">
          <md-input-container class="md-block">
            <label>Spreadsheet ID</label>
            <input type="text"
                   ng-model="vm.opts.spreadsheetId">
          </md-input-container>

          <div>
            <div>
              <md-switch ng-model="vm.opts.isAutoLogin">Auto-login and load data next time</md-switch>
              <md-switch ng-model="vm.opts.isAutoFocusEmpty">Auto-focus first empty field after loading table headings</md-switch>
              <md-switch ng-model="vm.opts.isRoundUp">Always round up</md-switch>
              <md-input-container>
                <label>Round time worked to</label>
                <md-select ng-model="vm.opts.roundTo">
                  <md-option><em>don't round</em></md-option>
                  <md-option ng-repeat="roundOption in vm.roundOptions"
                             ng-value="roundOption.id">
                    {{roundOption.title}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>

          <table class="export-input-table"
                 ng-show="vm.headings">
            <tr>
              <th></th>
              <th class="heading"
                  ng-repeat="heading in vm.headings track by $index"
                  ng-bind="heading"></th>
            </tr>
            <tr>
              <th>Last saved row</th>
              <td ng-repeat="heading in vm.headings track by $index">{{heading}}</td>
            </tr>
            <tr>
              <th>Default</th>
              <td class="default"
                  ng-repeat="heading in vm.headings track by $index">
                <input type="text"
                       ng-model="defaultValues[$index]">
              </td>
            </tr>
            <tr>
              <th>Actual</th>
              <td class="actual"
                  ng-repeat="heading in vm.headings track by $index">
                <input type="text"
                       ng-model="actualValues[$index]">
              </td>
            </tr>
          </table>
        </section>
      </div>
    </md-dialog-content>


    <md-dialog-actions>

      <a class="md-button md-primary md-raised"
         text-to-file-download="vm.tasksTxt">
        <ng-md-icon icon="file_download"></ng-md-icon>
        Save
      </a>
      <md-button ng-click="vm.cancel()"
                 type="button"
                 class="md-raised">
        <ng-md-icon icon="close"></ng-md-icon>
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
