@import "../../../../variables";

:host {
  text-align: center;

  .total-time {
    margin-top: $s*4;
  }

  .year {
    &-title {
      margin-top: 3*$s;
    }
    &-time-spent {
      font-size: 21px;
    }
  }

  .month {
    margin-top: 3*$s;
    margin-bottom: $s;
    &-title {
      button {
        margin-left: $s;
      }
    }
    &-time-spent {
      font-size: 18px;
    }
  }

  .day {
    margin-top: 2*$s;
    margin-bottom: $s;
    &-title {

      button {
        margin-left: $s;
      }
    }
  }

  .summary-table-wrapper {
    display: inline-block;
    > table {
      width: 100%;
      text-align: left;
      td:first-of-type {
        padding-right: $s;
      }
    }
  }
}

