$dark-theme-bg-darker: rgb(39, 39, 39);
$dark-theme-bg-lighter: rgb(70, 70, 70);
$dark-theme-bg: rgb(48, 48, 48);
$dark-theme-text-color: #777777;
$dark-theme-text-color-lighter: #bdbdbd;


$dark-green: #30412d;
$green: #4fa758;
$light-green: #a9ed9f;
$red: #e15d63;
$yellow: #fff400;
$c-accent: rgb(197, 17, 98);

$component-max-width: 900px;

$layout-xs: 600px;
$layout-gt-xs: 600px;
//$layout-sm: 960px;
$layout-gt-sm: 960px;
//$layout-md: 1280px;
$layout-gt-md: 1280px;
//$layout-lg: 1920px;
$layout-gt-lg: 1920px;
//$layout-xl: 1920px;

$ease-in-out-quint: cubic-bezier(.38, .04, .35, .96);
$transition-duration-xs: 200ms;
$transition-duration-s: 400ms;
$transition-duration-m: 600ms;
$transition-duration-l: 800ms;