<better-drawer-container
  (wasClosed)="taskService.setSelectedId(null)"
  [isOpen]="!!(taskService.selectedTask$|async) || (layoutService.isShowNotes$|async)"
  [isOver]="isAlwaysOver || (layoutService.isRightPanelOver$|async)"
  [sideWidth]="40"
>
  <ng-container better-drawer-content>
    <ng-content></ng-content>
  </ng-container>

  <ng-container better-drawer-side [@skipAni]>
    <div class="additional-info-panel">
      <notes *ngIf="!(selectedTaskWithDelayForNone$|async) " [@slideInFromTop]></notes>
      <task-additional-info
        [@slideAdditionalInfoInFromLeft]
        *ngIf="selectedTaskWithDelayForNone$|async as selectedTaskWithDelayForNone"
        [task]="selectedTaskWithDelayForNone"
      ></task-additional-info>
    </div>
  </ng-container>
</better-drawer-container>
