.open-project-attachments {
  .loading-wrapper {
    margin: var(--s2) 0;
  }

  .upload-btn {
    margin: var(--s2) 0;
    display: flex;
    align-items: center;
    gap: var(--s);
  }

  .attachment-dl-list {
    margin-top: var(--s2);

    .attachment {
      margin-bottom: var(--s);

      .attachment-inner {
        display: flex;
        align-items: center;
        gap: var(--s);
        color: var(--c-primary);
        text-decoration: none;
        padding: var(--s);
        border-radius: var(--card-border-radius);
        transition: background-color 0.2s;

        &:hover {
          background-color: var(--state-hover);
          text-decoration: none;
        }

        .attachment-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
        }

        .attachment-title {
          font-weight: 500;
        }
      }
    }
  }
}
