<div class="wrapper">
  <ng-container *ngIf="!data.icon">
    <mat-icon>error</mat-icon>
  </ng-container>
  <mat-icon *ngIf="data.icon">{{data.icon}}</mat-icon>
  <mat-icon *ngIf="data.svgIcon"
            [svgIcon]="data.svgIcon"></mat-icon>

  <span [innerHtml]="data.message"
        class="message"></span>

  <div class="button-wrapper">
    <a href="https://github.com/johannesjo/super-productivity/issues/new"
       target="_blank"
       class="action"
       color="accent"
       mat-raised-button>
      Report
    </a>
    <button (click)="reloadApp()"
            class="action"
            color="accent"
            mat-raised-button>
      Reload
    </button>
    <button (click)="dismiss()"
            class="action"
            color="accent"
            mat-raised-button>
      Dismiss
    </button>
  </div>
</div>
