<collapsible [title]="section.title"
             [isExpanded]="isExpanded">
  <!--[icon]="section.icon"-->

  <help-section>
    <div [innerHtml]="section.help"></div>
  </help-section>
  <div class="form-wrapper {{section.key}}">
    <config-form
      *ngIf="section.items && !section.customSection"
      [formCfg]="section.items"
      [sectionKey]="section.key"
      [cfg]="cfg"
      (save)="onSave($event)"></config-form>

    <div class="custom-form"
         #customForm></div>
  </div>
</collapsible>
