<collapsible [title]="section.title"
             [icon]="section.icon"
             [isExpanded]="isExpanded">
  <help-section>
    <div [innerHtml]="section.help"></div>
  </help-section>
  <div class="form-wrapper {{section.key}}">
    <google-sync-cfg *ngIf="section.customSection==='GOOGLE_SYNC'"
                     (save)="onSave($event)"></google-sync-cfg>

    <config-form
      *ngIf="section.items"
      [formCfg]="section.items"
      [sectionKey]="section.key"
      [cfg]="cfg"
      (save)="onSave($event)"></config-form>
  </div>
</collapsible>
