<div *ngIf="isHideDone && doneTasksLength"
     @expand
     class="done-task-box">
  <button mat-raised-button
          (click)="expandDoneTasks()">
    + {{doneTasksLength}} done sub tasks tasks
    <mat-icon>expand_more</mat-icon>
  </button>
</div>

<div class="task-list-inner"
     [dragula]="listId"
     [dragulaModel]="tasks_"
     [attr.data-id]="listModelId"
     [@standardList]="isBlockAni ? 'BLOCK' : (isHideDone? undoneTasksLength : tasks_.length)"
     #listEl>
  <task *ngFor="let task of tasks_|filterDoneTasks:isHideDone; trackBy: trackByFn; let i = index;"
        [task]="task"
        [focusIdList]="focusIdList">
  </task>
</div>
