<div *ngIf="isHideDone || isHideAll"
     @expand
     class="done-task-box">
  <button mat-button
          (click)="expandDoneTasks()">
    <em>+ {{isHideDone? doneTasksLength + ' done ': allTasksLength}} sub tasks</em>
    <mat-icon>expand_more</mat-icon>
  </button>
</div>

<div class="task-list-inner"
     [dragula]="listId"
     [dragulaModel]="tasks_"
     [attr.data-id]="listModelId"
     [@standardList]="isBlockAni ? 'BLOCK' : (isHideDone? undoneTasksLength : (isHideAll ? 0 : allTasksLength))"
     #listEl>
  <task *ngFor="let task of tasks_|filterDoneTasks:isHideDone:isHideAll; trackBy: trackByFn; let i = index;"
        [task]="task">
  </task>
</div>
