<h2 class="md-title">Done Tasks Backlog</h2>
<p> This is just here to admire yourself.</p>
<p>You spent <strong ng-bind="vm.totalTimeSpent|duration"></strong> on all those tasks.</p>

<table class="task-summary-table"
       md-whiteframe="2">
  <tr>
    <th>Title</th>
    <th>Sub-Tasks</th>
    <th>Time spent</th>
    <th>Time esti.</th>
    <th></th>
  </tr>

  <tr ng-repeat="task in vm.doneBacklogTasks"
      ng-class="{'is-done': task.isDone}">
    <td ng-bind="task.title"></td>
    <td><span ng-repeat="task in task.subTasks"><span ng-bind="task.title"></span>: <span ng-bind="task.timeSpent|duration"></span><br></span></td>
    <td ng-bind="task.timeSpent |duration"></td>
    <td ng-bind="task.timeEstimate |duration"></td>
    <td>
      <ng-md-icon icon="check"
                  ng-show="task.isDone"
                  style="fill:green;"
                  aria-label="checkmark"></ng-md-icon>
    </td>
  </tr>
</table>