// Vars
:root {
  // Colors
  --color-foreground: #ebebeb;
  --color-background-sidebar: #2e2e2e;
  --color-border-sidebar: #2e2e2e;
  --color-border-divider-sidebar: #2e2e2e;
  --color-background-main: #121212;
  --color-background-panels: #222;
  --color-border-panels: #3d3d3d;
  --color-background-slide-toggle-bar-disabled: #444;
  --color-background-setting-buttons: #424242;
  --color-background-banner: #383838;
  --color-background-task: #1e1e1e;
  --color-disabled-dates: rgba(255, 255, 255, .4);
  --color-tag-title: rgba(255, 255, 255, .6);
  --color-large-toggle-panels: #272727;
  --color-large-toggle-panels-inputs: #2c2c2c;
  --color-inputs-focused: var(--color-background-task);
  --color-purple: #ff4081;
  --color-accent: var(--color-purple);
  --palette-accent-500: var(--color-accent);
}
