// Vars
:root {
  // Colors
  --color-foreground: #ebebeb;
  --color-background-sidebar: #2e2e2e;
  --color-background-main: #121212;
  --color-background-panels: #222;
  --color-border-panels: #3d3d3d;
  --color-background-slide-toggle-bar-disabled: #444;
  --color-background-setting-buttons: #424242;
  --color-background-banner: #383838;
  --color-purple: #ff4081;
  --color-accent: var(--color-purple);
}
