<mat-chip-grid #chipListElRef>
  @for (modelItem of modelItems; track modelItem.id) {
  <mat-chip-row
    (removed)="remove(modelItem.id)"
    [removable]="true"
  >
    <tag [tag]="modelItem"></tag>

    <mat-icon
      [matTooltip]="T.G.REMOVE|translate"
      matChipRemove
      >cancel
    </mat-icon>
  </mat-chip-row>
  }
  <input
    #inputElRef
    (matChipInputTokenEnd)="add($event)"
    [formControl]="inputCtrl"
    [matAutocomplete]="autoElRef"
    [matChipInputAddOnBlur]="true"
    [matChipInputFor]="chipListElRef"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (keydown)="triggerCtrlEnterSubmit($event)"
    [placeholder]="'+ add tag'"
  />
</mat-chip-grid>
<mat-autocomplete
  #autoElRef="matAutocomplete"
  (optionSelected)="selected($event)"
>
  @for (suggestion of filteredSuggestions$ | async; track suggestion.id) {
  <mat-option [value]="suggestion.id">{{ suggestion.title }}</mat-option>
  }
</mat-autocomplete>
