@import '../../../../variables.scss';

:host {
  width: 100%;

  tag {
    padding-right: 0;
  }

  ::ng-deep
    .mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action
    .mdc-evolution-chip__action--primary {
    padding-left: 8px;
  }

  input {
    background: transparent;
    appearance: none;
    display: block;
    width: 100%;
    box-shadow: none;
    border: none;
    color: $light-theme-text-color;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    height: 40px;
    padding: 2px;

    @include darkTheme() {
      color: $dark-theme-text-color;
    }

    &:hover,
    &:focus {
      outline: none;
      border-bottom-color: rgba(0, 0, 0, 0.12);
      @include darkTheme() {
        border-bottom-color: rgba(255, 255, 255, 0.12);
      }
    }

    &:hover {
      :host-context(.isNoTouchOnly.isLightTheme) & {
        background: #eee;
      }

      :host-context(.isNoTouchOnly.isDarkTheme) & {
        background: $dark-theme-bg-lightest;
      }
    }
  }
}

:host-context(.isMousePrimary task-detail-item) {
  ::ng-deep * {
    //--mdc-chip-outline-color: transparent !important;
  }
  ::ng-deep .mdc-evolution-chip__cell--trailing {
    opacity: 0.05;
    margin-left: -4px;
    transition: opacity 0.2s;
  }
}

:host-context(.isMousePrimary task-detail-item:hover) {
  ::ng-deep * {
    --mdc-chip-outline-color: rgba(125, 125, 125, 0.4) !important;
  }

  ::ng-deep .mdc-evolution-chip__cell--trailing {
    opacity: 1;
    width: auto;
  }
}
