<div (click)="focusInput()"
     class="inline-input-wrapper">
  <div class="value-wrapper">{{displayValue || value}}</div>

  <input *ngIf="type==='duration'"
         #inputElDuration
         inputDuration
         [ngModel]="value"
         (keypress)="keypressHandler($event)"
         (blur)="blur()"
         (ngModelChange)="onChange($event)">
  <input *ngIf="type!=='duration'"
         [type]="type"
         #inputEl
         [ngModel]="value"
         (keypress)="keypressHandler($event)"
         (blur)="blur()"
         (ngModelChange)="onChange($event)">
  <mat-icon [class.isIconPosBottom]="isIconPosBottom"
            [class.isIconPosLeft]="isIconPosLeft">edit
  </mat-icon>
</div>
