@import '../../../../../../../variables';

// table styled by ./src/styles/components/issue-table.scss

.table-wrapper {
  margin: $s * 2;
  margin-bottom: $s;
}

.issue-description {
  flex-grow: 1;
  width: 100%;
}

.comment {
  display: flex;
  margin-bottom: $s * 1;
  padding-top: $s * 1;
  border-top: 1px dashed $light-theme-extra-border-color;

  @include darkTheme {
    border-color: $dark-theme-extra-border-color;
  }

  .author-avatar {
    margin-right: $s;
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 50%;
  }

  .author-name {
    font-weight: bold;
  }

  .when {
    margin-left: $s;
    opacity: 0.6;
  }

  .name-and-comment-content {
    max-width: 100%;
  }

  pre {
    overflow: auto;
    border: 1px dashed $light-theme-extra-border-color;
    padding: $s;
  }
}

.write-a-comment {
  // needed for the box-shadow inside scrollable container
  margin-bottom: $s;
}
