<div class="filter-bar">
  <button
    mat-icon-button
    (click)="closePanel.emit()"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
  <div class="filter-input">
    <mat-icon class="filter-ico">filter_alt</mat-icon>
    <input type="text /" />
  </div>
</div>

<!-- TODO
* schedule tasks need to be indicated
-->

<div
  class="tasks"
  *ngIf="allTasks$|async as allTasks"
  cdkDropList
  cdkDropListSortingDisabled
  [cdkDropListData]="ADD_TASK_PANEL "
  (cdkDropListDropped)="drop($event)"
>
  @for (task of allTasks; track task.id) {
  <week-planner-task
    cdkDrag
    [cdkDragData]="task"
    [task]="task"
  ></week-planner-task>
  }
</div>
