@import '../../../../variables';
@import '../../tasks/task/task.component.mixins';

:host {
  display: block;
  margin: 8px;
  position: relative;
  background: inherit;
}

.filter-bar {
  // TODO use style of add-task-bar
  display: flex;
  margin-bottom: 8px;
  position: sticky;
  top: 0;

  input {
    flex-grow: 1;
    border-radius: 4px;
  }
}
