global-link-list {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;

  .global-link {
    flex: 1 1 auto;
    margin: 6px 3px 0;
    position: relative;

    > .md-button:focus + .controls,
    &.focus .controls,
    &:hover .controls {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }

    &:first-child {
      flex: 0 0 auto;
    }
  }

  .global-link > .md-button {
    border-radius: 0;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    text-transform: none;
    margin: 0;
    max-height: 36px;
  }

  .controls {
    position: absolute;
    top: 100%;
    margin-top: -10px;
    left: 50%;
    transform: translate(-50%, 30px);
    z-index: 5;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    transition: 0.2s all linear;
    opacity: 0;

    .md-button {
      padding: 0;
      margin: 3px;
      width: 34px;
      height: 34px;
    }
  }

  .edit-button {
    &:hover {
    }
  }
}