global-link-list {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;

  &.drag-over {
    background-color: #ccc;

    body.dark-theme & {
      background-color: $dark-theme-bg-darker;
    }

    // required prevent event from occurring when hovering child elements
    * {
      pointer-events: none;
    }
  }

  .global-link {
    flex: 1 1 auto;
    margin: 6px 3px 0;
    position: relative;

    > .md-button:focus + .controls,
    &.focus .controls,
    &:hover .controls {
      visibility: visible;

      .md-button {
        opacity: 1;
      }
      .edit-button {
        transform: translate(0, 0);
      }
      .trash-button {
        transform: translate(0, 0);
      }
    }

    &:first-child {
      flex: 0 0 auto;
    }
  }

  .global-link > .md-button {
    border-radius: 0;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    text-transform: none;
    margin: 0;
    max-height: 36px;
    min-width: 0;
  }

  .controls {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 5;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    transform: translate(-50%, 0);

    .md-button {
      transition: 0.2s all linear;
      border-radius: 0;
      margin: 0;
      padding: 0;
      width: 32px;
      height: 32px;
      min-height: 0;
      opacity: 0;
    }
  }

  $this-distance: 30px;
  .edit-button {
    transform: translate(-$this-distance, $this-distance);
  }
  .trash-button {
    transform: translate($this-distance, $this-distance);
  }
}