<md-button class="md-icon-button show-bookmarks-btn md-raised md-primary"
           aria-label="Show Help for section"
           ng-class="{'is-open':$ctrl.r.uiHelper.isShowBookmarkBar}"
           ng-click="$ctrl.r.uiHelper.isShowBookmarkBar=!$ctrl.r.uiHelper.isShowBookmarkBar;">
  <ng-md-icon icon="bookmark"></ng-md-icon>
</md-button>

<div class="global-link-list-outer ani-slide-up-down"
     ng-if="$ctrl.r.uiHelper.isShowBookmarkBar">
  <div class="global-link-list-inner">
    <div class="global-link">
      <md-button class="md-raised md-icon-button md-primary md-hue-3"
                 md-whiteframe="1"
                 ng-click="$ctrl.addLink()"
                 tabindex="1"
                 aria-label="add global link">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>
    </div>

    <div class="msg"
         ng-if="!$ctrl.globalLinks.length">You have no project bookmarks. Add one via drag and drop or by clicking on the '+' icon.
    </div>

    <div class="global-link"
         ng-repeat="link in $ctrl.globalLinks"
         draggable="false">
      <md-button external-link
                 class="md-raised md-primary md-hue-2"
                 href="{{link.path}}"
                 type="{{link.type}}"
                 md-whiteframe="1"
                 target="_blank"
                 tabindex="1"
                 draggable="false"
                 aria-label="open global link">
        <div>
          <ng-md-icon icon="link"
                      ng-if="!link.customIcon && link.type === 'LINK'"
                      aria-label="Open link"></ng-md-icon>
          <ng-md-icon icon="insert_drive_file"
                      ng-if="!link.customIcon && link.type === 'FILE'"
                      aria-label="Open file"></ng-md-icon>
          <ng-md-icon icon="laptop_windows"
                      ng-if="!link.customIcon && link.type === 'COMMAND'"
                      aria-label="Exec command"></ng-md-icon>
          <ng-md-icon icon="{{link.customIcon}}"
                      ng-if="link.customIcon"
                      aria-label="Open"></ng-md-icon>

          <span ng-bind="link.title"></span>
        </div>
      </md-button>

      <div class="controls">
        <md-button class="md-icon-button md-raised md-primary md-hue-3 edit-button"
                   aria-label="open edit dialog"
                   ng-click="$ctrl.openEditDialog(link)">
          <ng-md-icon icon="edit"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button md-raised md-warn md-hue-3 trash-button"
                   ng-click="$ctrl.remove($index)"
                   aria-label="remove link">
          <ng-md-icon icon="delete_forever"></ng-md-icon>
        </md-button>
      </div>
    </div>
  </div>
</div>