progress-bar {
  position: absolute !important;
  width: 0;
  height: 5px;
  display: block;
  left: 0;
  pointer-events: none;
  max-width: 100%;
  background-color: #bbbbbb;
  z-index: 2;

  @include dark-theme {
    background-color: #999999;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 50%;
    right: -1px;
    transform: translateY(50%);
    background: inherit;
    width: 2px;
    height: 9px;
    border: 1px solid inherit;
  }

  &:before {
    right: auto;
    left: -1px;
  }

  .task.is-done & {
    opacity: 0.6;
  }

  .task.is-current & {
    background-color: $green;
  }
}