progress-bar {
  position: relative !important;
  width: 0;
  height: 3px;
  display: block;
  left: 0;
  pointer-events: none;
  max-width: 100%;
  background-color: #777777;
  z-index: 2;
  //margin-bottom: -1px;

  @include dark-theme {
    background-color: #999999;
  }

  //&:after {
  //  content: '';
  //  position: absolute;
  //  bottom: 50%;
  //  right: -1px;
  //  transform: translateY(50%);
  //  background: inherit;
  //  width: 2px;
  //  height: 9px;
  //  border: 1px solid inherit;
  //}

  .task.is-done & {
    //opacity: 0.6;
  }

  .task.is-current & {
    background-color: $green !important;
  }
}