<form (submit)="submit()">

  <div class="form-wrapper">

  <textarea rows="6"
            (keypress)="keypressHandler($event)"
            name="noteContent"
            [(ngModel)]="noteContent"
            placeholder="Enter some text to save as note..."></textarea>

    <datetime-input name="reminderData"
                    placeholder="Datetime for reminder (optional)"
                    (modelChange)="reminderDate=$event"
                    [model]="reminderDate"></datetime-input>
  </div>

  <mat-dialog-actions align="center">
    <div class="wrap-buttons">
      <button color="primary"
              type="submit"
              class="btn btn-primary submit-button"
              mat-raised-button>
        <mat-icon>save</mat-icon>
        Save
      </button>

      <button type="button"
              (click)="close()"
              class="btn btn-primary submit-button"
              mat-raised-button>
        Cancel
      </button>
    </div>
  </mat-dialog-actions>
</form>
