@import '../../../../variables';

:host {
  margin-top: 0;
  position: relative;
  background: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  min-width: 260px;
}

.tasks {
  padding: 8px;
  flex-grow: 1;
  overflow: auto;

  planner-task {
    margin-bottom: 8px;
  }
}

.filter-bar {
  display: flex;
  flex-grow: 0;
  align-items: center;
  //padding: 8px 4px;

  box-shadow: $whiteframe-shadow-2dp;

  button {
    @include mq(xs, max) {
      transform: rotate(90deg);
    }
  }

  @include darkTheme() {
    background: $dark-theme-bg-lighter;
  }
  @include lightTheme() {
    background: $light-theme-bg-darker;
  }

  .filter-input {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 4px;
    color: #000000;
    flex-grow: 1;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;

    @include darkTheme {
      background-color: $dark-theme-bg-lightest;
      color: $dark-theme-text-color-most-intense;
    }
  }

  .filter-ico {
    opacity: 0.5;
    width: 20px;
    height: 20px;
    line-height: 20px;
    min-width: 20px;
    max-width: 20px;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
  }

  input {
    flex-grow: 1;
    min-width: 0;
    padding-left: 8px;
    display: block;
    width: 100%;
    outline: 0;
    line-height: 40px;
    appearance: none;
    font-size: 12px;
    background: transparent;
    color: inherit;
    border: 0;
    border-left: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);

    @include darkTheme {
      border-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.empty {
  text-align: center;
  font-style: italic;
  line-height: $planner-item-height;
  height: 0;
}
