<h2 mat-dialog-title>
  <span *ngIf="projectData.id">Edit Project</span>
  <span *ngIf="!projectData.id">Create Project</span>
</h2>


<form [formGroup]="form"
      (ngSubmit)="submit()">
  <mat-dialog-content>

    <formly-form [model]="projectData"
                 [fields]="formCfg"
                 [options]="formOptions"
                 [form]="form">

      <mat-accordion>
        <mat-expansion-panel [expanded]="openPanelId==='JIRA'"
                             (opened)="openPanelId='JIRA'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon *ngIf="!projectData?.issueIntegrationCfgs?.JIRA">explore</mat-icon>
              <mat-icon *ngIf="projectData?.issueIntegrationCfgs?.JIRA">checkmark</mat-icon>
              Jira
            </mat-panel-title>
            <mat-panel-description>
              Set up jira issue integration
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!--Todo show stepper for first setup, show config section when editing afterwards -->
          <jira-cfg-stepper (onSaveCfg)="saveJiraCfg($event)"
                            [cfg]="projectData?.issueIntegrationCfgs?.JIRA"></jira-cfg-stepper>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="openPanelId==='GIT'"
                             (opened)="openPanelId='GIT'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon *ngIf="!projectData?.issueIntegrationCfgs?.GIT">card_giftcard</mat-icon>
              <mat-icon *ngIf="projectData?.issueIntegrationCfgs?.GIT">checkmark</mat-icon>
              GitHub
            </mat-panel-title>
            <mat-panel-description>
              Set up github issue integration
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </formly-form>
  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <div class="wrap-buttons">
      <button type="submit"
              color="primary"
              class="btn btn-primary submit-button"
              mat-raised-button
              [disabled]="!form.valid">Save
      </button>
      <button type="button"
              (click)="cancelEdit()"
              class="btn btn-primary submit-button"
              mat-raised-button>Cancel
      </button>
    </div>
  </mat-dialog-actions>
</form>
