<div class="daily-planner">
  <div ng-if="!vm.step || vm.step ===0">
    <div class="input">
      <div class="info">
        <p>What do you want to do today?</p>
        <p>If you're done, you should spend some time prioritizing your tasks, by ordering them via drag and drop.</p>

      </div>
      <form ng-submit="vm.addTask()">
        <input class="text-input"
               autofocus
               ng-model="vm.newTask">
      </form>

      <div class="done">
        <button ng-click="done()">All done!</button>
      </div>

      <h2>Tasks for today</h2>

      <ul class="task-list"
          dnd-list="vm.tasks">
        <li class="task"
            dnd-draggable="task"
            dnd-effect-allowed="move"
            dnd-moved="vm.tasks.splice($index, 1);"
            ng-class="{'is-selected': vm.listModel.selected === task}"
            ng-repeat="task in vm.tasks">
          <div dnd-handle
               class="handle">::::
          </div>

          <div class="title">
            <input type="text"
                   ng-model="task.title">
          </div>

          <div class="notes"
               ng-show="vm.showNotes[$index]===true">
            <textarea ng-model="task.notes"></textarea>
          </div>

          <button ng-click="vm.showNotes[$index]=!vm.showNotes[$index]">Show</button>
          <button ng-click="vm.tasks.splice($index, 1)">X</button>
        </li>
      </ul>

      <div class="info">

      </div>

      <h2>Tasks Backlog (for some other time)</h2>
      <ul class="task-list task-list__backlog"
          dnd-list="vm.listModel.lists.backlog">
        <li class="task"
            dnd-draggable="task"
            dnd-effect-allowed="move"
            dnd-moved="vm.listModel.lists.backlog.splice($index, 1);"
            ng-class="{'is-selected': vm.listModel.selected === task}"
            ng-repeat="task in vm.listModel.lists.backlog | limitTo:vm.limitBacklogTo">
          <div dnd-handle
               class="handle">::::
          </div>
          <div class="title">
            <input type="text"
                   ng-model="task.title">
          </div>

          <div class="notes"
               ng-show="vm.showNotesBacklog[$index]===true">
            <textarea ng-model="task.notes"></textarea>
          </div>

          <button ng-click="vm.showNotesBacklog[$index]=!vm.showNotesBacklog[$index]">Show</button>
          <button ng-click="vm.tasks.splice($index, 1)">X</button>
        </li>
      </ul>

      <button ng-click="vm.limitBacklogTo = false"
              ng-hide="vm.limitBacklogTo === false || vm.listModel.lists.backlog.length ===0">Show All {{ vm.listModel.lists.backlog.length }} items
      </button>
    </div>
  </div>

</div>