@import '../../../../variables';

:host {
  display: block;
  //overflow: hidden;
  text-align: start;

  &.global {
    position: fixed;
    top: $s;
    left: $s;
    right: $s;
    overflow: visible;
    transform-origin: left top;

    @include mq(xs, max) {
      transform: translateX(0) !important;
    }

    @include mq(xs) {
      margin-top: 20px;
      max-width: 632px;
      width: 80%;
      top: $s * 6;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }
}

:host-context(.isTouchOnly).global {
  top: auto;
  bottom: $s;
}

.add-task-form {
  width: 100%;
  position: relative;
  color: #000000;
  border-radius: $card-border-radius;
  background: #ffffff;

  @include darkTheme {
    // 58 overlay 53 normal
    background-color: $dark-theme-bg-lighter;
    color: $dark-theme-text-color-most-intense;
  }

  &.isElevated {
    @include darkTheme {
      background-color: $dark-theme-bg-lightest;
      color: $dark-theme-text-color-most-intense;
    }
  }

  .input-wrapper {
    position: relative;
    display: flex;

    @include darkTheme {
      color: $dark-theme-text-color-most-intense;
    }
  }

  input {
    flex: 1;
    display: block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    outline: 0;
    padding-right: 4px;
    padding-left: $s * 2;
    line-height: 42px;
    background: transparent;
    color: inherit;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.is-loading {
  padding: $s;
}

.button-controls {
  margin-left: auto;
  z-index: 2;
  display: flex;
}

.switch-add-to-bot-btn,
.switch-add-to-btn {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

$short-syntax-bar-height: 32px;

.info-bar {
  padding: 0 1.75 * $s;
  height: $short-syntax-bar-height;
  line-height: $short-syntax-bar-height;
  color: $light-theme-text-color-muted;
  border-top: 1px dashed $light-theme-extra-border-color;
  position: relative;
  z-index: 1;
  pointer-events: none;

  @include darkTheme {
    border-color: $dark-theme-extra-border-color;
    color: $dark-theme-text-color-muted;
  }
}

.info-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;

  &.add-existing {
    font-weight: bold;
    color: $light-theme-text-color;

    @include darkTheme {
      color: $dark-theme-text-color;
    }
  }

  > mat-icon {
    vertical-align: middle;
  }
}

.separator-box {
  border-right: 1px dashed $light-theme-extra-border-color;
  border-left: 1px dashed $light-theme-extra-border-color;

  @include darkTheme() {
    border-color: $dark-theme-extra-border-color;
  }
}
