<form (submit)="addTask()"
      [class.mat-elevation-z1]="!isElevated"
      [class.mat-elevation-z2]="isElevated"
      class="add-task-form">
  <div class="input-wrapper">
    <div *ngIf="(isLoading$|async)"
         class="spinner">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    <button (click)="isAddToBacklog=!isAddToBacklog"
            class="switch-add-to-btn"
            mat-icon-button
            type="button">
      <mat-icon *ngIf="isAddToBacklog">library_add</mat-icon>
      <mat-icon *ngIf="!isAddToBacklog">playlist_add</mat-icon>
    </button>
    <input #inputEl
           (blur)="onBlur($event)"
           [formControl]="taskSuggestionsCtrl"
           [matAutocomplete]="autoEl"
           [placeholder]="(doubleEnterCount > 0)
         ? (T.F.TASK.ADD_TASK_BAR.START|translate)
         : isAddToBacklog
           ? (T.F.TASK.ADD_TASK_BAR.ADD_TASK_TO_BACKLOG|translate)
           : (T.F.TASK.ADD_TASK_BAR.ADD_TASK|translate)"
           matInput>

    <button (click)="closeBtnClose($event)"
            *ngIf="isElevated"
            class="close-btn"
            mat-icon-button
            type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <div class="info-bar">
    <ng-container *ngIf="(activatedIssueTask$|async) as selectedIssueTask">
      <div class="info-text"
           *ngIf="selectedIssueTask.issueType">{{T.F.TASK.ADD_TASK_BAR.ADD_ISSUE_TASK|translate:{
        issueType: selectedIssueTask.issueType,
        issueNr: selectedIssueTask.taskIssueId || selectedIssueTask.issueData.key || selectedIssueTask.issueData.id
      } }}</div>
      <div class="info-text"
           *ngIf="selectedIssueTask.issueType=== undefined">{{T.F.TASK.ADD_TASK_BAR.ADD_EXISTING_TASK|translate: {taskTitle: selectedIssueTask.title} }}</div>
    </ng-container>

    <ng-container *ngIf="!(activatedIssueTask$|async) && (shortSyntaxTags$|async) as shortSyntaxTags">
      <tag *ngFor="let shortSyntaxTags of shortSyntaxTags; trackBy: trackById"
           [tag]="shortSyntaxTags"></tag>
      <ng-container *ngIf="shortSyntaxTags.length===0 && (taskSuggestionsCtrl.valueChanges|async) as val">
        <div class="info-text"
             *ngIf="val?.length<1">{{T.F.TASK.ADD_TASK_BAR.EXAMPLE|translate}}</div>
        <div class="info-text"
             *ngIf="val?.length>=1">{{T.F.TASK.ADD_TASK_BAR.CREATE_TASK|translate}}</div>
      </ng-container>
    </ng-container>
  </div>


  <!-- NOTE: [autoActiveFirstOption]="taskSuggestionsCtrl.value?.length <= 3"
  causes optionActivated not to be fired :(--->
  <mat-autocomplete #autoEl="matAutocomplete"
                    (optionActivated)="onOptionActivated($event?.option?.value)"
                    (optionSelected)="addTask()"
                    [displayWith]="displayWith">
    <mat-option *ngFor="let item of (filteredIssueSuggestions$|async); trackBy:trackByFn"
                [value]="item">
      <mat-icon *ngIf="item.issueType"
                [svgIcon]="item.issueType|issueIcon"></mat-icon>
      <mat-icon *ngIf="!item.issueType && !item.ctx">library_books</mat-icon>
      <tag *ngIf="item.ctx"
           [tag]="item.ctx"></tag>
      <span [innerHTML]="item?.titleHighlighted||item?.title"></span>
    </mat-option>

  </mat-autocomplete>

</form>
