@import '../../../../common';

:host {
  --short-syntax-bar-height: 28px;

  display: block;
  //overflow: hidden;
  text-align: start;

  &.global {
    position: fixed;
    top: var(--s);
    left: var(--s);
    right: var(--s);
    overflow: visible;
    transform-origin: left top;

    @include mq(xs, max) {
      transform: translateX(0) !important;
    }

    @include mq(xs) {
      margin-top: 20px;
      max-width: 632px;
      width: 80%;
      top: var(--s6);
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }
}

:host-context(.isTouchOnly).global {
  top: auto;
  bottom: var(--s);
}

.add-task-form {
  width: 100%;
  position: relative;
  border-radius: var(--card-border-radius);
  background: var(--theme-bg);

  // 58 overlay 53 normal
  background-color: var(--theme-bg-lighter);
  color: var(--theme-text-color-most-intense);

  &.isElevated {
    background-color: var(--theme-bg-lightest);
    color: var(--theme-text-color-most-intense);
  }

  .input-wrapper {
    position: relative;
    display: flex;

    color: var(--theme-text-color-most-intense);
  }

  input {
    flex: 1;
    display: block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    outline: 0;
    padding-right: 4px;
    padding-left: var(--s2);
    line-height: 42px;
    background: transparent;
    color: inherit;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.is-loading {
  padding: var(--s);
}

.button-controls {
  margin-left: auto;
  z-index: 2;
  display: flex;
}

.switch-add-to-bot-btn,
.switch-add-to-btn {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.info-bar {
  padding: 0 var(--s2);
  height: var(--short-syntax-bar-height);
  line-height: var(--short-syntax-bar-height);
  border-top: 1px dashed var(--theme-extra-border-color);
  position: relative;
  z-index: 1;
  pointer-events: none;

  border-color: var(--theme-extra-border-color);
  color: var(--theme-text-color-muted);
}

.info-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;

  &.add-existing {
    font-weight: bold;

    color: var(--theme-text-color);
  }

  > mat-icon {
    vertical-align: middle;
  }
}

.separator-box {
  border-right: 1px dashed var(--theme-extra-border-color);
  border-left: 1px dashed var(--theme-extra-border-color);

  border-color: var(--theme-extra-border-color);
}
