<form (submit)="addTask()"
      class="add-task-form mat-elevation-z3">
  <div *ngIf="(isLoading$|async)"
       class="spinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <button (click)="isAddToBacklog=!isAddToBacklog"
          class="switch-add-to-btn"
          mat-icon-button=""
          type="button">
    <mat-icon *ngIf="isAddToBacklog">library_add</mat-icon>
    <mat-icon *ngIf="!isAddToBacklog">playlist_add</mat-icon>
  </button>
  <input #inputEl
         (blur)="onBlur($event)"
         [formControl]="taskSuggestionsCtrl"
         [matAutocomplete]="autoEl"
         [placeholder]="(doubleEnterCount > 0)
         ? (T.F.TASK.ADD_TASK_BAR.START|translate)
         :(T.F.TASK.SELECT_OR_CREATE|translate)"
         autofocus="autofocus"
         class="border-color-primary"
         matInput>

  <mat-autocomplete #autoEl="matAutocomplete"
                    (optionSelected)="addTask()"
                    [autoActiveFirstOption]="taskSuggestionsCtrl.value?.length <= 3"
                    [displayWith]="displayWith">
    <mat-option *ngFor="let issue of (filteredIssueSuggestions$|async); trackBy:trackByFn"
                [value]="issue">
      <mat-icon [svgIcon]="issue.issueType|issueIcon"></mat-icon>
      <span [innerHTML]="issue?.titleHighlighted||issue?.title"></span>
    </mat-option>

  </mat-autocomplete>

</form>
