@import "../../../../variables";

:host {
  display: block;
  //overflow: hidden;
  text-align: start;

  &.global {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 0;
    top: $s*6;
    overflow: visible;
    margin-top: 20px;
    max-width: 632px;
    transform-origin: left top;
  }
}

.add-task-form {
  width: 100%;
  position: relative;
  color: #000000;

  @include darkTheme {
    color: #eeeeee;
  }

  input {
    display: block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    border-radius: $card-border-radius;
    outline: 0;
    border-color: $c-primary;

    padding-right: 40px !important;
    padding-left: 40px !important;
    line-height: 42px;

    color: #000000;
    background: #ffffff;

    @include darkTheme {
      background-color: $dark-theme-bg-lightest;
      color: #eeeeee;
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.is-loading {
  padding: $s;

  ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }
}

.switch-add-to-btn {
  position: absolute;
  left: $s;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}
