<div class="wrapper">
  <header class="task-title-wrapper">
    <task-title
      [resetToLastExternalValueTrigger]="task()"
      (valueEdited)="updateTaskTitleIfChanged($event.wasChanged, $event.newVal)"
      [value]="task().title || ''"
      class="task-title"
    ></task-title>
    @if (layoutService.isXs() && !isDialogMode()) {
      <button
        mat-icon-button
        class="task-detail-more-btn"
        (click)="openTaskMenu($event)"
        [attr.aria-label]="T.G.MORE_ACTIONS | translate"
        aria-haspopup="menu"
        [attr.aria-expanded]="taskContextMenu()?.isOpen() ?? false"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <task-context-menu
        [isAdvancedControls]="true"
        [task]="task()"
      ></task-context-menu>
    }
  </header>

  @if (isShowSubTasksPanel()) {
    <task-detail-item
      (collapseParent)="collapseParent()"
      (keyPress)="onItemKeyPress($event)"
      [expanded]="isSubTasksExpanded()"
      (expandedChange)="isSubTasksExpanded.set($event)"
      (afterExpand)="onSubTasksAfterExpand()"
      [type]="'panel'"
    >
      <ng-container panel-header>
        <mat-icon class="panel-header-icon">list</mat-icon>
        <span>{{
          T.F.TASK.ADDITIONAL_INFO.SUB_TASKS
            | translate: { nr: task().subTasks?.length || 0 }
        }}</span>
      </ng-container>
      <ng-container panel-content>
        @if (task().subTasks && task().subTasks.length) {
          <div class="sub-tasks">
            @if (task().subTasks?.length) {
              <task-list
                [@expand]
                [isHideAll]="!!task()._hideSubTasksMode"
                [isHideDone]="task()._hideSubTasksMode === ShowSubTasksMode.HideDone"
                [listModelId]="task().id || ''"
                [parentId]="task().id || ''"
                [tasks]="task().subTasks || []"
                listId="SUB"
              ></task-list>
            }
          </div>
        }
        @if (isAddSubtaskInputVisible()) {
          <add-subtask-input
            [@expandFade]
            [parentId]="task().id"
            (closed)="onAddSubtaskInputClosed($event)"
          ></add-subtask-input>
        }
        <div class="add-btn-wrapper">
          <button
            #addSubTaskBtn
            (click)="addSubTask()"
            mat-button
          >
            <mat-icon>add</mat-icon>
            <span>{{ T.F.TASK.ADDITIONAL_INFO.ADD_SUB_TASK | translate }}</span>
          </button>
        </div>
      </ng-container>
    </task-detail-item>
  }
  @if (task().parentId) {
    <task-detail-item
      (collapseParent)="collapseParent()"
      (editActionTriggered)="
        taskService.setSelectedIdToParentAndSwitchContextIfNecessary(task())
      "
      (keyPress)="onItemKeyPress($event)"
      [inputIcon]="'arrow_forward'"
      class="input-item --estimate"
    >
      <ng-container input-title>
        <mat-icon>subdirectory_arrow_right</mat-icon>
        <span>{{ T.F.TASK.ADDITIONAL_INFO.PARENT | translate }}</span>
      </ng-container>
      <ng-container input-value>
        @if (parentTaskData()?.issueType; as issueType) {
          <mat-icon [svgIcon]="issueType | issueIcon"></mat-icon>
        }
        <span>{{ parentTaskData()?.title }}</span>
      </ng-container>
    </task-detail-item>
  }
  @if (showTimeEstimate()) {
    <task-detail-item
      (collapseParent)="collapseParent()"
      (editActionTriggered)="estimateTime()"
      (keyPress)="onItemKeyPress($event)"
      [inputIcon]="'edit'"
      class="input-item --estimate"
    >
      <ng-container input-title>
        <mat-icon>hourglass_empty</mat-icon>
        <span>{{ T.F.TASK.ADDITIONAL_INFO.TIME | translate }}</span>
      </ng-container>
      <ng-container input-value>
        <span class="time-val">
          <span [innerHTML]="task().timeSpent || 0 | msToString"></span>
        </span>
        <span class="separator">/</span>
        <span
          [innerHTML]="task().timeEstimate || 0 | msToString"
          class="time-val"
        ></span>
      </ng-container>
      <ng-container input-additional>
        <progress-bar [progress]="progress()"></progress-bar>
      </ng-container>
    </task-detail-item>
  }
  <task-detail-item
    (collapseParent)="collapseParent()"
    (editActionTriggered)="scheduleTask()"
    (keyPress)="onItemKeyPress($event)"
    [inputIcon]="
      task().dueWithTime || task().dueDay || task().repeatCfgId ? 'edit' : 'add'
    "
    class="input-item"
    [class.color-warn]="isOverdue()"
  >
    <ng-container input-title>
      <mat-icon>{{ showScheduleIcon() }}</mat-icon>
      <span>{{ scheduleLabelKey() | translate }}</span>
    </ng-container>
    <ng-container input-value>
      <div class="schedule-value">
        @if (task().dueWithTime) {
          <div class="schedule-value__date">
            {{ task().dueWithTime | localeDate: 'short' : undefined : locale() }}
          </div>
        }
        @if (task().dueDay) {
          <div class="schedule-value__date">
            @if (isPlannedForTodayDay()) {
              <mat-icon>wb_sunny</mat-icon>
              {{ T.G.TODAY_TAG_TITLE | translate }}
            } @else {
              {{ task().dueDay | localeDate: 'shortDate' : undefined : locale() }}
            }
          </div>
        }
        @if (task().repeatCfgId && repeatCfgLabel()) {
          <div class="schedule-value__repeat">
            <mat-icon>repeat</mat-icon>
            <span class="cdk-visually-hidden"
              >{{ T.F.TASK.ADDITIONAL_INFO.REPEAT | translate }}:
            </span>
            <span>{{ repeatCfgLabel() }}</span>
          </div>
        }
      </div>
    </ng-container>
  </task-detail-item>
  <task-detail-item
    (collapseParent)="collapseParent()"
    (editActionTriggered)="openDeadlineDialog()"
    (keyPress)="onItemKeyPress($event)"
    [inputIcon]="task().deadlineWithTime || task().deadlineDay ? 'edit' : 'add'"
    class="input-item"
    [class.color-warn]="isDeadlineOverdue()"
  >
    <ng-container input-title>
      <mat-icon>flag</mat-icon>
      <span>{{ deadlineLabelKey() | translate }}</span>
    </ng-container>
    <ng-container input-value>
      @if (task().deadlineWithTime) {
        <div class="reminder-value">
          {{ task().deadlineWithTime | localeDate: 'short' : undefined : locale() }}
        </div>
      } @else if (task().deadlineDay) {
        <div class="reminder-value">
          {{ task().deadlineDay | localDateStr: '' }}
        </div>
      }
      @if (task().deadlineWithTime || task().deadlineDay) {
        <button
          mat-icon-button
          class="quick-chip"
          (click)="removeDeadline($event)"
          [matTooltip]="T.F.TASK.CMP.REMOVE_DEADLINE | translate"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </ng-container>
  </task-detail-item>

  @if (task().issueId && task().issueType !== ICAL_TYPE) {
    <task-detail-item
      (collapseParent)="collapseParent()"
      (keyPress)="onItemKeyPress($event)"
      [expanded]="isExpandedIssuePanel() && !isDialogMode()"
      [type]="'panel'"
    >
      <ng-container panel-header>
        <issue-header [task]="task()"></issue-header>
      </ng-container>
      <ng-container panel-content>
        @if (!isIssueDataLoadedForCurrentType()) {
          <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        }
        @if (issueData() && isIssueDataLoadedForCurrentType()) {
          <issue-content
            [@expandFadeInOnly]
            [issueData]="issueData()"
            [task]="task()"
            class="panel-content-wrapper issue-content-wrapper"
          ></issue-content>
        }
      </ng-container>
    </task-detail-item>
  }

  <task-detail-item
    #noteWrapperElRef
    (collapseParent)="collapseParent()"
    (editActionTriggered)="panelState.isFocusNotes.set(true)"
    (keyPress)="onItemKeyPress($event)"
    [expanded]="isExpandedNotesPanel() && !isDialogMode()"
    [type]="'panel'"
  >
    <ng-container panel-header>
      @if (isMarkdownChecklist()) {
        <mat-icon>checklist</mat-icon>
        Checklist
        <!-- -->
      } @else if (task().notes) {
        <mat-icon>chat</mat-icon>
        <span>{{ T.F.TASK.ADDITIONAL_INFO.NOTES | translate }}</span>
      } @else {
        <!-- No content yet: hint that this section can hold a note or a checklist -->
        <mat-icon>chat_bubble_outline</mat-icon>
        <span>{{ T.F.TASK.ADDITIONAL_INFO.NOTES_OR_CHECKLIST | translate }}</span>
      }
    </ng-container>

    <ng-container panel-content>
      <inline-markdown
        (blur)="panelState.isFocusNotes.set(false)"
        (blurred)="panelState.isFocusNotes.set(false)"
        (changed)="changeTaskNotes($event); panelState.isFocusNotes.set(false)"
        (keyboardUnToggle)="focusItem(noteWrapperElRef)"
        [isFocus]="panelState.isFocusNotes()"
        [isShowControls]="true"
        [isShowChecklistToggle]="true"
        [isDefaultText]="!task().notes"
        [defaultText]="isStockNotesTemplate() ? defaultTaskNotes() : ''"
        [model]="task().notes || defaultTaskNotes()"
        [taskId]="task().id"
      ></inline-markdown>
    </ng-container>
  </task-detail-item>

  @if (hasAttachments()) {
    <task-detail-item
      #attachmentPanelElRef
      (collapseParent)="collapseParent()"
      (keyPress)="onItemKeyPress($event)"
      [expanded]="panelState.isExpandedAttachmentPanel() && !isDialogMode()"
      [type]="'panel'"
    >
      <ng-container panel-header>
        <mat-icon>attachment</mat-icon>
        <span>{{
          T.F.TASK.ADDITIONAL_INFO.ATTACHMENTS | translate: { nr: totalAttachments() }
        }}</span>
      </ng-container>
      <ng-container panel-content>
        <div class="panel-content-wrapper attachment-list-panel-content-wrapper">
          @if (task().issueType) {
            <task-attachment-list
              [attachments]="issueAttachments()"
              [isDisableControls]="true"
              [taskId]="task().id || ''"
            ></task-attachment-list>
          }
          @if (issueAttachments().length && localAttachments().length) {
            <h3 class="mat-h3 local-attachments-heading">
              {{ T.F.TASK.ADDITIONAL_INFO.LOCAL_ATTACHMENTS | translate }}
            </h3>
          }
          <task-attachment-list
            [attachments]="localAttachments()"
            [taskId]="task().id || ''"
          ></task-attachment-list>
          <div class="add-btn-wrapper">
            <button
              (click)="addAttachment()"
              [matTooltip]="pasteImageHintKey | translate"
              matTooltipPosition="above"
              mat-button
            >
              <mat-icon>add</mat-icon>
              <span>{{ T.F.TASK.ADDITIONAL_INFO.ADD_ATTACHMENT | translate }}</span>
            </button>
          </div>
        </div>
      </ng-container>
    </task-detail-item>
  }
  @if (!hasAttachments()) {
    <task-detail-item
      (collapseParent)="collapseParent()"
      (editActionTriggered)="addAttachment()"
      (keyPress)="onItemKeyPress($event)"
      [matTooltip]="pasteImageHintKey | translate"
      [inputIcon]="'add'"
      class="input-item"
      matTooltipPosition="above"
    >
      <ng-container input-title>
        <mat-icon>attachment</mat-icon>
        <span>{{ T.F.TASK.ADDITIONAL_INFO.ADD_ATTACHMENT | translate }}</span>
      </ng-container>
      <ng-container input-value></ng-container>
    </task-detail-item>
  }
  <task-detail-item
    #tagEditDetailItemElRef
    (collapseParent)="collapseParent()"
    (keyPress)="onItemKeyPress($event)"
    (editActionTriggered)="tagEditElRef.focusInput()"
    type="fullSizeInput"
    class="input-item --estimate"
  >
    <ng-container input-title>
      <mat-icon>label</mat-icon>
    </ng-container>
    <ng-container input-value>
      <tag-edit
        #tagEditElRef
        [task]="task()"
        [tagIds]="task().tagIds || []"
        (escapePress)="tagEditDetailItemElRef.focusEl()"
      ></tag-edit>
    </ng-container>
  </task-detail-item>

  <div class="date-info">
    <div
      class="edit-date-info"
      [title]="T.G.EDIT | translate"
      (click)="editCreated()"
      (keydown.enter)="editCreated()"
      (keydown.space)="$event.preventDefault(); editCreated()"
      role="button"
      tabindex="0"
    >
      Created on {{ task().created | localeDate: 'short' : undefined : locale() }}
    </div>
    @if (task().doneOn) {
      <div
        class="edit-date-info"
        [title]="T.G.EDIT | translate"
        (click)="editCompleted()"
        (keydown.enter)="editCompleted()"
        (keydown.space)="$event.preventDefault(); editCompleted()"
        role="button"
        tabindex="0"
      >
        Completed on {{ task().doneOn | localeDate: 'short' : undefined : locale() }}
      </div>
    }
  </div>
</div>

@if (panelState.isDragOver()) {
  <div class="bgc-accent drag-over-msg">
    <mat-icon>add</mat-icon>
    {{ T.F.TASK.CMP.DROP_ATTACHMENT | translate: { title: task().title } }}
  </div>
}
