@if (currentProject()?.isArchived) {
  <div class="archived-notice">
    <span>
      {{
        (currentProject()?.isDone
          ? T.F.PROJECT.COMPLETE.NOTICE
          : T.F.PROJECT.ARCHIVED_NOTICE
        ) | translate
      }}
    </span>
    <button
      mat-button
      (click)="restoreProject()"
    >
      {{
        (currentProject()?.isDone
          ? T.F.PROJECT.COMPLETE.REOPEN
          : T.F.PROJECT.ARCHIVED_PROJECTS.UNARCHIVE
        ) | translate
      }}
    </button>
  </div>
}
<work-view
  [unclaimedTasks]="unclaimedTasks()"
  [backlogTasks]="backlogTasks()"
  [doneTasks]="doneTasks()"
  [isShowBacklog]="isShowBacklog()"
  [undoneTasks]="undoneTasks()"
></work-view>
