<!--- create 10 random list items -->

<div style="display: flex; align-items: center">
  <form
    class="example-form"
    style="width: 100%; margin: 16px 0"
  >
    <mat-form-field
      style="width: 100%; margin: 0"
      appearance="outline"
    >
      <!--      <mat-icon matPrefix>filter_alt</mat-icon>-->
      <!--      <mat-label>Filter</mat-label>-->
      <mat-label>Search</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        placeholder="Search"
      />
    </mat-form-field>
  </form>

  <button
    mat-icon-button
    style="margin-left: 8px"
    color=""
  >
    <mat-icon>settings</mat-icon>
  </button>
</div>

<!--<div-->
<!--  class="tasks"-->
<!--  *ngIf="filteredTasks$|async as allTasks"-->
<!--  cdkDropList-->
<!--  cdkDropListSortingDisabled-->
<!--  [cdkDropListData]="ADD_TASK_PANEL "-->
<!--  (cdkDropListDropped)="drop($event)"-->
<!--&gt;-->
<!--  @for (task of allTasks; track task.id) {-->
<!--    <planner-task-->
<!--      cdkDrag-->
<!--      [cdkDragData]="task"-->
<!--      [task]="task"-->
<!--    ></planner-task>-->
<!--  } @if (allTasks.length === 0) {-->
<!--  <div class="empty">{{ T.F.PLANNER.NO_TASKS|translate }}</div>-->
<!--}-->
<!--</div>-->

<div
  #dropList
  class="item-list"
  cdk-scrollable
  cdkDropList
  cdkDropListSortingDisabled
  [cdkDropListConnectedTo]="dropListService.dropLists|async"
  [cdkDropListData]="'ADD_TASK_PANEL'"
>
  <!--  (cdkDropListDropped)="drop($event)"-->

  @for (item of items; track $index) {
  <!--    <div style="display: flex; align-items: center">-->
  <!--      <button-->
  <!--        mat-icon-button-->
  <!--        color=""-->
  <!--      >-->
  <!--        <mat-icon>add</mat-icon>-->
  <!--      </button>-->
  <issue-panel-item
    [itemData]="item"
    cdkDrag
    [cdkDragData]="item"
  ></issue-panel-item>
  <!--    </div>-->
  }
</div>
