<!--- create 10 random list items -->

<div style="display: flex; align-items: center">
  <form
    class="example-form"
    style="width: 100%; margin-top: 8px; margin-bottom: 8px"
  >
    <mat-form-field style="width: 100%">
      <mat-label>Filter</mat-label>
      <input
        matInput
        placeholder="Filter"
      />
    </mat-form-field>
  </form>

  <button
    mat-icon-button
    style="margin-left: 8px"
    color=""
  >
    <mat-icon>settings</mat-icon>
  </button>
</div>

<!--<div class="filter-bar">-->
<!--  <div class="filter-input">-->
<!--    <mat-icon class="filter-ico">filter_alt</mat-icon>-->
<!--    <input-->
<!--      type="text"-->
<!--      placeholder="Enter text to filter"-->
<!--    />-->
<!--  </div>-->
<!--</div>-->

<!-- TODO
* schedule tasks need to be indicated
-->

<!--<div-->
<!--  class="tasks"-->
<!--  *ngIf="filteredTasks$|async as allTasks"-->
<!--  cdkDropList-->
<!--  cdkDropListSortingDisabled-->
<!--  [cdkDropListData]="ADD_TASK_PANEL "-->
<!--  (cdkDropListDropped)="drop($event)"-->
<!--&gt;-->
<!--  @for (task of allTasks; track task.id) {-->
<!--    <planner-task-->
<!--      cdkDrag-->
<!--      [cdkDragData]="task"-->
<!--      [task]="task"-->
<!--    ></planner-task>-->
<!--  } @if (allTasks.length === 0) {-->
<!--  <div class="empty">{{ T.F.PLANNER.NO_TASKS|translate }}</div>-->
<!--}-->
<!--</div>-->

<div
  class="item-list"
  cdk-scrollable
>
  @for (val of Array(20).keys(); track $index) {
  <issue-panel-item></issue-panel-item>
  }
</div>
