<!--- create 10 random list items -->
<div style="display: flex; align-items: center; margin-top: 16px">
  <button
    mat-icon-button
    style="margin-right: 8px; opacity: 0.5"
    (click)="openSettings()"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <div class="title">{{ issueProviderTooltip() }}</div>
</div>

@if (issueProvider().isEnabled) {
<form
  class="example-form"
  style="width: 100%; margin: 8px 0 16px"
>
  <mat-form-field
    style="width: 100%; margin: 0"
    appearance="outline"
  >
    <!--      <mat-icon matPrefix>filter_alt</mat-icon>-->
    <!--      <mat-label>Filter</mat-label>-->
    <mat-label>Search</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input
      #searchTextEl
      [ngModel]="searchText()"
      (ngModelChange)="searchText.set($event)"
      autocomplete="off"
      matInput
      name="search"
      placeholder="Search"
    />
  </mat-form-field>
</form>

@if (isLoading()) {
<div class="spinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>
} @else {
<div
  #dropList
  class="item-list"
  cdk-scrollable
  cdkDropList
  cdkDropListSortingDisabled
  [cdkDropListConnectedTo]="dropListService.dropLists|async"
  [cdkDropListData]="issueProvider().id"
>
  <!--  (cdkDropListDropped)="drop($event)"-->

  @for (item of issueItems(); track $index) {
  <!--    <div style="display: flex; align-items: center">-->
  <!--      <button-->
  <!--        mat-icon-button-->
  <!--        color=""-->
  <!--      >-->
  <!--        <mat-icon>add</mat-icon>-->
  <!--      </button>-->
  <issue-panel-item
    [itemData]="item"
    [cdkDragData]="item"
    cdkDrag
    (addIssue)="addIssue($event)"
  ></issue-panel-item>
  <!--    </div>-->
  }
</div>
} }
