@import '../../../variables';

.note-wrapper{
  margin-bottom: 0;
}

.note {
  position: relative;
  z-index: 1;
  margin-bottom: $s;
  //margin-left: -16px;
  //margin-right: -16px;
  //margin-top: -16px;
  //padding: $s;
  //@include noteStyle;
  display: block;
  //box-shadow: inset 0 -2px 4px rgba(0, 0, 0, $shadow-key-umbra-opacity),
  //inset 0 2px 4px rgba(0, 0, 0, $shadow-key-umbra-opacity);
  cursor: auto;
}
.mat-dialog-content {
  overflow: visible !important;
}
