<mat-dialog-content>
  <!--<h2 class="mat-h2">{{data.reminder.title}}</h2>-->
  <note [note]="note$|async"></note>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="wrap-buttons">
    <button color="primary"
            type="submit"
            class="btn btn-primary submit-button"
            mat-raised-button>Dismiss
    </button>

    <button color="primary"
            type="submit"
            class="btn btn-primary submit-button"
            mat-raised-button>Snooze for 10m
    </button>
  </div>
</mat-dialog-actions>
