<ng-container *ngIf="(isAllDataLoadedInitially$|async)">
  <main-header></main-header>
  <bookmark-bar class="bg-800"></bookmark-bar>
  <!--TODO move inside page container somehow -->
  <banner></banner>
  <add-task-bar (blur)="layoutService.hideAddTaskBar()"
                *ngIf="layoutService.isShowAddTaskBar$|async"
                [@blendInOut]
                class="global"></add-task-bar>
  <div *ngIf="(layoutService.isShowAddTaskBar$|async)"
       @fade
       class="backdrop"></div>

  <mat-drawer-container>
    <div [@warpRoute]="getPage(o)"
         class="route-wrapper">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <mat-drawer (closedStart)="noteService.hide()"
                [mode]="(isSidePanelBp$|async) ? 'over' : 'side'"
                [opened]="noteService.isShowNotes$|async"
                position="end">
      <notes></notes>
    </mat-drawer>

  </mat-drawer-container>
</ng-container>
