.page-wrapper {
  padding: 8px 20px 50px;
}

html,
body,
app-root,
.app-frame {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

mat-sidenav-container {
  height: 100%;
}
