@use '../../../../styles/_globals.scss' as *;
@use '../../tasks/task/task.component.mixins' as *;

:host {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: var(--s-quarter);
  padding-bottom: var(--s-quarter);
  border: 1px solid var(--separator-color);
  border-radius: var(--task-border-radius);
  opacity: 0.9;
  min-height: var(--planner-item-height);
  cursor: pointer;

  &.isBeingSubmitted {
    opacity: 0.4;
    pointer-events: none !important;
  }

  border-color: var(--extra-border-color);

  &:hover {
    border-color: var(--c-accent);
    color: var(--c-accent);
    //outline: 1px solid var(--c-accent);

    mat-icon.add {
      display: block;
    }

    mat-icon.default {
      display: none;
    }
  }

  mat-icon {
    margin-left: var(--s);
    margin-right: var(--s);
    opacity: 0.8;
    font-size: var(--planner-item-ico-size);
    height: var(--planner-item-ico-size);
    width: var(--planner-item-ico-size);
    min-width: var(--planner-item-ico-size);
    max-width: var(--planner-item-ico-size);

    &.add {
      display: none;
    }
  }
}

.title {
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--planner-font-size-mobile);

  @include mq(xs) {
    font-size: var(--planner-font-size);
  }
}
