collapsible {
  display: block;
  .collapsible-title {
    cursor: pointer;
    //color: $c-accent;
    ng-md-icon {
      transition: all 200ms;
    }
    &.is-expanded {
      ng-md-icon {
        transform: rotate(-180deg);
      }
    }
  }

  .collapsible-panel {
    height: auto;
    display: block;
    overflow: hidden;

    @include ng-slide-down-up(300px, 300px);

  }
}