collapsible {
  display: block;
  .collapsible-title {
    cursor: pointer;
    //color: $c-accent;
    ng-md-icon {
      transition: all 200ms;
    }
    &.is-expanded {
      ng-md-icon {
        transform: rotate(-180deg);
      }
    }
  }

  .collapsible-panel {
    height: auto;
    display: block;
    overflow: hidden;

    // animation
    &.ng-enter,
    &.ng-leave {
      transition: all 0.3s $ease-in-out-quint;
    }

    &.ng-enter {
      opacity: 0;
      max-height: 0;
      &.ng-enter-active {
        opacity: 1;
        max-height: 300px;
      }
    }

    &.ng-leave {
      opacity: 1;
      max-height: 300px;
      &.ng-leave-active {
        max-height: 0;
        opacity: 1;
      }
    }
  }
}