collapsible {
  display: block;

  .collapsible-extra-icon {

  }

  .collapsible-title {
    cursor: pointer;
    user-select: none;

    &:focus{
      outline: none;
    }

    .collapsible-expand-icon {
      transition: all 200ms;
    }
    &.is-expanded {
      .collapsible-expand-icon {
        transform: rotate(-180deg);
      }
    }
  }

  .collapsible-panel {
    height: auto;
    display: block;
    overflow: hidden;

    @include ng-slide-down-up(300px, 300px);

  }
}