@import '../../../../../variables';

:host {
  display: block;

  &:focus {
    outline: none;
  }
}

// SHARED
// ------
.input-item,
.mat-expansion-panel {
  box-shadow: none;
  //overflow: inherit !important;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  margin: 8px;
  border-radius: $card-border-radius* 1;
  //overflow: visible;

  :host:focus & {
    border: 1px solid $c-focus-border;
    border-color: $c-focus-border !important;
  }

  &,
  ::ng-deep & .mat-expansion-panel-header {
    font-size: 14px;
  }

  ::ng-deep & .mat-expansion-panel-header-title {
    ::ng-deep mat-icon:first-of-type {
      margin-right: $s;
    }
  }

  @include darkTheme() {
    background: $dark6;
    border-color: $dark-theme-extra-border-color;
    box-shadow: $whiteframe-shadow-1dp;
  }
  @include lightTheme {
    background: #fff;
    border-color: $light-theme-extra-border-color;
  }
}

mat-expansion-panel::ng-deep .mat-expansion-panel-header:not(.mat-expanded),
.input-item {
  &:hover,
  &:focus {
    @include lightTheme() {
      background: #eee;
    }
    @include darkTheme() {
      background: $dark-theme-bg-lightest;
    }
  }
}


// PANEL
// -----
:host::ng-deep {
  .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-expansion-panel-header {
    position: sticky;
    top: 0;
  }

  .mat-expansion-panel-header-title {
    flex-grow: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;

    //min-width: 130px;
  }

  .mat-expansion-panel-header-description {
    text-align: right;

    > * {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }
}


.panel-content-wrapper {
  margin: 0 $s $s;
  display: block;
  @include standardThemeTextColorLessIntense();


  &::ng-deep inline-markdown {
    &.isFocused {
      border-color: transparent;
    }

    .markdown-wrapper {
      min-height: 60px;
      border-radius: $card-border-radius* 1;
      overflow: visible !important;
      box-shadow: $whiteframe-shadow-2dp;

      @include lightTheme {
        background: $light-theme-bg;
        //border: 1px solid $light-theme-extra-border-color;
      }
      @include darkTheme() {
        border-radius: $card-border-radius;
        background: $dark-theme-bg-lighter;
        border: 1px solid $dark-theme-extra-border-color;
      }
    }

    &.isFocused .markdown-wrapper {
      box-shadow: $whiteframe-shadow-5dp !important;
      border-color: transparent;
    }

    .markdown-unparsed,
    .markdown-parsed {
      color: inherit;
      background-color: inherit;
    }
  }
}

:host::ng-deep issue-header > * {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}


// Input-Item
// ----------
.input-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;

  &.--estimate {
    progress-bar {
      @include lightTheme() {
        background: $light-theme-extra-border-color;
      }
      @include darkTheme() {
        background: $dark-theme-extra-border-color;
      }
    }

    &:hover progress-bar {
      background: $c-accent !important;
    }
  }
}

.input-item__title {
  display: flex;
  align-items: center;
  margin: 0 $s*3;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 90px;
  flex-grow: 1;

  ::ng-deep mat-icon:first-of-type {
    margin-right: $s;
  }
}

.input-item__value {
  text-align: right;
  flex-grow: 0;
  display: flex;
  align-items: center;

  &,
  ::ng-deep span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ::ng-deep mat-icon {
    margin-right: $s;
    font-size: 32px;
    height: 32px;
    width: 32px;
  }

  @include lightTheme() {
    color: rgba(var(--palette-foreground-secondary-text), var(--palette-foreground-secondary-text-alpha, 1));
  }

  @include darkTheme() {
    color: rgba(255, 255, 255, 0.7);
  }

  > * {
    flex-grow: 1;
    margin-left: auto;
    text-align: right;
    display: inline-block;
  }
}

.input-item__edit-btn {
  margin-right: $s;
  opacity: 0;

  .input-item:hover & {
    opacity: 1;
  }
}


