:host {
  margin: var(--s) var(--s2);
  cursor: pointer;

  .title {
    margin-bottom: 4px;
  }

  .value-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 16px;
      line-height: 16px;
      height: 16px;
    }

    .summary-val {
      margin-left: 4px;
      //font-size: 16px;
      font-weight: bold;
    }
  }
}
