@if (data.title) {
  <h1 mat-dialog-title>
    @if (data.titleIcon) {
      <mat-icon class="dialog-header-icon">{{ data.titleIcon }}</mat-icon>
    }
    <span>{{ data.title | translate }}</span>
  </h1>
}
<mat-dialog-content>
  <div
    [innerHtml]="data.message | translate: data.translateParams"
    class="content"
  ></div>
</mat-dialog-content>

@if (data.showDontShowAgain) {
  <mat-checkbox [(ngModel)]="dontShowAgain">
    {{ T.G.DONT_SHOW_AGAIN | translate }}
  </mat-checkbox>
}

<mat-dialog-actions align="end">
  <div class="wrap-buttons">
    @if (!data.hideCancelButton) {
      <button
        tabindex="1"
        #cancelButton
        (click)="close(false)"
        mat-button
        type="button"
        (keydown.ArrowRight)="focusNextButton(confirmButton)"
      >
        {{ data.cancelTxt || T.G.CANCEL | translate }}
      </button>
    }

    <button
      tabindex="2"
      #confirmButton
      (click)="close(true)"
      e2e="confirmBtn"
      color="primary"
      type="button"
      mat-flat-button
      (keydown.ArrowLeft)="!data.hideCancelButton && focusCancelButton()"
    >
      {{ data.okTxt || T.G.OK | translate }}
    </button>
  </div>
</mat-dialog-actions>
