<h2 class="md-title">
  <ng-md-icon icon="settings"></ng-md-icon>
  Misc Settings
</h2>

<help-section>
  <div class="md-caption">Auto-start next task on done</div>
  <p>Decide if you want to automatically start the next task, once you mark a task as done.</p>

  <div class="md-caption">Use short syntax</div>
  <p>The short syntax can be enabled to quickly create tasks with an estimation already set. If you enter 'TaskTitleBla t:30m' a task with the name 'TaskTitleBla' will be created with the estimation set to 30 minutes.</p>

  <div ng-if="vm.IS_ELECTRON">
    <div class="md-caption">Enable idle time handling</div>
    <p>Open a dialog after a specified amount of time to check if and on which task you want to track your time, when you have been idle.</p>

    <div class="md-caption">Enable take a break reminder</div>
    <p>Allows you to configure a reoccurring reminder when you have worked for a specified amount of time without taking a break.</p>
    <p>You can modify the message displayed. ${duration} will be replaced with the time spent without a break.</p>
  </div>

  <div class="md-subhead">Pomodoro Settings</div>
  <p>The pomodoro timer can be configured via a couple of settings. The duration of every work session, the duration of normal breaks, the number of work sessions to run before a longer break is started and the duration of this longer break.</p>
  <p>You can also set if you want to display your distractions during your pomodoro breaks.</p>
  <p>Setting "Pause time tracking on pomodoro break" will also track your breaks as work time spent on a task. Setting "Pause time tracking on
    <strong>longer</strong> pomodoro break" will do the same for the longer breaks.</p>
  <p>Enabling "Pause pomodoro session when no active task" will also pause the pomodoro session, when you pause a task.</p>

</help-section>

<div>
  <md-switch ng-model="vm.settings.isAutoStartNextTask"
             aria-label="Auto-start next task on done">
    Auto-start next task on done
  </md-switch>
</div>

<div>
  <md-switch ng-model="vm.settings.isShortSyntaxEnabled"
             aria-label="Use short syntax (e.g. 'TaskTitleBla e:30m')">
    Use short syntax (e.g. 'TaskTitleBla t:30m') for task creation
  </md-switch>
</div>


<section ng-if="vm.IS_ELECTRON">
  <div>
    <md-switch ng-model="vm.settings.isEnableIdleTimeTracking"
               aria-label="Enable idle time tracking">
      Enable idle time handling (when idle, open dialog on what to track)
    </md-switch>
  </div>

  <md-input-container class="md-block md-icon-float"
                      ng-if="vm.settings.isEnableIdleTimeTracking">
    <label>Idle time minimum idle time</label>
    <ng-md-icon icon="timer"
                aria-label="timer"></ng-md-icon>
    <input type="text"
           input-duration
           ng-model="vm.settings.minIdleTime">
  </md-input-container>

  <div>
    <md-switch ng-model="vm.settings.isTakeABreakEnabled"
               aria-label="Enable take a break reminder">
      Enable take a break reminder
    </md-switch>
  </div>
  <md-input-container class="md-block md-icon-float"
                      ng-hide="!vm.settings.isTakeABreakEnabled">
    <label>Remind when I worked longer than X without a break</label>
    <ng-md-icon icon="timer"
                aria-label="timer"></ng-md-icon>
    <input type="text"
           input-duration
           ng-model="vm.settings.takeABreakMinWorkingTime">
  </md-input-container>

  <md-input-container class="md-block">
    <label>Take a break message</label>
    <textarea ng-model="vm.settings.takeABreakMessage"
              rows="3"></textarea>
  </md-input-container>
</section>

<section>
  <h3 class="md-subhead">
    <ng-md-icon icon="add_alert"></ng-md-icon>
    Pomodoro
  </h3>

  <div>
    <md-switch ng-model="vm.settings.pomodoro.isEnabled"
               aria-label="Enable Pomodoro Timer">
      Enable Pomodoro Timer
    </md-switch>
  </div>

  <div ng-show="vm.settings.pomodoro.isEnabled">
    <md-input-container class="md-block md-icon-float">
      <label>Work Session Duration</label>
      <ng-md-icon icon="timer"
                  aria-label="timer"></ng-md-icon>
      <input type="text"
             input-duration
             ng-model="vm.settings.pomodoro.duration">
    </md-input-container>

    <md-input-container class="md-block md-icon-float">
      <label>Break Duration</label>
      <ng-md-icon icon="timer"
                  aria-label="timer"></ng-md-icon>
      <input type="text"
             input-duration
             ng-model="vm.settings.pomodoro.breakDuration">
    </md-input-container>

    <md-input-container class="md-block md-icon-float">
      <label>Longer Break Duration</label>
      <ng-md-icon icon="timer"
                  aria-label="timer"></ng-md-icon>
      <input type="text"
             input-duration
             ng-model="vm.settings.pomodoro.longerBreakDuration">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Cycles for longer break</label>
      <input type="text"
             ng-model="vm.settings.pomodoro.cyclesBeforeLongerBreak">
    </md-input-container>

    <div>
      <md-switch ng-model="vm.settings.pomodoro.isGoToWorkView"
                 aria-label="Go to work view when starting a session">
        Go to work view when starting a session
      </md-switch>
    </div>
    <div>
      <md-switch ng-model="vm.settings.pomodoro.isManualContinue"
                 aria-label="Manually confirm continuing session after break ">
        Manually confirm continuing session after break
      </md-switch>
    </div>
    <div>
      <md-switch ng-model="vm.settings.pomodoro.isStopTrackingOnBreak"
                 aria-label="Pause time tracking on pomodoro break">
        Pause time tracking on pomodoro break
      </md-switch>
    </div>

    <div>
      <md-switch ng-model="vm.settings.pomodoro.isStopTrackingOnLongBreak"
                 aria-label="Pause time tracking on longer pomodoro break">
        Pause time tracking on <strong>longer</strong> pomodoro break
      </md-switch>
    </div>

    <div>
      <md-switch ng-model="vm.settings.pomodoro.isPlaySound"
                 aria-label="Play sound when session done">
        Play sound when session done
      </md-switch>
    </div>

    <div>
      <md-switch ng-model="vm.settings.pomodoro.isShowDistractionsOnBreak"
                 aria-label="Show distractions on break">
        Show distractions on break
      </md-switch>
    </div>
  </div>
</section>