<help-section>
  <div class="md-caption">Auto-start next task on done</div>
  <p>Decide if you want to automatically start the next task, once you mark a task as done.</p>

  <div class="md-caption">Use short syntax</div>
  <p>The short syntax can be enabled to quickly create tasks with an estimation already set. If you enter 'TaskTitleBla
    t30m' a task with the name 'TaskTitleBla' will be created with the estimation set to 30 minutes.</p>

  <div ng-if="vm.IS_ELECTRON">
    <div class="md-caption">Enable idle time handling</div>
    <p>Open a dialog after a specified amount of time to check if and on which task you want to track your time, when
      you have been idle.</p>

    <div class="md-caption">Enable take a break reminder</div>
    <p>Allows you to configure a reoccurring reminder when you have worked for a specified amount of time without taking
      a break.</p>
    <p>You can modify the message displayed. ${duration} will be replaced with the time spent without a break.</p>
  </div>
</help-section>

<form name="miscSettingsForm">
  <md-switch ng-if="vm.IS_ELECTRON"
             ng-model="vm.settings.isDontMinimizeToTray"
             aria-label="Exit directly on close (prevent minimize to tray)">
    Exit directly on close (prevent minimize to tray)
  </md-switch>

  <md-switch ng-model="vm.settings.isAutoStartNextTask"
             aria-label="Auto-start next task on done">
    Auto-start next task on done
  </md-switch>


  <md-switch ng-model="vm.settings.isShortSyntaxEnabled"
             aria-label="Use short syntax (e.g. 'TaskTitleBla e:30m')">
    Use short syntax (e.g. 'TaskTitleBla t30m') for task creation
  </md-switch>

  <md-switch ng-model="vm.settings.isBlockFinishDayUntilTimeTimeTracked"
             aria-label="Disable finish day button until time sheet was exported">
    Disable finish day button until time sheet was exported
  </md-switch>

  <md-switch ng-if="!vm.IS_ELECTRON"
             ng-model="vm.settings.isConfirmBeforeExit"
             aria-label="Show confirm before exiting the app">
    Show confirm before exiting the app
  </md-switch>


  <section ng-if="vm.isIdleTimeAvailable">
    <md-switch ng-model="vm.settings.isEnableIdleTimeTracking"
               aria-label="Enable idle time tracking">
      Enable idle time handling (when idle, open dialog on what to track)
    </md-switch>

    <div ng-init="!vm.settings.minIdleTime ? vm.settings.minIdleTime  ='PT15M': null"
         class="ani-expand-collapse"
         ng-if="vm.settings.isEnableIdleTimeTracking">
      <md-input-container class="md-block md-icon-float">
        <label>Minimum idle time</label>
        <ng-md-icon icon="timer"
                    aria-label="timer"></ng-md-icon>
        <input type="text"
               name="minIdleTime"
               input-duration
               min-duration="10s"
               ng-model="vm.settings.minIdleTime">

        <div ng-messages="miscSettingsForm.minIdleTime.$error"
             role="alert">
          <div ng-message="required"
               ng-if="miscSettingsForm.minIdleTime.$error.required">This is required!
          </div>
          <div ng-message="inputDurationMin"
               ng-if="miscSettingsForm.minIdleTime.$error.inputDurationMin">Should be at least 10s
          </div>
        </div>
      </md-input-container>
    </div>

    <md-switch ng-model="vm.settings.isShowTimeWorkedWithoutBreak"
               aria-label="Show time worked without break in work view">
      Show time worked without break in work view
    </md-switch>

    <md-switch ng-model="vm.settings.isNotifyWhenTimeEstimateExceeded"
               aria-label="Notify when time estimate was exceeded for current task">
      Notify when time estimate was exceeded for current task
    </md-switch>

    <md-switch ng-model="vm.settings.isTakeABreakEnabled"
               aria-label="Enable take a break reminder">
      Enable take a break reminder
    </md-switch>


    <div ng-init="!vm.settings.takeABreakMinWorkingTime ? vm.settings.takeABreakMinWorkingTime  ='PT1H': null"
         ng-if="vm.settings.isTakeABreakEnabled"
         class="ani-expand-collapse">
      <md-input-container class="md-block md-icon-float">
        <label>Remind when I worked longer than X without a break</label>
        <ng-md-icon icon="timer"
                    aria-label="timer"></ng-md-icon>
        <input type="text"
               input-duration
               min-duration="10s"
               name="takeABreakMinWorkingTime"
               ng-model="vm.settings.takeABreakMinWorkingTime">

        <div ng-messages="miscSettingsForm.takeABreakMinWorkingTime.$error"
             role="alert">
          <div ng-message="required"
               ng-if="miscSettingsForm.takeABreakMinWorkingTime.$error.required">This is required!
          </div>
          <div ng-message="inputDurationMin"
               ng-if="miscSettingsForm.takeABreakMinWorkingTime.$error.inputDurationMin">Should be at least 10s
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Take a break message</label>
        <textarea ng-model="vm.settings.takeABreakMessage"
                  rows="3"></textarea>
      </md-input-container>
    </div>
  </section>

</form>
