<h2 class="md-title">
  <ng-md-icon icon="settings"></ng-md-icon>
  Misc Settings
</h2>

<help-section>
  <div class="md-caption">Use short syntax</div>
  <p>The short syntax can be enabled to quickly create tasks with an estimation already set. If you enter 'TaskTitleBla t:30m' a task with the name 'TaskTitleBla' will be created with the estimation set to 30 minutes.</p>

  <div ng-if="vm.IS_ELECTRON">
    <div class="md-caption">Enable take a break reminder</div>
    <p>Allows you to configure a reoccurring reminder when you have worked for a specified amount of time without taking a break.</p>
    <p>You can modify the message displayed. ${duration} will be replaced with the time spent without a break.</p>
  </div>
</help-section>

<div>
  <md-switch ng-model="vm.settings.isShortSyntaxEnabled"
             aria-label="Use short syntax (e.g. 'TaskTitleBla e:30m')">
    Use short syntax (e.g. 'TaskTitleBla t:30m') for task creation
  </md-switch>
</div>

<section ng-if="vm.IS_ELECTRON">
  <div>
    <md-switch ng-model="vm.settings.isTakeABreakEnabled"
               aria-label="Enable take a break reminder">
      Enable take a break reminder
    </md-switch>
  </div>
  <md-input-container class="md-block md-icon-float"
                      ng-hide="!vm.settings.isTakeABreakEnabled">
    <label>Remind when I worked longer than X without a break</label>
    <ng-md-icon icon="timer"
                aria-label="timer"></ng-md-icon>
    <input type="text"
           input-duration
           ng-model="vm.settings.takeABreakMinWorkingTime">
  </md-input-container>

  <md-input-container class="md-block">
    <label>Take a break message</label>
    <textarea ng-model="vm.settings.takeABreakMessage"
              rows="3"></textarea>
  </md-input-container>
</section>
