@import '../../../../variables';
@import '../../tasks/task/task.component.mixins';

$h: $planner-item-height;

:host {
  border-radius: 6px;
  min-height: $h;
  display: flex;
  align-items: center;
  background: $task-c-bg-light;
  @include grabCursor();

  @include darkTheme() {
    color: $task-text-c-dark;
    background: $task-c-bg-dark;
  }

  .no-drag {
    padding: 4px 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  ::ng-deep .tag-title {
    font-size: $planner-font-size-smaller-mobile !important;

    @include mq(xs) {
      font-size: $planner-font-size-smaller !important;
    }
  }

  .title {
    padding-left: 4px;
    padding-right: 4px;
    line-height: 1.5;
    font-size: $planner-font-size-mobile;

    @include mq(xs) {
      font-size: $planner-font-size;
    }
  }
}

.parent-title {
  padding-top: $s * 0.5;
  margin-bottom: -2px;
  text-overflow: ellipsis;
  font-size: $planner-font-size-smaller-mobile;

  @include mq(xs) {
    font-size: $planner-font-size-smaller;
  }
}

.planner-time-remaining-shared {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid transparent;

  &.hasNoTimeSpentOrEstimate {
    text-align: center;
  }

  &:hover {
    border: 1px solid transparent;
    border-radius: 6px;

    @include darkTheme() {
      border-color: $dark-theme-separator-color;
      background: $dark-theme-bg-lighter;
    }
    @include lightTheme() {
      border-color: $light-theme-separator-color;
      background: $light-theme-bg-darker;
    }
  }
}

.drag-handle {
  width: 32px;
  height: 32px;
  min-width: 32px;
  z-index: $z-drag-handle;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // fixes drag and drop on mobile
  touch-action: none;

  .drag-handle-ico {
    opacity: 0.4;

    @include mq(xs) {
      opacity: 0.15;
    }
  }

  //
  //> * {
  //  position: absolute;
  //  left: 50%;
  //  top: 50%;
  //  transform: translate(-50%, -50%);
  //}
  //
  //.type-ico-wrapper {
  //  width: 40px;
  //  height: 40px;
  //  min-width: 40px;
  //  opacity: $task-icon-default-opacity;
  //  position: absolute;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //
  //  //.first-line:hover & {
  //  //  opacity: .7;
  //  //}
  //
  //  :host.isCurrent &::ng-deep mat-icon {
  //    transform: scale(1.4) !important;
  //    transform-origin: center center;
  //    opacity: 0.18;
  //  }
  //
  //  @include mq(xs, max) {
  //    display: none;
  //  }
  //
  //  a {
  //    opacity: 1;
  //  }
  //}
}
