@import '../../../../variables';
@import '../../tasks/task/task.component.mixins';

$h: $planner-item-height;

:host {
  border-radius: 6px;
  min-height: $h;
  padding: 4px 10px;
  padding-right: 0;
  cursor: grab;
  display: flex;
  align-items: center;
  background: $task-c-bg-light;

  @include darkTheme() {
    color: $task-text-c-dark;
    background: $task-c-bg-dark;
  }

  &:active {
    cursor: grabbing;
  }

  ::ng-deep .tag-title {
    font-size: $planner-font-size-smaller-mobile !important;

    @include mq(xs) {
      font-size: $planner-font-size-smaller !important;
    }
  }

  .title {
    padding-left: 4px;
    padding-right: 4px;
    line-height: 1.5;
    font-size: $planner-font-size-mobile;

    @include mq(xs) {
      font-size: $planner-font-size;
    }
  }
}

.drag-placeholder {
  min-height: $h;
  margin-bottom: 4px;
  border-radius: 6px;
  // NOTE bg color is set in material overwrite file since otherwise it does not seem to work
}

.parent-title {
  padding-top: $s * 0.5;
  margin-bottom: -2px;
  text-overflow: ellipsis;
  font-size: $planner-font-size-smaller-mobile;

  @include mq(xs) {
    font-size: $planner-font-size-smaller;
  }
}

.planner-time-remaining-shared {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid transparent;

  &.hasNoTimeSpentOrEstimate {
    text-align: center;
  }

  &:hover {
    border: 1px solid transparent;
    border-radius: 6px;

    @include darkTheme() {
      border-color: $dark-theme-separator-color;
      background: $dark-theme-bg-lighter;
    }
    @include lightTheme() {
      border-color: $light-theme-separator-color;
      background: $light-theme-bg-darker;
    }
  }
}
