<!-- TODO translate -->

<help-section>
  <div class="info"
       [innerHTML]="(T.F.GOOGLE.EXPORT_TIME.HELP_INFO|translate)"></div>

  <dl class="possible-properties"
      [innerHTML]="(T.F.GOOGLE.EXPORT_TIME.HELP_POSSIBLE_PROPERTIES|translate)">

  </dl>

  <p>{{T.F.GOOGLE.EXPORT_TIME.HELP_ADDITIONAL|translate}}</p>
</help-section>

<section *ngIf="(googleApiService.isLoggedIn$|async)"
         @expand
         class="export-main">

  <div *ngIf="!isSpreadSheetConfigured"
       @expand>
    <mat-form-field>
      <label>Spreadsheet ID</label>
      <input [(ngModel)]="opts.spreadsheetId"
             matInput=""
             name="spreadsheetId"
             type="text">
    </mat-form-field>
  </div>

  <div *ngIf="isLoading"
       @expand
       class="loading-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>


  <div *ngIf="headings && !isLoading && isSpreadSheetRead"
       @expand
       class="table-wrapper material-table">
    <table class="export-input-table">
      <tr>
        <th></th>
        <th *ngFor="let heading of headings"
            [innerHtml]="heading"
            class="heading"></th>
      </tr>
      <tr>
        <th style="white-space: normal">Last saved row</th>
        <td *ngFor="let col of lastRow">
          <div class="inner-cell">
            {{col}}
          </div>
        </td>
      </tr>
      <tr>
        <th>Default</th>
        <td *ngFor="let heading of headings; let i = index;"
            class="default">
          <input (change)="updateDefaults()"
                 [(ngModel)]="opts.defaultValues[i]"
                 [ngModelOptions]="{standalone: true}"
                 class="mat-elevation-z3"
                 type="text">
        </td>
      </tr>
      <tr>
        <th>Actual</th>
        <td *ngFor="let heading of headings; let i = index;"
            class="actual">
          <input [(ngModel)]="actualValues[i]"
                 class="mat-elevation-z3"
                 name="actualValues"
                 type="text">
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="isSubmitted"
       @expand
       class="submitted-ico">
    <mat-icon>check</mat-icon>
  </div>
</section>

<div class="controls">
  <button (click)="login()"
          *ngIf="!(googleApiService.isLoggedIn$|async)"
          [promiseBtn]="loginPromise"
          color=""
          mat-stroked-button=""
          type="button">
    <mat-icon>exit_to_app</mat-icon>
    {{T.F.GOOGLE.EXPORT_TIME.LOGIN|translate}}
  </button>
  <button (click)="logout()"
          *ngIf="(googleApiService.isLoggedIn$|async)"
          color=""
          mat-stroked-button=""
          type="button">
    <mat-icon>clear</mat-icon>
    <!--<mat-icon>logout</mat-icon>-->
    {{T.F.GOOGLE.EXPORT_TIME.LOGOUT|translate}}
  </button>
  <button (click)="readSpreadsheet()"
          *ngIf="(googleApiService.isLoggedIn$|async)"
          [disabled]="!opts.spreadsheetId"
          [promiseBtn]="readPromise"
          color=""
          mat-stroked-button=""
          type="button">
    <mat-icon>chrome_reader_mode</mat-icon>
    {{T.F.GOOGLE.EXPORT_TIME.READ_SPREADSHEET|translate}}
  </button>
  <a *ngIf="(googleApiService.isLoggedIn$|async) && opts.spreadsheetId"
     color=""
     href="https://docs.google.com/spreadsheets/d/{{opts.spreadsheetId}}"
     mat-stroked-button=""
     target="_blank">
    <mat-icon>link</mat-icon>
    {{T.F.GOOGLE.EXPORT_TIME.OPEN_SPREADSHEET|translate}}
  </a>
  <button (click)="save()"
          *ngIf="actualValues.length > 0 &&  (googleApiService.isLoggedIn$|async)"
          [promiseBtn]="savePromise"
          color="primary"
          mat-stroked-button=""
          type="button">
    <mat-icon>save</mat-icon>
    {{T.F.GOOGLE.EXPORT_TIME.SAVE_ROW|translate}}
  </button>

  <!--<a mat-stroked-button=""-->
  <!--color="primary"-->
  <!--*ngIf="(googleApiService.isLoggedIn$|async)"-->
  <!--target="_blank"-->
  <!--href="https://myaccount.google.com/permissions">Revoke permissions-->
  <!--</a>-->
</div>


<section class="help-and-opts">
  <collapsible [initiallyExpanded]="opts.spreadsheetId"
               class="options-collapsible"
               [title]="T.F.GOOGLE.EXPORT_TIME.OPTIONS|translate">
    <div class="options-wrapper">
      <div>
        <mat-form-field>
          <label>Spreadsheet ID</label>
          <input [(ngModel)]="opts.spreadsheetId"
                 matInput=""
                 name="spreadsheetId"
                 type="text">
        </mat-form-field>
      </div>

      <div class="toggle-wrapper">
        <mat-slide-toggle
          [(ngModel)]="opts.isAutoLogin"
          [ngModelOptions]="{standalone: true}">{{T.F.GOOGLE.EXPORT_TIME.AUTO_LOGIN|translate}}
        </mat-slide-toggle>
        <!--<mat-slide-toggle [(ngModel)]="optsname="".is.isAutoFocusEmpty">Auto-focus first empty field after loading table headings</mat-slide-toggle>-->
        <mat-slide-toggle
          (change)="updateDefaults()"
          [(ngModel)]="opts.isRoundWorkTimeUp"
          [ngModelOptions]="{standalone: true}">{{T.F.GOOGLE.EXPORT_TIME.ALWAYS_ROUND_UP|translate}}
        </mat-slide-toggle>
      </div>

      <mat-form-field>
        <label>{{T.F.GOOGLE.EXPORT_TIME.ROUND_START_TIME_TO|translate}}</label>
        <mat-select (selectionChange)="updateDefaults()"
                    [(ngModel)]="opts.roundStartTimeTo"
                    [ngModelOptions]="{standalone: true}">
          <mat-option><em>don't round</em></mat-option>
          <mat-option *ngFor="let roundOption of roundTimeOptions"
                      [value]="roundOption.id">
            {{roundOption.title|translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <label>{{T.F.GOOGLE.EXPORT_TIME.ROUND_END_TIME_TO|translate}}</label>
        <mat-select (selectionChange)="updateDefaults()"
                    [(ngModel)]="opts.roundEndTimeTo"
                    [ngModelOptions]="{standalone: true}">
          <mat-option><em>don't round</em></mat-option>
          <mat-option *ngFor="let roundOption of roundTimeOptions"
                      [value]="roundOption.id">
            {{roundOption.title|translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <label>{{T.F.GOOGLE.EXPORT_TIME.ROUND_TIME_WORKED_TO|translate}}</label>
        <mat-select (selectionChange)="updateDefaults()"
                    [(ngModel)]="opts.roundWorkTimeTo"
                    [ngModelOptions]="{standalone: true}">
          <mat-option><em>don't round</em></mat-option>
          <mat-option *ngFor="let roundOption of roundTimeOptions"
                      [value]="roundOption.id">
            {{roundOption.title|translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </collapsible>
</section>

