<md-card class="hint">
  <md-card-title>
    <md-card-title-text ng-show="vm.title">
      <span class="md-title">{{ vm.title }}</span>
      <span class="md-subhead">{{ vm.subTitle }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content ng-transclude
                   ng-class="{'is-expanded':vm.isExpanded}">
  </md-card-content>
  <md-card-actions layout="row"
                   layout-align="end center">
    <md-button ng-click="vm.isExpanded=!vm.isExpanded;">
      <span ng-show="!vm.isExpanded">Read more</span>
      <span ng-show="vm.isExpanded">Read less</span>
    </md-button>
    <md-button ng-click="vm.removeHint()">Dismiss</md-button>
  </md-card-actions>
</md-card>
