@import '../../../_variables';

:host {
  display: block;
  position: relative;

  [hidden] {
    display: none !important;
  }
}

.markdown-wrapper {
  display: block;
  box-sizing: border-box;
  border: none;
  overflow: auto;
  position: relative;
  transition: height $transition-fast;
  transform-origin: top;
  @include scrollY;

  .resize-to-fit {
    position: absolute;
    right: $s * 2;
    top: 0;
    cursor: pointer;
  }

  &.isHideOverflow {
    overflow: hidden;
  }
}

.markdown-unparsed,
.markdown-parsed {
  //transition: height 1.3s;
  border: 0;
  padding: $s $s * 2;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  display: block;
  resize: none;
  min-height: inherit;
  overflow: hidden;
  cursor: text;
}

.markdown-parsed ::ng-deep {
  *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  h1,
  h2,
  h3 {
    &,
    .mat-typography & {
      margin-bottom: $s;
      margin-top: $s * 2;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  ul {
    margin: 0 $s;
    padding-left: $s * 2;
  }

  > ul {
    padding-left: $s * 2;
  }

  ul ul {
    padding-top: 0;
  }

  .checkbox {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    line-height: 1;
    text-align: center;
    margin-left: -28px;
    vertical-align: middle;
    margin-right: $s;
  }

  .checkbox-wrapper {
    list-style: none;
    margin-bottom: $s;
  }
}

textarea {
  outline: none;
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: $transition-standard;

  :host:hover & {
    opacity: 1;
  }
}
