@import "../../../_variables";

:host {
  display: block;
  [hidden] {
    display: none !important;
  }
}

.markdown-wrapper {
  display: block;
  box-sizing: border-box;
  height: 30px;
  border: none;
  resize: vertical;
  overflow: auto;
  position: relative;
  .resize-to-fit {
    position: absolute;
    right: $s*2;
    top: 0;
    cursor: pointer;
  }
}

.markdown-unparsed,
.markdown-parsed {
  border: 0;
  padding: $s $s*2;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  display: block;
  resize: none;
  overflow: auto;
  height: 100%;

}

.markdown-parsed {
  p:first-child {
    margin-top: 0;
  }
  ul {
    padding-left: 18px;
  }
}
