/** 
 * The internal mention styles can be disabled using the configuration setting leading to these 
 * possible states:
 *  
 *   bootstrap not present; disableStyle false; (new default - use internal styles)
 *   bootstrap not present; disableStyle true;  (no style - so user can add their own styles)
 *   bootstrap present;     disableStyle true;  (original behavior - use bs styles)
 *   bootstrap present;     disableStyle false; (mixes internal style with bs)
 **/

.custom-option-layout {
  display: flex;
  align-items: center;
  gap: var(--s);

  .option-main-icon,
  .tag-ico-emoji {
    font-size: 18px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}

.mention-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 11em;
  padding: 0.5em 0;
  margin: 0.125em 0 0;
  font-size: 1em;
  color: var(--text-color);
  text-align: left;
  list-style: none;
  background-color: var(--bg-lightest);
  background-clip: padding-box;
  border: 1px solid var(--extra-border-color);
  border-radius: var(--card-border-radius);
}
.mention-item {
  display: block;
  padding: 0.2em 1.5em;
  line-height: 1.5em;
  clear: both;
  font-weight: 400;
  color: var(--text-color);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.mention-active > a {
  color: var(--c-contrast);
  text-decoration: none;
  background-color: var(--c-primary);
  outline: 0;
}
.mention-active {
  .option-main-icon,
  .tag-ico-emoji {
    color: var(--c-contrast) !important;
  }
}
.scrollable-menu {
  display: block;
  height: auto;
  max-height: 292px; /* fits 11 items with 14px font-size */
  overflow: auto;
}
[hidden] {
  display: none;
}

.mention-dropdown {
  bottom: 100%;
  top: auto;
  margin-bottom: var(--s-quarter);
}
