@import '../../../../variables';

.dialog-content {
}

@media (min-width: $layout-xs) {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .col {
    width: 32%;
  }
}

#task-textarea {
  width: 100%;
  @media (min-width: $layout-xs) {
    min-width: 70vw;
  }
}

.wrapper-wrapper {
  position: relative;
}

.add-col {
  z-index: 2;
  position: absolute;
  top: 0;
  right: -20px;

  @include mq(xs) {
    opacity: 0;
    .wrapper-wrapper:hover & {
      opacity: 1;
    }
  }
}


.table-wrapper {
  margin-bottom: $s;
  overflow: auto;
  position: relative;
  z-index: 1;


  ::ng-deep table {
    width: 100%;
  }

  ::ng-deep td {
    white-space: normal;

    &:last-child {
      white-space: normal;
    }
  }
}

.options-collapsible{
  text-align: center;
}

.options {
  text-align: left;
}
