<div class="dialog-content"
     mat-dialog-content="">

  <textarea [(ngModel)]="txt"
            [hidden]="!isShowAsText"
            class="simple-textarea mat-elevation-z2"
            id="task-textarea"
            name="tasksTxt"
            rows="10"
            tabindex="-1"></textarea>


  <div *ngIf="!isShowAsText"
       class="wrapper-wrapper">
    <button (click)="addCol()"
            class="add-col"
            color=""
            mat-mini-fab>
      <mat-icon>add</mat-icon>
    </button>
    <div class="table-wrapper material-table">
      <table>
        <tr>
          <td *ngFor="let col of options.cols;let i = index;">
            <mat-select (selectionChange)="onOptionsChange()"
                        [(ngModel)]="options.cols[i]">
              <mat-option><em>remove</em></mat-option>
              <mat-option *ngFor="let colOpt of colOpts"
                          [value]="colOpt.id">
                {{colOpt.title}}
              </mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <th *ngFor="let headlineCol of headlineCols; let i = index;"
              [ngClass]="options.cols[i]">{{headlineCol}}</th>
        </tr>
        <tr *ngFor="let row of formattedRows;">
          <td *ngFor="let col of row; let i = index;"
              [innerHTML]="col"
              [ngClass]="options.cols[i]"></td>
        </tr>
      </table>
    </div>
  </div>


  <collapsible class="options-collapsible"
               title="Options">
    <section class="options">
      <div class="row">
        <div class="col">
          <div>
            <mat-slide-toggle (change)="onOptionsChange()"
                              [(ngModel)]="isShowAsText"
                              name="isShowAsText">
              Show as text
            </mat-slide-toggle>
          </div>
        </div>
        <div class="col">
          <mat-form-field *ngIf="(isWorklogExport)"
                          class="md-block">
            <label>Separate tasks by</label>
            <input (change)="onOptionsChange()"
                   [(ngModel)]="options.separateTasksBy"
                   matInput=""
                   name="separateTasksBy"
                   type="text">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <label>Round time worked to</label>
            <mat-select (selectionChange)="onOptionsChange()"
                        [(ngModel)]="options.roundWorkTimeTo">
              <mat-option><em>don't round</em></mat-option>
              <mat-option *ngFor="let roundOption of roundTimeOptions"
                          [value]="roundOption.id">
                {{roundOption.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <label>Round start time to</label>
            <mat-select (selectionChange)="onOptionsChange()"
                        [(ngModel)]="options.roundStartTimeTo">
              <mat-option><em>don't round</em></mat-option>
              <mat-option *ngFor="let roundOption of roundTimeOptions"
                          [value]="roundOption.id">
                {{roundOption.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <label>Round end time to</label>
            <mat-select (selectionChange)="onOptionsChange()"
                        [(ngModel)]="options.roundEndTimeTo">
              <mat-option><em>don't round</em></mat-option>
              <mat-option *ngFor="let roundOption of roundTimeOptions"
                          [value]="roundOption.id">
                {{roundOption.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <label>Group by</label>
            <mat-select (selectionChange)="onOptionsChange()"
                        [(ngModel)]="options.groupBy">
              <mat-option *ngFor="let groupByOption of groupByOptions"
                          [value]="groupByOption.id">
                {{groupByOption.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </section>
  </collapsible>
</div>


<div align="end"
     mat-dialog-actions="">
  <button (click)="onCancelClick()"
          *ngIf="isShowClose"
          color="primary"
          mat-button=""
          type="button">
    Cancel
  </button>

  <button *ngIf="isShowAsText"
          color="primary"
          data-clipboard-action="copy"
          data-clipboard-target="#task-textarea"
          id="clipboard-btn"
          mat-stroked-button="">
    <mat-icon>content_paste</mat-icon>
    Copy to clipboard
  </button>

  <a [simpleDownloadData]="txt"
     [simpleDownload]="fileName"
     color="primary"
     mat-stroked-button="">
    <mat-icon>file_download</mat-icon>
    Save to file
  </a>
</div>
