server {
    listen       ${APP_PORT};
    server_name  localhost;

    # Serve Noura's static SvelteKit build and preserve client-side routing.
    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
