<!--<form (submit)="save()">-->
<!-- TODO remove translations -->
<!--  <h1 mat-dialog-title>{{isEdit-->
<!--    ? (T.F.TASK.D_REMINDER_ADD.EDIT|translate)-->
<!--    : (T.F.TASK.D_REMINDER_ADD.ADD|translate)}}</h1>-->
<mat-dialog-content>
  <!--    <h3 class="mat-h3">"{{title}}"</h3>-->

  <div class="form-wrapper">
    <owl-date-time-inline [ngModel]="date"
                          name="owlDate"
                          ngDefaultControl
                          [min]="now"
                          [ngModelOptions]="{standalone:true}"
                          (ngModelChange)="updateFromCal($event)"></owl-date-time-inline>


    <!-- TODO remove translations -->
    <!--      <datetime-input (modelChange)="dateTime=$event"-->
    <!--                      [model]="dateTime"-->
    <!--                      [placeholder]="T.F.TASK.D_REMINDER_ADD.DATETIME_FOR|translate"-->
    <!--                      [required]="true"-->
    <!--                      name="reminderDate"></datetime-input>-->

    <div *ngIf="isMoveToBacklogPossible"
         style="margin: 16px">
      <mat-checkbox [(ngModel)]="isMoveToBacklog"
                    name="isListSubTasks">
        {{T.F.TASK.D_REMINDER_ADD.MOVE_TO_BACKLOG|translate}}
      </mat-checkbox>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="wrap-buttons">
    <button (click)="close()"
            color="primary"
            mat-button
            type="button">
      <mat-icon>close</mat-icon>
      {{T.G.CANCEL|translate}}
    </button>

    <!--      <button (click)="remove()"-->
    <!--              *ngIf="isEdit"-->
    <!--              color="primary"-->
    <!--              mat-stroked-button-->
    <!--              type="button">-->
    <!--        <mat-icon>alarm_off</mat-icon>-->
    <!--        {{T.F.TASK.D_REMINDER_ADD.UNSCHEDULE|translate}}-->
    <!--      </button>-->

    <button [disabled]="!dateTime"
            color="primary"
            (click)="save()"
            mat-stroked-button
            type="submit">
      <ng-container *ngIf="!reminder">
        <mat-icon>alarm_add</mat-icon>
        {{T.F.TASK.D_REMINDER_ADD.SCHEDULE|translate}}
      </ng-container>
      <ng-container *ngIf="reminder">
        <mat-icon>alarm</mat-icon>
        {{T.G.UPDATE|translate}}
      </ng-container>
    </button>
  </div>
</mat-dialog-actions>
<!--</form>-->
