<form (submit)="save()">
  <h1 mat-dialog-title>{{isEdit ? 'Edit Reminder' : 'Schedule Task'}}</h1>

  <mat-dialog-content>
    <h3 class="mat-h3">"{{task.title}}"</h3>

    <div class="form-wrapper">
      <datetime-input (modelChange)="dateTime=$event"
                      [model]="dateTime"
                      [required]="true"
                      name="reminderDate"
                      placeholder="Datetime for reminder"></datetime-input>

      <div *ngIf="isMoveToBacklogPossible"
           style="margin: 16px 0;">
        <mat-checkbox [(ngModel)]="isMoveToBacklog"
                      name="isListSubTasks">
          Move task to backlog until scheduled
        </mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="wrap-buttons">
      <button (click)="close()"
              color="primary"
              mat-button
              type="button">
        <mat-icon>close</mat-icon>
        Cancel
      </button>

      <button (click)="remove()"
              *ngIf="isEdit"
              color="primary"
              mat-stroked-button
              type="button">
        <mat-icon>alarm_off</mat-icon>
        Unschedule
      </button>

      <button [disabled]="!dateTime"
              color="primary"
              mat-stroked-button
              type="submit">
        <ng-container *ngIf="!task.reminderId">
          <mat-icon>alarm_add</mat-icon>
          Schedule
        </ng-container>
        <ng-container *ngIf="task.reminderId">
          <mat-icon>alarm</mat-icon>
          Update
        </ng-container>
      </button>
    </div>
  </mat-dialog-actions>
</form>
