@import '../../../../variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  :host-context([dir=rtl]) {
    direction: rtl;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

:host {
  owl-date-time-container {
    box-shadow: none !important;
  }

  .owl-dt-weekday {
    padding-bottom: 0;
  }

  owl-date-time-inline {
    overflow: hidden;
  }

  .mat-dialog-content {
    margin: -24px;
    margin-bottom: 0;
    padding: 0;
    //min-height: 82vh;
    max-height: 82vh;
  }

  .mat-dialog-actions {
    min-height: 42px;
    padding: 4px;
    margin: -24px;
    margin-top: 0;
  }

  ::ng-deep {
    .owl-top-input input {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 36px;
    }
  }

  .additional-controls {
    padding-top: $s;
    // same as $owl-divider-color
    border-top: 1px solid rgba(0, 0, 0, .12);
    @include darkTheme(true) {
      // same as $owl-dark-divider-color
      border-color: rgba(255, 255, 255, .12);
    }
  }

  .move-to-backlog-wrapper,
  mat-form-field {
    margin: 0 $s;
  }
}

.wrap-buttons {
  display: flex;
  max-width: 100%;
  justify-content: stretch;
  flex: 1;

  button {
    flex: 1;
  }
}
