<md-dialog aria-label="Create a new project"
           class="create-project-dialog"
           md-theme="{{vm.projectSettings.theme}}">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create a new project</h2>
      <span flex></span>
      <md-button class="md-icon-button"
                 aria-label="Cancel"
                 ng-click="vm.cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form ng-submit="vm.createProject(vm.project)">

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Project Title</label>
          <input type="text"
                 ng-model="vm.project.title"
                 md-auto-focus
                 required
                 aria-label="Title">
        </md-input-container>

        <theme-settings current-theme="vm.projectSettings.theme" is-boxed="true"></theme-settings>

        <jira-settings settings="vm.projectSettings.jiraSettings"
                       ng-if="vm.IS_ELECTRON"></jira-settings>

        <misc-settings settings="vm.projectSettings.config"></misc-settings>
      </div>
    </md-dialog-content>


    <md-dialog-actions>
      <md-button type="submit"
                 class="md-primary md-raised">
        Save
      </md-button>

      <md-button ng-click="vm.cancel()"
                 type="button"
                 class="md-raised">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>

</md-dialog>
