<div class="local-rest-api-token">
  @if (token()) {
    <input
      class="token-value"
      type="text"
      readonly
      [value]="token()"
      (focus)="$any($event.target).select()"
      [attr.aria-label]="T.GCF.MISC.LOCAL_REST_API_TOKEN | translate"
    />
  }
  @if (hasTokenError()) {
    <p class="token-error">{{ T.GCF.MISC.LOCAL_REST_API_TOKEN_ERROR | translate }}</p>
  }
  <button
    mat-stroked-button
    color="primary"
    type="button"
    [disabled]="isRegenerating()"
    (click)="regenerate()"
  >
    {{ T.GCF.MISC.LOCAL_REST_API_TOKEN_REGENERATE | translate }}
  </button>
</div>
