.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  max-width: 310px;
}

.suffix-wrapper {
  line-height: 24px;

  button {
    width: 24px;
    height: 24px;
  }
}
