<form (submit)="submitWorklog()" class="mat-body" name="time-estimate-form">
  <h1 mat-dialog-title>
    <mat-icon class="dialog-header-icon" svgIcon="jira"></mat-icon>
    <span>{{T.F.JIRA.DIALOG_WORKLOG.TITLE|translate}}</span>
  </h1>

  <mat-dialog-content>
    <p>
      {{T.F.JIRA.DIALOG_WORKLOG.SUBMIT_WORKLOG_FOR|translate}}
      <strong>{{issue.key}} {{issue.summary}}</strong>.
    </p>
    <p>
      {{T.F.JIRA.DIALOG_WORKLOG.CURRENTLY_LOGGED|translate}}
      <strong>{{(timeLogged)|msToString}}</strong>
    </p>

    <div class="form-wrapper">
      <mat-form-field>
        <input
          [(ngModel)]="timeSpent"
          [placeholder]="T.F.JIRA.DIALOG_WORKLOG.TIME_SPENT|translate"
          inputDuration="optional"
          matInput
          name="timeSpent"
          required
          type="text"
        />

        <button
          mat-icon-button
          matSuffix
          type="button"
          [matMenuTriggerFor]="contextMenu"
          matTooltip="Add different times"
        >
          <mat-icon style="font-size: 20px">timer</mat-icon>
        </button>
      </mat-form-field>

      <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item type="button" (click)="fill('ALL_TIME')">
            Fill in all time spent on task ({{data.task.timeSpent|msToString}})
          </button>
          <button mat-menu-item type="button" (click)="fill('TIME_TODAY')">
            Fill only time spent today ({{timeSpentToday|msToString}})
          </button>
          <button mat-menu-item type="button" (click)="fill('ALL_TIME_MINUS_LOGGED')">
            Fill in time spent minus time logged ({{timeSpentLoggedDelta|msToString}})
          </button>
        </ng-template>
      </mat-menu>

      <mat-checkbox
        [@expandFade]
        style="margin-bottom: 20px"
        *ngIf="selectedFillMode==='ALL_TIME'"
        >Always use all time spent on task as default
      </mat-checkbox>
      <mat-checkbox
        [@expandFade]
        style="margin-bottom: 20px"
        *ngIf="selectedFillMode==='TIME_TODAY'"
        >Always use only time spent today as default
      </mat-checkbox>
      <mat-checkbox
        [@expandFade]
        style="margin-bottom: 20px"
        *ngIf="selectedFillMode==='ALL_TIME_MINUS_LOGGED'"
        >Always use only time spent minus time logged as default
      </mat-checkbox>

      <mat-form-field>
        <input
          [(ngModel)]="started"
          [placeholder]="T.F.JIRA.DIALOG_WORKLOG.STARTED|translate "
          matInput
          name="date"
          required
          type="datetime-local"
        />
        <mat-error>{{T.F.JIRA.DIALOG_WORKLOG.INVALID_DATE|translate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <textarea
          [(ngModel)]="comment"
          cdkAutosizeMaxRows="5"
          cdkAutosizeMinRows="2"
          cdkTextareaAutosize
          matInput
          name="comment"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="wrap-buttons">
      <button
        (click)="close()"
        class="btn btn-primary submit-button"
        color="primary"
        mat-button
        type="button"
      >
        {{T.G.CANCEL|translate}}
      </button>
      <button
        class="btn btn-primary submit-button"
        color="primary"
        mat-stroked-button
        type="submit"
      >
        <mat-icon>save</mat-icon>
        {{T.F.JIRA.DIALOG_WORKLOG.SAVE_WORKLOG|translate}}
      </button>
    </div>
  </mat-dialog-actions>
</form>
