<form [formGroup]="form"
      (ngSubmit)="submit()">
  <formly-form [model]="project"
               [fields]="formCfg"
               [options]="formOptions"
               [form]="form">
    <div class="wrap-buttons">
      <button type="submit"
              color="primary"
              class="btn btn-primary submit-button"
              mat-raised-button
              [disabled]="!form.valid">Save
      </button>
      <button type="button"
              (click)="cancelEdit()"
              class="btn btn-primary submit-button"
              mat-raised-button>Cancel
      </button>
    </div>
  </formly-form>
</form>

