:host {
  display: flex;
  flex-direction: column;
  gap: var(--s);

  mat-form-field {
    margin-bottom: 0;
  }
}

.reflection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -8px;
}

.reflection-header__title {
  font-weight: 600;
}
