.ui-view-container {
  position: relative;
  height: 65px;
}

$this-transition-duration: $page-transition-duration;
[ui-view].ng-enter {
  transition: all $this-transition-duration $ease-in-out-quint;
  transform-origin: center top;
}

[ui-view].ng-leave {
  transform-origin: center top;
  transition: all $this-transition-duration $ease-in-out-quint;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

[ui-view].ng-enter {
  opacity: 0;
  transform: scale(0.92);
}

[ui-view].ng-enter-active {
  opacity: 1;
  transform: scale(1);
}

[ui-view].ng-leave {
  opacity: 1;
  transform: scale(1);
}

[ui-view].ng-leave-active {
  opacity: 0;
  // transform: scale(0.7);
}