@import '../../../variables';
@import '../tasks/task/task.component.mixins';


:host {
  overflow: hidden !important;
}

.wrapper {
  padding-top: $s*2;
  padding-bottom: $s*2;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  @include scrollYImportant();
}

.inner-wrapper {
  max-width: $component-max-width;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding-bottom: $s;

  // TODO check if we might want this
  //&:first-child {
  //  top: 0;
  //  position: sticky;
  //  z-index: 44;
  //}
}

.row,
.col {
  //border: 1px dashed rgba(0, 0, 0, .5)
}

.col {
  &.time {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;
    position: relative;
    min-width: 80px;
    text-align: center;
    margin-top: -$s*.5;
    margin-bottom: -$s*.5;

    @include lightTheme() {
      border-color: $light-theme-separator-color;
    }
    @include darkTheme() {
      border-color: $dark-theme-separator-color;
    }

    &.hasTime:after {
      display: block;
      content: '';
      width: 8px;
      height: 2px;
      right: -5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      //border-radius: 50%;

      @include lightTheme() {
        background: $light-theme-separator-color;
      }
      @include darkTheme() {
        background: $dark-theme-text-color;
      }
    }

    .row:first-child & {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        transform: none;
        width: 16px;
        height: 2px;
        right: -9px;

        @include lightTheme() {
          background: $light-theme-separator-color;
        }
        @include darkTheme() {
          background: $dark-theme-separator-color;
        }
      }
    }

    .row:last-child & {
      &:before {
        color: $dark-theme-separator-color;
        content: "á¯";
        position: absolute;
        top: 100%;
        margin-top: -10px;
        transform: none;
        width: 21px;
        font-size: 13px;
        text-align: center;
        right: -12px;
        @include lightTheme() {
          color: $light-theme-separator-color;
        }
        @include darkTheme() {
          color: $dark-theme-separator-color;
        }
      }
    }
  }

  &.right {
    padding-left: $s*2;
    padding-right: $s;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: stretch;

    > * {
      flex: 1;
    }
  }
}

$split-border-radius: 24px;

.task-continued {
  align-self: flex-start;
  padding-left: 56px;
  padding-top: $s;
  padding-bottom: $s;
  border-radius: $task-border-radius;
  border-bottom-left-radius: $split-border-radius;
  border-bottom-right-radius: $split-border-radius;

  @include lightTheme {
    background: $task-c-bg-light;
  }

  @include darkTheme {
    background: $task-c-bg-dark;
  }
}

.split-task::ng-deep .box {
  border-top-left-radius: $split-border-radius !important;
  border-top-right-radius: $split-border-radius !important;
}

.work-start,
.work-end {
  text-align: center;
  border-bottom: 1px dashed;
  padding-top: $s;
  padding-bottom: $s;

  @include lightTheme() {
    border-color: $light-theme-separator-color;
  }
  @include darkTheme() {
    border-color: $dark-theme-separator-color;
  }
}

.work-end {
  border-top: 1px dashed;
  border-bottom: 0;
}
