<task-additional-info-wrapper>
  <div *ngIf="timelineEntries$|async as timelineEntries"
       class="wrapper">
    <div class="inner-wrapper"
         [@standardList]="timelineEntries.length">
      <div class="row"
           *ngFor="let row of timelineEntries; let isFirst = first; trackBy: trackByFn">
        <div class="col time"
             [class.hasTime]="!row.isHideTime && row.type!==TimelineViewEntryType.WorkdayStart">
          <div *ngIf="!row.isHideTime && row.type!==TimelineViewEntryType.WorkdayStart">{{ isFirst
            ? (T.F.TIMELINE.NOW|translate)
            : (row.time|roundDuration|date:'HH:mm')}}</div>
        </div>
        <div class="col right"
             [ngSwitch]="row.type">
          <task *ngSwitchCase="TimelineViewEntryType.Task"
                showParentTitle="yes"
                [task]="row.data"></task>
          <task *ngSwitchCase="TimelineViewEntryType.ScheduledTask"
                showParentTitle="yes"
                [task]="row.data"></task>
          <task *ngSwitchCase="TimelineViewEntryType.SplitTask"
                showParentTitle="yes"
                class="split-task"
                [task]="row.data"></task>

          <div *ngSwitchCase="TimelineViewEntryType.SplitTaskContinued"
               class="task-continued">{{row.data}}</div>


          <timeline-custom-event *ngSwitchCase="TimelineViewEntryType.CustomEvent"
                                 [event]="row.data"></timeline-custom-event>


          <div *ngSwitchCase="TimelineViewEntryType.WorkdayStart"
               class="work-start">Workday ({{row.time|date:'shortDate'}}) starts at {{row.data.startTime}}
          </div>

          <div *ngSwitchCase="TimelineViewEntryType.WorkdayEnd"
               class="work-end">Workday ({{row.time|date:'shortDate'}}) ends at {{row.time|date:'shortTime'}}</div>

          <div *ngSwitchDefault>------------------</div>
        </div>
      </div>
    </div>
  </div>
</task-additional-info-wrapper>
