<task-additional-info-wrapper>
  <div *ngIf="timelineEntries$|async as timelineEntries"
       class="wrapper">
    <div class="inner-wrapper"
         [@standardList]="timelineEntries.length">
      <div class="timeline-row"
           *ngFor="let row of timelineEntries; let isFirst = first; trackBy: trackByFn">
        <div class="timeline-col time"
             [class.hasTime]="!row.isSameTimeAsPrevious">
          <div *ngIf="!row.isSameTimeAsPrevious">{{ isFirst
            ? (T.F.TIMELINE.NOW|translate)
            : (row.time|date:'HH:mm')}}</div>
        </div>
        <div class="timeline-col right"
             [ngSwitch]="row.type">

          <task *ngSwitchCase="TimelineViewEntryType.Task"
                showParentTitle="true"
                [task]="row.data"></task>
          <task *ngSwitchCase="TimelineViewEntryType.ScheduledTask"
                showParentTitle="true"
                [task]="row.data"></task>

          <div *ngSwitchCase="TimelineViewEntryType.Text"
               class="timeline-text">{{row.data}}</div>

          <div *ngSwitchDefault>------------------</div>
        </div>
      </div>
    </div>
  </div>
</task-additional-info-wrapper>
