<div class="isHideWhenJiraSupport">
  <p>Please <a href="https://chrome.google.com/webstore/detail/super-productivity/ljkbjodfmekklcoibdnhahlaalhihmlb">
    download the chrome extension</a> in order to allow communication with the Jira Api. Note that this doesn\'t work
    for mobile.
  </p>
</div>

<mat-slide-toggle [(ngModel)]="cfg.isEnabled"
                  aria-label="Enable Jira integration"
                  name="isEnabled"
                  style="margin-bottom: 8px;">
  Enable Jira integration
</mat-slide-toggle>

<form (ngSubmit)="submit()"
      [formGroup]="form"
      class="isShowWhenJiraSupport">

  <div *ngIf="cfg.isEnabled">
    <formly-form (modelChange)="cfg=$event"
                 [fields]="section.items"
                 [form]="form"
                 [model]="cfg"
                 [options]="options">
    </formly-form>

    <h3 class="sub-section-heading">Transition Handling</h3>
    <mat-slide-toggle [(ngModel)]="cfg.isTransitionIssuesEnabled"
                      [ngModelOptions]="{standalone: true}"
                      aria-label="Enable Transition Handling"
                      name="isTransitionIssuesEnabled"
                      style="margin-bottom: 8px;">
      Enable Transition Handling
    </mat-slide-toggle>


    <section *ngIf="cfg.isTransitionIssuesEnabled"
             @expand>
      <mat-form-field>
        <input [formControl]="issueSuggestionsCtrl"
               [matAutocomplete]="autoEl"
               aria-label="Select issue to load available transitions"
               class="border-color-primary"
               matInput
               placeholder="Select issue to load available transitions">

        <mat-autocomplete #autoEl="matAutocomplete"
                          (optionSelected)="updateTransitionOptions()"
                          [autoActiveFirstOption]="true"
                          [displayWith]="displayIssueWith">
          <mat-option *ngIf="(isLoading$|async)"
                      [value]="issueSuggestionsCtrl.value"
                      class="is-loading">
            <mat-spinner diameter="50"></mat-spinner>
          </mat-option>
          <mat-option *ngFor="let issue of (filteredIssueSuggestions$|async); trackBy:trackByIssueId;"
                      [value]="issue"><span>{{issue?.title}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div *ngFor="let opt of cfg.transitionConfig|keyvalue">
        <mat-form-field>
          <label *ngIf="opt.key==='OPEN'">Status for pausing task</label>
          <label *ngIf="opt.key==='IN_PROGRESS'">Status for starting task</label>
          <label *ngIf="opt.key==='DONE'">Status for completing task</label>
          <mat-select [(ngModel)]="cfg.transitionConfig[opt.key]"
                      [ngModelOptions]="{standalone: true}">
            <mat-option value="DO_NOT">Don't transition</mat-option>
            <mat-option value="ALWAYS_ASK">Always open dialog</mat-option>
            <mat-option *ngFor="let transition of cfg.availableTransitions"
                        [value]="transition">
              {{transition.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--<pre><code>{{availableTransitionsForIssue|json}}</code></pre>-->

    </section>

    <section>
      <h3 class="sub-section-heading">Map Custom Fields</h3>
      <p>Unfortunately some of Jira's data is saved under custom fields which are different for every installation. If
        you
        want to include this data you need to select the proper custom field for it.</p>

      <div>
        <button (click)="loadCustomFields()"
                [promiseBtn]="customFieldsPromise"
                mat-raised-button
                type="button">
          Load Suggestions
        </button>
        <br>
        <br>
      </div>

      <mat-form-field>
        <input [(ngModel)]="cfg.storyPointFieldId"
               [formControl]="customFieldSuggestionsCtrl"
               [matAutocomplete]="storyPointAutoEl"
               aria-label="Story Points"
               class="border-color-primary"

               matInput
               placeholder="Story Points">

        <mat-autocomplete #storyPointAutoEl="matAutocomplete"
                          [autoActiveFirstOption]="true">
          <mat-option *ngFor="let field of (filteredCustomFieldSuggestions$|async); trackBy:trackByCustomFieldId;"
                      [value]="field.id"><span>{{field?.id}}: {{field?.name}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </section>
  </div>

  <div class="controls">
    <button [disabled]="!form.valid && cfg.isEnabled"
            class="btn btn-primary submit-button"
            color="primary"
            mat-raised-button
            type="submit">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>

<!--<pre><code>{{cfg|json}}</code></pre>-->
