@import '../../../../../../variables';

.issue-table {
  width: 100%;

  td,
  th {
    vertical-align: top;
    padding-bottom: $s;
    padding-left: $s;

    &:first-child {
      padding-left: 0;
    }
  }
}

.wrapper {
  margin: $s*2;
  @include standardThemeTextColor();
}

.comment {
  display: flex;
  margin-bottom: $s*2;

  .author-avatar {
    margin-right: $s;
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 50%;
  }

  .author-name {
    font-weight: bold;
  }

  .when {
    margin-left: $s;
    opacity: 0.6;
  }

  .name-and-comment-content {
  }

}

.attachment {
  //margin-bottom: $s;
}