<div class="isHideWhenJiraSupport">
  <p>Please <a href="https://chrome.google.com/webstore/detail/super-productivity/ljkbjodfmekklcoibdnhahlaalhihmlb">
    download the chrome extension</a> in order to allow communication with the Jira Api. Note that this doesn\'t work for mobile.
  </p>
</div>

<mat-slide-toggle [(ngModel)]="cfg.isEnabled"
                  style="margin-bottom: 8px;"
                  name="isEnabled"
                  aria-label="Enable Jira integration">
  Enable Jira integration
</mat-slide-toggle>

<form [formGroup]="form"
      class="isShowWhenJiraSupport"
      *ngIf="cfg.isEnabled"
      (ngSubmit)="submit()">

  <formly-form [model]="cfg"
               [fields]="section.items"
               [options]="options"
               [form]="form">
  </formly-form>


  <h3 class="sub-section-heading">Transition Handling</h3>
  <section>
    <input matInput
           #inputEl
           class="border-color-primary"
           placeholder="Search Issues"
           aria-label="Search Issues"
           [matAutocomplete]="autoEl"
           [formControl]="issueSuggestionsCtrl">

    <mat-autocomplete #autoEl="matAutocomplete"
                      (optionSelected)="updateTransitionOptions()"
                      [autoActiveFirstOption]="true">
      <mat-option *ngIf="isLoading"
                  [value]="issueSuggestionsCtrl.value"
                  class="is-loading">
        <mat-spinner diameter="50"></mat-spinner>
      </mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let issue of filteredIssueSuggestions"
                    [value]="issue"><span>{{issue?.title}}</span>
        </mat-option>
      </ng-container>

    </mat-autocomplete>
  </section>

  <div class="controls">
    <button type="submit"
            color="primary"
            class="btn btn-primary submit-button"
            mat-raised-button
            [disabled]="!form.valid">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>

<!--<pre><code>{{config|json}}</code></pre>-->
