<div
  class="drag-placeholder"
  *cdkDragPlaceholder
></div>

<div class="wrap">
  <div
    class="parent-title"
    *ngIf="parentTitle"
  >
    <div class="title">{{ parentTitle }}</div>
  </div>

  <div class="title">{{ task.title }}</div>

  <tag-list
    [isDisableEdit]="true"
    [isShowProjectTagAlways]="true"
    [issueProviderType]="task.issueType"
    [task]="task"
  ></tag-list>
</div>

<div
  (click)="estimateTime()"
  [class.hasNoTimeSpentOrEstimate]="!task.timeSpent && !task.timeEstimate"
  [style.pointer-events]="task.subTaskIds?.length && 'none'"
  class="time-remaining-shared"
>
  <span *ngIf="task.subTaskIds?.length">∑</span>
  {{ (task.timeEstimate - task.timeSpent > 0 ? task.timeEstimate - task.timeSpent :
  0)|msToString }}
</div>
