@import '../../../../variables';
@import '../../tasks/task/task.component.mixins';

$h: 40px;

:host {
  border-radius: 6px;
  margin-bottom: 4px;
  min-height: $h;
  padding: 4px 10px;
  cursor: grab;
  display: flex;
  align-items: center;
  background: $task-c-bg-light;

  @include darkTheme() {
    color: $task-text-c-dark;
    background: $task-c-bg-dark;
  }

  &:active {
    cursor: grabbing;
  }

  .title {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.drag-placeholder {
  min-height: $h;
}

.parent-title {
  padding-top: $s * 0.5;
  margin-bottom: -2px;
  font-size: 12px;
  text-overflow: ellipsis;
}

// TIME

// TIME
.time-remaining {
  cursor: pointer;
  margin-left: auto;
  min-width: 30px;
  min-height: $h;
  line-height: $h;
  text-align: right;
  white-space: nowrap;
  font-style: italic;
  opacity: 0.8;
  font-weight: 300;
}
