<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.superproductivity.superproductivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <!-- App in WebFrame -->
        <activity
                android:name=".FullscreenActivity"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
                android:label="@string/title_activity_fullscreen"
                android:theme="@style/FullscreenTheme">

            <!-- This intent-filter adds the Trusted Web Activity to the Android Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
              This intent-filter allows the Trusted Web Activity to handle Intents to open
              app.super-productivity.com.
            -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Edit android:host to handle links to the target URL -->
                <data
                        android:host="app.super-productivity.com"
                        android:scheme="https" />
            </intent-filter>
        </activity>


        <!-- Widget -->
        <receiver android:name=".TaskListWidget">
            <intent-filter>
                <action android:name="com.superproductivity.superproductivity.LIST_CHANGED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/task_list_widget_info" />
        </receiver>

        <service
                android:name=".TaskListWidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS" />


        <activity
                android:name=".TaskListWidgetConfigureActivity"
                android:permission="android.permission.BIND_REMOTEVIEWS">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>