<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.superproductivity.superproductivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <!-- App in TWA -->
        <!--        <activity-->
        <!--                android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"-->
        <!--                android:theme="@style/Theme.LauncherActivity">-->

        <!--            <meta-data-->
        <!--                    android:name="asset_statements"-->
        <!--                    android:resource="@string/asset_statements" />-->

        <!--            <meta-data-->
        <!--                    android:name="android.support.customtabs.trusted.DEFAULT_URL"-->
        <!--                    android:value="https://app.super-productivity.com" />-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->

        <!--                <data-->
        <!--                        android:host="app.super-productivity.com"-->
        <!--                        android:scheme="https" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->


        <!-- App in WebFrame -->
        <activity
                android:launchMode="singleTask"
                android:name=".FullscreenActivity"
                android:hardwareAccelerated="true"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
                android:label="@string/title_activity_fullscreen"
                android:theme="@style/FullscreenTheme">

            <!-- This intent-filter adds the Trusted Web Activity to the Android Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--                <action android:name="custom.actions.intent.TRIGGER_SYNC" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
              This intent-filter allows the Trusted Web Activity to handle Intents to open
              app.super-productivity.com.
            -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Edit android:host to handle links to the target URL -->
                <data
                        android:host="app.super-productivity.com"
                        android:scheme="https" />
            </intent-filter>
        </activity>


        <!-- Widget -->
        <receiver android:name=".TaskListWidget">
            <intent-filter>
                <action android:name="com.superproductivity.superproductivity.LIST_CHANGED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/task_list_widget_info" />
        </receiver>

        <service
                android:name=".TaskListWidgetViewsService"
                android:exported="false"
                android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
                android:name=".KeepAliveNotificationService"
                android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.superproductivity.superproductivity.UPDATE_PERMANENT_NOTIFICATION" />
            </intent-filter>
        </service>

    </application>
</manifest>
