<div
  #contentElRef
  class="content"
>
  <ng-content select="[better-drawer-content]"></ng-content>
</div>

<div
  swipeGesture
  (swiperight)="IS_TOUCH_PRIMARY && close()"
  [style]="sideStyle()"
  class="side"
  (transitionend)="updateStyleAfterTransition()"
>
  <!-- Slot for non-scrolling side tools/overlays (e.g. edge handle) -->
  <ng-content select="[better-drawer-side-overlay]"></ng-content>
  <div class="side-inner">
    <ng-content select="[better-drawer-side]"></ng-content>
  </div>
</div>
