<h1 mat-dialog-title>{{T.F.GOOGLE.D_CONFIRM_LOAD.TITLE|translate}}</h1>

<mat-dialog-content>
  <div [innerHTML]="T.F.GOOGLE.D_CONFIRM_LOAD.TEXT|translate"></div>

  <table>
    <tr>
      <td>{{T.F.GOOGLE.D_CONFIRM_LOAD.REMOTE|translate}}</td>
      <td>{{T.F.GOOGLE.D_CONFIRM_LOAD.LAST_MOD|translate}}</td>
      <td>{{data.remoteModified}}</td>
    </tr>
    <tr>
      <td>{{T.F.GOOGLE.D_CONFIRM_LOAD.LOCAL|translate}}</td>
      <td>{{T.F.GOOGLE.D_CONFIRM_LOAD.LAST_MOD|translate}}</td>
      <td>{{data.lastLocalSyncModelChange}}</td>
    </tr>
    <tr>
      <td>{{T.F.GOOGLE.D_CONFIRM_LOAD.LOCAL_REMOTE|translate}}</td>
      <td>{{T.F.GOOGLE.D_CONFIRM_LOAD.LAST_SYNC|translate}}</td>
      <td>{{data.lastSync}}</td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="wrap-buttons">
    <button (click)="close()"
            color="primary"
            mat-button>
      {{T.G.CANCEL|translate}}
    </button>
    <button (click)="data.saveToRemote();close()"
            color="primary"
            mat-stroked-button>
      <mat-icon>file_upload</mat-icon>
      {{T.F.GOOGLE.D_CONFIRM_LOAD.OVERWRITE_REMOTE|translate}}
    </button>
    <button (click)="data.loadFromRemote();close()"
            color="primary"
            mat-stroked-button>
      <mat-icon>file_download</mat-icon>
      {{T.F.GOOGLE.D_CONFIRM_LOAD.OVERWRITE_LOCAL|translate}}
    </button>
  </div>
</mat-dialog-actions>



