@import '../../../../../variables';

.issue-table {
  width: 100%;
}

.wrapper {
  margin: $s*2;
}

.comment {
  display: block;

  .author {
    display: flex;
    align-items: center;
    margin-bottom: $s;

    img {
      margin-right: $s;
    }
  }
  margin-bottom: $s*2;
}

.attachment {
  //margin-bottom: $s;
}