<div style="text-align: center;">
  <button mat-raised-button
          *ngIf="task.issueData.wasUpdated"
          color="accent"
          (click)="hideUpdates()">
    Mark updates as checked
  </button>
</div>
<!-- TODO list changes -->


<div class="wrapper">
  <table class="issue-table">
    <tr>
      <th>Summary</th>
      <th>{{task.issueData.key}} {{task.issueData.summary}}</th>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{task.issueData.status.name}}</td>
    </tr>
    <tr>
      <th>Components</th>
      <td>
        <mat-chip-list>
          <mat-chip *ngFor="let component of task.issueData.components"
                    title="{{component.description}}">{{component.name}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <inline-markdown [model]="task.issueData.description"></inline-markdown>
      </td>
    </tr>
    <tr>
      <th>Attachments</th>
      <td>
        <div class="attachments">
          <div class="attachment"
               *ngFor="let attachment of task.issueData.attachments">

            <div class="file-name">{{attachment.filename}}</div>
            <img *ngIf="attachment.thumbnail"
                 [src]="attachment.thumbnail">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>Comments</th>
      <td>
        <div class="comment"
             *ngFor="let comment of task.issueData.comments">
          <div class="author">
            <img [src]="comment.author.avatarUrl">
            <div class="author-name">{{comment.author.displayName}}</div>
          </div>
          <div>{{comment.body}}</div>
        </div>
      </td>
    </tr>
  </table>

  <!--<pre><code>-->
  <!--{{task.issueData|json}}-->
  <!--</code></pre>-->

</div>
