<div class="page-wrapper">
  <div class="component-wrapper">
    <h1 class="mat-h1"
        style="text-align: center; margin-top: 12px;">Project Overview</h1>

    <div [@standardList]="(projectService.list$|async)?.length"
         [dragulaModel]="projectService.list$|async"
         class="project-list"
         dragula="PROJECTS">
      <mat-card *ngFor="let project of (projectService.list$|async); trackBy:trackById;"
                class="project">
        <div [ngClass]="project.themeColor"
             class="project-color bg-400-el drag-handle">
          <mat-icon class="color-contrast"
                    svgIcon="drag_handle">
          </mat-icon>
        </div>

        <div [class.isCurrent]="project.id === (projectService.currentId$|async)"
             class="title">{{project.title}}
        </div>

        <div class="issue-providers">
          <mat-icon *ngIf="project.issueIntegrationCfgs?.JIRA?.isEnabled"
                    svgIcon="jira"
                    title="Jira Integration Configured"></mat-icon>
          <mat-icon *ngIf="project.issueIntegrationCfgs?.GITHUB?.repo"
                    svgIcon="github"
                    title="Github Integration Configured"></mat-icon>
        </div>

        <div class="controls">
          <button (click)="edit(project)"
                  color=""
                  mat-mini-fab
                  title="Edit Project">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button (click)="archive(project.id)"
                  *ngIf="project.id !== (projectService.currentId$|async)"
                  color=""
                  mat-mini-fab
                  title="Archive Project">
            <mat-icon aria-label="Archive">archive</mat-icon>
          </button>
          <button (click)="export(project.id, project.title)"
                  class="hide-xs"
                  color=""
                  mat-mini-fab
                  title="Export Project">
            <mat-icon aria-label="Archive">flight</mat-icon>
          </button>
          <button (click)="remove(project.id)"
                  *ngIf="project.id !== (projectService.currentId$|async)"
                  color="warn"
                  mat-mini-fab
                  title="Delete Project">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </div>

      </mat-card>
    </div>

    <div class="add-new-project-wrapper">
      <button (click)="openCreateDialog()"
              color="primary"
              mat-raised-button>
        <mat-icon aria-label="Add">add</mat-icon>
        Create New
      </button>

      <button (click)="fileInput.click()"
              mat-raised-button
              type="button">Import from file
      </button>
      <input #fileInput
             (change)="handleFileInput($event)"
             hidden
             id="file"
             type="file">
    </div>
  </div>

  <div *ngIf="(projectService.archived$|async)?.length"
       class="component-wrapper">
    <h2 class="mat-h2"
        style="text-align: center; margin-top: 32px;">Archived Projects</h2>

    <mat-card *ngFor="let project of (projectService.archived$|async); trackBy:trackById;"
              class="project">
      <div [ngClass]="project.themeColor"
           class="project-color bg-400-el">
      </div>

      <div class="title">{{project.title}}</div>

      <div class="issue-providers">
        <mat-icon *ngIf="project.issueIntegrationCfgs?.JIRA?.isEnabled"
                  svgIcon="jira"
                  title="Jira Integration Configured"></mat-icon>
        <mat-icon *ngIf="project.issueIntegrationCfgs?.GITHUB?.repo"
                  svgIcon="github"
                  title="Github Integration Configured"></mat-icon>
      </div>

      <div class="controls">
        <button (click)="unarchive(project.id)"
                color=""
                mat-mini-fab
                title="Unarchive Project">
          <mat-icon aria-label="Unarchive">unarchive</mat-icon>
        </button>
        <button (click)="remove(project.id)"
                *ngIf="project.id !== (projectService.currentId$|async)"
                color="warn"
                mat-mini-fab
                title="Delete Project">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </div>

    </mat-card>
  </div>
</div>
