<div class="page-wrapper">
  <div class="component-wrapper">
    <h1 class="mat-h1"
        style="text-align: center; margin-top: 12px;">{{T.PP.TITLE|translate}}</h1>

    <div [@standardList]="(projectService.list$|async)?.length"
         [dragulaModel]="projectService.list$|async"
         class="project-list"
         dragula="PROJECTS">
      <mat-card *ngFor="let project of (projectService.list$|async); trackBy:trackById;"
                class="project">
        <div [ngClass]="project.themeColor"
             class="project-color bg-400-el drag-handle">
          <mat-icon class="color-contrast"
                    svgIcon="drag_handle">
          </mat-icon>
        </div>

        <div [class.isCurrent]="project.id === (projectService.currentId$|async)"
             class="title">{{project.title}}
        </div>

        <div class="issue-providers">
          <mat-icon *ngIf="project.issueIntegrationCfgs?.JIRA?.isEnabled"
                    svgIcon="jira"
                    [title]="T.PP.JIRA_CONFIGURED|translate"></mat-icon>
          <mat-icon *ngIf="project.issueIntegrationCfgs?.GITHUB?.repo"
                    svgIcon="github"
                    [title]="T.PP.GITHUB_CONFIGURED|translate"></mat-icon>
        </div>

        <div class="controls">
          <button (click)="edit(project)"
                  color=""
                  mat-mini-fab
                  [title]="T.PP.EDIT_PROJECT|translate">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="archive(project.id)"
                  *ngIf="project.id !== (projectService.currentId$|async)"
                  color=""
                  mat-mini-fab
                  [title]="T.PP.ARCHIVE_PROJECT|translate">
            <mat-icon>archive</mat-icon>
          </button>
          <button (click)="export(project.id, project.title)"
                  class="hide-xs"
                  color=""
                  mat-mini-fab
                  [title]="T.PP.EXPORT_PROJECT|translate">
            <mat-icon>flight</mat-icon>
          </button>
          <button (click)="remove(project.id)"
                  *ngIf="project.id !== (projectService.currentId$|async)"
                  color="warn"
                  mat-mini-fab
                  [title]="T.PP.DELETE_PROJECT|translate">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </mat-card>
    </div>

    <div class="add-new-project-wrapper">
      <button (click)="openCreateDialog()"
              color="primary"
              mat-raised-button>
        <mat-icon>add</mat-icon>
        {{T.PP.CREATE_NEW|translate}}
      </button>

      <button (click)="fileInput.click()"
              mat-raised-button
              type="button">
        {{T.PP.IMPORT_FROM_FILE|translate}}
      </button>
      <input #fileInput
             (change)="handleFileInput($event)"
             hidden
             id="file"
             type="file">
    </div>
  </div>

  <div *ngIf="(projectService.archived$|async)?.length"
       class="component-wrapper">
    <h2 class="mat-h2"
        style="text-align: center; margin-top: 32px;">{{T.PP.ARCHIVED_PROJECTS|translate}}</h2>

    <mat-card *ngFor="let project of (projectService.archived$|async); trackBy:trackById;"
              class="project">
      <div [ngClass]="project.themeColor"
           class="project-color bg-400-el">
      </div>

      <div class="title">{{project.title}}</div>

      <div class="issue-providers">
        <mat-icon *ngIf="project.issueIntegrationCfgs?.JIRA?.isEnabled"
                  svgIcon="jira"
                  [title]="T.PP.JIRA_CONFIGURED|translate"></mat-icon>
        <mat-icon *ngIf="project.issueIntegrationCfgs?.GITHUB?.repo"
                  svgIcon="github"
                  [title]="T.PP.GITHUB_CONFIGURED|translate"></mat-icon>
      </div>

      <div class="controls">
        <button (click)="unarchive(project.id)"
                color=""
                mat-mini-fab
                [title]="T.PP.UN_ARCHIVE_PROJECT|translate">
          <mat-icon>unarchive</mat-icon>
        </button>
        <button (click)="remove(project.id)"
                *ngIf="project.id !== (projectService.currentId$|async)"
                color="warn"
                mat-mini-fab
                [title]="T.PP.DELETE_PROJECT|translate">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </mat-card>
  </div>
</div>
