@import '../../../_variables.scss';

.controls {
  margin-left: 2*$s;
  display: flex;
  justify-content: end;
  flex-direction: row;

  @include mq(xs) {
    min-width: 203px;
  }

  button:first-child {
    margin-left: auto;
  }

  button {
    margin-left: $s;
  }
}

.project-list {
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $s/2 2*$s;
  margin-bottom: $s;

  .title {
    font-size: 16px;
    flex: 1;

    &.isCurrent {
      font-weight: bold;
    }
  }

  .issue-providers {
    margin-left: 2*$s;
    margin-right: 2*$s;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.add-new-project-wrapper {
  margin-top: $s*2;
  text-align: center;
}
