@import '../../../variables';

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host::ng-deep .mat-form-field-flex {
  min-width: 250px;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
mat-chip {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: $s;
}

.fake {
  opacity: 0;
  pointer-events: none;
  display: block;
  height: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  visibility: hidden;
}
