@import '../../../variables';

::ng-deep .mat-form-field-flex {
  min-width: 250px;
}

mat-chip {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: $s;
}

.no-touch {
  @include touchDevice {
    display: none;
  }
}
.touch {
  @include noTouchDevice {
    display: none;
  }
}
