<div class="wrapper"
     style="position: relative;">
  <mat-form-field>
    <input (ngModelChange)="updateFromInput($event)"
           [name]="name"
           [ngModel]="strValue"
           [placeholder]="placeholder"
           [required]="required"
           matInput
           type="datetime-local">
    <input (ngModelChange)="updateFromInput($event)"
           [ngModel]="strValue"
           [owlDateTime]="dt1"
           class="fake">
    <mat-error>The entered value is not a datetime!</mat-error>
    <mat-icon [owlDateTimeTrigger]="dt1"
              matSuffix=""
              style="cursor: pointer;">alarm
    </mat-icon>
  </mat-form-field>
  <owl-date-time #dt1></owl-date-time>

  <mat-chip-list>
    <mat-chip (click)="setCommonVal('15M')">in 15m</mat-chip>
    <mat-chip (click)="setCommonVal('1H')">in 1h</mat-chip>
    <mat-chip (click)="setCommonVal('2H')">in 2h</mat-chip>
    <mat-chip (click)="setCommonVal('5H')">in 5h</mat-chip>
    <mat-chip (click)="setCommonVal('TOMORROW_11')">tomorrow 11:00</mat-chip>
  </mat-chip-list>
</div>
