daily-planner {
  display: block;

  .backlog-buttons,
  .no-tasks-info,
  .md-title,
  .md-headline {
    text-align: center;
  }

  .search {
    margin-bottom: 0;
    .md-errors-spacer {
      display: none;
    }
  }

  .add-task-form {
    margin: 20px auto;
    max-width: $component-max-width;

    animation: $transition-duration-m attention-for-input-daily-planner ease-in;
    animation-delay: $page-transition-duration/2;
    backface-visibility: hidden;

    ng-md-icon {
      width: 32px;
      height: 32px;
    }
  }

  .highlight-add-task-icon {
    margin-right: 10px;
  }
}

@keyframes attention-for-input-daily-planner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05, 1.2);
  }
  100% {
    transform: scale(1);
  }
}
