<form ng-if="vm.showEdit"
      class="edit-on-click-form"
      ng-submit="vm.finishEdit();"
      md-whiteframe="3"
      ng-class="{'is-duration-form':vm.editOnClickType==='DURATION'}">
  <input type="text"
         ng-if="!vm.editOnClickType"
         ng-disabled="vm.isDone"
         ng-model="vm.editOnClick"
         ng-blur="vm.finishEdit();"
         ng-change="vm.change(vm.editOnClick)"
         tabindex="2">

  <input type="text"
         ng-if="vm.editOnClickType==='DURATION'"
         input-duration
         class="edit-on-click-duration-input"
         ng-disabled="vm.isDone"
         ng-model="vm.editOnClick"
         ng-blur="vm.finishEdit();"
         ng-change="vm.change(vm.editOnClick)"
         tabindex="2">
</form>
<span class="text"
      tabindex="2"
      ng-if="!vm.editOnClickType"
      ng-keypress="vm.toggleShowEdit()"
      ng-click="vm.toggleShowEdit()"
      ng-show="!vm.showEdit">{{ vm.editOnClick }}</span>

<span class="text"
      tabindex="2"
      ng-if="vm.editOnClickType==='DURATION'"
      ng-keypress="vm.toggleShowEdit()"
      ng-click="vm.toggleShowEdit()"
      ng-show="!vm.showEdit">{{ vm.editOnClick |duration }}</span>