<form ng-if="vm.showEdit"
      class="edit-on-click-form duration-form"
      ng-submit="vm.finishEdit();"
      md-whiteframe="3">
  <input type="text"
         input-duration
         class="edit-on-click-duration-input"
         ng-model="vm.editOnClickDuration"
         ng-blur="vm.finishEdit();"
         tabindex="2">
</form>

<span class="text"
      tabindex="2"
      ng-if="!vm.showEdit"
      ng-keypress="vm.toggleShowEdit()"
      ng-click="vm.toggleShowEdit()">{{ vm.editOnClickDuration |duration }}</span>