<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button"
               aria-label="Home"
               ui-sref="daily-planner">
      <ng-md-icon icon="cloud"
                  class="app-icon"
                  aria-label="cloud"></ng-md-icon>
    </md-button>

    <md-menu ng-if="r.currentProject">
      <md-button aria-label="Switch project"
                 ng-click="vm.openMenu($mdOpenMenu, $event)">
        <md-tooltip md-direction="bottom">
          Switch project
        </md-tooltip>
        {{ r.currentProject.title }}
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="project in vm.allProjects">
          <md-button ng-click="r.currentProject = project">
            {{project.title}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <h2 ng-if="!r.currentProject">
      <a ui-sref="daily-planner">SuperProductivity</a>
    </h2>

    <span flex></span>

    <md-button class="md-icon-button"
               aria-label="Add Task"
               ng-click="vm.openAddTask()">
      <md-tooltip md-direction="bottom">
        Add Task
      </md-tooltip>
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>

    <md-button class="md-icon-button"
               aria-label="Make a break"
               ng-click="vm.toggleBreak()"
               ng-class="{'is-active':vm.isOnBreak}">
      <md-tooltip md-direction="bottom">
        Toggle break mode
      </md-tooltip>
      <ng-md-icon icon="free_breakfast"></ng-md-icon>
    </md-button>

    <md-button class="md-icon-button"
               aria-label="Daily Planner"
               ui-sref-active="is-active"
               ui-sref="daily-planner">
      <md-tooltip md-direction="bottom">
        Go to daily planer
      </md-tooltip>
      <ng-md-icon icon="border_color"></ng-md-icon>
    </md-button>

    <md-button class="md-icon-button"
               aria-label="Daily Agenda"
               ui-sref-active="is-active"
               ui-sref="daily-agenda">
      <md-tooltip md-direction="bottom">
        Go to daily agenda
      </md-tooltip>
      <ng-md-icon icon="event"></ng-md-icon>
    </md-button>

    <md-button class="md-icon-button"
               aria-label="Work View"
               ui-sref-active="is-active"
               ui-sref="work-view">
      <md-tooltip md-direction="bottom">
        Go to work view
      </md-tooltip>
      <ng-md-icon icon="format_list_bulleted"></ng-md-icon>
    </md-button>

    <md-button class="md-icon-button"
               aria-label="Daily Summary"
               ui-sref-active="is-active"
               ui-sref="daily-summary">
      <md-tooltip md-direction="bottom">
        Finish your day / Go to summary
      </md-tooltip>
      <ng-md-icon icon="done_all"></ng-md-icon>
    </md-button>

    <md-button class="md-icon-button"
               aria-label="Settings"
               ui-sref-active="is-active"
               ui-sref="settings">
      <md-tooltip md-direction="bottom">
        Go to settings
      </md-tooltip>
      <ng-md-icon icon="settings"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>
