@use '../../../../styles/_globals.scss' as *;

:host,
:host * {
  -webkit-tap-highlight-color: transparent;
}

:host {
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  user-select: none;
  width: max-content;
  min-width: min(400px, calc(100vw - var(--s4)));
  max-width: min(560px, 100%);
  display: block;

  :host-context([dir='rtl']) {
    direction: rtl;
  }
}

mat-dialog-content {
  position: relative;
  padding: 0 !important;
  max-height: calc(
    100vh - 64px - env(safe-area-inset-top) - env(safe-area-inset-bottom)
  ) !important;
}

mat-dialog-actions {
  padding: 0 0 var(--s2) 0 !important;
  row-gap: calc(var(--s) + var(--s-half));
}

.dialog-actions-and-warnings {
  margin: 0 var(--s2) var(--s2);
}

.action-label {
  white-space: nowrap;
}
