@import '../../../../variables';

:host {
  padding-bottom: $s * 2;
}

:host::ng-deep .tpl {
  clear: both !important;
  width: auto !important;
  float: none !important;
}

:host::ng-deep .sub-section-heading {
  margin-top: $s * 3 !important;
  margin-bottom: $s;
}

.controls {
  clear: both;
  text-align: end;
  margin-bottom: $s;
}
