@import '../../../../variables';

:host {
  padding-bottom: $s * 2;
}

:host::ng-deep .tpl {
  @include mq(xs) {
    grid-column: 1/3;
  }
}

:host::ng-deep .sub-section-heading:not(.collapsible-header) {
  margin-top: $s * 3 !important;
  margin-bottom: $s;
}

.controls {
  clear: both;
  text-align: end;
  margin-bottom: $s;
}
