@use '../../../../styles/_globals.scss' as *;

:host {
  padding-bottom: var(--s2);
}

:host::ng-deep .tpl {
  @include mq(xs) {
    grid-column: 1/3;
  }
}

:host::ng-deep .sub-section-heading:not(.collapsible-header) {
  margin-top: var(--s3) !important;
  margin-bottom: var(--s);
}

.controls {
  clear: both;
  text-align: end;
  margin-bottom: var(--s);
}
