<div class="global-bookmark-list-outer bg-800">
  <div *ngIf="isDragOver"
       @fade
       class="bg-accent drag-over-msg">
    <mat-icon>add</mat-icon>
    Drop here to add a bookmark
  </div>
  <div class="global-bookmark-list-inner">
    <div class="global-bookmark small-ui">
      <button (click)="openEditDialog()"
              aria-label="add global bookmark"
              color="lighter"
              mat-raised-button=""
              tabindex="1">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <!--<div class="global-bookmark small-ui">-->
      <!--<button (click)="openEditDialog()"-->
              <!--color="lighter"-->
              <!--mat-raised-button=""-->
              <!--tabindex="1">-->
        <!--<mat-icon>edit</mat-icon>-->
      <!--</button>-->
    <!--</div>-->

    <div *ngIf="!(bookmarkService.bookmarks$|async)?.length"
         class="msg color-contrast">You have no project bookmarks. Add one via drag and drop or by clicking on the '+' icon.
    </div>

    <div *ngFor="let bookmark of bookmarkService.bookmarks$|async"
         class="global-bookmark"
         draggable="false">
      <a [enlargeImg]="bookmark.type==='IMG'&& bookmark.path"
         [href]="bookmark.path"
         [style.background-image]="bookmark.type==='IMG'&& 'url('+bookmark.path+')'"
         aria-label="open global bookmark"
         bookmarkLink
         color="darker"
         draggable="false"
         mat-raised-button=""
         tabindex="1"
         target="_blank"
         type="{{bookmark.type}}">
        <mat-icon *ngIf="bookmark.icon"
                  aria-label="Open">{{bookmark.icon}}
        </mat-icon>
        {{bookmark.title}}
      </a>

      <div class="controls">
        <button (click)="openEditDialog(bookmark)"
                aria-label="open edit dialog"
                class="edit-btn"
                color="primary"
                mat-mini-fab="">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="remove(bookmark.id)"
                aria-label="remove bookmark"
                class="trash-btn"
                color="warn"
                mat-mini-fab="">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
