@import '../../../../variables';

$sTopBottom: $s/1.5;
$sLeftRight: $sTopBottom/2;

:host {
  position: relative;
  z-index: 2;
  box-shadow: $whiteframe-shadow-3dp;
}

.global-bookmark-list-outer {
  padding-bottom: $sTopBottom;
}

.global-bookmark-list-inner {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;

  .msg {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding: $s;
    padding-top: $s+$sTopBottom;
  }
  .global-bookmark {
    flex: 1 1 auto;
    margin: $sTopBottom $sLeftRight 0;
    position: relative;

    > a:focus + .controls,
    &.focus .controls,
    &:hover .controls {
      visibility: visible;

      button {
        opacity: 1;
        transition: $transition-enter;
      }
      .edit-btn {
        transform: translate(0, 0);
      }
      .trash-btn {
        transform: translate(0, 0);
      }
    }

    &:first-child {
      flex: 0 0 auto;
    }
  }

  .global-bookmark > a {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    text-transform: none;
    background-size: cover;
    background-position: center center;
  }

  .controls {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 5;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    // TODO fix that this causes an overflow
    padding: 0 $s;
    transform: translate(-50%, 0);

    button {
      transition: $transition-leave;
      //border-radius: 0;
      margin: 0;
      padding: 0;
      min-height: 0;
      opacity: 0;
    }
  }

  $this-distance: $s*4;
  .edit-btn {
    // TODO fix that this causes an overflow
    transform: translate(-$this-distance, $this-distance);
  }
  .trash-btn {
    // TODO fix that this causes an overflow
    transform: translate($this-distance, $this-distance);
  }
}

.drag-over-msg {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
  z-index: 2;
}
