@import "../variables";

@mixin ng-pop-in-popout() {

  &.ng-enter,
  &.ng-leave {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  &.ng-enter {
    transform: scaleY(0);
  }
  &.ng-enter-active {
    transform: scale(1);
  }

  &.ng-leave {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
  &.ng-leave-active {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
}

@mixin crawl-in-out() {
  &.ng-enter,
  &.ng-leave {
    transition: all 0.2s ease-in-out;
  }

  &.ng-enter {
    transform: scaleY(0);
    max-height: 0;
  }
  &.ng-enter-active {
    transform: scale(1);
    max-height: 100px;
  }

  &.ng-leave {
    display: block;
    opacity: 1;
    transform: scale(1);
    max-height: 50px;
  }
  &.ng-leave-active {
    display: block;
    opacity: 0;
    transform: scale(0);
    max-height: 0;
  }
}


@mixin ng-pop-in() {
  &.ng-leave {
    transition: none;
  }

  &.ng-enter {
    transition: transform 0.3s ease-in-out;
  }

  &.ng-enter {
    transform: scale(0);
  }

  &.ng-enter-active {
    transform: scale(1);
  }
}


.ani-pop-in-pop-out {
  @include ng-pop-in-popout();
}