@import "../variables";

@mixin ng-pop-in-popout() {

  &.ng-enter,
  &.ng-leave {
    transition-property: transform, opacity;
  }

  &.ng-enter {
    transform: scaleY(0);
    transition: $transition-duration--enter $ani-enter-timing;
  }
  &.ng-enter-active {
    transform: scale(1);
  }

  &.ng-leave {
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: $transition-duration--leave $ani-leave-timing;
  }
  &.ng-leave-active {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
}

@mixin crawl-in-out() {
  &.ng-enter,
  &.ng-leave {
    transition-property: all;
  }

  &.ng-enter {
    transform: scaleY(0);
    max-height: 0;
    transition: $transition-duration--enter $ani-enter-timing;
  }
  &.ng-enter-active {
    transform: scale(1);
    max-height: 100px;
  }

  &.ng-leave {
    display: block;
    opacity: 1;
    transform: scale(1);
    max-height: 50px;
    transition: $transition-duration--leave $ani-leave-timing;
  }
  &.ng-leave-active {
    display: block;
    opacity: 0;
    transform: scale(0);
    max-height: 0;
  }
}


@mixin ng-pop-in() {
  &.ng-leave {
    transition: none;
  }

  &.ng-enter {
    transition: transform $transition-duration--leave $ani-leave-timing;
  }

  &.ng-enter {
    transform: scale(0);
  }

  &.ng-enter-active {
    transform: scale(1);
  }
}


.ani-pop-in-pop-out {
  @include ng-pop-in-popout();
}