<div mat-dialog-content>
  <div *ngIf="!(isBreakDone$|async)">
    <p>You successfully finished session
      <strong>{{(currentCycle$|async) + 1}}</strong>!</p>
    <p>Enjoy yourself, get yourself moving, come back in:</p>
  </div>

  <div *ngIf="(isBreakDone$|async)">
    <p>Your break is done!</p>
  </div>

  <div class="timer">{{currentTime$|async|msToMinuteClockString}}</div>
</div>


<div align="center"
     mat-dialog-actions>
  <button (click)="nextSession(true)"
          color="primary"
          mat-button>
    Close
  </button>

  <button (click)="nextSession()"
          *ngIf="!(isBreakDone$|async)"
          color="primary"
          mat-stroked-button>
    <mat-icon>skip_next</mat-icon>
    <span>Skip break</span>
  </button>

  <ng-container *ngIf="(isBreakDone$|async)">
    <button (click)="nextSession()"
            color="primary"
            mat-stroked-button>
      <mat-icon>play_arrow</mat-icon>
      Back to work!
    </button>

  </ng-container>
</div>
