@import '../../../../variables';

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: stretch;
}

mat-icon {
  margin-right: $s;

  .success & {
    color: $green;
  }

  .error & {
    color: $red;
  }
}

button {
  margin-left: 1.5* $s;
}

.button-wrapper {
  margin-left: auto;
}

mat-progress-bar {
  position: absolute;
  bottom: -1* $s;
  left: 0;
  right: 0;
}
