<form
  (submit)="onSubmit($event)"
  novalidate
>
  @if (selectedMode() !== FocusModeMode.Flowtime) {
    <h1>{{ T.F.FOCUS_MODE.SET_FOCUS_SESSION_DURATION | translate }}</h1>
  }

  @if (currentTask(); as currentTaskI) {
    <div class="for-task">
      <div class="label">{{ T.F.FOCUS_MODE.FOR_TASK | translate }}</div>
      <div class="task-title">
        "<em>{{ currentTaskI.title }}</em
        >"
      </div>
    </div>

    <div class="task-actions">
      <button
        mat-stroked-button
        type="button"
        (click)="selectDifferentTask()"
      >
        {{ T.F.FOCUS_MODE.SELECT_ANOTHER_TASK | translate }}
      </button>
    </div>
  }

  @if (selectedMode() !== FocusModeMode.Flowtime) {
    <input-duration-slider
      #durationInput
      [model]="focusModeDuration()"
      (modelChange)="updateDuration($event)"
    ></input-duration-slider>
  }

  <button
    class="submit-button"
    type="submit"
    color="primary"
    mat-raised-button
  >
    {{ T.F.FOCUS_MODE.START_FOCUS_SESSION | translate }}
  </button>
</form>
