@import '../../../../variables';

:host {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-align: center;

  h1 {
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.for-task {
  font-size: 18px;
  margin-bottom: $s;

  .label {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

input-duration-slider {
  margin-bottom: $s * 2;
}
