<div class="page-wrapper">
  @if (isShowIntro()) {
  <inbox-intro></inbox-intro>
  }

  <mat-tab-group
    mat-align-tabs="start"
    mat-stretch-tabs="false"
    dynamicHeight="true"
  >
    <!--    <mat-tab>-->
    <!--      <ng-template mat-tab-label>-->
    <!--        <mat-icon-->
    <!--          matTooltip="Tasks"-->
    <!--          matTooltipPosition="above"-->
    <!--          >check_circle-->
    <!--        </mat-icon>-->
    <!--      </ng-template>-->
    <!--      <add-issues-panel></add-issues-panel>-->
    <!--    </mat-tab>-->

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'CALENDAR'|issueIcon"></mat-icon>
      </ng-template>
      <add-issues-panel></add-issues-panel>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon
          matTooltip="Jira"
          matTooltipPosition="above"
          [svgIcon]="'JIRA'|issueIcon"
        ></mat-icon>
      </ng-template>
      <button mat-flat-button>Configure</button>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'GITHUB'|issueIcon"></mat-icon>
      </ng-template>
      Github 1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'GITHUB'|issueIcon"></mat-icon>
      </ng-template>
      Github 1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="'GITHUB'|issueIcon"></mat-icon>
      </ng-template>
      Github 1
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <button
          mat-icon-button
          (click)="addProvider($event)"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
