@import '../../../../variables';

:host {
  margin-top: 0;
  position: relative;
  background: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  min-width: 260px;
}

header {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.title,
.arrow,
.default-project {
  opacity: 0.5;
}

.title,
.default-project {
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow {
  margin: 0 $s;
  min-width: 24px;
}

.empty {
  text-align: center;
  font-style: italic;
  line-height: $planner-item-height;
}

.item-list {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 8px;
}
