@import '../../../../variables';

:host {
  margin-top: 0;
  position: relative;
  background: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  min-width: 260px;
}

.title {
  opacity: 0.5;
  font-style: italic;
}

.empty {
  text-align: center;
  font-style: italic;
  line-height: $planner-item-height;
  height: 0;
}

.item-list {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 8px;
}
