<form (submit)="save()">
  <h1 mat-dialog-title>{{isEdit
    ? (T.F.NOTE.D_ADD_REMINDER.TITLE_EDIT|translate)
    : (T.F.NOTE.D_ADD_REMINDER.TITLE_ADD|translate)}}</h1>

  <mat-dialog-content>
    <div class="form-wrapper">
      <mat-form-field>
        <!--[matDatepicker]="myDatepicker"-->
        <input
          [(ngModel)]="title"
          matInput
          name="title"
          [placeholder]="T.F.NOTE.D_ADD_REMINDER.L_TITLE|translate"
          required
          type="text">
        <mat-error>{{T.F.NOTE.D_ADD_REMINDER.E_ENTER_TITLE|translate}}</mat-error>
      </mat-form-field>

      <datetime-input (modelChange)="dateTime=$event"
                      [model]="dateTime"
                      [required]="true"
                      name="reminderDate"
                      [placeholder]="T.F.NOTE.D_ADD_REMINDER.L_DATETIME|translate"></datetime-input>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div class="wrap-buttons">
      <button (click)="close()"
              class="btn btn-primary submit-button"
              color="primary"
              mat-button
              type="button">
        {{T.G.CANCEL|translate}}
      </button>

      <button (click)="remove()"
              *ngIf="isEdit"
              class="btn btn-primary submit-button"
              color="primary"
              mat-stroked-button
              type="button">
        <mat-icon>alarm_off</mat-icon>
        {{T.F.NOTE.REMOVE_REMINDER|translate}}
      </button>

      <button class="btn btn-primary submit-button"
              color="primary"
              mat-stroked-button
              type="submit">
        <ng-container *ngIf="!note.reminderId">
          <mat-icon>alarm_add</mat-icon>
          {{T.F.NOTE.ADD_REMINDER|translate}}
        </ng-container>
        <ng-container *ngIf="note.reminderId">
          <mat-icon>alarm</mat-icon>
          {{T.F.NOTE.UPDATE_REMINDER|translate}}
        </ng-container>
      </button>
    </div>
  </mat-dialog-actions>
</form>
