@use '../../../../styles/_globals.scss' as *;

:host {
  mat-dialog-content {
    padding: 0;
    border-radius: 4px;
    max-width: 450px;
    max-height: 75vh;
    min-width: 340px;

    background: var(--bg-lightest) !important;

    @include mq(xxxs) {
      min-width: 380px;
    }
    @include mq(xs) {
      min-width: 450px;
      max-height: 85vh;
    }
  }

  &::ng-deep {
    .task-title-wrapper {
      padding-right: 8px !important;
    }

    task .hover-controls {
      display: none !important;
    }
  }
}
