agenda-and-history {
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  display: block;

  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  md-toolbar {
    height: 36px;
    min-height: 36px;
    .md-button{
      //border-top: 5px solid transparent;
      //border-bottom: 5px solid transparent;
    }
    .is-active {
      //border-bottom: 5px solid rgb(197,17,98);
    }
  }
}