.import-text-area {
  width: 100%;
  display: block;
  margin-top: var(--s2);
  min-height: 90px;
  margin-bottom: var(--s);
}

a,
button {
  margin-bottom: var(--s);
  margin-right: var(--s);
}

section {
  margin-top: var(--s2);
}
