@import '../../../variables';

.import-text-area {
  width: 100%;
  display: block;
  margin-top: $s * 2;
  min-height: 90px;
  margin-bottom: $s;
}

a,
button {
  margin-bottom: $s;
  margin-right: $s;
}

section {
  margin-top: $s * 2;
}
