:host {
  mat-form-field {
    display: block;
  }
}

.page-wrapper {
  //text-align: center;
}

.tab-inner {
  margin: var(--s);
  max-width: var(--component-max-width);
  position: relative;
  padding: var(--s2);
  border-radius: var(--card-border-radius);
  box-shadow: var(--shadow-card-shadow);

  background: var(--theme-bg-lighter);

  &.full-width {
    max-width: none;
  }

  &.no-box {
    background: transparent !important;
    box-shadow: none !important;
  }
}

.procrastination-graph {
  text-align: center;
  margin-top: var(--s2);
  margin-bottom: var(--s2);

  mat-icon {
    font-size: 120px;
    height: 120px;
    width: 120px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .wrap {
    display: flex;
    justify-content: space-around;
  }

  .text-item {
    font-size: 24px;
    font-weight: 100;
    margin: var(--s2);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg) scaleX(-1);
  }
  to {
    transform: rotate(360deg) scaleX(-1);
  }
}
