<!--<h2 mat-dialog-title>You have </h2>-->


<form (submit)="track()">
  <div class="dialog-content"
       mat-dialog-content>
    <p>You have been idle for:</p>
    <div class="time">{{data.idleTime$|async|msToString:true}}</div>

    <select-task (taskChange)="onTaskChange($event)"
                 [initialTask]="selectedTask"></select-task>

    <div class="track-to-label">
      <span *ngIf="!isCreate">Track to:</span>
      <span *ngIf="isCreate"><em>Create</em> and track to:</span>
    </div>
  </div>


  <div align="center"
       mat-dialog-actions>
    <button color="primary"
            mat-raised-button
            [disabled]="!(selectedTask||newTaskTitle)"
            type="submit">
      <mat-icon *ngIf="!isCreate">track_changes</mat-icon>
      <mat-icon *ngIf="isCreate">add</mat-icon>
      Task
    </button>

    <button *ngIf="(configService.misc$|async)?.isUnTrackedIdleResetsBreakTimer"
            [disabled]="!(selectedTask||newTaskTitle)"
            (click)="track(true)"
            color="primary"
            mat-raised-button
            type="button">
      <mat-icon *ngIf="!isCreate">track_changes</mat-icon>
      <mat-icon *ngIf="isCreate">add</mat-icon>
      <!--      <mat-icon>free_breakfast</mat-icon>-->
      Task& Break
    </button>

    <button (click)="trackAsBreak()"
            mat-raised-button
            type="button">
      <mat-icon>free_breakfast</mat-icon>
      Break
    </button>

    <button (click)="skipTrack()"
            mat-raised-button
            type="button">
      <mat-icon>skip_next</mat-icon>
      Skip
    </button>
  </div>
</form>
