<!--<h2 mat-dialog-title>You have </h2>-->


<form (submit)="track()">
  <div class="dialog-content"
       mat-dialog-content>
    <p>You have been idle for:</p>
    <div class="time">{{data.idleTime$|async|msToString:true}}</div>

    <select-task (taskChange)="onTaskChange($event)"
                 [initialTask]="selectedTask"></select-task>
    <p>
      <span *ngIf="!isCreate">Track to:</span>
      <span *ngIf="isCreate">Create and track to:</span>
      <br><strong>{{selectedTask?.title || newTaskTitle || 'No task selected'}} </strong>
    </p>
  </div>


  <div align="end"
       mat-dialog-actions>
    <button color="primary"
            mat-raised-button
            type="submit">
      <mat-icon *ngIf="!isCreate">track_changes</mat-icon>
      <mat-icon *ngIf="isCreate">add</mat-icon>
      Track time
    </button>

    <button *ngIf="(configService.misc$|async)?.isUnTrackedIdleResetsBreakTimer"
            (click)="track(true)"
            color="primary"
            mat-raised-button
            type="button">
      <mat-icon *ngIf="!isCreate">track_changes</mat-icon>
      <mat-icon *ngIf="isCreate">add</mat-icon>
      Track and reset Break Timer
    </button>

    <button (click)="skipTrack()"
            mat-raised-button
            type="button">
      <mat-icon>skip_next</mat-icon>
      Skip track
    </button>
  </div>
</form>
