help-section {
  display: block;

  .help-text {
    margin-bottom: 40px;
    border-bottom: 2px solid $c-accent;
    border-top: 2px solid $c-accent;
    @include ng-slide-down-up();
  }

  .help-btn {
    position: absolute;
    top: -8px;
    right: -8px;
  }

  .help-icon-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
    color: $c-accent;
    text-align: center;
  }

  @include dark-theme {
  }
}