<md-button class="md-icon-button help-btn md-raised"
           aria-label="Show Help for section"
           ng-click="vm.isShowHelp =!vm.isShowHelp;">
  <ng-md-icon icon="help_outline"></ng-md-icon>
</md-button>

<div class="help-text ani-slide-up-down"
     ng-if="vm.isShowHelp">
  <div class="help-icon-wrapper">
    <ng-md-icon icon="help_outline"></ng-md-icon>
  </div>
  <ng-transclude></ng-transclude>
  <div class="help-icon-wrapper">
    <ng-md-icon icon="help_outline"></ng-md-icon>
  </div>
</div>

