@import '../../../../variables';

.controls {
  text-align: right;
  margin-bottom: $s;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.btns {
  margin-bottom: 2*$s;
  margin-top: $s;
  display: flex;
  flex-direction: row;

  button {
    flex: 1;
    margin-left: $s;
    text-overflow: ellipsis;
    overflow: hidden;

    &:first-child {
      margin-left: 0;
    }

    ::ng-deep .mat-button-wrapper {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

mat-slide-toggle {
  margin-top: $s;
  margin-bottom: $s;
}

.auto-sync-settings {
  display: flex;
  flex-direction: column;
}
