@import '../../../variables';

:host {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  display: block;

  .mat-mdc-progress-bar {
    height: 3px;
    box-shadow: $whiteframe-shadow-2dp;
  }
}

.badge {
  background: inherit;
  display: inline-block;
  //position: absolute;
  //bottom: 3px;
  //left: 0;
  //left: 50%;
  //transform: translateX(-50%);
  //z-index: 9998;
  pointer-events: none;
  padding: 4px 8px;
  padding-left: 8px;
  line-height: 1;
  border-top-right-radius: $card-border-radius;
  box-shadow: $whiteframe-shadow-1dp;

  @include lightTheme() {
    background: $light-theme-bg-darker;
  }
  @include darkTheme {
    background: $dark-theme-bg-lighter;
    color: $dark-theme-text-color-less-intense;
  }
}
