:host {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  display: block;

  .mat-mdc-progress-bar {
    height: 3px;
    box-shadow: var(--whiteframe-shadow-2dp);
    opacity: 0.3;
  }
}

.badge {
  display: inline-block;
  pointer-events: none;
  padding: 2px 6px;
  font-size: 10px;
  line-height: 1;
  border-top-right-radius: var(--card-border-radius);
  background: var(--bg-lighter);
  color: var(--text-color-less-intense);
  opacity: 0.85;
}
