daily-agenda {

  .day-event {
    width: calc(100% - 80px) !important;;
    background: #fff;
    border: 1px solid #666 !important;

    @include dark-theme {
      background-color: $dark-theme-bg-lighter;
      color: #fff;
      border: 1px solid #666 !important;
    }
    &:hover {
      background: #fff;
    }

    &:first-of-type {
      overflow: visible;
      &:before {
        position: absolute;
        content: '';
        left: -60px;
        top: -2px;
        width: calc(100% + 80px);
        border-top: 2px dashed black;
      }
    }
  }

  .cal-day-hour {
    background: transparent !important;
  }
  .cal-day-box .cal-day-hour-part {
    background: transparent !important;
    &:focus {
      outline: none;
    }
    &:hover {
      background: transparent;
    }
  }
}

body.dark-theme {
  .day-event:first-of-type:before {
    border-top: 2px dashed #fff;
  }
}