@import '../../../../common';

:host {
  --nr-of-days: 5;
  --nr-of-weeks: 6;
  background: transparent;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--theme-extra-border-color);
  border-bottom: 1px solid var(--theme-extra-border-color);
  box-shadow: var(--whiteframe-shadow-1dp);
  z-index: 10;
  color: var(--theme-text-color);
  background: var(--theme-bg-lighter);
}

.main-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--theme-extra-border-color);
}

.days {
  grid-auto-flow: column;
  display: grid;
  place-content: center;
  text-align: center;
  grid-auto-columns: 1fr;
  grid-template-columns: var(--schedule-time-width) repeat(var(--nr-of-days), 1fr);

  --schedule-time-width: 3em;
}

.day {
  line-height: 32px;
  font-size: 18px;
  border-left: 1px solid var(--theme-extra-border-color);

  @include mq(xs, max) {
    font-size: 14px;
    line-height: 20px;
  }
}

.day-num {
  font-weight: 600;
  display: inline;
  padding-right: 6px;
}

.day-day {
  display: inline;
  font-weight: 100;
}

.days.month-view {
  display: block;
  grid-template-columns: none;
  padding-bottom: 6px;

  .month-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;

    .month-title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 6px;

      @include mq(xs, max) {
        font-size: 16px;
        margin-bottom: 3px;
      }
    }
  }

  @include mq(xs, max) {
    padding-bottom: 3px;

    .month-header {
      padding: 6px 12px;
    }
  }
}
