@import '../../../../variables.scss';

$time-width: 3em;
$time-height: 10px;
$time-height-mobile: 6px;
//$grid-color: #dadce0;
$grid-color: #dadce0;
$grid-color-dark: rgba(255, 255, 255, 0.1);
$calendar-template: $time-width repeat(5, 1fr);
$current-time-color: $c-accent;
$fr: 12;
$total-rows: 24 * $fr;

:host {
  background: $light-theme-bg;

  @include darkTheme() {
    background: $dark-theme-bg;
  }
}

.main-grid-container {
  //border: 3px dashed palevioletred;
  display: grid;
  grid-template-columns: $calendar-template;
  grid-template-rows: repeat($total-rows, $time-height);

  @include mq(xs, max) {
    grid-template-rows: repeat($total-rows, $time-height-mobile);
  }
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-top: 1px solid $light-theme-extra-border-color;
  border-bottom: 1px solid $light-theme-extra-border-color;
  background: #fff;
  color: $light-theme-text-color;
  box-shadow: $whiteframe-shadow-3dp;
  z-index: 10;
  @include darkTheme() {
    border-color: $dark-theme-extra-border-color;
    background: $dark-theme-bg-slightly-lighter;
    color: $dark-theme-text-color;
    background: $dark-theme-bg-lighter;
  }
}

.main-controls {
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid $light-theme-extra-border-color;
  @include darkTheme() {
    border-color: $dark-theme-extra-border-color;
  }
}

.days {
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: $calendar-template;
}

.day {
  line-height: 32px;
  font-size: 18px;
  border-left: 1px solid $light-theme-extra-border-color;
  @include darkTheme() {
    border-color: $dark-theme-extra-border-color;
  }

  @include mq(xs, max) {
    font-size: 14px;
    line-height: 20px;
  }
}

.day-num {
  font-weight: 600;
  display: inline;
  padding-right: 6px;
}

.day-day {
  display: inline;
  font-weight: 100;
}

.time {
  grid-column: 1;
  text-align: right;
  align-self: end;
  font-size: 80%;
  position: relative;
  color: #70757a;
  padding-right: 6px;
}

.col {
  border-left: 1px solid $grid-color;
  grid-row: 1 / span $total-rows;
  grid-column: span 1;

  @include darkTheme() {
    border-color: $grid-color-dark;
  }
}

.filler-col {
  grid-row: 1 / -1;
  grid-column: 2;
  border-right: 1px solid $grid-color;

  @include darkTheme() {
    border-color: $grid-color-dark;
  }
}

.row {
  grid-column: 2 / -1;
}

.row {
  border-top: 1px solid $grid-color;

  @include darkTheme() {
    border-color: $grid-color-dark;
  }
}

.current-time {
  border-top: 2px solid $current-time-color;
  position: relative;
  top: calc(50% - 1px);
}

.circle {
  width: 12px;
  height: 12px;
  border: 1px solid $current-time-color;
  border-radius: 50%;
  background: $current-time-color;
  position: relative;
  top: -6px;
  left: -6px;
}

.current {
  font-weight: bold;
}

.cdk-drag-dragging {
  position: relative;
  z-index: 99 !important;
  box-shadow: $whiteframe-shadow-20dp;
}

.row {
  pointer-events: none;
}

.col.drag-over {
  //background: $c-primary !important;
  //border-right: 5px solid $c-accent !important;
  //outline: 5px solid $c-accent !important;
  //color: $c-contrast !important;
}

.dropzones {
  display: none;
  padding: 0 7px;
  top: 80px;
  position: sticky;
  line-height: 1.2;
  justify-content: stretch;
  align-self: start;
  z-index: 33;
  box-shadow: $whiteframe-shadow-4dp;
  width: inherit;
  flex-direction: column;
  pointer-events: all;
  border: 1px dashed $c-primary;

  .is-dragging & {
    display: flex;
  }

  &.drag-over {
    background: $c-accent;
  }

  > div {
    pointer-events: none;
    padding: 8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    //color: $c-contrast;
    //color: $c-contrast;
    text-align: center;
    margin-bottom: 4px;

    > mat-icon {
      @include mq(xs) {
        margin-right: 8px;
      }
    }
  }

  div > div {
    @include mq(xs, max) {
      display: none;
    }
  }
}

.excess-entries {
  position: sticky;
  bottom: -2px;
  max-height: 100px;
  padding-bottom: 30px;
  border-top: 4px solid $c-warn;
  background: $light-theme-bg;
  border: 2px solid $c-warn;
  box-shadow: $whiteframe-shadow-6dp;
  border-radius: 4px;

  @include darkTheme() {
    background: $dark-theme-bg;
  }

  @media (min-height: 1000px) {
    max-height: 200px;
  }

  schedule-event {
    margin: 5px;
  }
}

.excess-entries-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  @include mq(xs, max) {
    padding: 4px;
  }

  mat-icon {
    font-size: 20px;
    height: 20px;

    @include mq(xs, max) {
      font-size: 16px;
      height: 16px;
    }
  }
}

.work-end,
.work-start {
  border-top: 2px dashed $light-theme-separator-color;
  min-width: 100px;
  grid-column: 2 / 7;
  position: relative;
  color: $light-theme-text-color;

  @include darkTheme() {
    color: $dark-theme-text-color;
    border-color: $dark-theme-separator-color;
  }

  &:hover {
    z-index: 22;
    border-color: #000;
    @include darkTheme() {
      border-color: #fff;
    }
  }

  > div {
    left: 0;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    bottom: 100%;
    line-height: 1;
    background: $light-theme-bg;
    padding: 2px 8px;
    margin-bottom: -6px;

    @include darkTheme() {
      background: $dark-theme-bg;
    }
  }
}

.work-end {
  > div {
    bottom: auto;
    top: 100%;
    margin-bottom: 0;
    margin-top: -16px;
  }
}

schedule-event:active + schedule-event {
  transform: translateY(0);

  &:after {
    display: none;
  }
}

// TODO enable again if we want to have animations
.cdk-drag {
  transition: none !important;
}

.cdk-drag-animating {
  transition: none !important;
}
