<!--  <div class="title">February 2019 Week 6</div>-->

<header>
  <div class="main-controls">
    <button
      mat-icon-button
      [disabled]="true"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div>Current Week</div>
    <button mat-icon-button>
      <mat-icon>chevron_right</mat-icon>
    </button>

    <div><strong>~</strong>Flow source:</div>
    <!--    <div><mat-icon>airwave</mat-icon> Flow from:</div>-->

    <button
      mat-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>wb_sunny</mat-icon>
      Today
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Only show appointments</button>
      <button mat-menu-item>Show tasks from X</button>
    </mat-menu>
  </div>

  <div class="days">
    <div class="filler"><!--for time --></div>

    @for (day of daysToShow$|async; track $index) {
    <div class="day">
      <div class="day-num">{{ day|date:'d' }}</div>
      <div class="day-day">{{ day|date:'EEE' }}</div>
    </div>
    }
  </div>
</header>

<div class="outer-container">
  <div
    #gridContainer
    class="content {{containerExtraClass}}"
  >
    <!-- Time -->
    @for (time of times; track $index) {
    <div
      class="time"
      style="grid-row: {{ $index *FH + 1 }}"
    >
      {{ time }}
    </div>
    }
    <!-- Grid Cols -->
    @for (col of colByNr; track $index) {
    <div
      class="col"
      style="grid-column: {{ $index + 2 }}"
    >
      <!-- todo move out here to make them sticky -->
      <div class="drop-on-col-info">
        <mat-icon>add</mat-icon>
        <div>Drop here to plan for day</div>
      </div>
    </div>
    }

    <!-- Grid Rows -->
    @for (row of rowsByNr; track $index) {
    <div
      class="row"
      style="grid-row: {{ row + 1 }}"
    ></div>
    }

    <!-- Events -->
    @for (ev of (events$|async); track $index) {
    <!-- -->
    @if (ev.type === TimelineViewEntryType.Task || ev.type ===
    TimelineViewEntryType.SplitTask || ev.type === TimelineViewEntryType.TaskPlannedForDay
    || ev.type === TimelineViewEntryType.SplitTaskPlannedForDay || ev.type ===
    TimelineViewEntryType.ScheduledTask) {
    <schedule-event
      class="draggable"
      cdkDrag
      [cdkDragData]="ev"
      (cdkDragMoved)="dragMoved($event)"
      (cdkDragStarted)="dragStarted($event)"
      (cdkDragReleased)="dragReleased($event)"
      [cdkDragStartDelay]="IS_TOUCH_PRIMARY ? 100 : 0"
      [event]="ev"
    ></schedule-event>
    } @else {
    <schedule-event [event]="ev"></schedule-event>
    } }

    <!-- Excess tasks planned for day -->
    @for (beyondBudgetDay of (beyondBudget$|async); track i; let i = $index) {
    <!-- -->
    @if (beyondBudgetDay.length > 0) {
    <div
      class="excess-entries"
      style="grid-column: {{i + 2}}"
    >
      <div
        class="excess-entries-header"
        [matTooltipPosition]="'above'"
        [matTooltip]="'Tasks planned for day, but that are beyond the available time budget'"
      >
        <mat-icon>hourglass_disabled</mat-icon>
      </div>
      @for (ev of beyondBudgetDay; track $index) {
      <schedule-event
        [event]="ev"
        class="draggable"
        cdkDrag
        [cdkDragData]="ev"
        (cdkDragMoved)="dragMoved($event)"
        (cdkDragStarted)="dragStarted($event)"
        (cdkDragReleased)="dragReleased($event)"
        [cdkDragStartDelay]="IS_TOUCH_PRIMARY ? 100 : 0"
        [event]="ev"
      ></schedule-event>
      }
    </div>
    }
    <!-- -->
    }

    <div
      class="current-time"
      [style]="currentTimeStyle$|async"
    >
      <div class="circle"></div>
    </div>
  </div>
</div>
