<!--  <div class="title">February 2019 Week 6</div>-->

<header stuck>
  <!-- TODO extract to component of its own? -->
  <div class="main-controls">
    <button mat-icon-button>
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div>February Week 6</div>
    <button mat-icon-button>
      <mat-icon>chevron_right</mat-icon>
    </button>

    <div>~Flow from:</div>

    <button
      mat-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>wb_sunny</mat-icon>
      Today
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Only show appointments</button>
      <button mat-menu-item>Show tasks from X</button>
    </mat-menu>
  </div>

  <div class="days">
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="day">
      <div class="day-num">9</div>
      <div class="day-day">Mon</div>
    </div>
    <div class="day">
      <div class="day-num">10</div>
      <div class="day-day">Tue</div>
    </div>
    <div class="day">
      <div class="day-num">11</div>
      <div class="day-day">Wed</div>
    </div>
    <div class="day">
      <div class="day-num">12</div>
      <div class="day-day">Thu</div>
    </div>
    <div class="day">
      <div class="day-num">13</div>
      <div class="day-day">Fri</div>
    </div>
  </div>
</header>

<div class="container">
  <!-- https://codepen.io/kjellmf/pen/qgxyVJ -->
  <!-- https://codepen.io/una/pen/YzpgYRR -->
  <div class="content">
    <!-- Time -->
    @for (time of times; track $index) {
    <div
      class="time"
      style="grid-row: {{ $index + 1 }}"
    >
      {{ time }}
    </div>
    }
    <!-- Grid Cols -->
    @for (col of colByNr; track $index) {
    <div
      class="col"
      style="grid-column: {{ $index + 2 }}"
    ></div>
    }

    <!-- Grid Rows -->
    @for (row of rowsByNr; track $index) {
    <div
      class="row"
      style="grid-row: {{ $index + 1 }}"
    ></div>
    }

    <!--    &lt;!&ndash; Events &ndash;&gt;-->
    <!--    @for (event of events; track $index) {-->
    <!--    <div-->
    <!--      class="event calendar1"-->
    <!--      [style]="event.style"-->
    <!--    >-->
    <!--      {{ event.title }}-->
    <!--    </div>-->
    <!--    }-->

    <!-- Events -->
    @for (event of (events$|async); track $index) {
    <div
      class="event calendar1"
      [ngClass]="event.type"
      [style]="event.style"
    >
      @if (event.type === TimelineViewEntryType.RepeatProjection) {
      <mat-icon svgIcon="repeat"></mat-icon>
      }
      <!-- -->
      @if (event.type === TimelineViewEntryType.TaskPlannedForDay) {
      <mat-icon>calendar_today</mat-icon>
      }
      <!--- -->
      {{ event.title }}
    </div>
    }

    <div
      class="current-time"
      [style]="currentTimeStyle$|async"
    >
      <div class="circle"></div>
    </div>
  </div>
</div>
