@import '../../../../variables.scss';

$title-height: 3em;
$days-height: 3em;
$time-width: 3em;
$time-height: 8px;
$time-height-mobile: 6px;
//$grid-color: #dadce0;
$grid-color: #dadce0;
$grid-color-dark: rgba(255, 255, 255, 0.1);
$calendar-template: $time-width repeat(5, 1fr);
$current-time-color: $c-accent;
$current-time-color: $c-warn;
$fr: 12;
$total-rows: 24 * $fr;

:host {
  background: $light-theme-bg;

  @include darkTheme() {
    background: $dark-theme-bg;
  }
}

.outer-container {
  width: 100%;
  display: grid;
  grid-template-rows: $title-height $days-height auto;
  position: absolute;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-top: 1px solid $light-theme-extra-border-color;
  border-bottom: 1px solid $light-theme-extra-border-color;
  background: #fff;
  color: $light-theme-text-color;
  box-shadow: $whiteframe-shadow-3dp;
  z-index: 10;
  @include darkTheme() {
    border-color: $dark-theme-extra-border-color;
    background: $dark-theme-bg-slightly-lighter;
    color: $dark-theme-text-color;
    background: $dark-theme-bg-lighter;
  }
}

.main-controls {
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid $light-theme-extra-border-color;
  @include darkTheme() {
    border-color: $dark-theme-extra-border-color;
  }
}

.days {
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: $calendar-template;
}

.day {
  line-height: 32px;
  font-size: 18px;
  border-left: 1px solid $light-theme-extra-border-color;
  @include darkTheme() {
    border-color: $dark-theme-extra-border-color;
  }

  @include mq(xs, max) {
    font-size: 14px;
    line-height: 20px;
  }
}

.day-num {
  font-weight: 600;
  display: inline;
  padding-right: 6px;
}

.day-day {
  display: inline;
  font-weight: 100;
}

.content {
  display: grid;
  grid-template-columns: $calendar-template;
  grid-template-rows: repeat($total-rows, $time-height);

  @include mq(xs, max) {
    grid-template-rows: repeat($total-rows, $time-height-mobile);
  }
}

.time {
  grid-column: 1;
  text-align: right;
  align-self: end;
  font-size: 80%;
  position: relative;
  margin-bottom: -10px;
  color: #70757a;
  padding-right: 6px;
}

.col {
  border-left: 1px solid $grid-color;
  grid-row: 1 / span $total-rows;
  grid-column: span 1;

  @include darkTheme() {
    border-color: $grid-color-dark;
  }
}

.filler-col {
  grid-row: 1 / -1;
  grid-column: 2;
  border-right: 1px solid $grid-color;

  @include darkTheme() {
    border-color: $grid-color-dark;
  }
}

.row {
  grid-column: 2 / -1;
}

.row {
  border-bottom: 1px solid $grid-color;

  @include darkTheme() {
    border-color: $grid-color-dark;
  }
}

.current-time {
  border-top: 2px solid $current-time-color;
  position: relative;
  top: calc(50% - 1px);
}

.circle {
  width: 12px;
  height: 12px;
  border: 1px solid $current-time-color;
  border-radius: 50%;
  background: $current-time-color;
  position: relative;
  top: -6px;
  left: -6px;
}

.current {
  font-weight: bold;
}

.cdk-drag-dragging {
  position: relative;
  z-index: 99;
  box-shadow: $whiteframe-shadow-20dp;
}

.row {
  pointer-events: none;
}

.col.drag-over,
.row.drag-over {
  //background: $c-accent !important;
  border-right: 5px solid $c-accent !important;
  //outline: 5px solid $c-accent !important;
  //color: $c-contrast !important;

  @include mq(xs, max) {
    background: $c-accent !important;
  }
}

.drop-on-col-info {
  padding: 0 7px;
  display: none;
  background: $c-accent;
  color: $c-contrast;
  text-align: center;
  position: fixed;
  top: 134px;
  line-height: 80px;
  align-items: center;
  justify-content: center;
  align-self: start;
  z-index: 1111;
  pointer-events: none;
  box-shadow: $whiteframe-shadow-4dp;
  width: inherit;

  @include mq(xs, max) {
    background: $c-accent;

    div {
      display: none;
    }
  }
}

.col.drag-over .drop-on-col-info {
  display: flex;
}

.excess-entries {
  position: sticky;
  bottom: 0;
  border-top: 3px solid $c-warn;
  background: $light-theme-bg;
  max-height: 120px;

  @media (min-height: 800px) {
    max-height: 200px;
  }
}

.excess-entries-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  @include mq(xs, max) {
    padding: 4px;
  }

  mat-icon {
    font-size: 20px;
    height: 20px;

    @include mq(xs, max) {
      font-size: 16px;
      height: 16px;
    }
  }
}
