@use '../../../../../styles/_globals.scss' as *;
@use '../task-context-menu-touch-fix.scss';
@use '../../shared-tag-project-styles';

.key-i {
  opacity: 0.4;
  font-size: 11px;
  text-align: center;
  border-radius: 20px;
  max-width: 66px;
  letter-spacing: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: none;

  &:not(:empty) {
    display: block;
    line-height: 1;
    min-width: 20px;
    border: 1px solid;
    padding: 4px;
    margin-left: 4px;
  }
}

.menuItemLeft {
  text-align: left;
  display: flex;
  align-items: center;
}

.quick-access {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--extra-border-color);
  height: 48px;

  > button {
    height: 48px;
    min-width: 40px;
    flex-grow: 1;
    border-radius: 4px !important;

    ::ng-deep .mat-mdc-button-persistent-ripple {
      border-radius: 4px !important;
    }
  }

  button + button {
    border-left: 1px solid var(--extra-border-color) !important;
  }
}

.label {
  display: block;
  text-align: center;
}

[mat-menu-item] {
  @include mq(xs, max) {
    padding-right: 12px;
  }

  mat-icon {
    pointer-events: none;

    @include mq(xs, max) {
      margin-right: 12px;
    }
  }
}
