<div
  #contextMenuTriggerEl
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  style="visibility: hidden; position: fixed"
  [matMenuTriggerFor]="contextMenu"
></div>

<mat-menu
  #contextMenu="matMenu"
  yPosition="below"
  xPosition="after"
  [backdropClass]="
    isTouchActive() ? 'cdk-overlay-dark-backdrop' : 'cdk-overlay-transparent-backdrop'
  "
  (close)="onClose()"
>
  <div
    mat-menu-item
    style="height: 0; padding: 0; margin: 0; border: none; min-height: 0"
    (focus)="focusFirstBtn($event)"
  ></div>

  <div
    class="quick-access"
    (keydown)="quickAccessKeydown($event)"
  >
    <button
      mat-icon-button
      tabindex="0"
      (click)="quickAccessBtnClick(1)"
      [matTooltip]="T.F.TASK.D_SCHEDULE_TASK.QA_TODAY | translate"
    >
      <mat-icon>wb_sunny</mat-icon>
    </button>

    <button
      mat-icon-button
      tabindex="0"
      (click)="quickAccessBtnClick(2)"
      [matTooltip]="T.F.TASK.D_SCHEDULE_TASK.QA_TOMORROW | translate"
    >
      <mat-icon>wb_twilight</mat-icon>
    </button>
    <button
      mat-icon-button
      tabindex="0"
      (click)="quickAccessBtnClick(3)"
      [matTooltip]="T.F.TASK.D_SCHEDULE_TASK.QA_NEXT_WEEK | translate"
    >
      <mat-icon>next_week</mat-icon>
    </button>
    <!--      <button-->
    <!--        mat-icon-button-->
    <!--        tabindex="0"-->
    <!--        (click)="quickAccessBtnClick(3)"-->
    <!--        [matTooltip]="(T.F.TASK.D_SCHEDULE_TASK.QA_NEXT_MONTH|translate)"-->
    <!--      >-->
    <!--        <mat-icon>bedtime</mat-icon>-->
    <!--      </button>-->
    <button
      mat-icon-button
      tabindex="0"
      [matTooltip]="
        (task.dueWithTime || task.dueDay
          ? (T.F.TASK.CMP.EDIT_SCHEDULED | translate)
          : (T.F.TASK.CMP.SCHEDULE | translate)) +
        (kb.taskSchedule ? ' [' + kb.taskSchedule + ']' : '')
      "
      (click)="scheduleTask()"
    >
      <mat-icon>today</mat-icon>
    </button>

    @if (task.dueWithTime || task.dueDay) {
      <button
        mat-icon-button
        tabindex="0"
        (click)="unscheduleTask()"
        [matTooltip]="T.F.TASK.CMP.UNSCHEDULE_TASK | translate"
      >
        <mat-icon>event_busy</mat-icon>
      </button>
    }
  </div>

  @if (
    isTimeTrackingEnabled() &&
    ((isAdvancedControls() && isTouchActive()) || !isAdvancedControls()) &&
    !task.isDone &&
    !isCurrent &&
    !task.subTaskIds.length
  ) {
    <button
      (click)="startTask()"
      mat-menu-item
    >
      <span class="menuItemLeft">
        <mat-icon class="play-icon">play_arrow</mat-icon>
        {{ T.F.TASK.CMP.TRACK_TIME | translate }}
      </span>
      <span class="key-i">{{ kb.togglePlay }}</span>
    </button>
  }
  @if (
    isFocusModeEnabled() &&
    isAdvancedControls() &&
    !task.isDone &&
    !task.subTaskIds.length
  ) {
    <button
      (click)="goToFocusMode()"
      mat-menu-item
    >
      <span class="menuItemLeft">
        <mat-icon>center_focus_strong</mat-icon>
        {{ T.F.TASK.CMP.FOCUS_SESSION | translate }}
      </span>
      <!--    <span class="key-i">{{ kb.goToFocusMode }}</span>-->
    </button>
  }
  @if (
    isAdvancedControls() &&
    isTouchActive() &&
    !task.isDone &&
    isCurrent &&
    !task.subTaskIds.length
  ) {
    <button
      (click)="pauseTask()"
      mat-menu-item
    >
      <span class="menuItemLeft">
        <mat-icon>pause</mat-icon>
        {{ T.F.TASK.CMP.TRACK_TIME_STOP | translate }}
      </span>
      <span class="key-i">{{ kb.togglePlay }}</span>
    </button>
  }
  @if (isTouchActive() || !isAdvancedControls()) {
    <button
      (click)="toggleTaskDone()"
      mat-menu-item
    >
      <span class="menuItemLeft">
        @if (task.isDone) {
          <mat-icon>undo</mat-icon>
        } @else {
          <mat-icon>check</mat-icon>
        }
        {{
          (task.isDone ? T.F.TASK.CMP.MARK_UNDONE : T.F.TASK.CMP.MARK_DONE) | translate
        }}
      </span>
      <span class="key-i">{{ kb.taskToggleDone }}</span>
    </button>
  }

  @if (isAdvancedControls() && !task.parentId && !task.isDone) {
    <button
      (click)="moveToTop()"
      mat-menu-item
    >
      <span class="menuItemLeft">
        <mat-icon>arrow_upward</mat-icon>
        {{ T.F.TASK.CMP.MOVE_TO_TOP | translate }}
      </span>
    </button>
  }
  @if (isAdvancedControls() && !task.parentId && !task.isDone) {
    <button
      (click)="addSubTask()"
      mat-menu-item
    >
      <span class="menuItemLeft">
        <mat-icon>playlist_add</mat-icon>
        {{ T.F.TASK.CMP.ADD_SUB_TASK | translate }}
      </span>
      <span class="key-i">{{ kb.taskAddSubTask }}</span>
    </button>
  }

  <!-- Only show the duplicate command if it is a parent unfinished task -->
  @if (isAdvancedControls() && !task.parentId && !task.isDone) {
    <button
      (click)="duplicate()"
      mat-menu-item
    >
      <span class="menuItemLeft">
        <mat-icon>file_copy</mat-icon>
        {{ T.F.TASK.CMP.DUPLICATE | translate }}
      </span>
    </button>
  }

  <!--TODO maybe handle dynamically -->
  @if (task.issueId && task.issueType !== ICAL_TYPE) {
    <a
      [href]="issueUrl$ | async"
      mat-menu-item
      style="color: inherit"
      target="_blank"
    >
      <mat-icon [svgIcon]="task.issueType | issueIcon"></mat-icon>
      {{ T.F.TASK.CMP.OPEN_ISSUE | translate }}
    </a>
  }
  @if (task.issueId && task.issueType !== ICAL_TYPE) {
    <button
      (click)="updateIssueData()"
      mat-menu-item
    >
      <mat-icon [svgIcon]="task.issueType | issueIcon"></mat-icon>
      {{ T.F.TASK.CMP.UPDATE_ISSUE_DATA | translate }}
    </button>
  }
  @if (
    isAdvancedControls() &&
    !task.parentId &&
    !isBacklog &&
    task.projectId &&
    (isShowMoveFromAndToBacklogBtns$ | async)
  ) {
    <button
      (click)="moveToBacklog()"
      mat-menu-item
    >
      <span class="menuItemLeft">
        <mat-icon>arrow_downward</mat-icon>
        {{ T.F.TASK.CMP.MOVE_TO_BACKLOG | translate }}
      </span>
      <span class="key-i">{{ kb.moveToBacklog }}</span>
    </button>
  }
  @if (
    isAdvancedControls() &&
    !task.parentId &&
    isBacklog &&
    task.projectId &&
    (isShowMoveFromAndToBacklogBtns$ | async)
  ) {
    <button
      (click)="moveToToday()"
      mat-menu-item
    >
      <span class="menuItemLeft">
        <mat-icon>arrow_upward</mat-icon>
        {{ T.F.TASK.CMP.MOVE_TO_REGULAR | translate }}
      </span>
      <span class="key-i">{{ kb.taskScheduleToday }}</span>
    </button>
  }

  @if (!task.subTaskIds.length) {
    <button
      #estimateMenuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="estimateMenu"
      mat-menu-item
      [menuTouchFix]="estimateMenuTrigger"
    >
      <span class="menuItemLeft">
        <mat-icon>hourglass_empty</mat-icon>
        {{ T.F.TASK.CMP.ESTIMATE | translate }}
      </span>
      <span class="key-i">{{ kb.taskOpenEstimationDialog }}</span>
    </button>
  }

  <button
    #tagMenuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="tagMenu"
    mat-menu-item
    [menuTouchFix]="tagMenuTrigger"
    (menuOpened)="focusFirstSubmenuItem(tagMenu)"
    class="e2e-edit-tags-btn"
  >
    <span class="menuItemLeft">
      <mat-icon>label</mat-icon>
      {{ T.F.TASK.CMP.TOGGLE_TAGS | translate }}
    </span>
    <span class="key-i">{{ kb.taskEditTags }}</span>
  </button>

  @if (!task.parentId && ((moveToProjectList$ | async)?.length || 0) > 0) {
    <button
      #projectMenuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="projectMenu"
      mat-menu-item
      [menuTouchFix]="projectMenuTrigger"
      (menuOpened)="focusFirstSubmenuItem(projectMenu)"
    >
      <span class="menuItemLeft">
        <mat-icon>forward</mat-icon>
        {{
          (task.projectId
            ? T.F.TASK.CMP.MOVE_TO_OTHER_PROJECT
            : T.F.TASK.CMP.ADD_TO_PROJECT
          ) | translate
        }}
      </span>
      <span class="key-i">{{ kb.taskMoveToProject }}</span>
    </button>
  }
  @if (task.parentId) {
    <button
      (click)="convertToMainTask()"
      mat-menu-item
    >
      <mat-icon>subdirectory_arrow_left</mat-icon>
      {{ T.F.TASK.CMP.CONVERT_TO_PARENT_TASK | translate }}
    </button>
  }

  <button
    (click)="deleteTask()"
    class="color-warn"
    mat-menu-item
  >
    <span class="menuItemLeft">
      <mat-icon class="color-warn-i">delete_forever</mat-icon>
      {{
        (task.repeatCfgId ? T.F.TASK.CMP.DELETE_REPEAT_INSTANCE : T.F.TASK.CMP.DELETE)
          | translate
      }}
    </span>
    <span class="key-i">{{ kb.taskDelete }}</span>
  </button>
</mat-menu>

<mat-menu #estimateMenu="matMenu">
  <ng-template matMenuContent>
    @for (option of ESTIMATE_OPTIONS; track option.value) {
      <button
        mat-menu-item
        menuTouchFix
        (click)="setEstimate(option.ms)"
      >
        @if (option.ms === task.timeEstimate) {
          <mat-icon>check</mat-icon>
        }
        {{ option.label }}
      </button>
    }
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      menuTouchFix
      (click)="estimateTime()"
    >
      <mat-icon>tune</mat-icon>
      {{ T.F.TASK.CMP.CUSTOM_ESTIMATE | translate }}
    </button>
    @if (task.timeEstimate > 0) {
      <button
        mat-menu-item
        menuTouchFix
        (click)="setEstimate(0)"
      >
        <mat-icon>clear</mat-icon>
        {{ T.F.TASK.CMP.CLEAR_ESTIMATE | translate }}
      </button>
    }
  </ng-template>
</mat-menu>

<mat-menu #projectMenu="matMenu">
  <ng-template matMenuContent>
    @if (moveToProjectList$ | async; as list) {
      @for (project of list; track trackByProjectId($index, project)) {
        <button
          (click)="moveTaskToProject(project.id)"
          mat-menu-item
          menuTouchFix
        >
          <select-option-row
            [title]="project.title"
            [icon]="project.icon"
            [defaultIcon]="DEFAULT_PROJECT_ICON"
            [color]="project.theme?.primary"
            [folderPath]="projectFolderMap().get(project.id)"
          ></select-option-row>
        </button>
      }
    }
  </ng-template>
</mat-menu>

<mat-menu #tagMenu="matMenu">
  <ng-template matMenuContent>
    <div (click)="$event.stopPropagation()">
      @for (tag of toggleTagList(); track tag.id) {
        <button
          (click)="toggleTag(tag.id)"
          mat-menu-item
          menuTouchFix
        >
          <select-option-row
            [title]="tag.title"
            [icon]="tag.icon"
            defaultIcon="label"
            [color]="tag.color || tag.theme?.primary"
            [isSelected]="task.tagIds.includes(tag.id)"
            [showCheckbox]="true"
            [folderPath]="tagFolderMap().get(tag.id)"
          ></select-option-row>
        </button>
      }
    </div>
    <button
      mat-menu-item
      (click)="openAddNewTag()"
      menuTouchFix
    >
      <mat-icon>add</mat-icon>
      {{ T.F.TAG.TTL.ADD_NEW_TAG | translate }}
    </button>
  </ng-template>
</mat-menu>
