@use '../../../../../styles/_globals.scss' as *;
@use '../task-context-menu-touch-fix.scss';
@use '../../shared-tag-project-styles';
@use '../../menu-item-styles';

.quick-access {
  display: flex;
  justify-content: space-evenly;
  @include extraBorder('-bottom');
  height: 48px;

  > button {
    height: 48px;
    min-width: 40px;
    flex-grow: 1;
    border-radius: var(--card-border-radius) !important;

    ::ng-deep .mat-mdc-button-persistent-ripple {
      border-radius: var(--card-border-radius) !important;
    }
  }

  button + button {
    border-left: 1px solid var(--extra-border-color) !important;
  }
}

.label {
  display: block;
  text-align: center;
}

[mat-menu-item] {
  @include mq(xs, max) {
    padding-right: 12px;
  }

  mat-icon {
    pointer-events: none;

    @include mq(xs, max) {
      margin-right: 12px;
    }
  }
}
