task-list {

}

.task-list {
  min-height: 100px;
  list-style: none;
  // add a little padding to top and bottom, to make drag dropping easier
  padding: 5px 0;
  margin: 0;
  display: block;

  .as-sortable-placeholder,
  .dndPlaceholder {
    background-color: #ddd;
    margin: 1px 2px 5px 1px;
    border-radius: 10px;
    display: block;
    min-height: 22px;
  }
  &__backlog {
  }
}

.task {
  background-color: #fff;
  border-radius: 4px;
  padding: 4px 15px;
  display: block;
  margin-bottom: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  &.as-sortable-dragging,
  &:focus {
    background: #eee;
  }

  .first-line {
    display: flex;
    flex-wrap: nowrap;
  }

  &.is-done {
    text-decoration: line-through;
  }
  &.is-current {
    border: 3px solid #333;
    background: #a9ed9f;
  }

  .handle {
    margin-right: 10px;
  }

  .title {
    text-align: left;
    cursor: pointer;

    .text {
      display: block;
      width: 100%;
    }
  }

  form {
    width: 100%;
  }
  textarea,
  input {
    width: 100%;
    display: block;
    box-shadow: inset 1px 3px 7px -6px;
    height: 30px;
    padding: 4px 10px;
  }

  .time {
    white-space: nowrap;
    font-size: 14px;
  }
  .notes,
  .time {
    margin-left: 10px;
  }

  .notes {
    width: 100%;
    flex: 0 1 100%;
    textarea {
      min-height: 100px;
    }
  }

  ng-md-icon {
    fill: gray;
  }

  md-checkbox {
    margin-bottom: 0;
    margin-left: 10px;
  }
  button,
  md-checkbox {
    transition: 300ms;
    &:hover {
      transform: scale(1.4);
    }
  }

  .md-icon-button {
    margin: 0;
  }

  button {
    &:hover,
    &.is-active {
      > ng-md-icon {
        fill: #000;
      }
    }
  }
}
