@import "../../../../variables";

:host {
  text-align: center;
}

.total-time {
  margin-top: $s*4;
}

.year {
  &-title {
    margin-top: 3*$s;
  }

  &-time-spent {
    font-size: 20px;
    line-height: 26px;
  }
}

.month {
  margin-top: 3*$s;
  margin-bottom: 0;

  &-title {
    margin-bottom: $s;

    button {
      margin-left: $s;
    }
  }

  &-time-spent {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: $s*3;
  }
}

.weeks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.week {
  margin: 0 $s*4 $s*4;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-header {
    display: flex;
    margin-bottom: $s*2;
    align-self: center;

    button {
      margin-left: $s;
    }
  }

  &-title {
    white-space: nowrap;
    margin-bottom: 0;
  }


  tr:hover {
    cursor: pointer;
  }

  td {
    padding-top: $s/2;
    padding-bottom: $s/2;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }


}

.day-date {
  position: relative;

  span {
    &:first-child {
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      tr:hover & {
        display: block;
      }
    }

    &:last-child {
      display: block;

      tr:hover & {
        visibility: hidden;
      }
    }
  }
}


.summary-table-wrapper {
  display: inline-block;

  > table {
    width: 100%;
    text-align: left;

    td:first-of-type {
      padding-right: $s;
    }
  }

  td.isSubTask {
    .task-title {
      font-style: italic;
      padding-left: $s*2;
      position: relative;
      display: inline-block;

      &:before {
        content: '–';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}

