@import "../../../../variables";

:host {
  text-align: center;

  .total-time {
    margin-top: $s*4;
  }

  .year {
    &-title {
      margin-top: 3*$s;
    }

    &-time-spent {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .month {
    margin-top: 3*$s;
    margin-bottom: $s;

    &-title {
      button {
        margin-left: $s;
      }
    }

    &-time-spent {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: $s*3;
    }
  }

  .day {
    margin-top: 2*$s;
    margin-bottom: $s;

    &-title {

      button {
        margin-left: $s;
      }
    }
  }

  .summary-table-wrapper {
    display: inline-block;

    > table {
      width: 100%;
      text-align: left;

      td:first-of-type {
        padding-right: $s;
      }
    }

    td.isSubTask {
      .task-title {
        font-style: italic;
        padding-left: $s*2;
        position: relative;
        display: inline-block;

        &:before {
          content: '–';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}

