<h1 mat-dialog-title>
  <mat-icon svgIcon="github"
            class="dialog-header-icon"></mat-icon>
  <span>Setup Github for Project</span>
</h1>

<form [formGroup]="formGroup"
      (submit)="saveGithubCfg(githubCfg)">
  <mat-dialog-content>
    <formly-form [model]="githubCfg"
                 (modelChange)="githubCfg=$event"
                 [fields]="formConfig"
                 [form]="formGroup">
    </formly-form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button=""
            type="button"
            (click)="close()"
            color="primary">
      Cancel
    </button>

    <button [disabled]="!formGroup.valid"
            mat-stroked-button=""
            type="submit"
            color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </mat-dialog-actions>
</form>
