@import '../node_modules/@fontsource/roboto/400.css';
@import '../node_modules/@fontsource/roboto/400-italic.css';
@import '../node_modules/@fontsource/roboto/700.css';
@import '../node_modules/@fontsource/roboto/300.css';

@import '_variables';
@import 'styles/themes';
@import 'styles/font/material-icons';
@import 'styles/page';
@import 'styles/util';
@import 'styles/components/components';

* {
  box-shadow: none !important;
}
