<table class="owl-dt-calendar-table owl-dt-calendar-year-table">
  <thead class="owl-dt-calendar-header">
    <tr>
      <th
        aria-hidden="true"
        class="owl-dt-calendar-table-divider"
        colspan="3"
      ></th>
    </tr>
  </thead>
  <tbody
    (keydown)="handleCalendarKeydown($event)"
    (select)="selectCalendarCell($event)"
    [activeCell]="activeCell"
    [cellRatio]="3 / 7"
    [numCols]="3"
    [rows]="months"
    [selectMode]="selectMode"
    [selectedValues]="selectedMonths"
    [todayValue]="todayMonth"
    owl-date-time-calendar-body
    role="grid"
  ></tbody>
</table>
