<form (submit)="submit()">
  <mat-dialog-content>
    <h2 class="mat-title">{{ bookmarkCopy.id ? 'Edit' : 'Add' }} {{bookmarkCopy.taskId ? 'attachment for task':'Bookmark'}}</h2>

    <div class="form-wrapper">
      <mat-form-field>
        <input type="text"
               [(ngModel)]="bookmarkCopy.title"
               name="title"
               matInput=""
               placeholder="Title"
               autofocus="autofocus"
               tabindex="1"
               aria-label="Title">
      </mat-form-field>
      <mat-form-field>
        <input type="text"
               [(ngModel)]="bookmarkCopy.path"
               name="path"
               [placeholder]="mapTypeToLabel(bookmarkCopy.type)"
               matInput=""
               required
               tabindex="1">
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="bookmarkCopy.type"
                    name="type"
                    required="true"
                    tabindex="1"
                    placeholder="Select a type">
          <mat-option *ngFor="let type of types"
                      [value]="type.type"
                      [innerHtml]="type.title">
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="custom-icon-wrapper">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [(ngModel)]="bookmarkCopy.icon"
                 [formControl]="iconControl"
                 [matAutocomplete]="auto">
          <mat-icon matPrefix="">{{bookmarkCopy.icon}}</mat-icon>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let icon of customIcons"
                        [value]="icon">
              <mat-icon>{{icon}}</mat-icon>
              <span>{{icon}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="submit"
            mat-raised-button=""
            color="primary">
      Save
    </button>

    <button (click)="close()"
            mat-raised-button=""
            color="warn"
            type="button">
      Cancel
    </button>
  </mat-dialog-actions>
</form>
