.page-settings {
  .md-title {
    margin-top: 50px;
  }
  > *:first-child {
    .md-title {
      margin-top: 0;
    }
  }

  md-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-width: 5px;
  }
}