<div class="page-settings">

  <section>
    <h2 class="md-title">Project</h2>

    <div ng-if="vm.allProjects.length > 0">
      <md-input-container class="md-block">
        <label>Choose current project</label>
        <md-select ng-model="vm.r.currentProject"
                   arial-label="Select Project">
          <md-option ng-repeat="project in vm.allProjects"
                     arial-label="Select Project"
                     ng-value="project">
            {{project.title}}
          </md-option>
        </md-select>
      </md-input-container>

      <div class="project-overview"
           ng-show="vm.showAllProjects">
        <h3 class="md-title">Overview of all Projects</h3>

        <md-list-item ng-repeat="project in vm.allProjects">
          <p>
            <ng-md-icon icon="edit"
                        aria-label="edit"></ng-md-icon>
            <span edit-on-click="project.title"></span>
          </p>

          <md-button class="md-icon-button"
                     aria-label="delete"
                     tabindex="2"
                     ng-click="vm.deleteProject(project,$index)">
            <ng-md-icon icon="delete_forever"
                        aria-label="delete"
                        style="fill: #dc2d3d;"></ng-md-icon>
          </md-button>
        </md-list-item>
      </div>

      <md-button type="button"
                 ng-click="vm.createNewProject()"
                 class="md-raised md-primary">Create new project
      </md-button>
      <md-button type="button"
                 ng-hide="vm.showAllProjects"
                 ng-click="vm.showAllProjects = true;"
                 class="md-raised md-primary">Manage Projects
      </md-button>


    </div>

    <div ng-if="!vm.allProjects.length">
      <p>You can manage multiple different Todos with SuperProductivity. To do so you need to give your current ToDo a title and save it.</p>

      <form ng-submit="vm.createNewProjectFromCurrent(vm.projectTitle)">
        <md-input-container class="md-block">
          <label>Project Title</label>
          <input type="text"
                 ng-model="vm.projectTitle">
        </md-input-container>
        <md-button type="submit"
                   class="md-raised md-primary">Save current Todo as Project
        </md-button>
      </form>
    </div>

    <md-divider></md-divider>
  </section>


  <section ng-if="vm.IS_ELECTRON">
    <h2 class="md-title">Jira-Setup</h2>
    <form>
      <md-input-container class="md-block">
        <label>Host</label>
        <input type="text"
               ng-model="vm.r.jiraSettings.host">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Username</label>
        <input type="text"
               ng-model="vm.r.jiraSettings.userName">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password"
               ng-model="vm.r.jiraSettings.password">
      </md-input-container>
      <md-input-container class="md-block">
        <label>JQL Query for Tasks</label>
        <input type="text"
               ng-model="vm.r.jiraSettings.jqlQuery">
        <div class="hint">e.g.: assignee = "{{ vm.r.jiraSettings.userName }}" AND resolution = Unresolved ORDER BY updatedDate DESC</div>
      </md-input-container>


      <section>
        <h3 class="md-subtitle">Worklog</h3>

        <md-input-container class="md-block">
          <div flex-gt-sm="50">
            <md-switch ng-model="vm.r.jiraSettings.isWorklogEnabled"
                       aria-label="open dialog for adding a worklog to jira when task is done">
              Open worklog dialog for adding a worklog to jira when task is done
            </md-switch>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <div flex-gt-sm="50">
            <md-switch ng-model="vm.r.jiraSettings.isAddWorklogOnSubTaskDone"
                       ng-disabled="!vm.r.jiraSettings.isWorklogEnabled"
                       aria-label="Add worklog when sub task is done">
              Open worklog dialog when sub task is done
            </md-switch>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <div flex-gt-sm="50">
            <md-switch ng-model="vm.r.jiraSettings.isAutoWorklog"
                       ng-disabled="!vm.r.jiraSettings.isWorklogEnabled"
                       aria-label="(not recommended) send updates to worklog automatically when task is done">
              (not recommended) send updates to worklog automatically when task is done
            </md-switch>
          </div>
        </md-input-container>
      </section>


      <section ng-if="vm.r.jiraSettings.allTransitions">
        <h3 class="md-subtitle">Default Transitions</h3>
        <p>Jira enables a wide configuration of transitions usually coming into action as different columns on your jira agile board. That's why we can't make assumptions about where and when to transition your tasks and you need to set it manually.</p>
        <md-input-container class="md-block">
          <label>Default transition for OPEN</label>
          <md-select ng-model="vm.r.jiraSettings.transitions.OPEN"
                     arial-label="Select default transition for OPEN">
            <md-option><em>Always ask</em></md-option>
            <md-option ng-value="'DO_NOT'"><em>Don't transition</em></md-option>
            <md-option ng-repeat="jiraTransition in vm.r.jiraSettings.allTransitions"
                       ng-value="jiraTransition.id">
              {{jiraTransition.id}} - {{jiraTransition.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Default transition for IN_PROGRESS</label>
          <md-select ng-model="vm.r.jiraSettings.transitions.IN_PROGRESS"
                     arial-label="Select default transition for IN_PROGRESS">
            <md-option><em>Always ask</em></md-option>
            <md-option ng-value="'DO_NOT'"><em>Don't transition</em></md-option>
            <md-option ng-repeat="jiraTransition in vm.r.jiraSettings.allTransitions"
                       ng-value="jiraTransition.id">
              {{jiraTransition.id}} - {{jiraTransition.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Default transition for DONE</label>
          <md-select ng-model="vm.r.jiraSettings.transitions.DONE"
                     arial-label="Select default transition for DONE">
            <md-option><em>Always ask</em></md-option>
            <md-option ng-value="'DO_NOT'"><em>Don't transition</em></md-option>
            <md-option ng-repeat="jiraTransition in vm.r.jiraSettings.allTransitions"
                       ng-value="jiraTransition.id">
              {{jiraTransition.id}} - {{jiraTransition.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </section>
    </form>

    <md-divider></md-divider>
  </section>


  <section>
    <h2 class="md-title">Switch theme</h2>
    <md-select ng-model="vm.selectedTheme"
               placeholder="Select a theme">
      <md-option ng-repeat="themeName in vm.themes"
                 ng-value="themeName">{{ themeName }}
      </md-option>
    </md-select>
    <div flex-gt-sm="50">
      <md-switch ng-model="vm.isDarkTheme"
                 aria-label="Use dark theme">
        Use dark theme
      </md-switch>
    </div>
  </section>


  <section ng-if="vm.IS_ELECTRON">
    <h2 class="md-title">Git integration</h2>
    <p>Set project directory to show the days commits at summary.</p>
    <md-input-container class="md-block"
                        flex-gt-sm>
      <label>Project path (where .git resides)</label>
      <input type="text"
             ng-model="vm.r.git.projectDir">
    </md-input-container>
  </section>


  <section>
    <h2 class="md-title">Make/Restore Backup</h2>
    <a class="md-raised md-button md-ink-ripple"
       type="button"
       download-backup>
      <ng-md-icon icon="file_download"
                  aria-label="download settings"
                  download-backup></ng-md-icon>
      Download your tasks and settings
      <div class="md-ripple-container"></div>
    </a>
    <md-button
      class="md-raised"
      ng-click="vm.showUploadForm=!vm.showUploadForm;">
      <ng-md-icon icon="file_upload"
                  aria-label="import settings"
                  download-backup></ng-md-icon>
      Import Settings
    </md-button>


    <section>
      <h2 class="md-title">Misc</h2>
      <md-input-container class="md-block">
        <div flex-gt-sm="50">
          <md-switch ng-model="vm.r.config.isShortSyntaxEnabled"
                     aria-label="Use short syntax (e.g. 'TaskTitleBla e:30m')">
            Use short syntax (e.g. 'TaskTitleBla e:30m') for task creation
          </md-switch>
        </div>
      </md-input-container>
    </section>
</div>
