<div class="page-settings">


  <h2 class="md-title">Make/Restore Backup</h2>
  <a class="md-raised md-button md-ink-ripple"
     type="button"
     download-backup>
    <ng-md-icon icon="file_download"
                aria-label="download settings"
                download-backup></ng-md-icon>
    Download your tasks and settings
    <div class="md-ripple-container"></div>
  </a>
  <md-button
    class="md-raised"
    ng-click="vm.showUploadForm=!vm.showUploadForm;">
    <ng-md-icon icon="file_upload"
                aria-label="import settings"
                download-backup></ng-md-icon>
    Import Settings
  </md-button>

  <form ng-if="vm.showUploadForm"
        ng-submit="vm.importSettings(vm.uploadSettingsTextarea)">
    <md-input-container class="md-block"
                        flex-gt-sm>
      <label>Copy and paste the contents of the download json file here</label>
      <textarea ng-model="vm.uploadSettingsTextarea"
                md-auto-focus
                rows="3"></textarea>
    </md-input-container>
    <md-button type="submit"
               class="md-raised md-primary">Import settings
    </md-button>
  </form>
  <md-divider></md-divider>


  <h2 class="md-title">Jira-Setup for Task Suggestion</h2>
  <form ng-submit="vm.saveJiraSettings(vm.jiraSettings)">
    <md-input-container class="md-block"
                        flex-gt-sm>
      <label>Host</label>
      <input type="text"
             ng-model="vm.jiraSettings.host">
    </md-input-container>
    <md-input-container class="md-block"
                        flex-gt-sm>
      <label>Username</label>
      <input type="text"
             ng-model="vm.jiraSettings.userName">
    </md-input-container>
    <md-input-container class="md-block"
                        flex-gt-sm>
      <label>Password</label>
      <input type="password"
             ng-model="vm.jiraSettings.password">
    </md-input-container>
    <md-input-container class="md-block"
                        flex-gt-sm>
      <label>JQL Query for Tasks</label>
      <input type="text"
             ng-model="vm.jiraSettings.jqlQuery">
      <div class="hint">e.g.: assignee = "{{ vm.jiraSettings.userName }}" AND resolution = Unresolved ORDER BY updatedDate DESC</div>
    </md-input-container>


    <md-button type="submit"
               class="md-raised md-primary">Save Config
    </md-button>
  </form>


  <h2 class="md-title">Switch theme</h2>
  <md-select ng-model="vm.selectedTheme"
             placeholder="Select a theme">
    <md-option ng-repeat="themeName in vm.themes">{{ themeName }}
    </md-option>
  </md-select>

</div>
