.section-wrapper {
  //display: grid;
  //grid-template-columns: 50% 50%;
  //grid-gap: 0 calc(var(--s) * 2);
}

.config-section {
  border: 1px solid var(--divider-color);
  break-inside: avoid;
  margin-bottom: 10px;
  border-radius: var(--card-border-radius);
  background: var(--card-bg);

  background-color: var(--card-bg);

  .md-title {
    margin-top: 0;
  }

  ::ng-deep .collapsible-header {
    border-bottom: 1px solid transparent;
  }

  ::ng-deep .isExpanded .collapsible-header {
    font-weight: bold;

    border-color: var(--extra-border-color);
  }
}

.settings-col {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
