@mixin isNoJira {
  :host-context(.isNoJira) & {
    @content;
  }
}

.isHideWhenJiraSupport {
  display: none;

  ::ng-deep & {
    display: none;
  }

  @include isNoJira {
    display: block;
  }

  :host-context(.isNoJira) ::ng-deep & {
    display: block;
  }
}

.isShowWhenJiraSupport {
  display: block;
  @include isNoJira {
    display: none !important;
  }
}
