@mixin materialIconBase() {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  //font-size: inherit;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  overflow-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@mixin androidWebViewTextZoomCompensation() {
  body.hasAndroidWebViewTextZoom & {
    scale: var(--android-webview-icon-scale, 1);
  }
}

@mixin materialIcon($iconName) {
  @include materialIconBase();
  @include androidWebViewTextZoomCompensation();
  content: $iconName;
}
