@mixin noteStyle() {
  background: #ffffff;
  color: $standard-note-fg-light;
  box-sizing: border-box;
  position: relative;
  border-radius: $card-border-radius;
  box-shadow: $shadow-card-shadow;
  transition: $transition-fast;
  transition-property: transform, box-shadow;
  //border: 1px solid #DADCE0;

  @include darkTheme {
    background: $standard-note-bg-dark;
    color: $standard-note-fg-dark;
    //border-color: #333333;
  }
}
