@mixin noteStyle() {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  transition: var(--transition-fast);
  transition-property: transform, box-shadow;
  //border: 1px solid var(--grid-color);

  background: var(--standard-note-bg);
  color: var(--standard-note-fg);
  //border-color: #333333;
}
