@import '../functions/_ddivide';

@mixin responsiveRatio($x, $y, $pseudo: false) {
  $padding: unquote((ddivide($y / $x)) * 100 + '%');
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}
