@import 'media-queries';

@mixin scrollY() {
  overflow-y: scroll;

  @include mq(xs) {
    overflow-y: hidden;

    &:hover {
      overflow-y: scroll;
      overflow-y: overlay;
    }
  }
}

@mixin scrollYImportant() {
  overflow-y: scroll !important;

  @include mq(xs) {
    overflow-y: hidden !important;
    &:hover {
      overflow-y: scroll !important;
      overflow-y: overlay !important;
    }
  }
}

@mixin scrollX() {
  overflow-x: scroll;

  @include mq(xs) {
    overflow-x: hidden;

    &:hover {
      overflow-x: scroll;
      overflow-x: overlay;
    }
  }
}