@mixin scrollY() {
  overflow-y: hidden;

  &:hover {
    overflow-y: scroll;
    overflow-y: overlay;
  }
}

@mixin scrollYImportant() {
  overflow-y: hidden !important;
  &:hover {
    overflow-y: scroll !important;
    overflow-y: overlay !important;
  }
}

@mixin scrollX() {
  overflow-x: hidden;

  &:hover {
    overflow-x: scroll;
    overflow-x: overlay;
  }
}