@mixin darkTheme {
  $sel: #{&};
  @if ($sel and $sel !='') {
    @at-root  :host-context(.isDarkTheme) & {
      @content;
    }
  } @else {
    :host-context(.isDarkTheme) {
      @content;
    }
  }
}

@mixin lightTheme {
  $sel: #{&};
  @if ($sel and $sel !='') {
    @at-root  :host-context(.isLightTheme) & {
      @content;
    }
  } @else {
    :host-context(.isLightTheme) {
      @content;
    }
  }
}

@mixin standardThemeTextColor {
  @include darkTheme() {
    color: $dark-theme-text-color;
  }
  @include lightTheme() {
    color: $light-theme-text-color;
  }
}


@mixin standardThemeTextColorLessIntense {
  @include darkTheme() {
    color: $dark-theme-text-color-less-intense;
  }
  @include lightTheme() {
    color: $light-theme-text-color-less-intense;
  }
}


@mixin standardThemeTextColorMostIntense {
  @include darkTheme() {
    color: $dark-theme-text-color-most-intense;
  }
  @include lightTheme() {
    color: $light-theme-text-color-most-intense;
  }
}


@mixin extraBorder {
  @include darkTheme {
    border: 1px solid $dark-theme-extra-border-color;
  }
  @include lightTheme {
    border: 1px solid $light-theme-extra-border-color;
  }
}

// e.g. cards and tasks
@mixin layerTextAndBgHigher {
  @include darkTheme() {
    color: $dark-theme-text-color-less-intense;
    background-color: $dark-theme-bg-lighter;
  }
  @include lightTheme() {
    color: $light-theme-text-color-less-intense;
  }
}


// e.g. nested cards / tabs etc
@mixin layerTextAndBgHighest {
  @include darkTheme() {
    // NOTE: needs to be more intense than light color, because we have a lighter background
    color: $dark-theme-text-color-more-intense;
    background-color: $dark-theme-bg-lightest;
  }
  @include lightTheme() {
    color: $light-theme-text-color-less-intense;
  }
}
