<div
  cdkDropList
  #dropList="cdkDropList"
  [cdkDropListData]="{ day: daysToShow()[0] }"
  [cdkDropListEnterPredicate]="dropListEnterPredicate"
  (cdkDropListDropped)="onTaskDrop($event)"
  (cdkDropListEntered)="onDragEnter($event)"
  (cdkDropListExited)="onDragExit()"
  class="schedule-day-drop-zone"
  (mousemove)="onDragMove($event)"
  (touchmove)="onDragMove($event)"
>
  <schedule-week
    #scheduleWeek
    [isMinimalHeader]="true"
    [events]="events()"
    [beyondBudget]="[]"
    [daysToShow]="daysToShow()"
    [workStartEnd]="workStartEnd() || null"
    [currentTimeRow]="currentTimeRow()"
    [isTaskDragActive]="isDragging()"
  ></schedule-week>
</div>
