<div class="note"
     [class.hasReminder]="note.reminderId"
     [class.isFocused]="isFocus">
  <div class="content">
    <inline-markdown #markdownEl
                     (changed)="updateContent($event)"
                     (focus)="isFocus=true"
                     (blur)="isFocus=false"
                     [isFocus]="isFocus"
                     [isLock]="note.isLock"
                     [model]="note.content"></inline-markdown>
  </div>

  <div class="controls">
    <button mat-icon-button=""
            [matMenuTriggerFor]="menu">
      <mat-icon *ngIf="!note.reminderId">more_vert</mat-icon>
      <mat-icon *ngIf="note.reminderId">schedule</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item
              (click)="editReminder()">
        <ng-container *ngIf="!note.reminderId">
          <mat-icon>alarm_add</mat-icon>
          Add reminder
        </ng-container>
        <ng-container *ngIf="note.reminderId">
          <mat-icon>alarm</mat-icon>
          Edit reminder
        </ng-container>

      </button>
      <button mat-menu-item
              *ngIf="note.reminderId"
              (click)="removeReminder()">
        <mat-icon style="color:#e15d63;">alarm_off</mat-icon>
        Remove reminder
      </button>
      <button mat-menu-item
              (click)="toggleLock()">
        <mat-icon *ngIf="note.isLock">lock</mat-icon>
        <mat-icon *ngIf="!note.isLock">lock_open</mat-icon>
        {{note.isLock ? 'Enable markdown parse ' : 'Disable markdown parsing'}}
      </button>
      <button mat-menu-item
              (click)="removeNote()">
        <mat-icon style="color:#e15d63;">delete_forever</mat-icon>
        Delete
      </button>
    </mat-menu>
  </div>
</div>
