<div class="note">
  <div class="content">
    <inline-markdown (onChanged)="updateContent($event)"
                     [model]="note.content"></inline-markdown>
  </div>

  <div class="controls">
    <button mat-icon-button=""
            [matMenuTriggerFor]="menu">
      <mat-icon>more</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon>schedule</mat-icon> Add reminder (not implemented)</button>
      <button mat-menu-item
              (click)="removeNote()">
        <mat-icon style="color:#e15d63;">delete_forever</mat-icon>
        Delete
      </button>
    </mat-menu>
  </div>
</div>