@import '../../../variables';

.note {
  background: #ffffff;
  color: $standard-note-fg-light;
  box-sizing: border-box;
  position: relative;
  border-radius: $card-border-radius;
  box-shadow: $shadow-bottom-boxed;
  transition: $transition-standard;
  transition-property: transform;
  border: 1px solid #DADCE0;


  @include darkTheme {
    background: $standard-note-bg-dark;
    color: $standard-note-fg-dark;
    border-color: #333333;
  }

  &.isFocused {
    transform: scale(1.04);
    position: relative;
    z-index: 4;
    outline: 2px dashed $c-accent;
  }
}

.controls {
  position: absolute;
  top: 0;
  right: 0;

  @include mq(xs) {
    opacity: 0;
    transition: $transition-standard;

    .note:focus &,
    .note:hover & {
      opacity: 1;
    }
  }
}

.content {
  text-align: left;
  font-size: 12px;

  inline-markdown ::ng-deep {
    .markdown-wrapper {
      min-height: 60px;
      max-height: 500px;
    }

    .markdown-unparsed,
    .markdown-parsed {
      font-size: 12px;
      border-radius: $card-border-radius;
      background: #ffffff;
      color: $standard-note-fg-light;
      box-sizing: border-box;

      @include darkTheme {
        background: $standard-note-bg-dark;
        color: $standard-note-fg-dark;
        border-color: #333333;
      }
    }
  }
}
