<mat-toolbar color="primary"
             class="mat-elevation-z3">
  <button mat-icon-button
          class="show-xs-only"
          [matMenuTriggerFor]="mainMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button=""
          class="hide-xs"
          routerLink="work-view">
    <mat-icon svgIcon="sp">sp</mat-icon>
  </button>

  <mat-menu #mainMenu="matMenu">

    <button mat-menu-item
            routerLink="work-view">
      <mat-icon>playlist_play</mat-icon>
      Task List ({{(taskService.undoneTasks$|async)?.length || 0}})
    </button>
    <button mat-menu-item
            routerLink="worklog-and-calendar">
      <mat-icon>today</mat-icon>
      Worklog
    </button>

    <button mat-menu-item
            [routerLink]="'projects'">
      <mat-icon>list</mat-icon>
      Manage Projects
    </button>

    <button mat-menu-item
            routerLinkActive
            [routerLink]="'config'">
      <mat-icon>settings</mat-icon>
      Settings
    </button>

  </mat-menu>

  <button mat-button
          class="current-project-title"
          [matMenuTriggerFor]="projectMenu">
    {{(projectService.currentProject$|async).title}}
    <mat-icon aria-hidden="true">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #projectMenu="matMenu">
    <button mat-menu-item
            (click)="switchProject(project.id)"
            *ngFor="let project of projectService.list$|async">
      <mat-icon *ngIf="project.id===(projectService.currentId$|async)">radio_button_checked</mat-icon>
      <mat-icon *ngIf="project.id!==(projectService.currentId$|async)">radio_button_unchecked</mat-icon>
      {{project.title}}
    </button>
    <button mat-menu-item
            [routerLink]="'projects'">
      <mat-icon>list</mat-icon>
      Manage Projects
    </button>
    <button mat-menu-item
            (click)="addProject()">
      <mat-icon>add</mat-icon>
      Create Project
    </button>
  </mat-menu>

  <span class="spacer"></span>

  <nav>
    <button mat-mini-fab
            class="hide-xs bg-200"
            color="lighter"
            (click)="showAddTaskBar()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-mini-fab
            (click)="toggleShowNotes()"
            [color]="(noteService.isShowNotes$|async)? 'accent': 'lighter'">
      <mat-icon>note</mat-icon>
    </button>

    <button mat-fab
            (click)="togglePlay()"
            [color]="(taskService.currentTaskId$|async)? 'accent': 'lighter'">
      <mat-icon *ngIf="!(taskService.currentTaskId$|async)">play_arrow</mat-icon>
      <mat-icon *ngIf="(taskService.currentTaskId$|async)">pause</mat-icon>
    </button>

    <button mat-mini-fab
            class="hide-xs"
            color="lighter"
            [matMenuTriggerFor]="mainMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </nav>

  <button mat-mini-fab=""
          class="show-bookmarks-btn"
          color="primary"
          aria-label="Show Help for section"
          [class.is-open]="bookmarkService.isShowBookmarks$|async"
          (click)="bookmarkService.toggleBookmarks()">
    <mat-icon>bookmark</mat-icon>
  </button>
</mat-toolbar>
