@import '../../variables';

.current-project-title {
  text-transform: uppercase;
  font-weight: normal;
}

.spacer {
  flex: 1 1 auto;
}

nav {
  display: flex;
  align-items: center;

  button {
    margin-left: $s;
  }
}

:host {
  position: relative;
  z-index: 3;
  display: block;
}

mat-toolbar {
  height: $main-header-height;
}

.mat-fab {
  height: 52px;
  width: 52px;
  ::ng-deep .mat-button-wrapper {
    padding: 0 !important;
  }
}
