@import '../../variables';

.current-project-title {
  text-transform: uppercase;
  font-weight: normal;
}

.spacer {
  flex: 1 1 auto;
}

nav {
  display: flex;
  align-items: center;

  button {
    margin-left: $s;
  }
}

:host {
  position: relative;
  z-index: 3;
  display: block;
}

mat-toolbar {
  height: $main-header-height;
}

.mat-fab {
  height: 52px;
  width: 52px;

  ::ng-deep .mat-button-wrapper {
    padding: 0 !important;
  }
}

.show-bookmarks-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  top: 100%;
  transition: $transition-standard !important;
  transition-property: transform !important;
  margin: 0 !important;
  @include mq(xs, max) {
    height: 30px !important;
    min-height: 30px !important;
    padding: 0 !important;
    ::ng-deep .mat-button-wrapper {
      padding: 0;
      position: relative;
      top: -3px;
    }
  }

  &.is-open {
    transition-property: transform !important;
    transition: $transition-standard !important;
    transform: translate(-50%, -75%);
  }
}

eco-fab-speed-dial-actions {
  button {
    position: relative;
    // hover hitarea
    &:after {
      content: '';
      position: absolute;
      top: -$s;
      bottom: -$s;
      left: -$s;
      right: -$s;
    }
  }
}

.play-btn.pulse {
  animation: pulse 1s infinite;
}

.note-ico {
  transition: $transition-standard;

  &.rotate {
    transform: rotate(90deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(1);
  }
}
