<mat-toolbar color="primary"
             class="mat-elevation-z3">
  <mat-icon svgIcon="sp">sp</mat-icon>
  <button mat-button
          class="current-project-title"
          [matMenuTriggerFor]="menu">{{(projectService.currentProject$|async).title}}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="switchProject(project.id)"
            *ngFor="let project of projectService.list$|async">
      <mat-icon *ngIf="project.id===(projectService.currentId$|async)">radio_button_checked</mat-icon>
      <mat-icon *ngIf="project.id!==(projectService.currentId$|async)">radio_button_unchecked</mat-icon>
      {{project.title}}
    </button>
    <button mat-menu-item
            [routerLink]="'projects'">
      <mat-icon>list</mat-icon>
      Manage Projects
    </button>
    <button mat-menu-item
            (click)="addProject()">
      <mat-icon>add</mat-icon>
      Create Project
    </button>
  </mat-menu>

  <span class="spacer"></span>

  <nav>
    <button mat-mini-fab
            routerLink="work-view"
            routerLinkActive
            #rlaWv="routerLinkActive"
            [color]="rlaWv.isActive ? 'accent' : null">
      <mat-icon>playlist_play</mat-icon>
    </button>
    <button mat-mini-fab
            routerLink="worklog-and-calendar"
            routerLinkActive
            #rlHA="routerLinkActive"
            [color]="rlHA.isActive ? 'accent' : null">
      <mat-icon>today</mat-icon>
    </button>

    <button mat-mini-fab
            (click)="drawer.toggle()"
            [color]="drawer.opened ? 'accent' : null">
      <mat-icon>note</mat-icon>
    </button>

    <eco-fab-speed-dial [(open)]="isSpeedDialOpen"
                        (mouseenter)="isSpeedDialOpen = true"
                        (mouseleave)="isSpeedDialOpen = false"
                        [animationMode]="'fling'"
                        [direction]="'down'">
      <eco-fab-speed-dial-trigger>
        <button mat-fab>
          <mat-icon>navigation</mat-icon>
        </button>
      </eco-fab-speed-dial-trigger>

      <eco-fab-speed-dial-actions>
        <!--<button mat-mini-fab>-->
        <!--<mat-icon>add</mat-icon>-->
        <!--</button>-->
        <!--<button mat-mini-fab>-->
        <!--<mat-icon>edit</mat-icon>-->
        <!--</button>-->
        <button mat-mini-fab
                (click)="showAddTaskBar()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab
                [routerLink]="'config'">
          <mat-icon>settings</mat-icon>
        </button>
      </eco-fab-speed-dial-actions>
    </eco-fab-speed-dial>
  </nav>

  <button mat-mini-fab=""
          class="show-bookmarks-btn"
          color="primary"
          aria-label="Show Help for section"
          [class.is-open]="bookmarkService.isShowBookmarks$|async"
          (click)="bookmarkService.toggleBookmarks()">
    <mat-icon>bookmark</mat-icon>
  </button>
</mat-toolbar>
