@import '../../variables';

.current-project-title {
  text-transform: uppercase;
  font-weight: normal;
}

.spacer {
  flex: 1 1 auto;
}

nav {
  display: flex;
  align-items: center;

  button {
    margin-left: $s;
  }
}

:host {
  position: relative;
  z-index: 3;
  display: block;
}

mat-toolbar {
  height: $main-header-height;
}

.mat-fab {
  height: 52px;
  width: 52px;
  ::ng-deep .mat-button-wrapper {
    padding: 0 !important;
  }
}

.show-bookmarks-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  top: 100%;
  transition: $transition-standard !important;
  transition-property: transform !important;
  margin: 0 !important;
  @media(max-width: $layout-xs) {
    height: 30px !important;
    min-height: 30px !important;
    padding: 0 !important;
  }

  &.is-open {
    transition-property: transform !important;
    transition: $transition-standard !important;
    transform: translate(-50%, -75%);
  }
}
