sup-edit-on-click,
sup-edit-on-click {
  cursor: pointer;
}

.edit-on-click-form {
  display: block;
  &.duration-form {
    width: auto;
  }

  input {
    display: block;
    width: 100%;
  }
  input.edit-on-click-duration-input {
    width: 70px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.edit-on-click-text {
  display: block;
  min-width: 80px;
  min-height: 40px;
  line-height: 40px;
}