<md-fab-speed-dial md-open="vm.isOpen"
                   md-direction="up"
                   ng-class="vm.selectedMode"
                   ng-mouseenter="vm.isOpen=true"
                   ng-mouseleave="vm.isOpen=false">
  <md-fab-trigger>
    <md-button aria-label="menu"
               class="md-fab md-accent">
      <ng-md-icon icon="navigation"></ng-md-icon>
    </md-button>
  </md-fab-trigger>

  <md-fab-actions>
    <md-button class="md-fab md-raised md-mini md-primary"
               aria-label="Add Task"
               title="Add task"
               ng-click="vm.openAddTask()">
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
    <md-button aria-label="Notepad"
               ng-click="vm.openNotepad()"
               class="md-fab md-raised md-mini md-primary">
      <ng-md-icon icon="speaker_notes"></ng-md-icon>
    </md-button>
    <md-button aria-label="Distractions"
               ng-click="vm.openDistractionPanel()"
               class="md-fab md-raised md-mini md-primary">
      <ng-md-icon icon="flash_on"></ng-md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini md-primary"
               aria-label="Settings"
               ui-sref="settings"
               title="Go to settings">
      <ng-md-icon icon="settings"></ng-md-icon>
    </md-button>

    <md-button class="md-fab md-raised md-mini md-primary"
               aria-label="Help"
               ng-click="vm.openHelp();"
               title="Open help for current view">
      <ng-md-icon icon="help_outline"></ng-md-icon>
    </md-button>

  </md-fab-actions>
</md-fab-speed-dial>