@import '../../../../variables';

:host-context([dir=rtl]) {
  direction: rtl;
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  @include noteStyle;
  margin-bottom: 0;
  padding: $s;
  min-height: $s*5;

  @include mq(xs) {
    min-height: 220px;
    width: 500px;
  }
}

.form-wrapper {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textarea-wrapper {
  margin: -16px;
  margin-bottom: 0;
  align-self: stretch;
}
