@use 'sass:math';
@import '../../../../variables';
@import '../../tasks/task/task.component.mixins';

:host {
  overflow: hidden !important;
  padding-top: 16px;
}

.day-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;

  .date {
    font-size: 12px;
  }
}

:host ::ng-deep planner-task {
  .drag-handle {
    pointer-events: none;

    .drag-handle-ico {
      visibility: hidden !important;
    }
  }
}

.wrapper {
  padding-top: $s * 2;
  padding-bottom: $s * 2;
  display: block;
}

.inner-wrapper {
  max-width: $component-max-width;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding-bottom: $s;
  flex-direction: row;

  // TODO check if we might want this
  //&:first-child {
  //  top: 0;
  //  position: sticky;
  //  z-index: 44;
  //}
}

.row,
.col {
  //border: 1px dashed rgba(0, 0, 0, .5)
}

.col {
  &.time {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    min-width: 52px;
    font-size: 10px;

    @include mq(xxs) {
      min-width: 60px;
      font-size: 12px;
    }

    &.hasTime {
      padding: 0;
      font-weight: normal;
    }

    margin-top: -$s * 0.5;
    margin-bottom: -$s * 0.5;
    border-right: 2px solid;

    @include lightTheme() {
      border-color: $light-theme-separator-color;
    }
    @include darkTheme() {
      border-color: $dark-theme-separator-color;
    }

    &.hasTime:after {
      display: block;
      content: '';
      width: 8px;
      height: 2px;
      right: -5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include lightTheme() {
        background: $light-theme-separator-color;
      }
      @include darkTheme() {
        background: $dark-theme-text-color;
      }
    }

    .row:first-child & {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        transform: none;
        width: 16px;
        height: 2px;
        right: -9px;

        @include lightTheme() {
          background: $light-theme-separator-color;
        }
        @include darkTheme() {
          background: $dark-theme-separator-color;
        }
      }
    }

    .row:last-child & {
      &:before {
        color: $dark-theme-separator-color;
        content: 'á¯';
        position: absolute;
        top: 100%;
        margin-top: -10px;
        transform: none;
        width: 21px;
        font-size: 13px;
        text-align: center;
        right: -12px;
        @include lightTheme() {
          color: $light-theme-separator-color;
        }
        @include darkTheme() {
          color: $dark-theme-separator-color;
        }
      }
    }
  }

  &.right {
    padding-left: $s * 2;
    padding-right: $s;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: stretch;

    > * {
      flex: 1;
    }
  }
}

.time .date {
  font-size: 13px;
}

$sb-radius: 28px;
$sb-radius-continued: 56px;
$sb-radius-small: 4px;

planner-task.split-task {
  border-top-left-radius: $sb-radius !important;
  border-top-right-radius: $sb-radius !important;
  border-bottom-left-radius: $sb-radius-small;
  border-bottom-right-radius: $sb-radius-small;
}

.task-continued {
  align-self: flex-start;
  align-items: center;
  padding-left: 56px;
  padding-top: $s;
  padding-bottom: $s;
  border-radius: $sb-radius-small $sb-radius-continued $sb-radius-small
    $sb-radius-continued;

  display: flex;
  position: relative;

  border: 1px solid $dark-theme-separator-color;
  opacity: 0.9;

  @include lightTheme {
    border-color: $light-theme-extra-border-color;
  }
  @include darkTheme {
    border-color: $dark-theme-extra-border-color;
  }

  //@include lightTheme {
  //  background: $task-c-bg-light;
  //}
  //
  //@include darkTheme {
  //  background: $task-c-bg-dark;
  //}

  &.last {
    border-radius: $sb-radius-small $sb-radius-small $sb-radius-continued
      $sb-radius-continued;
  }

  &:after {
    content: '...';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.5 * $s;
    transform: translateY(-50%);
    text-align: center;
    width: 56px;
    font-size: 20px;
  }

  .title {
    flex: 1;
  }

  .continued,
  .time-to-go {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;

    @include mq(xs, max) {
      font-size: 12px;
    }
  }

  .continued {
    padding-bottom: 8px;
    text-align: center;
  }

  .time-to-go {
    text-align: right;
    margin-left: auto;
    padding-left: $s;
    padding-right: $s * 2;
  }
}

.work-start,
.work-end {
  text-align: center;
  //border-bottom: 1px dashed;
  padding-top: $s;
  padding-bottom: $s;
  //font-weight: bold;
}

.lunch-break {
  text-align: center;
  padding-top: math.div($s, 4);
  padding-bottom: math.div($s, 4);
}

.no-tasks-msg {
  margin-top: $s * 3;
  padding: 0 $s * 2;
  text-align: center;
}

.up-down {
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  opacity: 0.5;

  @include mousePrimaryDevice {
    //display: none;
    opacity: 0.1;
  }

  .row:hover & {
    transition: opacity $transition-duration--enter $ani-enter-timing;
    opacity: 1;
    //animation: fadeIn $transition-duration--enter $ani-enter-timing;
    //display: flex;
  }
}

.scheduled-extra-btn {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    @include mousePrimaryDevice {
      display: none;
    }
  }

  &:hover button {
    display: flex !important;
    animation: fadeIn $transition-duration--enter $ani-enter-timing;
    //transform: translate(-50%, -50%) scale(1.5);
  }

  .ico {
    opacity: 0.1;

    @include mousePrimaryDevice {
      display: block;
    }
  }

  &:hover .ico {
    display: none !important;
  }
}

.time-badge {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  margin-top: 10px;
  font-size: 13px;
  z-index: 10;
  line-height: 1;
  text-align: center;
  padding: 1px 2px 0;
  border: 1px solid $light-theme-extra-border-color;
  background: #fff;
  border-radius: $card-border-radius;

  // avoid affecting drag handle
  pointer-events: none;

  @include darkTheme() {
    color: $dark-theme-text-color;
    border-color: $dark-theme-extra-border-color;
    background: $dark-theme-bg-lighter;
  }

  @include mousePrimaryDevice {
    opacity: 0.5;
  }

  .scheduled-extra-btn:hover & {
    opacity: 1;
  }
}

:host ::ng-deep planner-task .schedule-btn {
  @include mq(xs, max) {
    display: none !important;
  }
}

.row.l {
  ::ng-deep {
    .repeat-task-projection,
    .task-continued,
    planner-task {
      min-height: 80px;
    }
  }
}

.row.xl {
  ::ng-deep {
    .repeat-task-projection,
    .task-continued,
    planner-task {
      min-height: 120px;
    }
  }
}

.row.xxl {
  ::ng-deep {
    .repeat-task-projection,
    .task-continued,
    planner-task {
      min-height: 160px;
    }
  }
}

.row.xxxl {
  ::ng-deep {
    .repeat-task-projection,
    .task-continued,
    planner-task {
      min-height: 200px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
