@media (min-width: var(--layout-xs)) {
  .row {
    display: flex;
  }
  .col {
    width: 50%;
  }
}

#task-textarea {
  width: 100%;
  @media (min-width: var(--layout-xs)) {
    min-width: 70vw;
  }
}
