@import '../../../../variables';

@media (min-width: $layout-xs) {
  .row {
    display: flex;
  }
  .col {
    width: 50%;
  }
}

#task-textarea {
  width: 100%;
  @media (min-width: $layout-xs) {
    min-width: 70vw;
  }
}
