daily-summary {

}

.task-summary-table {
  //background: #fff;
  border-collapse: collapse;

  tr {
    &.is-done {
      text-decoration: line-through;
    }
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 4px 8px;
  }

  td:nth-child(2),
  td:nth-child(3) {
    text-align: right;
  }
}