<div layout="row"
     layout-sm="column"
     layout-align="center center">
  <md-button class="md-raised md-primary"
             aria-label="Work View"
             ui-sref="work-view">
    <md-tooltip md-direction="bottom">
      Go back to work view
    </md-tooltip>
    <ng-md-icon icon="playlist_play"></ng-md-icon>
    Wait I forgot something!
  </md-button>
</div>
<h1 class="md-headline">You're done for today! Take a moment to celebrate!</h1>

<p>
  <ng-md-icon icon="check"></ng-md-icon>
  Tasks completed: <strong>{{vm.doneTasks.length}}/{{ r.tasks.length }}</strong></p>
<p>
  <ng-md-icon icon="timer"></ng-md-icon>
  Total time spent total on todays task: <strong>{{ vm.totalTimeSpentTasks|duration }}</strong></p>
<p>
  <ng-md-icon icon="timer"></ng-md-icon>
  Total time spent today: <strong>{{ vm.totalTimeSpentToday|duration }}</strong></p>

<h2 class="md-title">These are the tasks you worked on today</h2>

<table class="task-summary-table"
       md-whiteframe="2">
  <tr>
    <th>Title</th>
    <th>Sub-Tasks</th>
    <th>Time spent today</th>
    <th>Time spent total</th>
    <th>Time esti.</th>
    <th></th>
  </tr>

  <tr ng-repeat="task in r.tasks"
      ng-class="{'is-done': task.isDone}">
    <td>{{ task.title }}</td>
    <td>
      <span ng-repeat="task in task.subTasks">{{ task.title }}: {{ task.timeSpentOnDay[vm.todayStr]|duration }}<br></span>
    </td>
    <td>
      {{ task.timeSpentOnDay[vm.todayStr] |duration }}
    </td>
    <td>
      {{ task.timeSpent |duration }}
    </td>
    <td>{{ task.timeEstimate |duration }}</td>
    <td>
      <ng-md-icon icon="check"
                  ng-show="task.isDone"
                  style="fill:green;"
                  aria-label="checkmark"></ng-md-icon>
    </td>
  </tr>
</table>
<md-button class="md-raised md-primary"
           style="margin-top: 15px;"
           ng-click="vm.showExportModal()">
  <ng-md-icon icon="call_made"></ng-md-icon>
  Export Task List for today
</md-button>


<section class="distractions"
         ng-if="r.distractions.length > 0">
  <h2 class="md-title">
    <ng-md-icon icon="flash_on"></ng-md-icon>
    Your distractions for today
  </h2>
  <ul>
    <li ng-repeat="distraction in r.distractions track by $index">{{ distraction }}</li>
  </ul>
  <md-button class="md-raised"
             ng-click="r.distractions=[]">
    <ng-md-icon icon="delete"></ng-md-icon>
    Delete distractions
  </md-button>
</section>


<section class="commits"
         ng-if="vm.commitLog">
  <h2 class="md-title">Todays commits</h2>
  <pre><code>{{ vm.commitLog }}</code></pre>
</section>

<h2 class="md-title">
  <ng-md-icon icon="speaker_notes"></ng-md-icon>
  Make a note for your tomorrows self
</h2>
<p>This is meant to be some takeaway to be even more productive/happy tomorrow. E.g.: What did you learn today? What do you want to do better/smarter tomorrow? What do you want to achieve and why?</p>
<p>Think a second and reflect on the day.</p>

<md-input-container class="md-block"
                    flex-gt-sm>
  <label>Your personal tomorrows note</label>
  <textarea ng-model="vm.tomorrowsNote"
            md-auto-focus
            rows="4"></textarea>
</md-input-container>

<div layout-wrap
     layout-gt-sm="row">
  <div flex-gt-sm="50">
    <md-checkbox ng-init="vm.clearDoneTasks = true;"
                 ng-model="vm.clearDoneTasks"
                 aria-label="Clear done tasks">
      Clear done tasks (Move to Done-Backlog)
    </md-checkbox>
  </div>
  <div flex-gt-sm="50">
    <md-checkbox ng-model="vm.moveUnfinishedToBacklog"
                 aria-label="Move unfinished tasks to backlog">
      Move unfinished tasks back to backlog
    </md-checkbox>
  </div>
</div>


<div layout="row"
     layout-sm="column"
     layout-align="center center">
  <md-button class="md-raised md-primary"
             ng-click="vm.finishDay()">
    <ng-md-icon icon="wb_sunny"></ng-md-icon>
    <span ng-show="vm.clearDoneTasks">Clear done tasks, save and go home</span>
    <span ng-show="!vm.clearDoneTasks">Save and go home</span>
  </md-button>
</div>