<h1 class="md-headline">You're done for today! Take a moment to celebrate!</h1>
<p>Tasks completed: <strong>{{vm.doneTasks.length}}/{{ vm.todaysTasks.length }}</strong></p>
<p>Total time spent total on todays task: <strong>{{ vm.totalTimeSpendTasks|duration }}</strong></p>
<p>Total time spent today: <strong>{{ vm.totalTimeSpendToday|duration }}</strong></p>

<h2 class="md-title">These are the tasks you worked on today</h2>

<table class="task-summary-table"
       md-whiteframe="2">
  <tr>
    <th>Title</th>
    <th>Time spend</th>
    <th>Time esti.</th>
    <th></th>
  </tr>

  <tr ng-repeat="task in vm.todaysTasks"
      ng-class="{'is-done': task.isDone}">
    <td>{{ task.title }}</td>
    <td>
      {{ task.timeSpend |duration }}
    </td>
    <td>{{ task.timeEstimate |duration }}</td>
    <td>
      <ng-md-icon icon="check"
                  ng-show="task.isDone"
                  style="fill:green;"
                  aria-label="checkmark"></ng-md-icon>
    </td>
  </tr>
</table>


<section class="distractions"
         ng-if="vm.r.distractions.length > 0">
  <h2 class="md-title">Your distractions for today</h2>
  <ul>
    <li ng-repeat="distraction in vm.r.distractions">{{ distraction }}</li>
  </ul>
  <md-button class="md-raised"
             ng-click="vm.r.distractions=[]">Delete distractions
  </md-button>
</section>

<h2 class="md-title">Make a note for your tomorrows self</h2>
<p>This is meant to be some takeaway to be even more productive/happy tomorrow. E.g.: What did you learn today? What do you want to do better/smarter tomorrow? What do you want to achieve and why?</p>
<p>Think a second and reflect on the day.</p>

<md-input-container class="md-block"
                    flex-gt-sm>
  <label>Your personal tomorrows note</label>
  <textarea ng-model="vm.tomorrowsNote"
            md-auto-focus
            rows="4"></textarea>
</md-input-container>

<div layout-wrap
     layout-gt-sm="row">
  <div flex-gt-sm="50">
    <md-checkbox ng-init="vm.clearDoneTasks = true;"
                 ng-model="vm.clearDoneTasks"
                 aria-label="Clear done tasks">
      Clear done tasks
    </md-checkbox>
  </div>
  <div flex-gt-sm="50">
    <md-checkbox ng-model="vm.moveUnfinishedToBacklog"
                 aria-label="Move unfinished tasks to backlog">
      Move unfinished tasks to backlog
    </md-checkbox>
  </div>
</div>


<md-button class="md-raised md-primary"
           ng-click="vm.finishDay()">Clear done tasks, save and go home
</md-button>