@import '../../../../variables';

:host {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;

  mat-icon,
  ngx-emoji {
    margin-right: $s;
    font-size: 16px;
    height: 16px;
    width: 16px;
  }
}

emoji-skins {
  position: absolute;
  right: 0;
}
