@import '../../../../variables';

$thisHeight: 80px;

.attachments {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row;
  justify-content: left;
  flex-wrap: wrap;
}

.attachment {
  margin: $s;
  padding: 0;
  border-radius: $card-border-radius;
  position: relative;

  > a:focus + .controls,
  &.focus .controls,
  &:hover .controls {
    visibility: visible;

    button {
      opacity: 1;
      transition: $transition-enter;
    }

    .edit-btn {
      transform: translate(0, 0);
    }

    .trash-btn {
      transform: translate(0, 0);
    }
  }
}

.attachment-link {
  padding: $s;
  height: $thisHeight;
  min-width: $thisHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: $card-border-radius;
  cursor: pointer;
  box-sizing: border-box;

  mat-icon {
    font-size: $s*5;
    height: $s*5;
    width: $s*5;
  }

  &.isImage {
    padding: 0;
    cursor: zoom-in;

    img {
      height: $thisHeight;
      width: auto;
    }
  }

  .title {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.controls {
  position: absolute;
  bottom: 0;
  left: -0.5*$s;
  right: -0.5*$s;
  transform: translateY(50%);
  z-index: 5;
  visibility: hidden;
  display: flex;
  flex-direction: row;

  button {
    transition: $transition-leave;
    margin: 0;
    padding: 0;
    min-height: 0;
    flex-grow: 1;
    line-height: 4 *$s;
    height: 4*$s;
    min-width: 20px;
    opacity: 0;
  }
}

.edit-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  @include mq(xs) {
    transform: translate(-100%, 50%);
  }
}

.trash-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  @include mq(xs) {
    transform: translate(100%, 50%);
  }
}
