.hint {
  display: block;
  animation: $transition-standard hint-pop-in $ani-standard-timing;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;

  md-card-title-media {
    margin-left: 10px;
  }

  md-card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    &.is-expanded {
      max-height: none;
    }
  }

  &.ng-hide.ng-hide-add {
    transform: translateZ(0);
    transform-origin: right;
    transition: $transition-standard;
  }

  &.ng-hide.ng-hide-add.ng-hide-add-active {
    transform: scale(0);
    margin-top: -50%;
  }
}

hint {
  display: block;
  // animation
  transition: 3.3s !important;
}

@keyframes hint-pop-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
