@import '../../../../../variables';

.issue-provider-cfg {
  .item {
    margin-bottom: $s;
    display: flex;
    flex-direction: column;
  }
}

::ng-deep .mat-form-field-infix {
  width: auto !important;
}
