name: Win Store File on Release
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs: null

jobs:
  windows-store-artifact:
    runs-on: windows-latest

    if: '!github.event.release.prerelease'

    steps:
      # required because setting via env.TZ does not work on windows
      - name: Set timezone to Europe Standard Time
        uses: szenius/set-timezone@v1.0
        with:
          timezoneWindows: 'W. Europe Standard Time'

      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Load Electron Builder Windows Store Config
        run: echo $WIN_STORE_ELECTRON_BUILDER_YML | base64 --decode > electron-builder.yaml
        shell: bash
        env:
          WIN_STORE_ELECTRON_BUILDER_YML: ${{secrets.WIN_STORE_ELECTRON_BUILDER_YML}}

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modulesTWO-${{ hashFiles('**/yarn.lock') }}

      - name: Install Yarn Packages
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install

      - name: Lint
        run: yarn lint

      - name: Test Unit
        run: yarn test

      - name: Build Frontend & Electron
        run: yarn build

      - name: Build/Release Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          build_script_name: empty
          release: false
          github_token: ${{ secrets.github_token }}

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: WinStoreRelease
          path: app-builds/*.appx
