name: 'Lint & Test PRs'

on: [pull_request]

permissions:
  pull-requests: write

jobs:
  test-on-linux:
    runs-on: ubuntu-latest
    env:
      UNSPLASH_KEY: ${{ secrets.UNSPLASH_KEY }}
      UNSPLASH_CLIENT_ID: ${{ secrets.UNSPLASH_CLIENT_ID }}
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Check out Git repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      # work around for npm installs from git+https://github.com/johannesjo/J2M.git
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/

      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - uses: actions/cache@v5
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm Packages
        #  if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm i

      - name: Install Playwright Browsers
        run: |
          npx playwright install --with-deps chromium
          npx playwright install-deps chromium

      - run: npm run env # Generate env.generated.ts from environment variables
      - run: npm run lint
      - run: npm run int:test # Validate i18n JSON files
      - run: npm run test
      - name: Start WebDAV Server
        run: |
          docker compose up -d webdav

          # Wait for WebDAV server to be ready
          chmod +x ./scripts/wait-for-webdav.sh
          ./scripts/wait-for-webdav.sh
      - run: npm run e2e
      - name: Print WebDAV logs on failure
        if: ${{ failure() }}
        run: docker compose logs webdav

      - name: 'Upload E2E results on failure'
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: e2eResults
          path: .tmp/e2e-test-results/**/*.*
          retention-days: 14
