name: Manual Build Windows Release
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Define branch name'
        required: true
        default: 'master'

jobs:
  windows-bin:
    runs-on: windows-latest

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      # required because setting via env.TZ does not work on windows
      - name: Check out Git repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      # work around for npm installs from git+https://github.com/johannesjo/J2M.git
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - uses: actions/cache@v3
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm Packages
        #  if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm i

      - name: Build Frontend & Electron TS
        run: npm run buildAllElectron:noTests:prod

      - name: Build Electron app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          build_script_name: empty
          github_token: ${{ secrets.github_token }}
          release: false

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: WinBuildStuff
          path: app-builds/*.exe
