pomodoro-focus {
  text-align: center;
  max-width: $component-max-width;
  margin: auto;
  display: block;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0 0;

    .md-icon-button {
      width: 50px;
      height: 50px;
    }
  }

  .timer {
    font-weight: bold;
    text-align: center;
    font-size: 42px;
    margin: 0 20px;
    &.is-pause {
      color: #bcbcbc;
    }
  }

  .task {
    border: none;
    background: transparent;

    // overwrite green background color
    &.is-current {
      background: transparent;
    }

    .title {
      &,
      input {
        text-align: center;
      }

      &.is-done {
        text-decoration: line-through;
        color: #aaaaaa;
      }
    }

    md-progress-linear {
      // needed to overwrite ng-materials default styles
      margin-bottom: 10px !important;
      border-bottom: 1px dashed #bcbcbc;

      .md-bar,
      .md-container {
        height: 8px;
      }
    }

    .time {
      text-align: center;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .notes {
      margin-top: 15px;
      inline-markdown {
        text-align: left;
      }
    }

    task-local-links {
      li {
        display: inline-block;
        a {
          display: inline-block;
          white-space: nowrap;
        }

        .trash-button {
          margin-left: 5px;
        }
      }
    }
  }
}
