<form (submit)="addTask()"
      class="add-task-form">
  <input matInput
         placeholder="Select or create task"
         aria-label="Select or create task"
         [matAutocomplete]="auto"
         [formControl]="taskSuggestionsCtrl"
         (blur)="onBlur()">
  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="displayWith"
                    autoActiveFirstOption>
    <mat-option *ngFor="let issue of filteredIssueSuggestions | async"
                [value]="issue">
      <span>{{ issue.fields.summary}}</span>
    </mat-option>
  </mat-autocomplete>
</form>
