@import "../../../_variables";

:host {
  display: block;
  box-shadow: $shadow-bottom;
  overflow: hidden;

  //position: fixed;
  //left: 50%;
  //transform: translateX(-50%);
  //width: 80%;
  //z-index: 222;
  //height: 0;
  //top: $s*7;
  //overflow: visible;
  //margin-top: 20px;
  //max-width: 600px;

  .add-task-form {
    width: 100%;

    input {
      display: block;
      width: 100%;
      font-size: 14px;
      box-sizing: border-box;
      border: 2px solid black;
      border-radius: 5px;
      box-shadow: none;
      outline: 0;
      background: #ffffff;

      padding: 0 15px;
      line-height: 40px;
      height: 40px
    }
  }
}

.is-loading {
  padding: $s;

  ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }
}
