<form (submit)="addTask()"
      class="add-task-form mat-elevation-z3 ">
  <button mat-icon-button=""
          type="button"
          class="switch-add-to-btn"
          (click)="isAddToBacklog=!isAddToBacklog">
    <mat-icon *ngIf="isAddToBacklog">library_add</mat-icon>
    <mat-icon *ngIf="!isAddToBacklog">playlist_add</mat-icon>
  </button>
  <input matInput
         #inputEl
         class="border-color-primary"
         [placeholder]="(doubleEnterCount > 0) ? 'Press enter one more time to start':'Select or create task'"
         aria-label="Select or create task"
         autofocus="autofocus"
         [matAutocomplete]="autoEl"
         [formControl]="taskSuggestionsCtrl"
         (blur)="onBlur($event)">

  <mat-autocomplete #autoEl="matAutocomplete"
                    (optionSelected)="addTask()"
                    [displayWith]="displayWith"
                    [autoActiveFirstOption]="true">
    <mat-option *ngIf="isLoading"
                [value]="taskSuggestionsCtrl.value"
                class="is-loading">
      <mat-spinner diameter="50"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let issue of filteredIssueSuggestions"
                  [value]="issue">
        <span>{{issue?.title}}</span>
      </mat-option>
    </ng-container>

  </mat-autocomplete>

</form>
