@import "../../variables";

:host {
  display: block;
  box-shadow: $shadow-bottom;
  overflow: hidden;

  .add-task-form {
    width: 100%;

    input {
      display: block;
      width: 100%;
      font-size: 14px;
      box-sizing: border-box;
      border: 2px solid black;
      border-radius: 5px;
      box-shadow: none;
      outline: 0;
      background: 0 0;
      padding: 0 15px;
      line-height: 40px;
      height: 40px
    }
  }
}