<div class="global-attachment-list-outer bg-800">
  <div class="bg-accent drag-over-msg"
       *ngIf="isDragOver"
       @fade>
    <mat-icon>add</mat-icon>
    Drop here to add a attachment
  </div>
  <div class="global-attachment-list-inner">
    <div class="global-attachment">
      <button mat-raised-button=""
              color="primary"
              (click)="openEditDialog()"
              tabindex="1"
              aria-label="add global attachment">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="msg color-contrast"
         *ngIf="!(attachmentService.attachments$|async).length">You have no project attachments. Add one via drag and drop or by clicking on the '+' icon.
    </div>

    <div class="global-attachment"
         *ngFor="let attachment of attachmentService.attachments$|async"
         draggable="false">
      <a attachmentLink
         mat-raised-button=""
         color="primary"
         class="bg-400i"
         [style.background-image]="attachment.type==='IMG'&& 'url('+attachment.path+')'"
         [href]="attachment.path"
         type="{{attachment.type}}"
         target="_blank"
         tabindex="1"
         draggable="false"
         aria-label="open global attachment">
        <mat-icon *ngIf="attachment.icon"
                  aria-label="Open">{{attachment.icon}}
        </mat-icon>
        {{attachment.title}}
      </a>

      <div class="controls">
        <button class="edit-btn"
                mat-mini-fab=""
                color="primary"
                aria-label="open edit dialog"
                (click)="openEditDialog(attachment)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="trash-btn"
                mat-mini-fab=""
                color="warn"
                (click)="remove(attachment.id)"
                aria-label="remove attachment">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="note-panel">
    <!-- will show note type on hover and click here-->
  </div>
</div>
