@import '../../../../variables';

:host {
  box-shadow: $shadow-card-shadow;
  position: relative;
  z-index: 2;
}

:host-context(.isDarkTheme) {
  background-color: $dark-theme-bg-darker;
}

.content-wrapper {
  max-width: $component-max-width;
  margin: auto;
  padding: $s*2;
  padding-top: $s*3;
  padding-bottom: $s;
}

.message-wrapper {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: $s*1.5;
  }
}

.buttons {
  margin-top: $s;
  text-align: right;
}
